In [1]:
import pandas as pd
import numpy as np

In [2]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/cases/older.csv',sep=';',encoding='latin1')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/cases/newer.csv',sep=';',encoding='latin1')

In [3]:
df_book_table01=df_book_table01[['TicketID','Subject','Company']]
df_book_table02=df_book_table02[['TicketID','Subject','Company']]

In [4]:
df_book_table01.info()
df_book_table02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TicketID  50 non-null     object
 1   Subject   50 non-null     object
 2   Company   50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TicketID  58 non-null     object
 1   Subject   58 non-null     object
 2   Company   58 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

In [45]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]       
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='TicketID'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='TicketID'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table02.iloc[j,0])
            list_field02.append(df_book_table02.iloc[j,1])
            list_field03.append(df_book_table02.iloc[j,2])
            #list_field04.append(df_book_table02.iloc[j,17])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['FIELD01']=list_field01
df_aux['FIELD02']=list_field02
df_aux['FIELD03']=list_field03
#df_aux['FIELD04']=list_field04
print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/cases/sim.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,3]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    print(df_book_table02)
    df_book_table02.to_csv("/home/jlhb1984/py-projects/data/cases/diff.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TicketID  50 non-null     object
 1   Subject   50 non-null     object
 2   Company   50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 18 to 30
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TicketID  8 non-null      object
 1   Subject   8 non-null      object
 2   Company   8 non-null      object
 3   ACTION    8 non-null      object
dtypes: object(4)
memory usage: 320.0+ bytes
None

Atributo de la tabla1:  0
Atributo de la tabla2:  0

Trabajando...
Cont=  0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FIELD01  0 non-null      float64
 1   FIELD02  0 non-null      float64
 2   FIELD03  0 non-null      float64
dtypes: float64(3)
memory usage: 132.0 bytes
None
Trabajando...
       TicketID                                            Subject  \
18  TS000158824                             Retransmisión por  API
23  TS000159072          REVISIÓN ALERTAS DE CONDUCTOR AL CLIENTE.
24  TS000159069                                 DESCARGA DE VIDEOS
25  TS000159057  EL CLIENTE CONTINUA SIN RECIBIR NOTIFICACIONES...
26  TS000158948  metodos de consumo de api rest - SERVICIOS AER...
27  TS000158918                   CLIENTE REPORTA SALTOS DE ANTENA
28  TS000158844                   500 UNITS ID TOPFLY PIONEER X100
30  TS000158541  CLIENTE NO RECIBE NOTIFICACIONES PUSH A SU CEL...

                                        Company ACTION
18                          BETON DECKEN S.A.C.   Keep
23  COMERCIALIZADORA VICTOR ALVAREZ Y CIA S A S   Keep
24                AUTOSERVICIOS LUCHIN E.I.R.L.   Keep
25                    VIRGILIO CARHUAZ GONZALES   Keep
26          SERVICIOS AEROPORTUARIOS ANDINOS SA   Keep
27               LELY SPECIAL CORPORATION S.A.C   Keep
28                        TTSO MOBILE S.A.S COL   Keep
30                    VIRGILIO CARHUAZ GONZALES   Keep