In [12]:
import pandas as pd
import numpy as np

In [13]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/cases/cases_updated.csv',sep=';',encoding='latin1')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/cases/tickets.csv',sep=';',encoding='latin1')
df_book_table01.fillna('np.NAN',inplace=True)
df_book_table02.fillna('np.Nan',inplace=True)
df_book_table01.info()
df_book_table02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     61 non-null     object
 1   Subject      61 non-null     object
 2   Encargado    61 non-null     object
 3   Date Opened  61 non-null     object
 4   Company      61 non-null     object
dtypes: object(5)
memory usage: 2.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             65 non-null     int64
 1   TicketID       65 non-null     object
 2   Subject        65 non-null     object
 3   Date Opened    65 non-null     object
 4   Closed On      65 non-null     object
 5   Status         65 non-null     object
 6   Dealer         65 non-null     object
 7   Company        65 non-null     object
 8   Type           65 non-null     object
 9   Category       65 non-null     object
 10  Assigned To    65 non-null     object
 11  Registered By  65 non-null     object
 12  Aging          65 non-null     object
 13  Aging Seconds  65 non-null     int64
 14  SLA            65 non-null     object
 15  SLA %          65 non-null     int64
 16  SLA Consumed   65 non-null     object
 17  JiraNumber     65 non-null     object
 18  Email          65 non-null     object
dtypes: int64(3), object(16)
memory usage: 9.8+ KB

In [14]:
df_book_table01=df_book_table01[['TicketID','Subject','Company','Date Opened','Encargado']]
df_book_table02=df_book_table02[['TicketID','Subject','Company','Date Opened']]

In [16]:
df_book_table01.info()
df_book_table02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     61 non-null     object
 1   Subject      61 non-null     object
 2   Company      61 non-null     object
 3   Date Opened  61 non-null     object
 4   Encargado    61 non-null     object
dtypes: object(5)
memory usage: 2.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     65 non-null     object
 1   Subject      65 non-null     object
 2   Company      65 non-null     object
 3   Date Opened  65 non-null     object
 4   ACTION       65 non-null     object
dtypes: object(5)
memory usage: 2.7+ KB

In [17]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]
list_field05=[]
list_field06=[]     
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='TicketID'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='TicketID'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando en coincidencias...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table02.iloc[j,0])
            list_field02.append(df_book_table02.iloc[j,1])
            list_field03.append(df_book_table02.iloc[j,2])
            list_field04.append(df_book_table02.iloc[j,3])
            list_field05.append(df_book_table01.iloc[i,4])
            #list_field04.append(df_book_table02.iloc[j,5])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['FIELD01']=list_field01
df_aux['FIELD02']=list_field02
#df_aux['FIELD03']=list_field03
#df_aux['FIELD04']=list_field05
#df_aux['FIELD04']=list_field04
print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/cases/sim.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando en diferencias...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,2]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    print(df_book_table02)
    df_book_table02.to_csv("/home/jlhb1984/py-projects/data/cases/diff.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     61 non-null     object
 1   Subject      61 non-null     object
 2   Company      61 non-null     object
 3   Date Opened  61 non-null     object
 4   Encargado    61 non-null     object
dtypes: object(5)
memory usage: 2.5+ KB
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     65 non-null     object
 1   Subject      65 non-null     object
 2   Company      65 non-null     object
 3   Date Opened  65 non-null     object
 4   ACTION       65 non-null     object
dtypes: object(5)
memory usage: 2.7+ KB
None

Atributo de la tabla1:  0
Atributo de la tabla2:  0

Trabajando en coincidencias...
df_book_table01[i,position_table01]:  TS000160632  = df_book_table02[j,position_table02]:  TS000160632
df_book_table01[i,position_table01]:  TS000160363  = df_book_table02[j,position_table02]:  TS000160363
df_book_table01[i,position_table01]:  TS000160159  = df_book_table02[j,position_table02]:  TS000160159
df_book_table01[i,position_table01]:  TS000160284  = df_book_table02[j,position_table02]:  TS000160284
df_book_table01[i,position_table01]:  TS000160037  = df_book_table02[j,position_table02]:  TS000160037
df_book_table01[i,position_table01]:  TS000160014  = df_book_table02[j,position_table02]:  TS000160014
df_book_table01[i,position_table01]:  TS000160013  = df_book_table02[j,position_table02]:  TS000160013
df_book_table01[i,position_table01]:  TS000159988  = df_book_table02[j,position_table02]:  TS000159988
df_book_table01[i,position_table01]:  TS000159977  = df_book_table02[j,position_table02]:  TS000159977
df_book_table01[i,position_table01]:  TS000159945  = df_book_table02[j,position_table02]:  TS000159945
df_book_table01[i,position_table01]:  TS000159805  = df_book_table02[j,position_table02]:  TS000159805
df_book_table01[i,position_table01]:  TS000159838  = df_book_table02[j,position_table02]:  TS000159838
df_book_table01[i,position_table01]:  TS000159623  = df_book_table02[j,position_table02]:  TS000159623
df_book_table01[i,position_table01]:  TS000133123  = df_book_table02[j,position_table02]:  TS000133123
df_book_table01[i,position_table01]:  TS000140704  = df_book_table02[j,position_table02]:  TS000140704
df_book_table01[i,position_table01]:  TS000144935  = df_book_table02[j,position_table02]:  TS000144935
df_book_table01[i,position_table01]:  TS000146875  = df_book_table02[j,position_table02]:  TS000146875
df_book_table01[i,position_table01]:  TS000149945  = df_book_table02[j,position_table02]:  TS000149945
df_book_table01[i,position_table01]:  TS000150202  = df_book_table02[j,position_table02]:  TS000150202
df_book_table01[i,position_table01]:  TS000150508  = df_book_table02[j,position_table02]:  TS000150508
df_book_table01[i,position_table01]:  TS000152732  = df_book_table02[j,position_table02]:  TS000152732
df_book_table01[i,position_table01]:  TS000154165  = df_book_table02[j,position_table02]:  TS000154165
df_book_table01[i,position_table01]:  TS000155231  = df_book_table02[j,position_table02]:  TS000155231
df_book_table01[i,position_table01]:  TS000155321  = df_book_table02[j,position_table02]:  TS000155321
df_book_table01[i,position_table01]:  TS000155924  = df_book_table02[j,position_table02]:  TS000155924
df_book_table01[i,position_table01]:  TS000156274  = df_book_table02[j,position_table02]:  TS000156274
df_book_table01[i,position_table01]:  TS000156278  = df_book_table02[j,position_table02]:  TS000156278
df_book_table01[i,position_table01]:  TS000156591  = df_book_table02[j,position_table02]:  TS000156591
df_book_table01[i,position_table01]:  TS000156671  = df_book_table02[j,position_table02]:  TS000156671
df_book_table01[i,position_table01]:  TS000156705  = df_book_table02[j,position_table02]:  TS000156705
df_book_table01[i,position_table01]:  TS000156721  = df_book_table02[j,position_table02]:  TS000156721
df_book_table01[i,position_table01]:  TS000156733  = df_book_table02[j,position_table02]:  TS000156733
df_book_table01[i,position_table01]:  TS000156737  = df_book_table02[j,position_table02]:  TS000156737
df_book_table01[i,position_table01]:  TS000157022  = df_book_table02[j,position_table02]:  TS000157022
df_book_table01[i,position_table01]:  TS000157413  = df_book_table02[j,position_table02]:  TS000157413
df_book_table01[i,position_table01]:  TS000157516  = df_book_table02[j,position_table02]:  TS000157516
df_book_table01[i,position_table01]:  TS000157637  = df_book_table02[j,position_table02]:  TS000157637
df_book_table01[i,position_table01]:  TS000157662  = df_book_table02[j,position_table02]:  TS000157662
df_book_table01[i,position_table01]:  TS000157980  = df_book_table02[j,position_table02]:  TS000157980
df_book_table01[i,position_table01]:  TS000158183  = df_book_table02[j,position_table02]:  TS000158183
df_book_table01[i,position_table01]:  TS000158202  = df_book_table02[j,position_table02]:  TS000158202
df_book_table01[i,position_table01]:  TS000158203  = df_book_table02[j,position_table02]:  TS000158203
df_book_table01[i,position_table01]:  TS000158394  = df_book_table02[j,position_table02]:  TS000158394
df_book_table01[i,position_table01]:  TS000158501  = df_book_table02[j,position_table02]:  TS000158501
df_book_table01[i,position_table01]:  TS000158541  = df_book_table02[j,position_table02]:  TS000158541
df_book_table01[i,position_table01]:  TS000158824  = df_book_table02[j,position_table02]:  TS000158824
df_book_table01[i,position_table01]:  TS000158948  = df_book_table02[j,position_table02]:  TS000158948
df_book_table01[i,position_table01]:  TS000159244  = df_book_table02[j,position_table02]:  TS000159244
df_book_table01[i,position_table01]:  TS000159323  = df_book_table02[j,position_table02]:  TS000159323
df_book_table01[i,position_table01]:  TS000159394  = df_book_table02[j,position_table02]:  TS000159394
df_book_table01[i,position_table01]:  TS000159471  = df_book_table02[j,position_table02]:  TS000159471
df_book_table01[i,position_table01]:  TS000159623  = df_book_table02[j,position_table02]:  TS000159623
Cont=  52
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FIELD01  52 non-null     object
 1   FIELD02  52 non-null     object
dtypes: object(2)
memory usage: 964.0+ bytes
None
Trabajando en diferencias...
df_book_table01[i,position_table01]:  TS000160632  = df_book_table02[j,position_table02]:  TS000160632
df_book_table01[i,position_table01]:  TS000160363  = df_book_table02[j,position_table02]:  TS000160363
df_book_table01[i,position_table01]:  TS000160159  = df_book_table02[j,position_table02]:  TS000160159
df_book_table01[i,position_table01]:  TS000160284  = df_book_table02[j,position_table02]:  TS000160284
df_book_table01[i,position_table01]:  TS000160037  = df_book_table02[j,position_table02]:  TS000160037
df_book_table01[i,position_table01]:  TS000160014  = df_book_table02[j,position_table02]:  TS000160014
df_book_table01[i,position_table01]:  TS000160013  = df_book_table02[j,position_table02]:  TS000160013
df_book_table01[i,position_table01]:  TS000159988  = df_book_table02[j,position_table02]:  TS000159988
df_book_table01[i,position_table01]:  TS000159977  = df_book_table02[j,position_table02]:  TS000159977
df_book_table01[i,position_table01]:  TS000159945  = df_book_table02[j,position_table02]:  TS000159945
df_book_table01[i,position_table01]:  TS000159805  = df_book_table02[j,position_table02]:  TS000159805
df_book_table01[i,position_table01]:  TS000159838  = df_book_table02[j,position_table02]:  TS000159838
df_book_table01[i,position_table01]:  TS000159623  = df_book_table02[j,position_table02]:  TS000159623
df_book_table01[i,position_table01]:  TS000133123  = df_book_table02[j,position_table02]:  TS000133123
df_book_table01[i,position_table01]:  TS000140704  = df_book_table02[j,position_table02]:  TS000140704
df_book_table01[i,position_table01]:  TS000144935  = df_book_table02[j,position_table02]:  TS000144935
df_book_table01[i,position_table01]:  TS000146875  = df_book_table02[j,position_table02]:  TS000146875
df_book_table01[i,position_table01]:  TS000149945  = df_book_table02[j,position_table02]:  TS000149945
df_book_table01[i,position_table01]:  TS000150202  = df_book_table02[j,position_table02]:  TS000150202
df_book_table01[i,position_table01]:  TS000150508  = df_book_table02[j,position_table02]:  TS000150508
df_book_table01[i,position_table01]:  TS000152732  = df_book_table02[j,position_table02]:  TS000152732
df_book_table01[i,position_table01]:  TS000154165  = df_book_table02[j,position_table02]:  TS000154165
df_book_table01[i,position_table01]:  TS000155231  = df_book_table02[j,position_table02]:  TS000155231
df_book_table01[i,position_table01]:  TS000155321  = df_book_table02[j,position_table02]:  TS000155321
df_book_table01[i,position_table01]:  TS000155924  = df_book_table02[j,position_table02]:  TS000155924
df_book_table01[i,position_table01]:  TS000156274  = df_book_table02[j,position_table02]:  TS000156274
df_book_table01[i,position_table01]:  TS000156278  = df_book_table02[j,position_table02]:  TS000156278
df_book_table01[i,position_table01]:  TS000156591  = df_book_table02[j,position_table02]:  TS000156591
df_book_table01[i,position_table01]:  TS000156671  = df_book_table02[j,position_table02]:  TS000156671
df_book_table01[i,position_table01]:  TS000156705  = df_book_table02[j,position_table02]:  TS000156705
df_book_table01[i,position_table01]:  TS000156721  = df_book_table02[j,position_table02]:  TS000156721
df_book_table01[i,position_table01]:  TS000156733  = df_book_table02[j,position_table02]:  TS000156733
df_book_table01[i,position_table01]:  TS000156737  = df_book_table02[j,position_table02]:  TS000156737
df_book_table01[i,position_table01]:  TS000157022  = df_book_table02[j,position_table02]:  TS000157022
df_book_table01[i,position_table01]:  TS000157413  = df_book_table02[j,position_table02]:  TS000157413
df_book_table01[i,position_table01]:  TS000157516  = df_book_table02[j,position_table02]:  TS000157516
df_book_table01[i,position_table01]:  TS000157637  = df_book_table02[j,position_table02]:  TS000157637
df_book_table01[i,position_table01]:  TS000157662  = df_book_table02[j,position_table02]:  TS000157662
df_book_table01[i,position_table01]:  TS000157980  = df_book_table02[j,position_table02]:  TS000157980
df_book_table01[i,position_table01]:  TS000158183  = df_book_table02[j,position_table02]:  TS000158183
df_book_table01[i,position_table01]:  TS000158202  = df_book_table02[j,position_table02]:  TS000158202
df_book_table01[i,position_table01]:  TS000158203  = df_book_table02[j,position_table02]:  TS000158203
df_book_table01[i,position_table01]:  TS000158394  = df_book_table02[j,position_table02]:  TS000158394
df_book_table01[i,position_table01]:  TS000158501  = df_book_table02[j,position_table02]:  TS000158501
df_book_table01[i,position_table01]:  TS000158541  = df_book_table02[j,position_table02]:  TS000158541
df_book_table01[i,position_table01]:  TS000158824  = df_book_table02[j,position_table02]:  TS000158824
df_book_table01[i,position_table01]:  TS000158948  = df_book_table02[j,position_table02]:  TS000158948
df_book_table01[i,position_table01]:  TS000159244  = df_book_table02[j,position_table02]:  TS000159244
df_book_table01[i,position_table01]:  TS000159323  = df_book_table02[j,position_table02]:  TS000159323
df_book_table01[i,position_table01]:  TS000159394  = df_book_table02[j,position_table02]:  TS000159394
df_book_table01[i,position_table01]:  TS000159471  = df_book_table02[j,position_table02]:  TS000159471
df_book_table01[i,position_table01]:  TS000159623  = df_book_table02[j,position_table02]:  TS000159623
       TicketID                                            Subject  \
19  TS000159520        Integración - Sistema TMS / Tottus / EXACTA
28  TS000160776                         LA CAMARA REPORTA EN CHINA
29  TS000160751                         CREACION DE ID PARA AIR II
30  TS000160710                       QUEJA ERRORES ZONAR IGNITION
31  TS000160706                   ERROR FORMULARIOS ZONAR IGNITION
32  TS000160636                  INTEGRACION PLATAFORMA PX CON ERP
34  TS000160619             OBSERVACIONES EN EL REPORTE DE LOGUEOS
35  TS000160609  PROBLEMAS CON SOLICITUD DE VIDEO VIDFLEET CON ...
36  TS000160593                        ESTATUS COBRO JURÍDICO PERÚ
37  TS000160503    SOLICITUD DE PERMISOS PARA PROVISIONAR UNIDADES
38  TS000160371                        ID Button no reporta salida
39  TS000160294  CORRECION DEL ANGULO DE LA CAMARA ( PRZ505 VF-...
40  TS000160251  SOLICITUD CORRECCIÓN VISUAL DE MODULO DE CÁMAR...
46  TS000159072          REVISIÓN ALERTAS DE CONDUCTOR AL CLIENTE.

                                        Company           Date Opened ACTION
19             EXACTA OPERADOR LOGISTICO S.A.C.   26 Aug 2025 5:45 PM   Keep
28                          GLD TRANSPORT S.A.C   19 Sep 2025 2:07 PM   Keep
29           TRACKING SOLUTION TSO MOBILE S.A.C  19 Sep 2025 10:47 AM   Keep
30                       PALMAR DE ALTAMIRA SAS   18 Sep 2025 2:44 PM   Keep
31        ENGINEERING PROJECTS AND SERVICES SAS   18 Sep 2025 2:35 PM   Keep
32                            SOPORTE TEXTIL SA  17 Sep 2025 10:20 AM   Keep
34                      CORPORACION RICO S.A.C.   16 Sep 2025 9:04 PM   Keep
35                  LIMABUS INTERNACIONAL 1 S.A   16 Sep 2025 5:45 PM   Keep
36           TRACKING SOLUTION TSO MOBILE S.A.C   16 Sep 2025 3:14 PM   Keep
37           TRACKING SOLUTION TSO MOBILE S.A.C  15 Sep 2025 12:11 PM   Keep
38              DEPOSITOS QUIMICOS MINEROS S.A.   11 Sep 2025 5:18 PM   Keep
39                      SUNRISE TRUCKING S.A.S.   10 Sep 2025 1:51 PM   Keep
40  COMERCIALIZADORA VICTOR ALVAREZ Y CIA S A S   09 Sep 2025 5:12 PM   Keep
46  COMERCIALIZADORA VICTOR ALVAREZ Y CIA S A S  19 Aug 2025 11:49 AM   Keep