In [1]:
import pandas as pd
import numpy as np

In [2]:
summarized=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/Activity Report Summarized_es.csv',sep=',')
summarized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GroupName       0 non-null      float64
 1   UnitID          41 non-null     object
 2   UnitName1       41 non-null     object
 3   MaxSpeed        41 non-null     int64
 4   MilesDriven     41 non-null     object
 5   TravelTimeSecs  41 non-null     object
 6   Textbox3        41 non-null     object
 7   IdleTimeSecs    41 non-null     object
 8   Textbox6        41 non-null     object
 9   IdleTimeSecs2   41 non-null     object
 10  Textbox11       41 non-null     object
 11  Textbox20       41 non-null     object
 12  Textbox21       41 non-null     object
 13  Textbox24       41 non-null     object
 14  Textbox25       41 non-null     object
 15  Textbox26       41 non-null     object
 16  Textbox27       41 non-null     object
 17  Textbox28       41 non-null     object
dtypes: float64(1), int64(1), object(16)
memory usage: 5.9+ KB

In [3]:
utilization_report=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/utilizationReport_2025-12-16_1765917143656_toriggtgr.csv',sep=',')
utilization_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tag                20 non-null     object
 1   Unit               20 non-null     object
 2   Driver             1 non-null      object
 3   Distancer (km)     20 non-null     float64
 4   Duration           20 non-null     object
 5   Idle Time          20 non-null     object
 6   Stop Time          20 non-null     object
 7   Moving Percentage  20 non-null     object
 8   Days Worked        20 non-null     int64
 9   Days Total         20 non-null     int64
 10  Days Percentage    20 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 1.8+ KB

In [8]:
comparator=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/coincidences.csv',sep=',')
row_comparator=comparator.shape[0]
comparator['mileage*1.609']='0.0'
comparator.info()
comparator.rename(columns={'Distancer (Km)':'Distancer (Km) from IGNITION','Mileage':'Mileage from TSO'})
comparator.drop(columns=['Unnamed: 0'],inplace=True)
comparator

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      13 non-null     int64
 1   Unit            13 non-null     object
 2   Distancer (Km)  13 non-null     float64
 3   Mileage         13 non-null     object
 4   mileage*1.609   13 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 652.0+ bytes

           Unit  Distancer (Km)   Mileage mileage*1.609
0        LUL144         3683.26  1.639,00           0.0
1   IBZ301 AIR2           24.18    172,20           0.0
2        SXZ756         2186.55    806,84           0.0
3        TDL796          995.28    566,76           0.0
4        LQK053         1250.33    750,16           0.0
5        LQK054          897.44    567,79           0.0
6        NOY423          931.46    531,02           0.0
7        NOY424          917.86    628,38           0.0
8        SMR391         1036.57    612,19           0.0
9        TDL795          915.23    567,57           0.0
10       SMR198          874.48    514,99           0.0
11       SXY625         1729.67    844,58           0.0
12       TDL797          899.86    351,93           0.0

In [ ]:
for i in range(0,row_comparator):
    comparator.iloc[i,2]=str(comparator.iloc[i,2]).replace('.','')
comparator

           Unit  Distancer (Km)  Mileage mileage*1.609
0        LUL144         3683.26  1639,00           0.0
1   IBZ301 AIR2           24.18   172,20           0.0
2        SXZ756         2186.55   806,84           0.0
3        TDL796          995.28   566,76           0.0
4        LQK053         1250.33   750,16           0.0
5        LQK054          897.44   567,79           0.0
6        NOY423          931.46   531,02           0.0
7        NOY424          917.86   628,38           0.0
8        SMR391         1036.57   612,19           0.0
9        TDL795          915.23   567,57           0.0
10       SMR198          874.48   514,99           0.0
11       SXY625         1729.67   844,58           0.0
12       TDL797          899.86   351,93           0.0

In [16]:
for i in range(0,row_comparator):
    comparator.iloc[i,2]=str(comparator.iloc[i,2]).replace(',','.')
comparator.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unit            13 non-null     object
 1   Distancer (Km)  13 non-null     float64
 2   Mileage         13 non-null     object
 3   mileage*1.609   13 non-null     object
dtypes: float64(1), object(3)
memory usage: 548.0+ bytes

In [17]:
for i in range(0,row_comparator):
    comparator.iloc[i,3]=float(comparator.iloc[i,2])*1.609

comparator

           Unit  Distancer (Km)  Mileage mileage*1.609
0        LUL144         3683.26  1639.00      2637.151
1   IBZ301 AIR2           24.18   172.20      277.0698
2        SXZ756         2186.55   806.84    1298.20556
3        TDL796          995.28   566.76     911.91684
4        LQK053         1250.33   750.16    1207.00744
5        LQK054          897.44   567.79     913.57411
6        NOY423          931.46   531.02     854.41118
7        NOY424          917.86   628.38    1011.06342
8        SMR391         1036.57   612.19     985.01371
9        TDL795          915.23   567.57     913.22013
10       SMR198          874.48   514.99     828.61891
11       SXY625         1729.67   844.58    1358.92922
12       TDL797          899.86   351.93     566.25537