In [1]:
import pandas as pd
import numpy as np

In [5]:
summarized=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/Activity Report Summarized_es.csv',sep=',')
summarized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GroupName       0 non-null      float64
 1   UnitID          41 non-null     object
 2   UnitName1       41 non-null     object
 3   MaxSpeed        41 non-null     int64
 4   MilesDriven     41 non-null     object
 5   TravelTimeSecs  41 non-null     object
 6   Textbox3        41 non-null     object
 7   IdleTimeSecs    41 non-null     object
 8   Textbox6        41 non-null     object
 9   IdleTimeSecs2   41 non-null     object
 10  Textbox11       41 non-null     object
 11  Textbox20       41 non-null     object
 12  Textbox21       41 non-null     object
 13  Textbox24       41 non-null     object
 14  Textbox25       41 non-null     object
 15  Textbox26       41 non-null     object
 16  Textbox27       41 non-null     object
 17  Textbox28       41 non-null     object
dtypes: float64(1), int64(1), object(16)
memory usage: 5.9+ KB

In [6]:
utilization_report=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/utilizationReport_2025-12-16_1765917143656_toriggtgr.csv',sep=',')
utilization_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tag                20 non-null     object
 1   Unit               20 non-null     object
 2   Driver             1 non-null      object
 3   Distancer (km)     20 non-null     float64
 4   Duration           20 non-null     object
 5   Idle Time          20 non-null     object
 6   Stop Time          20 non-null     object
 7   Moving Percentage  20 non-null     object
 8   Days Worked        20 non-null     int64
 9   Days Total         20 non-null     int64
 10  Days Percentage    20 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 1.8+ KB

In [ ]:
comparator=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/coincidences.csv',sep=',')
row_comparator=comparator.shape[0]
comparator['K']='0.0'
comparator.info(9)

for i in range(0,row_comparator)


for i in range(0,row_comparator):
    comparator.iloc[i,4]=comparator.iloc[i,2]/(float(comparator.iloc[i,3]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      13 non-null     int64
 1   Unit            13 non-null     object
 2   Distancer (Km)  13 non-null     float64
 3   Mileage         13 non-null     object
 4   K               13 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 652.0+ bytes

ValueError: could not convert string to float: '1.639,00'