In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/prz050.csv',sep=';',encoding='latin1')
raw_datam=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/prz050m.csv',sep=';',encoding='latin1')
raw_datam.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
raw_datam.info()
raw_datam.to_csv('/home/jlhb1984/py-projects/data/chilco/prz050decoded.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10161 entries, 0 to 10160
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Message           10161 non-null  object
 1   Message Type      10161 non-null  object
 2   Protocole         10161 non-null  object
 3   IMEI              10161 non-null  object
 4   Serial            10161 non-null  object
 5   Mileage           10161 non-null  object
 6   Date              10161 non-null  object
 7   Ignition          10161 non-null  object
 8   Latitude          10161 non-null  object
 9   Longitude         10161 non-null  object
 10  Altitude          10161 non-null  object
 11  External Power    9986 non-null   object
 12  RPM               9986 non-null   object
 13  Speed             9784 non-null   object
 14  Satellite Number  9784 non-null   object
 15  Azimuth           9784 non-null   object
 16  Bettery level     9784 non-null   object
dtypes: object(17)
memory usage: 1.3+ MB

In [6]:
prz050d=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/prz050decoded.csv')
prz050d_f=prz050d[['Date','Mileage','Speed']]
prz050d_f

                              Date                   Mileage      Speed
0      Date:"2025-11-01T00:02:05Z"          Mileage:15494501  Speed:0.0
1      Date:"2025-11-01T01:02:06Z"          Mileage:15494501  Speed:0.0
2      Date:"2025-11-01T02:02:06Z"          Mileage:15494501  Speed:0.0
3                          Model:0       Firmware:"V1.0.1.5"        NaN
4                   Band:"CAT-1 5"  AccessTechnology:"CAT-1"        NaN
...                            ...                       ...        ...
10156  Date:"2025-12-17T15:57:15Z"          Mileage:18430109  Speed:0.0
10157  Date:"2025-12-17T16:57:15Z"          Mileage:18430109  Speed:0.0
10158  Date:"2025-12-17T17:57:15Z"          Mileage:18430109  Speed:0.0
10159  Date:"2025-12-17T18:57:14Z"          Mileage:18430109  Speed:0.0
10160  Date:"2025-12-17T19:57:15Z"          Mileage:18430109  Speed:0.0

[10161 rows x 3 columns]

In [10]:
#Looking for event:
value_to_look=input('Type the value to searh: ')
print("Working...")
prz050d_f_wanted=prz050d_f[prz050d_f['Date'].str.contains(value_to_look)]
prz050d_f_wanted

Working...

                             Date           Mileage       Speed
169   Date:"2025-11-01T10:40:11Z"  Mileage:15557145  Speed:63.0
170   Date:"2025-11-01T10:41:11Z"  Mileage:15558248  Speed:66.0
171   Date:"2025-11-01T10:42:11Z"  Mileage:15559321  Speed:63.0
172   Date:"2025-11-01T10:42:58Z"  Mileage:15560207  Speed:68.0
173   Date:"2025-11-01T10:43:15Z"  Mileage:15560508  Speed:62.0
...                           ...               ...         ...
8266  Date:"2025-11-24T16:10:48Z"  Mileage:18054229  Speed:32.0
8558  Date:"2025-11-24T21:10:47Z"  Mileage:18187334   Speed:0.0
9552  Date:"2025-11-30T10:47:20Z"  Mileage:18390402   Speed:0.0
9576  Date:"2025-12-01T10:47:20Z"  Mileage:18390402   Speed:0.0
9697  Date:"2025-12-04T22:10:44Z"  Mileage:18390956   Speed:7.0

[71 rows x 3 columns]

In [11]:
mileage_report_pm=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/mileageReport_0111_3011.csv',sep=',')
mileage_report_pm

,Unit,Time/Date (COT),Address,Distance (km),Total Distance (km),Odometer,Driver
0,PRZ050,11/01/2025 3:46 AM,"122-12250 Cra. 2, Soacha, Cundinamarca, 250055",0.75,0.75,19688.75,NaN
1,PRZ050,11/01/2025 3:51 AM,"36-35 Cra. 9 Este, Soacha, Cundinamarca, 250054",0.27,1.02,19689.02,NaN
2,PRZ050,11/01/2025 3:52 AM,"7 Este259-7 Este409 Cl. 33, Soacha, Cundinamar...",0.41,1.43,19689.44,NaN
3,PRZ050,11/01/2025 3:55 AM,"Cl. 31, Soacha, Cundinamarca, 250054",0.55,1.98,19689.99,NaN
4,PRZ050,11/01/2025 3:56 AM,"Dg. 30L, Soacha, Cundinamarca, 250051",0.21,2.19,19690.19,NaN
...,...,...,...,...,...,...,...
3814,PRZ050,11/27/2025 9:54 AM,"60, Marinilla, Antioquia, 054020",0.04,5265.77,24869.16,NaN
3815,PRZ050,11/27/2025 9:55 AM,"60, Marinilla, Antioquia, 054028",3.69,5269.46,24872.85,NaN
3816,PRZ050,11/27/2025 9:56 AM,"60, Marinilla, Antioquia, 054028",2.91,5272.37,24875.76,NaN
3817,PRZ050,11/27/2025 9:57 AM,"60, Marinilla, Antioquia, 054028",1.02,5273.39,24876.78,NaN
3818,PRZ050,11/27/2025 9:59 AM,"60, Marinilla, Antioquia, 054028",0.01,5273.40,24876.79,NaN

In [18]:
#Looking for event:
value_to_look=input('Type the value to searh: ')
print("Working...")
prz050d_f_wanted=mileage_report_pm[mileage_report_pm['Time/Date (COT)'].str.contains(value_to_look)]
prz050d_f_wanted

Working...

,Unit,Time/Date (COT),Address,Distance (km),Total Distance (km),Odometer,Driver
61,PRZ050,11/01/2025 5:40 AM,"50, El Rosal, Cundinamarca, 250217",0.02,37.31,19724.81,NaN
62,PRZ050,11/01/2025 5:41 AM,"50, El Rosal, Cundinamarca, 250217",4.39,41.70,19729.20,NaN
63,PRZ050,11/01/2025 5:42 AM,"50, Facatativá, Cundinamarca, 253058",0.89,42.59,19730.09,NaN
64,PRZ050,11/01/2025 5:43 AM,"50, Facatativá, Cundinamarca, 253058",0.21,42.79,19730.30,NaN
65,PRZ050,11/01/2025 5:43 AM,"50, Facatativá, Cundinamarca, 253058",0.11,42.90,19730.40,NaN
66,PRZ050,11/01/2025 5:44 AM,"50, Facatativá, Cundinamarca, 253058",1.13,44.03,19731.54,NaN
67,PRZ050,11/01/2025 5:45 AM,"50, Facatativá, Cundinamarca, 253058",0.17,44.20,19731.70,NaN
68,PRZ050,11/01/2025 5:45 AM,"50, Facatativá, Cundinamarca, 253058",5.16,49.35,19736.87,NaN
69,PRZ050,11/01/2025 5:46 AM,"4.873608377174799, San Francisco, Cundinamarca...",1.14,50.49,19737.99,NaN
70,PRZ050,11/01/2025 5:46 AM,"50, San Francisco, Cundinamarca, 253608",0.19,50.68,19738.18,NaN
71,PRZ050,11/01/2025 5:47 AM,"50, San Francisco, Cundinamarca, 253608",0.34,51.02,19738.52,NaN
72,PRZ050,11/01/2025 5:48 AM,"50, San Francisco, Cundinamarca, 253608",0.00,51.02,19738.52,NaN
73,PRZ050,11/01/2025 5:48 AM,"50, San Francisco, Cundinamarca, 253608",0.82,51.84,19739.34,NaN
74,PRZ050,11/01/2025 5:49 AM,"50, San Francisco, Cundinamarca, 253608",0.19,52.03,19739.54,NaN
494,PRZ050,11/04/2025 5:48 AM,"60, Marinilla, Antioquia, 054028",0.48,496.61,20174.20,NaN
495,PRZ050,11/04/2025 5:48 AM,"60, Marinilla, Antioquia, 054028",0.06,496.67,20174.27,NaN
1723,PRZ050,11/11/2025 5:47 PM,"Vereda Garrido-Rionegro, Garrido, Antioquia, 0...",0.15,1700.30,21373.24,NaN
1724,PRZ050,11/11/2025 5:47 PM,"Vereda Garrido-Rionegro, Garrido, Antioquia, 0...",0.12,1700.42,21373.37,NaN
1725,PRZ050,11/11/2025 5:48 PM,"Vereda Garrido-Rionegro, Garrido, Antioquia, 0...",0.21,1700.63,21373.58,NaN
1726,PRZ050,11/11/2025 5:49 PM,"Vda. Garrido-Rionegro, Rionegro, Antioquia, 05...",0.04,1700.66,21373.61,NaN
1727,PRZ050,11/11/2025 5:49 PM,"Vda. Garrido-Rionegro, Rionegro, Antioquia, 05...",1.10,1701.77,21374.72,NaN
1929,PRZ050,11/13/2025 5:44 AM,"60, Marinilla, Antioquia, 054028",0.55,1957.79,21626.50,NaN
1930,PRZ050,11/13/2025 5:47 AM,"3692-36194 60, Marinilla, Antioquia, 054020",0.22,1958.02,21626.73,NaN
2680,PRZ050,11/22/2025 5:40 PM,"45, Puerto Salgar, Cundinamarca, 253487",0.63,2993.96,22643.82,NaN
2681,PRZ050,11/22/2025 5:41 PM,"45, Puerto Salgar, Cundinamarca, 253487",3.02,2996.98,22646.83,NaN
2682,PRZ050,11/22/2025 5:41 PM,"Cl. 16, Puerto Salgar, Cundinamarca, 253487",0.54,2997.52,22647.37,NaN
2683,PRZ050,11/22/2025 5:42 PM,"45, Puerto Salgar, Cundinamarca, 253487",0.54,2998.06,22647.90,NaN
2684,PRZ050,11/22/2025 5:43 PM,"45, Puerto Salgar, Cundinamarca, 253487",12.31,3010.37,22660.23,NaN
2685,PRZ050,11/22/2025 5:46 PM,"45, Puerto Salgar, Cundinamarca, 253487",1.20,3011.57,22661.42,NaN
2686,PRZ050,11/22/2025 5:47 PM,"45, Puerto Salgar, Cundinamarca, 253487",5.40,3016.97,22666.83,NaN
2687,PRZ050,11/22/2025 5:48 PM,"45, Puerto Salgar, Cundinamarca, 253487",2.23,3019.20,22669.05,NaN
2688,PRZ050,11/22/2025 5:49 PM,"45, Cundinamarca",1.23,3020.43,22670.27,NaN