In [1]:
import pandas as pd
import numpy as np

Análisis de la placa EQY796 entre las fechas 22-05-2025 y 21-06-2025:

In [66]:
speed_report_2205_2106=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport2205_2106.csv')
speed_report_2205_2106.info()
speed_report_2205_2106.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23283 entries, 0 to 23282
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unit               23283 non-null  object
 1   Driver             0 non-null      float64
 2   Date / Time (COT)  23283 non-null  object
 3   Address            23283 non-null  object
 4   Speed (kph)        23283 non-null  int64
 5   Posted Speed       19658 non-null  float64
 6   Signal             23283 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.2+ MB

       Driver   Speed (kph)  Posted Speed   Signal
count     0.0  23283.000000  19658.000000  23283.0
mean      NaN     31.397844     61.658917      0.0
std       NaN     19.761828     21.194754      0.0
min       NaN      2.000000      5.000000      0.0
25%       NaN     14.000000     40.000000      0.0
50%       NaN     31.000000     60.000000      0.0
75%       NaN     45.000000     80.000000      0.0
max       NaN     87.000000    100.000000      0.0

In [64]:
speed_information_2205_2106=speed_report_2205_2106['Speed (kph)'].value_counts()
speed_information_2205_2106.to_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_2205_2106.csv')
speed_information_sorted_2205_2106=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_2205_2106.csv')
speed_information_sorted_2205_2106.sort_values(by='Speed (kph)',ascending=False)

    Speed (kph)  count
53           87      3
52           85      8
51           84     18
50           82     22
47           80     62
48           79     58
49           77     34
45           76    115
46           74     69
41           72    183
36           71    275
44           69    118
38           68    256
33           66    302
43           64    124
27           63    360
42           61    172
29           60    354
24           58    378
40           56    212
20           55    477
39           53    225
19           52    513
18           50    535
37           48    273
14           47    612
34           45    300
12           43    647
10           42    676
31           40    326
9            39    725
26           37    368
6            35    845
5            34    847
22           32    432
3            31    950
2            29    956
28           27    359
15           26    606
30           24    330
16           23    589
13           21    621
32           19    326
11           18    662
25           16    376
8            14    784
7            13    833
23           11    426
4            10    920
17            8    547
0             6   1224
1             5   1108
21            3    459
35            2    283

Análisis de la placa EQY796 entre las fechas 21-06-2025 y 04-07-2025:

In [69]:
speed_report_2106_0407=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_2106_0407.csv')
speed_report_2106_0407.info()
speed_report_2106_0407.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10171 entries, 0 to 10170
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unit               10171 non-null  object
 1   Driver             0 non-null      float64
 2   Date / Time (COT)  10171 non-null  object
 3   Address            10171 non-null  object
 4   Speed (kph)        10171 non-null  int64
 5   Posted Speed       8766 non-null   float64
 6   Signal             10171 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 556.4+ KB

       Driver   Speed (kph)  Posted Speed   Signal
count     0.0  10171.000000   8766.000000  10171.0
mean      NaN     31.084947     59.238649      0.0
std       NaN     18.976797     20.467521      0.0
min       NaN      2.000000     10.000000      0.0
25%       NaN     14.000000     40.000000      0.0
50%       NaN     31.000000     60.000000      0.0
75%       NaN     43.000000     80.000000      0.0
max       NaN     87.000000    100.000000      0.0

In [70]:
speed_information_2106_0407=speed_report_2106_0407['Speed (kph)'].value_counts()
speed_information_2106_0407.to_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_2106_0407.csv')
speed_information_sorted_2106_0407=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_2106_0407.csv')
speed_information_sorted_2106_0407.sort_values(by='Speed (kph)',ascending=False)

    Speed (kph)  count
53           87      3
52           85      4
50           84     14
51           82     10
48           80     27
44           79     48
49           77     17
43           76     63
46           74     33
38           72     86
39           71     84
45           69     38
37           68     91
40           66     84
47           64     32
34           63    104
42           61     73
31           60    113
32           58    110
41           56     75
26           55    165
35           53    100
21           52    205
17           50    234
33           48    108
14           47    268
27           45    143
11           43    308
10           42    308
23           40    197
7            39    412
22           37    202
2            35    446
1            34    465
18           32    223
5            31    413
6            29    413
29           27    135
15           26    265
28           24    143
13           23    278
16           21    258
30           19    134
12           18    297
25           16    169
9            14    345
8            13    387
20           11    207
3            10    426
19            8    223
0             6    470
4             5    421
24            3    196
36            2     98

Análisis de todas las placas entre las fechas 22-05-2025 y 21-06-2025

In [97]:
sr1=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_1.csv')
sr2=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_2.csv')
sr3=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_3.csv')
sr4=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_4.csv')
sr5=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_5.csv')
sr6=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_6.csv')
speed_report_1=pd.concat([sr1,sr2,sr3],axis=0)
speed_report_2=pd.concat([sr4,sr5,sr6],axis=0)
speed_report_1.info()
speed_report_2.info()
speed_report_total1=pd.concat([speed_report_1,speed_report_2])
speed_report_total1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1500000 entries, 0 to 499999
Data columns (total 7 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unit               1500000 non-null  object
 1   Driver             0 non-null        float64
 2   Date / Time (COT)  1500000 non-null  object
 3   Address            1500000 non-null  object
 4   Speed (kph)        1500000 non-null  int64
 5   Posted Speed       1223824 non-null  float64
 6   Signal             1500000 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 91.6+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1346334 entries, 0 to 346333
Data columns (total 7 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unit               1346334 non-null  object
 1   Driver             0 non-null        float64
 2   Date / Time (COT)  1346334 non-null  object
 3   Address            1346334 non-null  object
 4   Speed (kph)        1346334 non-null  int64
 5   Posted Speed       1108737 non-null  float64
 6   Signal             1346334 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 82.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 2846334 entries, 0 to 346333
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   Unit               object
 1   Driver             float64
 2   Date / Time (COT)  object
 3   Address            object
 4   Speed (kph)        int64
 5   Posted Speed       float64
 6   Signal             int64
dtypes: float64(2), int64(2), object(3)
memory usage: 173.7+ MB

In [98]:
speed_information_total1_2205_2106=speed_report_total1['Speed (kph)'].value_counts()
speed_information_total1_2205_2106.to_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_total1_2205_2106.csv')
speed_information_sorted_total1_2205_2106=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_total1_2205_2106.csv')
speed_information_sorted_total1_2205_2106.sort_values(by='Speed (kph)',ascending=False)

     Speed (kph)   count
149          295       1
147          293       1
144          288       1
142          285       1
132          272       2
..           ...     ...
0              6  178907
4              5  135373
60             4      88
19             3   54015
25             2   40891

[158 rows x 2 columns]

In [102]:
speed_report_total1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2846334 entries, 0 to 346333
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   Unit               object
 1   Driver             float64
 2   Date / Time (COT)  object
 3   Address            object
 4   Speed (kph)        int64
 5   Posted Speed       float64
 6   Signal             int64
dtypes: float64(2), int64(2), object(3)
memory usage: 173.7+ MB

In [162]:
vehicles_high_speed_1=[]

for i in range(0,2846334):
    if speed_report_total1.iloc[i,4]>200:
        print(speed_report_total1.iloc[i,0],speed_report_total1.iloc[i,4],speed_report_total1.iloc[i,2])
        vehicles_high_speed_1.append(speed_report_total1.iloc[i,0])

vehicles_high_speed_1

WOT616 211 22/05/2025 12:47 PM
WOT616 264 23/05/2025 8:03 AM
WOT616 222 16/06/2025 5:36 PM
WOT616 206 16/06/2025 5:45 PM
WOT616 206 16/06/2025 5:48 PM
SKX459 212 28/05/2025 11:50 AM
SKX459 272 05/06/2025 1:38 PM
SKX459 295 10/06/2025 12:30 PM
SKX459 293 10/06/2025 1:38 PM
SKX459 224 13/06/2025 2:37 PM
WNM579 288 25/05/2025 12:31 PM
WNM579 248 25/05/2025 12:34 PM
WNM579 285 25/05/2025 12:35 PM
WNM579 272 25/05/2025 12:37 PM
EQZ334 238 12/06/2025 6:57 PM
LSQ021 237 20/06/2025 2:20 AM

['WOT616',
 'WOT616',
 'WOT616',
 'WOT616',
 'WOT616',
 'SKX459',
 'SKX459',
 'SKX459',
 'SKX459',
 'SKX459',
 'WNM579',
 'WNM579',
 'WNM579',
 'WNM579',
 'EQZ334',
 'LSQ021']

In [127]:
vehicles_high_speed_1_woutd=list(set(vehicles_high_speed_1))
vehicles_high_speed_1_woutd

['EQZ334', 'WOT616', 'LSQ021', 'SKX459', 'WNM579']

Análisis de todas las placas entre las fechas 21-06-2025 y 04-07-2025

In [128]:
sr7=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_7.csv')
sr8=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_8.csv')
sr9=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedReport_Part_9.csv')
speed_report_total2=pd.concat([sr7,sr8,sr9])
speed_report_total2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1240921 entries, 0 to 240920
Data columns (total 7 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unit               1240921 non-null  object
 1   Driver             0 non-null        float64
 2   Date / Time (COT)  1240921 non-null  object
 3   Address            1240921 non-null  object
 4   Speed (kph)        1240921 non-null  int64
 5   Posted Speed       1017781 non-null  float64
 6   Signal             1240921 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 75.7+ MB

In [129]:
speed_information_total2_2106_0407=speed_report_total2['Speed (kph)'].value_counts()
speed_information_total2_2106_0407.to_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_total2_2106_0407.csv')
speed_information_sorted_total2_2106_0407=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/speedreport_table_total2_2106_0407.csv')
speed_information_sorted_total2_2106_0407.sort_values(by='Speed (kph)',ascending=False)

     Speed (kph)  count
102          256      1
103          240      1
106          237      1
97           227      1
100          224      1
..           ...    ...
10             8  40298
0              6  76554
4              5  59454
19             3  23428
25             2  18119

[112 rows x 2 columns]

In [130]:
speed_report_total2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1240921 entries, 0 to 240920
Data columns (total 7 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unit               1240921 non-null  object
 1   Driver             0 non-null        float64
 2   Date / Time (COT)  1240921 non-null  object
 3   Address            1240921 non-null  object
 4   Speed (kph)        1240921 non-null  int64
 5   Posted Speed       1017781 non-null  float64
 6   Signal             1240921 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 75.7+ MB

In [163]:
vehicles_high_speed_2=[]

for i in range(0,1240921):
    if speed_report_total2.iloc[i,4]>200:
        print(speed_report_total2.iloc[i,0],speed_report_total2.iloc[i,4],speed_report_total2.iloc[i,4],speed_report_total2.iloc[i,2])
        vehicles_high_speed_2.append(speed_report_total2.iloc[i,0])

#vehicles_high_speed_2

SKX459 227 227 01/07/2025 8:17 AM
SKX459 208 208 04/07/2025 12:26 PM
SKX459 209 209 04/07/2025 12:26 PM
SKX459 240 240 04/07/2025 12:34 PM
SKX459 256 256 04/07/2025 12:36 PM
SKX459 224 224 04/07/2025 12:39 PM
SKX459 237 237 04/07/2025 12:47 PM

In [132]:
vehicles_high_speed_2_woutd=list(set(vehicles_high_speed_2))
vehicles_high_speed_2_woutd

['SKX459']

Las unidades con velocidades superiores a 200Km/h son: 'EQZ334', 'WOT616', 'LSQ021', 'SKX459', 'WNM579'.

In [159]:
cu=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/cu.csv',sep=';',encoding='latin1')
cu.info()

for i in range(0,272):
    if (cu.iloc[i,3]=='EQZ334' or cu.iloc[i,3]=='WOT616' or cu.iloc[i,3]=='LSQ021' or cu.iloc[i,3]=='SKX459' or cu.iloc[i,3]=='WNM579'):
        print(cu.iloc[i,18])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       272 non-null    int64
 1   Owner                    272 non-null    object
 2   Unit ID                  272 non-null    object
 3   Unit                     272 non-null    object
 4   Peripherals              0 non-null      float64
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            4 non-null      object
 8   Last Event Date          272 non-null    object
 9   Monthly Fee              272 non-null    int64
 10  Bill To                  18 non-null     object
 11  Assigned To              272 non-null    object
 12  Linked Mode              272 non-null    int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 272 non-null    object
 16  RMA                      272 non-null    object
 17  Unit Type                272 non-null    object
 18  IMEI                     272 non-null    object
 19  Serial Number            272 non-null    object
 20  Phone Number             272 non-null    int64
 21  Carrier                  262 non-null    object
 22  SIM #                    272 non-null    object
 23  VIN                      0 non-null      float64
 24  License Plate            11 non-null     object
 25  Static IP                0 non-null      float64
 26  Event                    272 non-null    object
 27  Last Contact On          272 non-null    object
 28  Min                      272 non-null    int64
 29  Server IP                272 non-null    object
 30  Server Port              272 non-null    int64
 31  Last Event Address       272 non-null    object
 32  Modem                    258 non-null    object
 33  Inv #                    272 non-null    object
 34  Status                   272 non-null    object
 35  Last Service Paid Until  272 non-null    object
 36  Service Paid Until       272 non-null    object
 37  Assigned to Company      272 non-null    object
 38  IFTA                     272 non-null    object
 39  History Months           272 non-null    int64
 40  Comments                 0 non-null      float64
 41  Warranty Expires         272 non-null    object
 42  Script                   0 non-null      float64
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 51 non-null     object
dtypes: float64(12), int64(7), object(28)
memory usage: 100.0+ KB
868574042893904
868574042928049
868574042923255
869487061779053
868574042902697

In [152]:
cu=pd.read_csv('/home/jlhb1984/py-projects/data/chilco/cu.csv',sep=';',encoding='latin1')
cu.info()

for i in range(0,272):
    if cu.iloc[i,3]=='EQZ334':
        print(cu.iloc[i,3])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       272 non-null    int64
 1   Owner                    272 non-null    object
 2   Unit ID                  272 non-null    object
 3   Unit                     272 non-null    object
 4   Peripherals              0 non-null      float64
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            4 non-null      object
 8   Last Event Date          272 non-null    object
 9   Monthly Fee              272 non-null    int64
 10  Bill To                  18 non-null     object
 11  Assigned To              272 non-null    object
 12  Linked Mode              272 non-null    int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 272 non-null    object
 16  RMA                      272 non-null    object
 17  Unit Type                272 non-null    object
 18  IMEI                     272 non-null    object
 19  Serial Number            272 non-null    object
 20  Phone Number             272 non-null    int64
 21  Carrier                  262 non-null    object
 22  SIM #                    272 non-null    object
 23  VIN                      0 non-null      float64
 24  License Plate            11 non-null     object
 25  Static IP                0 non-null      float64
 26  Event                    272 non-null    object
 27  Last Contact On          272 non-null    object
 28  Min                      272 non-null    int64
 29  Server IP                272 non-null    object
 30  Server Port              272 non-null    int64
 31  Last Event Address       272 non-null    object
 32  Modem                    258 non-null    object
 33  Inv #                    272 non-null    object
 34  Status                   272 non-null    object
 35  Last Service Paid Until  272 non-null    object
 36  Service Paid Until       272 non-null    object
 37  Assigned to Company      272 non-null    object
 38  IFTA                     272 non-null    object
 39  History Months           272 non-null    int64
 40  Comments                 0 non-null      float64
 41  Warranty Expires         272 non-null    object
 42  Script                   0 non-null      float64
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 51 non-null     object
dtypes: float64(12), int64(7), object(28)
memory usage: 100.0+ KB
EQZ334