In [1]:
import pandas as pd
import numpy as np

In [2]:
dealers_px=pd.read_csv('/home/jlhb1984/py-projects/data/TS000157980 Clientes en PX y clientes en TSO/accounts_px.csv')
dealers_px.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18299 entries, 0 to 18298
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   18299 non-null  int64
 1   Name                 18296 non-null  object
 2   Brand                18286 non-null  object
 3   Package              18297 non-null  object
 4   Salesforce Id        6269 non-null   object
 5   Active Devices       18299 non-null  int64
 6   Status               18299 non-null  object
 7   Tags                 18299 non-null  object
 8   Registration Status  18299 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.3+ MB

In [3]:
dealers_px['Brand'].fillna('EMPTY',inplace=True)
dealers_px['Brand'].sort_values().to_csv('/home/jlhb1984/py-projects/data/TS000157980 Clientes en PX y clientes en TSO/brands_px.csv')

/tmp/ipykernel_1342/567994681.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dealers_px['Brand'].fillna('EMPTY',inplace=True)

In [4]:
dealers_px_TSO=dealers_px[dealers_px['Brand'].str.contains('TSO')]
dealers_px_TSO['Brand'].value_counts()

Brand
TSO Mobile Colombia    10
TSO Mobile Peru         4
TSO IBO - IDCOM         1
Name: count, dtype: int64

In [5]:
dealers_px_TSO.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 16688 to 18192
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   15 non-null     int64
 1   Name                 15 non-null     object
 2   Brand                15 non-null     object
 3   Package              15 non-null     object
 4   Salesforce Id        0 non-null      object
 5   Active Devices       15 non-null     int64
 6   Status               15 non-null     object
 7   Tags                 15 non-null     object
 8   Registration Status  15 non-null     object
dtypes: int64(2), object(7)
memory usage: 1.2+ KB

In [6]:
dealers_px_TSO['Name'].value_counts()

Name
TSO Mobile Colombia                                  1
TSO Mobile Peru                                      1
CHILCO DISTRIBUIDORA DE GAS Y ENERGIA S.A.S E.S.P    1
TRANSCARGA RG SAS                                    1
EXACTA OPERADOR LOGISTICO S.A.C                      1
TSO IBO - IDCOM                                      1
RICOPOLLO                                            1
DILIA MARCELA JIMENEZ COGOLLO                        1
CONSTRUCTORA ARIGUANI S A S                          1
TECNICOS LATAM                                       1
GAS NEIVA S.A. E.S.P.                                1
FUNDACION ARQUIDIOCESANA BANCO DE ALIMENTOS          1
INSTALACIONES TSO                                    1
C C M INGENIERIA S A                                 1
LELY SPECIAL CORPORATION S.A.C                       1
Name: count, dtype: int64