In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data_131125=pd.read_csv('/home/jlhb1984/py-projects/data/ecobano/k9000.csv',sep=';',encoding='latin1')
raw_data_131125m=pd.read_csv('/home/jlhb1984/py-projects/data/ecobano/k9000m.csv',sep=';',encoding='latin1')
raw_data_131125m.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
raw_data_131125m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Message           60 non-null     object
 1   Message Type      60 non-null     object
 2   Protocole         60 non-null     object
 3   IMEI              60 non-null     object
 4   Serial            60 non-null     object
 5   Mileage           60 non-null     object
 6   Date              60 non-null     object
 7   Ignition          60 non-null     object
 8   Latitude          60 non-null     object
 9   Longitude         60 non-null     object
 10  Altitude          60 non-null     object
 11  External Power    60 non-null     object
 12  RPM               60 non-null     object
 13  Speed             60 non-null     object
 14  Satellite Number  60 non-null     object
 15  Azimuth           60 non-null     object
 16  Bettery level     60 non-null     object
dtypes: object(17)
memory usage: 8.1+ KB

In [3]:
raw_data_131125m_date=raw_data_131125m[raw_data_131125m['Date'].str.contains('2025-11-13T13:2')]
raw_data_131125m_date[['Date','Ignition','Mileage','Speed']]

                           Date          Ignition         Mileage      Speed
22  Date:"2025-11-13T13:22:12Z"  IopIgnition:true  Mileage:469935  Speed:0.0
23  Date:"2025-11-13T13:22:13Z"  IopIgnition:true  Mileage:469935  Speed:0.0
24  Date:"2025-11-13T13:22:14Z"  IopIgnition:true  Mileage:469935  Speed:0.0
25  Date:"2025-11-13T13:22:22Z"  IopIgnition:true  Mileage:469968  Speed:6.0
26  Date:"2025-11-13T13:24:13Z"  IopIgnition:true  Mileage:470191  Speed:7.0
27  Date:"2025-11-13T13:25:13Z"  IopIgnition:true  Mileage:470284  Speed:0.0
28  Date:"2025-11-13T13:25:39Z"  IopIgnition:true  Mileage:470298  Speed:5.0
29  Date:"2025-11-13T13:25:46Z"  IopIgnition:true  Mileage:470308  Speed:5.0
30  Date:"2025-11-13T13:25:53Z"  IopIgnition:true  Mileage:470319  Speed:5.0
31  Date:"2025-11-13T13:26:09Z"  IopIgnition:true  Mileage:470336  Speed:5.0
32  Date:"2025-11-13T13:27:13Z"  IopIgnition:true  Mileage:470430  Speed:5.0
33  Date:"2025-11-13T13:28:13Z"  IopIgnition:true  Mileage:470518  Speed:5.0
34  Date:"2025-11-13T13:28:36Z"  IopIgnition:true  Mileage:470554  Speed:5.0
35  Date:"2025-11-13T13:29:42Z"  IopIgnition:true  Mileage:470657  Speed:6.0

In [5]:
raw_data_021209122025=pd.read_csv('/home/jlhb1984/py-projects/data/ecobano/k9000_0212_0912_2025m.csv',sep=';',encoding='latin1')
raw_data_021209122025.rename(columns={'Unnamed: 1':'Message Type',
                                 'Unnamed: 2':'Protocole',
                                 'Unnamed: 3':'IMEI',
                                 'Unnamed: 4':'Serial',
                                 'Unnamed: 5':'Mileage',
                                 'Unnamed: 6':'Date',
                                 'Unnamed: 7':'Ignition',
                                 'Unnamed: 8':'Latitude',
                                 'Unnamed: 9':'Longitude',
                                 'Unnamed: 10':'Altitude',
                                 'Unnamed: 11':'External Power',
                                 'Unnamed: 12':'RPM',
                                 'Unnamed: 13':'Speed',
                                 'Unnamed: 14':'Satellite Number',
                                 'Unnamed: 15':'Azimuth',
                                 'Unnamed: 16':'Bettery level',
                                 },inplace=True)
raw_data_021209122025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1508 entries, 0 to 1507
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Message           1508 non-null   object
 1   Message Type      1508 non-null   object
 2   Protocole         1508 non-null   object
 3   IMEI              1508 non-null   object
 4   Serial            1508 non-null   object
 5   Mileage           1508 non-null   object
 6   Date              1508 non-null   object
 7   Ignition          1508 non-null   object
 8   Latitude          1508 non-null   object
 9   Longitude         1508 non-null   object
 10  Altitude          1508 non-null   object
 11  External Power    1508 non-null   object
 12  RPM               1508 non-null   object
 13  Speed             1508 non-null   object
 14  Satellite Number  1508 non-null   object
 15  Azimuth           1508 non-null   object
 16  Bettery level     1508 non-null   object
dtypes: object(17)
memory usage: 200.4+ KB

In [8]:
raw_data_021209122025m_f=raw_data_021209122025[['Date','Ignition','Mileage','Speed']]
raw_data_021209122025m_f['Speed'].value_counts()

Speed
Speed:0.0    1283
Speed:5.0     136
Speed:3.0      37
Speed:6.0      17
Speed:7.0       9
Speed:4.0       9
Speed:1.0       8
Speed:2.0       7
Speed:8.0       1
Speed:9.0       1
Name: count, dtype: int64

In [20]:
for i in range (0,1508):
    speed=float(raw_data_021209122025m_f.iloc[i,3][6:9])
    if speed>5:
        print(raw_data_021209122025m_f.iloc[i],)

Date        Date:"2025-12-02T15:44:04Z"
Ignition               IopIgnition:true
Mileage                  Mileage:607576
Speed                         Speed:7.0
Name: 19, dtype: object
Date        Date:"2025-12-02T15:49:47Z"
Ignition               IopIgnition:true
Mileage                  Mileage:607607
Speed                         Speed:6.0
Name: 24, dtype: object
Date        Date:"2025-12-02T15:49:59Z"
Ignition               IopIgnition:true
Mileage                  Mileage:607630
Speed                         Speed:8.0
Name: 25, dtype: object
Date        Date:"2025-12-02T15:51:05Z"
Ignition               IopIgnition:true
Mileage                  Mileage:607681
Speed                         Speed:6.0
Name: 27, dtype: object
Date        Date:"2025-12-02T16:03:57Z"
Ignition               IopIgnition:true
Mileage                  Mileage:608432
Speed                         Speed:6.0
Name: 40, dtype: object
Date        Date:"2025-12-02T16:13:05Z"
Ignition               IopIgnition:true
Mileage                  Mileage:608958
Speed                         Speed:6.0
Name: 52, dtype: object
Date        Date:"2025-12-02T16:18:48Z"
Ignition               IopIgnition:true
Mileage                  Mileage:609471
Speed                         Speed:7.0
Name: 57, dtype: object
Date        Date:"2025-12-02T16:19:08Z"
Ignition               IopIgnition:true
Mileage                  Mileage:609513
Speed                         Speed:6.0
Name: 58, dtype: object
Date        Date:"2025-12-02T16:31:26Z"
Ignition               IopIgnition:true
Mileage                  Mileage:609610
Speed                         Speed:7.0
Name: 72, dtype: object
Date        Date:"2025-12-02T22:10:23Z"
Ignition               IopIgnition:true
Mileage                  Mileage:610209
Speed                         Speed:7.0
Name: 307, dtype: object
Date        Date:"2025-12-02T22:11:20Z"
Ignition               IopIgnition:true
Mileage                  Mileage:610321
Speed                         Speed:6.0
Name: 308, dtype: object
Date        Date:"2025-12-03T15:59:35Z"
Ignition               IopIgnition:true
Mileage                  Mileage:610670
Speed                         Speed:6.0
Name: 413, dtype: object
Date        Date:"2025-12-03T16:05:03Z"
Ignition               IopIgnition:true
Mileage                  Mileage:610746
Speed                         Speed:6.0
Name: 421, dtype: object
Date        Date:"2025-12-03T16:09:03Z"
Ignition               IopIgnition:true
Mileage                  Mileage:610786
Speed                         Speed:7.0
Name: 425, dtype: object
Date        Date:"2025-12-03T16:41:01Z"
Ignition               IopIgnition:true
Mileage                  Mileage:611434
Speed                         Speed:6.0
Name: 461, dtype: object
Date        Date:"2025-12-03T16:44:04Z"
Ignition               IopIgnition:true
Mileage                  Mileage:611451
Speed                         Speed:6.0
Name: 464, dtype: object
Date        Date:"2025-12-03T16:44:56Z"
Ignition               IopIgnition:true
Mileage                  Mileage:611571
Speed                         Speed:6.0
Name: 465, dtype: object
Date        Date:"2025-12-03T16:45:41Z"
Ignition               IopIgnition:true
Mileage                  Mileage:611610
Speed                         Speed:6.0
Name: 466, dtype: object
Date        Date:"2025-12-03T19:53:41Z"
Ignition               IopIgnition:true
Mileage                  Mileage:614936
Speed                         Speed:6.0
Name: 541, dtype: object
Date        Date:"2025-12-03T22:12:44Z"
Ignition               IopIgnition:true
Mileage                  Mileage:621787
Speed                         Speed:7.0
Name: 682, dtype: object
Date        Date:"2025-12-03T22:12:50Z"
Ignition               IopIgnition:true
Mileage                  Mileage:621800
Speed                         Speed:7.0
Name: 683, dtype: object
Date        Date:"2025-12-04T13:06:16Z"
Ignition               IopIgnition:true
Mileage                  Mileage:621829
Speed                         Speed:7.0
Name: 711, dtype: object
Date        Date:"2025-12-04T19:59:57Z"
Ignition               IopIgnition:true
Mileage                  Mileage:630919
Speed                         Speed:6.0
Name: 1063, dtype: object
Date        Date:"2025-12-04T20:00:02Z"
Ignition               IopIgnition:true
Mileage                  Mileage:630927
Speed                         Speed:6.0
Name: 1064, dtype: object
Date        Date:"2025-12-09T19:51:19Z"
Ignition               IopIgnition:true
Mileage                  Mileage:632723
Speed                         Speed:7.0
Name: 1339, dtype: object
Date        Date:"2025-12-09T19:51:29Z"
Ignition               IopIgnition:true
Mileage                  Mileage:632747
Speed                         Speed:9.0
Name: 1340, dtype: object
Date        Date:"2025-12-09T19:58:39Z"
Ignition               IopIgnition:true
Mileage                  Mileage:632933
Speed                         Speed:6.0
Name: 1350, dtype: object
Date        Date:"2025-12-09T21:32:47Z"
Ignition               IopIgnition:true
Mileage                  Mileage:636382
Speed                         Speed:6.0
Name: 1449, dtype: object