In [2]:
import pandas as pd
import numpy as np

In [3]:
lpl840=pd.read_csv('/home/jlhb1984/py-projects/data/fuel_troubles/Export.xlsx - Sheet1.csv')
lpl840.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8155 entries, 0 to 8154
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  8155 non-null   object
 1   Message  8155 non-null   object
 2   Status   8155 non-null   object
dtypes: object(3)
memory usage: 191.3+ KB

In [12]:
lpl840_fuel=lpl840[lpl840['Message'].str.contains('3E02')]
lpl840_fuel

,Created,Message,Status
7569,2025-06-03 19:18:10.689,"11000001,5,4764434670,1,1,1,4,7561,1748977712,...",0x83054764434670010101041D89683F4830683F483006...
7570,2025-06-03 19:18:10.839,"11000001,5,4764434670,1,1,1,4,7562,1748977720,...",0x83054764434670010101041D8A683F4838683F483406...
7571,2025-06-03 19:18:10.989,"11000001,5,4764434670,1,1,1,4,7563,1748977731,...",0x83054764434670010101041D8B683F4843683F483406...
7757,2025-06-03 19:23:38.897,"11000001,5,4764434670,1,1,1,4,7749,1748978618,...",0x83054764434670010101041E45683F4BBA683F4BBA06...
7758,2025-06-03 19:23:46.418,"11000001,5,4764434670,1,1,1,4,7750,1748978625,...",0x83054764434670010101041E46683F4BC1683F4BC106...
...,...,...,...
8136,2025-06-03 20:12:06.127,"11000001,5,4764434670,1,1,1,4,8127,1748981525,...",0x83054764434670010101041FBF683F5715683F571506...
8137,2025-06-03 20:12:22.146,"11000001,5,4764434670,1,1,1,4,8128,1748981541,...",0x83054764434670010101041FC0683F5725683F572506...
8138,2025-06-03 20:12:38.135,"11000001,5,4764434670,1,1,1,4,8129,1748981557,...",0x83054764434670010101041FC1683F5735683F573506...
8139,2025-06-03 20:12:56.211,"11000001,5,4764434670,1,1,1,4,8130,1748981575,...",0x83054764434670010101041FC2683F5747683F574706...
8151,2025-06-03 20:27:45.508,"11000001,5,4764434670,1,1,1,4,10,1748982465,17...",0x8305476443467001010104000A683F5AC1683F5AC106...

In [23]:
bbd992_fuel=pd.read_csv('/home/jlhb1984/py-projects/data/fuel_troubles/Export.xlsx - Sheet1.csv')
bbd992_fuel.info()
bbd992_fuel_e01=bbd992_fuel[bbd992_fuel['Status'].str.contains('3E01')]
bbd992_fuel_e01.info()
#bbd992_fuel_e01.to_csv('/home/jlhb1984/py-projects/data/fuel_troubles/Fuel_reportbbd992.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401 entries, 0 to 3400
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  3401 non-null   object
 1   Message  3401 non-null   object
 2   Status   3401 non-null   object
dtypes: object(3)
memory usage: 79.8+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  0 non-null      object
 1   Message  0 non-null      object
 2   Status   0 non-null      object
dtypes: object(3)
memory usage: 0.0+ bytes

In [12]:
m2y859=pd.read_csv('/home/jlhb1984/py-projects/data/fuel_troubles/m2y859.csv')
m2y859.info()
m2y859_3e0x=m2y859[m2y859['Message'].str.contains('3E02')]
m2y859_3e0x.to_csv('/home/jlhb1984/py-projects/data/fuel_troubles/m2y859_3e02.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3953 entries, 0 to 3952
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  3953 non-null   object
 1   Message  3953 non-null   object
 2   Status   3953 non-null   object
dtypes: object(3)
memory usage: 92.8+ KB