In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
cu_04122025=pd.read_csv('/home/jlhb1984/py-projects/data/hapil/cu.csv',sep=';',encoding='latin1')
cu_04122025.info()
cu_04122025[['IMEI','Unit','Unit ID','Last Event Date','Unit Type']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       4 non-null      int64
 1   Owner                    4 non-null      object
 2   Unit ID                  4 non-null      object
 3   Unit                     4 non-null      object
 4   Peripherals              0 non-null      float64
 5   BillingPeriod            4 non-null      object
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            0 non-null      float64
 9   Last Event Date          4 non-null      object
 10  Monthly Fee              4 non-null      int64
 11  Bill To                  0 non-null      float64
 12  Assigned To              4 non-null      object
 13  Linked Mode              4 non-null      int64
 14  Paired GPS               0 non-null      float64
 15  Paired Camera            0 non-null      float64
 16  Billable                 4 non-null      object
 17  RMA                      4 non-null      object
 18  Unit Type                4 non-null      object
 19  IMEI                     4 non-null      int64
 20  Serial Number            4 non-null      object
 21  Phone Number             4 non-null      int64
 22  Carrier                  3 non-null      object
 23  SIM #                    4 non-null      int64
 24  VIN                      4 non-null      object
 25  License Plate            4 non-null      object
 26  Static IP                0 non-null      float64
 27  Event                    4 non-null      object
 28  Last Contact On          4 non-null      object
 29  Min                      4 non-null      int64
 30  Server IP                4 non-null      object
 31  Server Port              4 non-null      int64
 32  Last Event Address       4 non-null      object
 33  Modem                    4 non-null      object
 34  Inv #                    4 non-null      object
 35  Status                   4 non-null      object
 36  Last Service Paid Until  4 non-null      object
 37  Service Paid Until       4 non-null      object
 38  Assigned to Company      4 non-null      object
 39  IFTA                     4 non-null      object
 40  History Months           4 non-null      int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         4 non-null      object
 43  Script                   0 non-null      float64
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 0 non-null      float64
dtypes: float64(14), int64(9), object(25)
memory usage: 1.6+ KB

,IMEI,Unit,Unit ID,Last Event Date,Unit Type
0,868574042788948,VOLVO EC55D,13QG,23/08/2025,Queclink GV55W
1,869487064446957,Komatsu PC 200,1AI7,27/11/2025,Topfly PioneerX
2,869487063239700,KOMATSU MOTONIVELADO,1A1C,4/12/2025,Topfly PioneerX
3,869487064474736,CATERPILLAR CD423E,1AN8,4/12/2025,Topfly PioneerX

In [5]:
hlkomatsu=pd.read_csv('/home/jlhb1984/py-projects/data/hapil/hlKOMATSU MOTONIVELADO.csv',sep=';',encoding='latin1')
hlkomatsu.info()
hlkomatsu['Eventos'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6311 entries, 0 to 6310
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Secuencia       6311 non-null   int64
 1   Unidad          6311 non-null   object
 2   Eventos         6311 non-null   object
 3   Fecha           6311 non-null   object
 4   Pt. Referencia  0 non-null      float64
 5   Dirección       6311 non-null   object
 6   Velocidad       6311 non-null   int64
 7   Temperatura     0 non-null      float64
 8   Conductor       0 non-null      float64
 9   Latitud         6311 non-null   float64
 10  Longitud        6311 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 542.5+ KB

Eventos
Inmóvil - Detenido    4864
Conduciendo            652
Estacionado            635
Ignición Encendida      81
Ignición Apagada        79
Name: count, dtype: int64

In [7]:
hlCATERPILLAR=pd.read_csv('/home/jlhb1984/py-projects/data/hapil/hlCATERPILLAR CD423E.csv',sep=';',encoding='latin1')
hlCATERPILLAR.info()
hlCATERPILLAR['Eventos'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2610 entries, 0 to 2609
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Secuencia       2610 non-null   int64
 1   Unidad          2610 non-null   object
 2   Eventos         2610 non-null   object
 3   Fecha           2610 non-null   object
 4   Pt. Referencia  0 non-null      float64
 5   Dirección       2610 non-null   object
 6   Velocidad       2610 non-null   int64
 7   Temperatura     0 non-null      float64
 8   Conductor       0 non-null      float64
 9   Latitud         2610 non-null   float64
 10  Longitud        2610 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 224.4+ KB

Eventos
Inmóvil - Detenido    2230
Estacionado            157
Ignición Apagada       111
Ignición Encendida     109
Conduciendo              2
Botón de pánico          1
Name: count, dtype: int64

Análisis noviembre:

In [13]:
hlCATERPILLAR_112025=pd.read_csv('/home/jlhb1984/py-projects/data/hapil/hlCATERPILLAR_112025.csv',sep=';',encoding='latin1')
hlCATERPILLAR_112025.info()
hlCATERPILLAR_112025['Eventos'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Secuencia       2160 non-null   int64
 1   Unidad          2160 non-null   object
 2   Eventos         2160 non-null   object
 3   Fecha           2160 non-null   object
 4   Pt. Referencia  0 non-null      float64
 5   Dirección       2160 non-null   object
 6   Velocidad       2160 non-null   int64
 7   Temperatura     0 non-null      float64
 8   Conductor       0 non-null      float64
 9   Latitud         2160 non-null   float64
 10  Longitud        2160 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 185.8+ KB

Eventos
Inmóvil - Detenido    1802
Estacionado            150
Ignición Apagada       104
Ignición Encendida     102
Botón de pánico          1
Conduciendo              1
Name: count, dtype: int64

In [18]:
hlCATERPILLAR_0211_1311=hlCATERPILLAR_112025[hlCATERPILLAR_112025['Eventos'].str.contains('Ignición')]
hlCATERPILLAR_0211_1311[['Eventos','Fecha','Velocidad']]
hlCATERPILLAR_0211_1311[['Eventos','Fecha','Velocidad']].to_csv('/home/jlhb1984/py-projects/data/hapil/hlCATERPILLAR_112025_igniciones.csv')

In [29]:
datetime_inicial=datetime(2025,11,2,9,31,0)
date_ttime_final=datetime(2025,11,13,3,9,0)
date_total=date_ttime_final-datetime_inicial

print("Hours= ",date_total)

Hours=  10 days, 17:38:00

In [32]:
dth=int(input("Digita el número de días: "))
print(dth*24)

240

In [33]:
datetime_inicial=datetime(2025,8,21,15,23,13)
date_ttime_final=datetime(2025,8,27,12,43,46)
date_total=date_ttime_final-datetime_inicial

In [34]:
print(date_total)

5 days, 21:20:33

In [35]:
dth=int(input("Digita el número de días: "))
print(dth*24)

120