In [1]:
import pandas as pd

In [3]:
hlasr842=pd.read_csv('/home/jlhb1984/py-projects/data/joselito/hlasr842.csv',sep=';',encoding='latin1')
hlasr842.info()
hlasr842['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     258 non-null    int64
 1   Unit         258 non-null    object
 2   Events       258 non-null    object
 3   Date         258 non-null    object
 4   Landmark     119 non-null    object
 5   Address      258 non-null    object
 6   Speed        258 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     258 non-null    float64
 10  Longitude    258 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 22.3+ KB

Events
Idle - Stop           86
Ignition ON           47
Ignition OFF          46
Parked                39
Towing/Drifting?      33
Unk Harsh Behavior     3
Power Restored         1
Power Cut              1
Geofence OUT           1
Landmark OUT           1
Name: count, dtype: int64

In [9]:
hlasr842['Address'].value_counts()

Address
Parque Industrial de Moche, El Silencio 103, Trujillo 13007, Peru                   141
AV. INDUSTRIAL NRO. 690 Z.I. CALETA DE CARQUIN LIMA - HUAURA - CALETA DE CARQUIN    117
Name: count, dtype: int64

In [23]:
hlasr842['Latitude'].value_counts()

Latitude
-8.133187     139
-11.089708    116
-8.133166       3
Name: count, dtype: int64

In [24]:
hlasr842['Longitude'].value_counts()

Longitude
-79.012262    139
-77.626209    116
-79.012037      3
Name: count, dtype: int64

In [6]:
hlasr842.loc[0:1]

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
0,258,ASR-842,Idle - Stop,Jul 02 2025 03:38 PM,NaN,"Parque Industrial de Moche, El Silencio 103, T...",0,NaN,NaN,-8.133187,-79.012262
1,257,ASR-842,Ignition ON,Jul 02 2025 03:38 PM,NaN,"Parque Industrial de Moche, El Silencio 103, T...",0,NaN,NaN,-8.133187,-79.012262

In [7]:
hlasr842.loc[257:258]

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
257,1,ASR-842,Ignition ON,Jun 30 2025 08:47 AM,HUACHO - EXALMAR S.A.A.,AV. INDUSTRIAL NRO. 690 Z.I. CALETA DE CARQUIN...,0,NaN,NaN,-11.089708,-77.626209

In [16]:
raw_data_asr842=pd.read_csv('/home/jlhb1984/py-projects/data/joselito/raw_data_asr842.csv',sep=';',encoding='latin1')
raw_data_asr842['Event']='Nan'
#raw_data_asr842.info()
raw_data_asr842['Event']=raw_data_asr842['Message'].str[0:11]
raw_data_asr842['Event'].value_counts()

Event
+RESP:GTSTT    79
+RESP:GTIGL    51
+RESP:GTIGN    26
+RESP:GTIGF    25
+RESP:GTBTC    13
+RESP:GTSTC    12
+RESP:GTFRI    10
+RESP:GTCRD     6
+RESP:GTHBM     3
+RESP:GTIDF     2
+RESP:GTIDN     2
+RESP:GTCRA     1
+RESP:GTMPF     1
+RESP:GTMPN     1
+RESP:GTTOW     1
Name: count, dtype: int64

In [21]:
raw_data_gtstt=raw_data_asr842[raw_data_asr842['Event'].str.contains('GTSTT')]
raw_data_asr842_m1=raw_data_gtstt['Message']
raw_data_asr842_m1.to_csv('/home/jlhb1984/py-projects/data/joselito/raw_data_asr842_gtstt.csv')

In [22]:
raw_data_gtfri=raw_data_asr842[raw_data_asr842['Event'].str.contains('GTFRI')]
raw_data_asr842_m2=raw_data_gtfri['Message']
raw_data_asr842_m2.to_csv('/home/jlhb1984/py-projects/data/joselito/raw_data_asr842_gtfri.csv')