In [1]:
import pandas as pd
import numpy as np

In [7]:
cu_05122025=pd.read_csv('/home/jlhb1984/py-projects/data/lely/cu_lely_05122025.csv',sep=';',encoding='latin1')
cu_05122025.info()
placa=input('Digita la placa: ')
cu_register=cu_05122025[cu_05122025['Unit ID'].str.contains(placa)]
cu_register

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       51 non-null     int64
 1   Owner                    51 non-null     object
 2   Unit ID                  51 non-null     object
 3   Unit                     51 non-null     object
 4   Peripherals              1 non-null      object
 5   BillingPeriod            47 non-null     object
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            12 non-null     object
 9   Last Event Date          51 non-null     object
 10  Monthly Fee              51 non-null     int64
 11  Bill To                  1 non-null      object
 12  Assigned To              51 non-null     object
 13  Linked Mode              51 non-null     int64
 14  Paired GPS               0 non-null      float64
 15  Paired Camera            0 non-null      float64
 16  Billable                 51 non-null     object
 17  RMA                      51 non-null     object
 18  Unit Type                51 non-null     object
 19  IMEI                     51 non-null     int64
 20  Serial Number            51 non-null     object
 21  Phone Number             51 non-null     int64
 22  Carrier                  51 non-null     object
 23  SIM #                    51 non-null     object
 24  VIN                      0 non-null      float64
 25  License Plate            22 non-null     object
 26  Static IP                0 non-null      float64
 27  Event                    51 non-null     object
 28  Last Contact On          51 non-null     object
 29  Min                      51 non-null     int64
 30  Server IP                51 non-null     object
 31  Server Port              51 non-null     int64
 32  Last Event Address       51 non-null     object
 33  Modem                    33 non-null     object
 34  Inv #                    51 non-null     object
 35  Status                   51 non-null     object
 36  Last Service Paid Until  51 non-null     object
 37  Service Paid Until       51 non-null     object
 38  Assigned to Company      51 non-null     object
 39  IFTA                     51 non-null     object
 40  History Months           51 non-null     int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         51 non-null     object
 43  Script                   8 non-null      object
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 2 non-null      object
dtypes: float64(10), int64(8), object(30)
memory usage: 19.3+ KB

Empty DataFrame
Columns: [ID, Owner, Unit ID, Unit, Peripherals, BillingPeriod, Reporting Status, Show Until, Billing Group, Last Event Date, Monthly Fee, Bill To, Assigned To, Linked Mode, Paired GPS, Paired Camera, Billable, RMA, Unit Type, IMEI, Serial Number, Phone Number, Carrier, SIM #, VIN, License Plate, Static IP, Event, Last Contact On, Min, Server IP, Server Port, Last Event Address, Modem, Inv #, Status, Last Service Paid Until, Service Paid Until, Assigned to Company, IFTA, History Months, Comments, Warranty Expires, Script, JBOX Profile, Contract Type, Subscription, Firmware]
Index: []

[0 rows x 48 columns]