In [1]:
import pandas as pd
import numpy as np

## PA

In [2]:
pa=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/pa_Engine Runtime Report.csv')
pa.rename(columns={'Textbox8':'Address','textbox32':'Time1'},inplace=True)
pa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         85 non-null     object
 1   UnitName          85 non-null     object
 2   StartTime         85 non-null     object
 3   Address           85 non-null     object
 4   StopTime          85 non-null     object
 5   StopLengthSecs    85 non-null     object
 6   ContactName       85 non-null     object
 7   Time1             85 non-null     object
 8   StopLengthSecs_1  85 non-null     object
dtypes: object(9)
memory usage: 6.1+ KB

In [3]:
pa.head(2)

,GroupName,UnitName,StartTime,Address,StopTime,StopLengthSecs,ContactName,Time1,StopLengthSecs_1
0,AGHASO,Unit: BVG-901,1/08/2025 8:11:18 a.m.,ALMACEN LURIN AGHASO\r\n2 12 Avenida San Pedro...,1/08/2025 8:11:24 a.m.,00h:00m:06s,ALMACEN LURIN AGHASO\r\n2 12 Avenida San Pedro...,33h:02m:33s,33h:02m:33s
1,AGHASO,Unit: BVG-901,1/08/2025 9:35:33 a.m.,"Av. San Pedro 2, Lurín 15823, Peru Provincia d...",1/08/2025 11:21:05 a.m.,01h:45m:32s,"Gaspar Hernandez-54, Lima (cercado), Lima, Lim...",33h:02m:33s,33h:02m:33s

In [29]:
pa_negatives=pa[pa['StopLengthSecs'].str.contains('-')]
pa_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [30]:
pa_negatives=pa[pa['StopLengthSecs_1'].str.contains('-')]
pa_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [31]:
pa_negatives=pa[pa['Time1'].str.contains('-')]
pa_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [33]:
pa_unified=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/pa_Travels_Daily_Summary_Unified.csv')
#pa_unified

In [34]:
pa_06=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/pa_Travels_Daily_Summary_Unified_06.csv')
pa_06_Offtime_negative=pa_06[pa_06['OffTime'].str.contains('-')]
pa_06_Offtime_negative

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
1083,C9B-760,4/06/2025,0,0,0,"27,97",0:31:47,-24:28:22,46:59:51,47:31:38,47 kph,NaN,NaN
1172,F3G-947,3/06/2025,0,0,0,"0,00",0:00:00,-194:52:14,217:07:46,217:07:46,0 kph,NaN,NaN
1331,COMPRESOR-AF23,12/06/2025,0,0,0,"102,72",2:49:22,-1:20:00,21:50:38,24:40:00,80 kph,NaN,NaN
1332,COMPRESOR-AF23,13/06/2025,0,0,1,"111,83",2:44:41,-105:18:05,125:57:14,128:41:55,92 kph,NaN,NaN
1342,COMPRESOR-AF23,23/06/2025,0,0,0,"29,95",1:07:19,-12:08:48,34:43:53,35:51:12,95 kph,NaN,NaN
1344,COMPRESOR-AF23,25/06/2025,0,0,0,"59,75",2:12:55,-96:15:50,117:31:15,119:44:10,50 kph,NaN,NaN
1349,COMPRESOR-AF23,30/06/2025,0,0,0,"31,39",1:16:34,-16:40:42,38:02:44,39:19:18,37 kph,NaN,NaN
1568,F3H-841,9/06/2025,0,0,0,"0,00",0:00:00,-4:50:53,27:09:07,27:09:07,0 kph,NaN,NaN

Análisis después de la corrección 21-08-2025.

In [35]:
pa_06_corrected=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/pa_Travels_Daily_Summary_Unified_06_c.csv')
pa_06_corrected.info()
pa_06_Offtime_negative=pa_06_corrected[pa_06_corrected['OffTime'].str.contains('-')]
pa_06_Offtime_negative

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UnitName         918 non-null    object
 1   DayDate          918 non-null    object
 2   Decelerations    918 non-null    int64
 3   Accelerations    918 non-null    int64
 4   HarshTurns       918 non-null    int64
 5   DistanceDriven1  918 non-null    object
 6   DriveTime        918 non-null    object
 7   OffTime          918 non-null    object
 8   IdleTime         918 non-null    object
 9   Textbox17        918 non-null    object
 10  MaxSpeed         918 non-null    object
 11  DriverName       123 non-null    object
 12  GroupName        340 non-null    object
dtypes: int64(3), object(10)
memory usage: 93.4+ KB

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
700,COMPRESOR-AF23,12/06/2025,0,0,0,"102,72",2:49:22,-1:20:00,21:50:38,24:40:00,80 kph,NaN,NaN
701,COMPRESOR-AF23,13/06/2025,0,0,1,"111,83",2:44:41,-105:18:05,125:57:14,128:41:55,92 kph,NaN,NaN
711,COMPRESOR-AF23,23/06/2025,0,0,0,"29,95",1:07:19,-12:08:48,34:43:53,35:51:12,95 kph,NaN,NaN
713,COMPRESOR-AF23,25/06/2025,0,0,0,"59,75",2:12:55,-96:15:50,117:31:15,119:44:10,50 kph,NaN,NaN
816,F3H-841,9/06/2025,0,0,0,"0,00",0:00:00,-4:50:53,27:09:07,27:09:07,0 kph,NaN,NaN

In [36]:
hlcompresor_af23_0625c=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/COMPRESOR-AF23.csv',sep=';',encoding='latin1')
hlcompresor_af23_0625c.info()
hlcompresor_af23_0625c['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1487 entries, 0 to 1486
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     1487 non-null   int64
 1   Unit         1487 non-null   object
 2   Events       1487 non-null   object
 3   Date         1487 non-null   object
 4   Landmark     0 non-null      float64
 5   Address      1485 non-null   object
 6   Speed        1487 non-null   int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     1487 non-null   float64
 10  Longitude    1487 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 127.9+ KB

Events
Drive           662
Travel Stop     253
Travel Start    253
Idle - Stop     248
Idle Alert       53
End Speeding      7
Speed alert       7
Harsh Turn        2
POWER UP          1
Ignition ON       1
Name: count, dtype: int64

In [37]:
hlf3h_841_0625c=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/F3H_841.csv',sep=';',encoding='latin1')
hlf3h_841_0625c.info()
hlf3h_841_0625c['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     149 non-null    int64
 1   Unit         149 non-null    object
 2   Events       149 non-null    object
 3   Date         149 non-null    object
 4   Landmark     3 non-null      object
 5   Address      149 non-null    object
 6   Speed        149 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     149 non-null    float64
 10  Longitude    149 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 12.9+ KB

Events
Drive           42
Idle - Stop     21
Parked          17
Travel Stop     17
Travel Start    17
Ignition ON      7
End Speeding     6
Ignition OFF     6
Speed alert      6
Idle Alert       5
POWER UP         3
Geofence OUT     1
Landmark OUT     1
Name: count, dtype: int64

Análisis de todas las unidades en agosto.

In [38]:
all_units_08=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/Travels_Daily_Summary_Unified_PA0825.csv')
all_units_08.info()
pa_08_Offtime_negative=all_units_08[all_units_08['OffTime'].str.contains('-')]
pa_08_Offtime_negative

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1134 entries, 0 to 1133
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UnitName         1134 non-null   object
 1   DayDate          1134 non-null   object
 2   Decelerations    1134 non-null   int64
 3   Accelerations    1134 non-null   int64
 4   HarshTurns       1134 non-null   int64
 5   DistanceDriven1  1134 non-null   object
 6   DriveTime        1134 non-null   object
 7   OffTime          1134 non-null   object
 8   IdleTime         1134 non-null   object
 9   Textbox17        1134 non-null   object
 10  MaxSpeed         1134 non-null   object
 11  DriverName       111 non-null    object
 12  GroupName        420 non-null    object
dtypes: int64(3), object(10)
memory usage: 115.3+ KB

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
78,CFJ-087,16/08/2025,0,0,0,"0,00",0:00:00,-46:30:42,69:29:18,69:29:18,0 kph,ALBERTO ATILIO,SUB ESTACION LDS
432,PE6068L243641,13/08/2025,0,0,0,"0,00",0:00:00,-37:30:26,60:29:34,60:29:34,0 kph,NaN,NaN
861,COMPRESOR-AF23,1/08/2025,0,0,0,"6,42",0:12:35,-13:29:49,36:17:36,36:30:11,34 kph,NaN,NaN
865,COMPRESOR-AF23,5/08/2025,0,0,0,"24,58",0:37:43,-8:17:29,31:04:48,31:42:31,76 kph,NaN,NaN
871,COMPRESOR-AF23,11/08/2025,0,0,0,"44,45",1:24:31,-3:31:50,25:03:39,26:28:10,42 kph,NaN,NaN
872,COMPRESOR-AF23,12/08/2025,0,0,1,"62,34",1:48:42,-20:36:26,41:34:52,43:23:34,79 kph,NaN,NaN
874,COMPRESOR-AF23,14/08/2025,0,0,0,"104,18",3:01:22,-1:06:09,21:52:29,24:53:51,60 kph,NaN,NaN
875,COMPRESOR-AF23,15/08/2025,0,0,0,"44,73",1:29:55,-7:32:56,28:57:09,30:27:04,58 kph,NaN,NaN
876,COMPRESOR-AF23,16/08/2025,0,0,0,"45,21",1:36:16,-18:20:11,40:03:33,41:39:49,60 kph,NaN,NaN
878,COMPRESOR-AF23,18/08/2025,0,0,0,"94,94",2:52:19,-24:15:39,44:52:02,47:44:21,61 kph,NaN,NaN

In [39]:
hlcfj_087=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/hlcfj-087.csv',sep=';',encoding='latin1')
hlcfj_087.info()
hlcfj_087['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4125 entries, 0 to 4124
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     4125 non-null   int64
 1   Unit         4125 non-null   object
 2   Events       4125 non-null   object
 3   Date         4125 non-null   object
 4   Landmark     58 non-null     object
 5   Address      4125 non-null   object
 6   Speed        4125 non-null   int64
 7   Temperature  0 non-null      float64
 8   Driver       4125 non-null   object
 9   Latitude     4125 non-null   float64
 10  Longitude    4125 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 354.6+ KB

Events
Parked          3860
Idle - Stop      134
Geofence IN       27
Geofence OUT      27
POWER UP          26
Ignition ON       24
Ignition OFF      16
Idle Alert         9
Landmark OUT       2
Name: count, dtype: int64

In [40]:
hlcfj_087_ignitions=hlcfj_087[hlcfj_087['Events'].str.contains('Ignition')]
hlcfj_087_ignitions

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
220,3905,CFJ-087,Ignition OFF,Aug 19 2025 05:00 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991622,-77.084395
221,3904,CFJ-087,Ignition ON,Aug 19 2025 04:59 PM,NaN,"Av Izaguirre-46, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991616,-77.084414
269,3856,CFJ-087,Ignition OFF,Aug 19 2025 12:27 PM,NaN,"Av Izaguirre-49, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991578,-77.084430
270,3855,CFJ-087,Ignition ON,Aug 19 2025 12:26 PM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991577,-77.084392
292,3833,CFJ-087,Ignition OFF,Aug 19 2025 10:26 AM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991568,-77.084338
301,3824,CFJ-087,Ignition ON,Aug 19 2025 10:09 AM,NaN,Gulf of Guinea,0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",0.000000,0.000000
303,3822,CFJ-087,Ignition ON,Aug 19 2025 10:08 AM,NaN,Gulf of Guinea,0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",0.000000,0.000000
311,3814,CFJ-087,Ignition ON,Aug 16 2025 11:34 PM,NaN,Gulf of Guinea,0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",0.000000,0.000000
379,3746,CFJ-087,Ignition ON,Aug 16 2025 12:33 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991607,-77.084364
876,3249,CFJ-087,Ignition OFF,Aug 14 2025 12:47 PM,NaN,"Av Izaguirre-49, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991578,-77.084402
877,3248,CFJ-087,Ignition ON,Aug 14 2025 12:47 PM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991593,-77.084379
1083,3042,CFJ-087,Ignition OFF,Aug 13 2025 04:45 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991620,-77.084335
1084,3041,CFJ-087,Ignition ON,Aug 13 2025 04:44 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991634,-77.084348
1131,2994,CFJ-087,Ignition OFF,Aug 13 2025 12:22 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991603,-77.084395
1145,2980,CFJ-087,Ignition ON,Aug 13 2025 11:15 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991689,-77.084333
1330,2795,CFJ-087,Ignition OFF,Aug 12 2025 05:35 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991630,-77.084370
1331,2794,CFJ-087,Ignition ON,Aug 12 2025 05:34 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991662,-77.084395
1400,2725,CFJ-087,Ignition OFF,Aug 12 2025 10:56 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991620,-77.084379
1401,2724,CFJ-087,Ignition ON,Aug 12 2025 10:55 AM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991557,-77.084373
1411,2714,CFJ-087,Ignition OFF,Aug 12 2025 10:09 AM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991584,-77.084368
1421,2704,CFJ-087,Ignition ON,Aug 12 2025 09:25 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991648,-77.084380
1423,2702,CFJ-087,Ignition ON,Aug 12 2025 09:25 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991648,-77.084380
1425,2700,CFJ-087,Ignition ON,Aug 12 2025 09:25 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991648,-77.084380
1436,2689,CFJ-087,Ignition ON,Aug 12 2025 08:54 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991648,-77.084380
1438,2687,CFJ-087,Ignition OFF,Aug 12 2025 08:54 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991648,-77.084380
1439,2686,CFJ-087,Ignition ON,Aug 12 2025 08:54 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991648,-77.084380
1447,2678,CFJ-087,Ignition ON,Aug 12 2025 12:00 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991648,-77.084380
1454,2671,CFJ-087,Ignition ON,Aug 11 2025 04:26 PM,NaN,">0<-48, San Martin De Porres, Lima, Lima [Prov...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991708,-77.084398
1455,2670,CFJ-087,Ignition OFF,Aug 11 2025 04:26 PM,NaN,">0<-48, San Martin De Porres, Lima, Lima [Prov...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991706,-77.084386
1457,2668,CFJ-087,Ignition ON,Aug 11 2025 04:23 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991609,-77.084348
1458,2667,CFJ-087,Ignition OFF,Aug 11 2025 04:20 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991612,-77.084325
1459,2666,CFJ-087,Ignition ON,Aug 11 2025 04:20 PM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991611,-77.084331
1460,2665,CFJ-087,Ignition OFF,Aug 11 2025 04:18 PM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991584,-77.084343
1461,2664,CFJ-087,Ignition ON,Aug 11 2025 04:17 PM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991591,-77.084331
1462,2663,CFJ-087,Ignition OFF,Aug 11 2025 04:16 PM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991588,-77.084336
1465,2660,CFJ-087,Ignition ON,Aug 11 2025 02:38 PM,NaN,"Av Izaguirre-46, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991647,-77.084412
2691,1434,CFJ-087,Ignition OFF,Aug 06 2025 05:29 PM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991596,-77.084385
2729,1396,CFJ-087,Ignition ON,Aug 06 2025 01:59 PM,NaN,"Av Izaguirre-35, San Martin De Porres, Lima, L...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991574,-77.084339
3780,345,CFJ-087,Ignition OFF,Aug 02 2025 08:57 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991620,-77.084364
3781,344,CFJ-087,Ignition ON,Aug 02 2025 08:57 AM,NaN,"Av Universitaria-40, San Martin De Porres, Lim...",0,NaN,"ALBERTO ATILIO, ANAMPA NAVARRETE",-11.991637,-77.084341

In [41]:
hlcfj_087['Date'].sort_values(ascending=True)

4114    Aug 01 2025 01:03 AM
3987    Aug 01 2025 01:04 PM
4113    Aug 01 2025 01:05 AM
3986    Aug 01 2025 01:05 PM
4112    Aug 01 2025 01:09 AM
                ...
15      Aug 20 2025 12:43 PM
139     Aug 20 2025 12:49 AM
14      Aug 20 2025 12:49 PM
138     Aug 20 2025 12:55 AM
13      Aug 20 2025 12:55 PM
Name: Date, Length: 4125, dtype: object

In [42]:
hlPE6068L243641=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/hlPE6068L243641.csv',sep=';',encoding='latin1')
hlPE6068L243641.info()
hlPE6068L243641['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     92 non-null     int64
 1   Unit         92 non-null     object
 2   Events       92 non-null     object
 3   Date         92 non-null     object
 4   Landmark     0 non-null      float64
 5   Address      88 non-null     object
 6   Speed        92 non-null     int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     92 non-null     float64
 10  Longitude    92 non-null     float64
dtypes: float64(5), int64(2), object(4)
memory usage: 8.0+ KB

Events
Idle - Stop      52
Drive            18
POWER UP          5
Ignition ON       5
Travel Start      4
Travel Stop       4
Idle Alert        3
Fuel Dropping     1
Name: count, dtype: int64

In [43]:
hlPE6068L243641_ignitions=hlPE6068L243641[hlPE6068L243641['Events'].str.contains('Ignition')]
hlPE6068L243641_ignitions

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
0,92,PE6068L243641,Ignition ON,Aug 15 2025 02:39 PM,NaN,"Av Malecon La Amistad-56, El Agustino, Lima, L...",0,NaN,NaN,-12.027339,-76.989705
4,88,PE6068L243641,Ignition ON,Aug 13 2025 02:06 AM,NaN,NaN,0,NaN,NaN,-12.027339,-76.989705
86,6,PE6068L243641,Ignition ON,Aug 12 2025 07:40 AM,NaN,"Cl. Los Duraznos-82, San Juan De Lurigancho, L...",0,NaN,NaN,-11.982446,-77.003741
87,5,PE6068L243641,Ignition ON,Aug 12 2025 07:40 AM,NaN,"Cl. Los Duraznos-82, San Juan De Lurigancho, L...",0,NaN,NaN,-11.982446,-77.003741
90,2,PE6068L243641,Ignition ON,Aug 12 2025 07:39 AM,NaN,"Cl. Los Duraznos-82, San Juan De Lurigancho, L...",0,NaN,NaN,-11.982446,-77.003741

In [44]:
hlPE6068L243641['Date'].value_counts(ascending=True)

Date
Aug 13 2025 02:11 AM    1
Aug 13 2025 02:09 AM    1
Aug 12 2025 04:14 PM    1
Aug 12 2025 04:20 PM    1
Aug 12 2025 04:08 PM    1
                       ..
Aug 12 2025 07:45 AM    2
Aug 12 2025 07:39 AM    2
Aug 12 2025 11:43 AM    3
Aug 12 2025 11:52 AM    3
Aug 12 2025 07:40 AM    4
Name: count, Length: 77, dtype: int64

In [45]:
hlcompresor_af23_08=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/COMPRESOR-AF23.csv',sep=';',encoding='latin1')
hlcompresor_af23_08.info()
hlcompresor_af23_08['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1487 entries, 0 to 1486
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     1487 non-null   int64
 1   Unit         1487 non-null   object
 2   Events       1487 non-null   object
 3   Date         1487 non-null   object
 4   Landmark     0 non-null      float64
 5   Address      1485 non-null   object
 6   Speed        1487 non-null   int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     1487 non-null   float64
 10  Longitude    1487 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 127.9+ KB

Events
Drive           662
Travel Stop     253
Travel Start    253
Idle - Stop     248
Idle Alert       53
End Speeding      7
Speed alert       7
Harsh Turn        2
POWER UP          1
Ignition ON       1
Name: count, dtype: int64

In [46]:
hlcompresor_ignitions=hlcompresor_af23_08[hlcompresor_af23_08['Events'].str.contains('Ignition')]
hlcompresor_ignitions

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
0,1487,COMPRESOR-AF23,Ignition ON,Aug 21 2025 04:33 PM,NaN,NaN,0,NaN,NaN,-12.48659,-76.733343

In [47]:
hlcompresor_af23_08.head(2)

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
0,1487,COMPRESOR-AF23,Ignition ON,Aug 21 2025 04:33 PM,NaN,NaN,0,NaN,NaN,-12.48659,-76.733343
1,1486,COMPRESOR-AF23,POWER UP,Aug 21 2025 04:33 PM,NaN,NaN,0,NaN,NaN,-12.48659,-76.733343

hlcompresor_af23,0WXW,4764383400,358077093351829,949115107:
55.161, 74b(actualizar) -> SUCCESS 22-08-2025

f3h_841,0YGA,4764383842,358077093175046,940557641
55.161, 74b(actualizar) -> SUCCESS 29-08-2025

CFJ-087,S194,4764384498,358077093400527,943549014
55.161, 74b -> FAILED

Nuevo análisis después de actualización de firmware para COMPRESORAF23.

In [48]:
rdu_29082025=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/Travels_Daily_Summary_Unified.csv')
rdu_29082025.head(5)

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
0,CFJ-344,23/08/2025,0,0,0,"0,58",0:01:19,23:53:12,0:05:29,0:06:48,35 kph,JOSE MIGUEL,CATASTRO
1,CFJ-344,24/08/2025,0,0,0,"0,00",0:00:00,24:00:00,0:00:00,0:00:00,0 kph,NaN,CATASTRO
2,CFJ-344,25/08/2025,0,0,0,"1,14",0:01:35,23:30:11,0:28:14,0:29:49,29 kph,JOSE MIGUEL,CATASTRO
3,CFJ-344,26/08/2025,0,0,0,"1,75",0:04:39,23:27:41,0:27:40,0:32:19,29 kph,JOSE MIGUEL,CATASTRO
4,CFJ-344,27/08/2025,0,0,0,"3,52",0:05:49,23:41:33,0:12:38,0:18:27,24 kph,JOSE MIGUEL,CATASTRO

In [49]:
rdu_29082025_COMPRESORAF23=rdu_29082025[rdu_29082025['UnitName'].str.contains('COMPRESOR-AF23')]
rdu_29082025_COMPRESORAF23.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 287 to 293
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UnitName         7 non-null      object
 1   DayDate          7 non-null      object
 2   Decelerations    7 non-null      int64
 3   Accelerations    7 non-null      int64
 4   HarshTurns       7 non-null      int64
 5   DistanceDriven1  7 non-null      object
 6   DriveTime        7 non-null      object
 7   OffTime          7 non-null      object
 8   IdleTime         7 non-null      object
 9   Textbox17        7 non-null      object
 10  MaxSpeed         7 non-null      object
 11  DriverName       0 non-null      object
 12  GroupName        0 non-null      object
dtypes: int64(3), object(10)
memory usage: 784.0+ bytes

In [50]:
rdu_29082025_COMPRESORAF23_off=rdu_29082025_COMPRESORAF23[rdu_29082025_COMPRESORAF23['OffTime'].str.contains('-')]
rdu_29082025_COMPRESORAF23_off

Empty DataFrame
Columns: [UnitName, DayDate, Decelerations, Accelerations, HarshTurns, DistanceDriven1, DriveTime, OffTime, IdleTime, Textbox17, MaxSpeed, DriverName, GroupName]
Index: []

In [51]:
hlcompresor_af23_29082025=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/historicallocationsCompresorAF232908.csv',sep=';',encoding='latin1')
hlcompresor_af23_29082025['Events'].value_counts()

Events
Drive           216
Travel Stop     116
Travel Start    116
Idle - Stop      85
Idle Alert       21
End Speeding     20
Speed alert      20
Geofence IN       1
Name: count, dtype: int64

Nuevo análisis después de la actualización del firmware f3h_841, después de 29-08-2025.

In [56]:
rdu_f3h_841=rdu_29082025[rdu_29082025['UnitName'].str.contains('F3H-841')]
rdu_f3h_841.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 336 to 342
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UnitName         7 non-null      object
 1   DayDate          7 non-null      object
 2   Decelerations    7 non-null      int64
 3   Accelerations    7 non-null      int64
 4   HarshTurns       7 non-null      int64
 5   DistanceDriven1  7 non-null      object
 6   DriveTime        7 non-null      object
 7   OffTime          7 non-null      object
 8   IdleTime         7 non-null      object
 9   Textbox17        7 non-null      object
 10  MaxSpeed         7 non-null      object
 11  DriverName       0 non-null      object
 12  GroupName        0 non-null      object
dtypes: int64(3), object(10)
memory usage: 784.0+ bytes

In [57]:
rdu_f3h_841_off=rdu_f3h_841[rdu_f3h_841['OffTime'].str.contains('-')]
rdu_f3h_841_off

Empty DataFrame
Columns: [UnitName, DayDate, Decelerations, Accelerations, HarshTurns, DistanceDriven1, DriveTime, OffTime, IdleTime, Textbox17, MaxSpeed, DriverName, GroupName]
Index: []

In [63]:
hlf3h_841=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/hlf3h_841_29082025.csv',sep=';',encoding='latin1')
hlf3h_841['Events'].value_counts()

Events
Drive           90
Travel Start    36
Travel Stop     34
Idle - Stop     17
Idle Alert       5
Landmark OUT     3
POWER UP         2
Ignition ON      2
End Speeding     1
Speed alert      1
Name: count, dtype: int64

In [64]:
hlf3h_841_ignitions=hlf3h_841[hlf3h_841['Events'].str.contains('Ignition')]
hlf3h_841_ignitions

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
141,50,F3H-841,Ignition ON,Aug 29 2025 06:55 AM,NaN,Gulf of Guinea,0,NaN,NaN,0.0,0.0
189,2,F3H-841,Ignition ON,Aug 29 2025 05:55 AM,NaN,Gulf of Guinea,0,NaN,NaN,0.0,0.0

In [66]:
hlf3h_841_2908_5=hlf3h_841[hlf3h_841['Date'].str.contains('Aug 29 2025 05:5')]
hlf3h_841_2908_5

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
187,4,F3H-841,Landmark OUT,Aug 29 2025 05:58 AM,QUAVII AVANCE,"La Union-85, Villa Maria Del Triunfo, Lima, Li...",0,NaN,NaN,-12.172042,-76.9441
188,3,F3H-841,Idle - Stop,Aug 29 2025 05:58 AM,QUAVII AVANCE,"La Union-85, Villa Maria Del Triunfo, Lima, Li...",0,NaN,NaN,-12.172042,-76.9441
189,2,F3H-841,Ignition ON,Aug 29 2025 05:55 AM,NaN,Gulf of Guinea,0,NaN,NaN,0.000000,0.0000
190,1,F3H-841,POWER UP,Aug 29 2025 05:54 AM,NaN,Gulf of Guinea,0,NaN,NaN,0.000000,0.0000

In [67]:
hlf3h_841_2908_6=hlf3h_841[hlf3h_841['Date'].str.contains('Aug 29 2025 06:')]
hlf3h_841_2908_6

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
137,54,F3H-841,Drive,Aug 29 2025 06:59 AM,NaN,"Av Panamericana-42, Surco, Lima, Lima [Province]",12,NaN,NaN,-12.140646,-76.981091
138,53,F3H-841,Drive,Aug 29 2025 06:57 AM,NaN,"Av Panamericana-74, Surco, Lima, Lima [Province]",22,NaN,NaN,-12.145829,-76.981999
139,52,F3H-841,Landmark OUT,Aug 29 2025 06:55 AM,QUAVII AVANCE,"Av Panamericana-9, Surco, Lima, Lima [Province]",12,NaN,NaN,-12.151096,-76.983560
140,51,F3H-841,Travel Start,Aug 29 2025 06:55 AM,QUAVII AVANCE,"Av Panamericana-9, Surco, Lima, Lima [Province]",12,NaN,NaN,-12.151096,-76.983560
141,50,F3H-841,Ignition ON,Aug 29 2025 06:55 AM,NaN,Gulf of Guinea,0,NaN,NaN,0.000000,0.000000
142,49,F3H-841,POWER UP,Aug 29 2025 06:55 AM,NaN,Gulf of Guinea,0,NaN,NaN,0.000000,0.000000
143,48,F3H-841,Drive,Aug 29 2025 06:52 AM,NaN,"Av Panamericana-64, San Juan De Miraflores, Li...",12,NaN,NaN,-12.163928,-76.981189
144,47,F3H-841,Travel Start,Aug 29 2025 06:50 AM,NaN,"Av Panamericana-64, San Juan De Miraflores, Li...",12,NaN,NaN,-12.167896,-76.980029
145,46,F3H-841,Travel Stop,Aug 29 2025 06:50 AM,NaN,"Av Panamericana-77, San Juan De Miraflores, Li...",6,NaN,NaN,-12.168643,-76.979805
146,45,F3H-841,Drive,Aug 29 2025 06:48 AM,NaN,"Av Panamericana-18, San Juan De Miraflores, Li...",20,NaN,NaN,-12.172610,-76.978599
147,44,F3H-841,Drive,Aug 29 2025 06:47 AM,NaN,"Av Apurimac, San Juan De Miraflores, Lima, Lim...",41,NaN,NaN,-12.180159,-76.976195
148,43,F3H-841,Drive,Aug 29 2025 06:45 AM,NaN,"Av Pedro Miotta-13, San Juan De Miraflores, Li...",33,NaN,NaN,-12.192010,-76.972230
149,42,F3H-841,Travel Start,Aug 29 2025 06:43 AM,NaN,"Av Pumacahua, Villa El Salvador, Lima, Lima [P...",17,NaN,NaN,-12.193240,-76.966996
150,41,F3H-841,Idle - Stop,Aug 29 2025 06:42 AM,NaN,"Av Pumacahua, Villa El Salvador, Lima, Lima [P...",3,NaN,NaN,-12.193117,-76.965879
151,40,F3H-841,Idle Alert,Aug 29 2025 06:42 AM,NaN,"Av Pumacahua, Villa El Salvador, Lima, Lima [P...",1,NaN,NaN,-12.193093,-76.965652
152,39,F3H-841,Idle - Stop,Aug 29 2025 06:40 AM,NaN,"Av Pumacahua-37, Villa El Salvador, Lima, Lima...",0,NaN,NaN,-12.192923,-76.964253
153,38,F3H-841,Travel Stop,Aug 29 2025 06:37 AM,NaN,"Av Pumacahua-65, Villa El Salvador, Lima, Lima...",3,NaN,NaN,-12.192756,-76.962757
154,37,F3H-841,Idle - Stop,Aug 29 2025 06:36 AM,NaN,"Cl8, Villa El Salvador, Lima, Lima [Province]",4,NaN,NaN,-12.192694,-76.962271
155,36,F3H-841,Travel Start,Aug 29 2025 06:36 AM,NaN,"Av Pumacahua-23, Villa El Salvador, Lima, Lima...",14,NaN,NaN,-12.192645,-76.961844
156,35,F3H-841,Travel Stop,Aug 29 2025 06:35 AM,NaN,"Av Pastor Sevilla-39, Villa El Salvador, Lima,...",1,NaN,NaN,-12.192687,-76.960771
157,34,F3H-841,Drive,Aug 29 2025 06:33 AM,NaN,"Av Pastor Sevilla, Villa El Salvador, Lima, Li...",12,NaN,NaN,-12.195365,-76.959178
158,33,F3H-841,Drive,Aug 29 2025 06:33 AM,NaN,"Av Pastor Sevilla, Villa El Salvador, Lima, Li...",12,NaN,NaN,-12.195446,-76.959108
159,32,F3H-841,Travel Start,Aug 29 2025 06:32 AM,NaN,"Av Modelo, Villa El Salvador, Lima, Lima [Prov...",22,NaN,NaN,-12.193736,-76.956005
160,31,F3H-841,Travel Stop,Aug 29 2025 06:31 AM,NaN,"Av Modelo-33, Villa El Salvador, Lima, Lima [P...",0,NaN,NaN,-12.193172,-76.955030
161,30,F3H-841,Drive,Aug 29 2025 06:30 AM,NaN,"Av Modelo-52, Villa El Salvador, Lima, Lima [P...",12,NaN,NaN,-12.192749,-76.954290
162,29,F3H-841,Drive,Aug 29 2025 06:29 AM,NaN,"Av Modelo, Villa El Salvador, Lima, Lima [Prov...",17,NaN,NaN,-12.190666,-76.950716
163,28,F3H-841,Idle - Stop,Aug 29 2025 06:27 AM,NaN,"Av Modelo-89, Villa El Salvador, Lima, Lima [P...",0,NaN,NaN,-12.187708,-76.945616
164,27,F3H-841,Drive,Aug 29 2025 06:27 AM,NaN,"Av Modelo-93, Villa El Salvador, Lima, Lima [P...",9,NaN,NaN,-12.187633,-76.945549
165,26,F3H-841,Drive,Aug 29 2025 06:26 AM,NaN,"Via Principal-86, Villa El Salvador, Lima, Lim...",16,NaN,NaN,-12.185625,-76.946756
166,25,F3H-841,Drive,Aug 29 2025 06:26 AM,NaN,"Via Principal-88, Villa El Salvador, Lima, Lim...",16,NaN,NaN,-12.185419,-76.946807
167,24,F3H-841,Travel Start,Aug 29 2025 06:25 AM,NaN,"Via Principal-24, Villa Maria Del Triunfo, Lim...",17,NaN,NaN,-12.183765,-76.944536
168,23,F3H-841,Drive,Aug 29 2025 06:24 AM,NaN,"Via Principal-49, Villa Maria Del Triunfo, Lim...",9,NaN,NaN,-12.183392,-76.943889
169,22,F3H-841,Idle Alert,Aug 29 2025 06:20 AM,NaN,"Via Principal-52, Villa Maria Del Triunfo, Lim...",0,NaN,NaN,-12.183320,-76.943712
170,21,F3H-841,Idle - Stop,Aug 29 2025 06:18 AM,NaN,"Via Principal-52, Villa Maria Del Triunfo, Lim...",0,NaN,NaN,-12.183318,-76.943707
171,20,F3H-841,Idle - Stop,Aug 29 2025 06:18 AM,NaN,"Via Principal-52, Villa Maria Del Triunfo, Lim...",0,NaN,NaN,-12.183310,-76.943705
172,19,F3H-841,Travel Stop,Aug 29 2025 06:15 AM,NaN,"Via Principal-52, Villa Maria Del Triunfo, Lim...",0,NaN,NaN,-12.183313,-76.943706
173,18,F3H-841,Drive,Aug 29 2025 06:14 AM,NaN,"Via Principal-60, Villa El Salvador, Lima, Lim...",17,NaN,NaN,-12.182692,-76.942588
174,17,F3H-841,Drive,Aug 29 2025 06:14 AM,NaN,"Av Pachacutec-72, Villa Maria Del Triunfo, Lim...",16,NaN,NaN,-12.182570,-76.942466
175,16,F3H-841,Drive,Aug 29 2025 06:13 AM,NaN,"Av Pachacutec-64, Villa Maria Del Triunfo, Lim...",20,NaN,NaN,-12.181618,-76.942884
176,15,F3H-841,Drive,Aug 29 2025 06:12 AM,NaN,"Av Pachacutec-30, Villa Maria Del Triunfo, Lim...",20,NaN,NaN,-12.178648,-76.944698
177,14,F3H-841,Travel Start,Aug 29 2025 06:11 AM,NaN,"Av Pachacutec-93, Villa Maria Del Triunfo, Lim...",8,NaN,NaN,-12.176747,-76.945846
178,13,F3H-841,Idle - Stop,Aug 29 2025 06:10 AM,NaN,"Av De Los Heroes-51, Villa Maria Del Triunfo, ...",0,NaN,NaN,-12.175314,-76.946646
179,12,F3H-841,Travel Stop,Aug 29 2025 06:07 AM,NaN,"Av De Los Heroes-15, Villa Maria Del Triunfo, ...",4,NaN,NaN,-12.174656,-76.946153
180,11,F3H-841,Travel Start,Aug 29 2025 06:06 AM,NaN,"Av Progreso, Villa Maria Del Triunfo, Lima, Li...",9,NaN,NaN,-12.174309,-76.945534
181,10,F3H-841,Drive,Aug 29 2025 06:06 AM,NaN,"Av Progreso, Villa Maria Del Triunfo, Lima, Li...",9,NaN,NaN,-12.174189,-76.945323
182,9,F3H-841,Travel Stop,Aug 29 2025 06:05 AM,NaN,"Av Nicolas De Pierola-24, Villa Maria Del Triu...",6,NaN,NaN,-12.173585,-76.944248
183,8,F3H-841,Travel Start,Aug 29 2025 06:05 AM,NaN,"Av Nicolas De Pierola-35, Villa Maria Del Triu...",8,NaN,NaN,-12.173111,-76.944444
184,7,F3H-841,Idle - Stop,Aug 29 2025 06:00 AM,NaN,"Santa Cruz-23, Villa Maria Del Triunfo, Lima, ...",0,NaN,NaN,-12.172037,-76.944103
185,6,F3H-841,Landmark OUT,Aug 29 2025 06:00 AM,SEDE CAMPOY,"La Union-85, Villa Maria Del Triunfo, Lima, Li...",0,NaN,NaN,-12.172039,-76.944094
186,5,F3H-841,Idle Alert,Aug 29 2025 06:00 AM,SEDE CAMPOY,"La Union-85, Villa Maria Del Triunfo, Lima, Li...",0,NaN,NaN,-12.172039,-76.944094

## Hidrosant

In [25]:
hidrosant=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/hidrosant_Engine Runtime Report.csv')
hidrosant.rename(columns={'Textbox8':'Address','textbox32':'Time1'},inplace=True)
hidrosant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          273 non-null    object
 2   StartTime         273 non-null    object
 3   Address           273 non-null    object
 4   StopTime          273 non-null    object
 5   StopLengthSecs    273 non-null    object
 6   ContactName       273 non-null    object
 7   Time1             273 non-null    object
 8   StopLengthSecs_1  273 non-null    object
dtypes: float64(1), object(8)
memory usage: 19.3+ KB

In [26]:
hidrosant['Time1'].value_counts()

Time1
39h:21m:36s    273
Name: count, dtype: int64

In [19]:
hidrosant_negatives=hidrosant[hidrosant['StopLengthSecs'].str.contains('-')]
hidrosant_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [22]:
hidrosant_negatives=hidrosant[hidrosant['StopLengthSecs_1'].str.contains('-')]
hidrosant_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [19]:
hidrosant_negatives=hidrosant[hidrosant['Time1'].str.contains('-')]
hidrosant_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [41]:
hidrosant_06=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/hidrosan_Travels_Daily_Summary_Unified_06.csv')
hidrosant_offtime_06=hidrosant_06[hidrosant_06['OffTime'].str.contains('-')]
hidrosant_offtime_06

Empty DataFrame
Columns: [UnitName, DayDate, Decelerations, Accelerations, HarshTurns, DistanceDriven1, DriveTime, OffTime, IdleTime, Textbox17, MaxSpeed, DriverName, GroupName]
Index: []

In [27]:
hidrosant_unified=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/hidrosant_Travels_Daily_Summary_Unified.csv')
hidrosant_unified

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
0,HBZN580NKLAH21750,1/08/2025,0,0,0,"1,40",0:36:57,18:39:36,4:43:27,5:20:24,19 kph,NaN,NaN
1,HBZN580NKLAH21750,2/08/2025,0,0,0,"0,00",0:00:00,23:37:20,0:22:40,0:22:40,0 kph,NaN,NaN
2,HBZN580NKLAH21750,3/08/2025,0,0,0,"0,00",0:00:00,24:00:00,0:00:00,0:00:00,0 kph,NaN,NaN
3,HBZN580NKLAH21750,4/08/2025,0,0,0,"0,00",0:00:00,18:36:21,5:23:39,5:23:39,0 kph,NaN,NaN
4,HBZN580NKLAH21750,5/08/2025,0,0,0,"0,48",0:26:30,18:10:20,5:23:10,5:49:40,11 kph,NaN,NaN
5,HBZN580NKLAH21750,6/08/2025,0,0,0,"0,00",0:00:00,17:29:20,6:30:40,6:30:40,0 kph,NaN,NaN
6,HBZN580NKLAH21750,7/08/2025,0,0,0,"0,00",0:00:00,24:00:00,0:00:00,0:00:00,0 kph,NaN,NaN
7,HBZN580NKLAH21750,8/08/2025,0,0,0,"0,53",0:23:57,17:03:12,6:32:51,6:56:48,16 kph,NaN,NaN
8,HBZN580NKLAH21750,9/08/2025,0,0,0,"0,19",1:19:24,19:52:07,2:48:29,4:07:53,32 kph,NaN,NaN
9,HBZN580NKLAH21750,10/08/2025,0,0,0,"0,00",0:00:00,24:00:00,0:00:00,0:00:00,0 kph,NaN,NaN
10,HBZN580NKLAH21750,11/08/2025,0,0,0,"0,00",0:00:00,22:25:19,1:34:41,1:34:41,0 kph,NaN,NaN

# Análisis después de la corrección

In [25]:
hlHBZN580NKLAH21750=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/HBZN580NKLAH21750.csv',sep=';',encoding='latin1')
hlHBZN580NKLAH21750.info()
hlHBZN580NKLAH21750['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     745 non-null    int64
 1   Unit         745 non-null    object
 2   Events       745 non-null    object
 3   Date         745 non-null    object
 4   Landmark     431 non-null    object
 5   Address      745 non-null    object
 6   Speed        745 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     745 non-null    float64
 10  Longitude    745 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 64.2+ KB

Events
Parked          191
Landmark IN      88
Landmark OUT     84
APAGADO          82
ENCENDIDO        82
Idle - Stop      80
Idle Alert       63
Drive            57
Travel Stop       9
Travel Start      9
Name: count, dtype: int64

In [ ]:
hlHBZN580NKLAH21750_ignitions=hlHBZN580NKLAH21750[hlHBZN580NKLAH21750['Events'].str.contains('ENCENDIDO')]
hlHBZN580NKLAH21750_ignitions

In [45]:
Engine_report_HBZN580NKLAH21750=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/Engine Runtime Report_HBZN580NKLAH21750.csv')
Engine_report_HBZN580NKLAH21750.rename(columns={'Textbox8':'Address','textbox32':'Time1'},inplace=True)
Engine_report_HBZN580NKLAH21750.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          82 non-null     object
 2   StartTime         82 non-null     object
 3   Address           82 non-null     object
 4   StopTime          82 non-null     object
 5   StopLengthSecs    82 non-null     object
 6   ContactName       82 non-null     object
 7   Time1             82 non-null     object
 8   StopLengthSecs_1  82 non-null     object
dtypes: float64(1), object(8)
memory usage: 5.9+ KB

In [47]:
Engine_report_HBZN580NKLAH21750_n=Engine_report_HBZN580NKLAH21750[Engine_report_HBZN580NKLAH21750['StartTime'].str.contains('-')]
Engine_report_HBZN580NKLAH21750_n

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [48]:
Engine_report_HBZN580NKLAH21750_n=Engine_report_HBZN580NKLAH21750[Engine_report_HBZN580NKLAH21750['StopLengthSecs'].str.contains('-')]
Engine_report_HBZN580NKLAH21750_n

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [49]:
Engine_report_HBZN580NKLAH21750_n=Engine_report_HBZN580NKLAH21750[Engine_report_HBZN580NKLAH21750['StopLengthSecs_1'].str.contains('-')]
Engine_report_HBZN580NKLAH21750_n

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [50]:
Engine_report_HBZN580NKLAH21750_n=Engine_report_HBZN580NKLAH21750[Engine_report_HBZN580NKLAH21750['Time1'].str.contains('-')]
Engine_report_HBZN580NKLAH21750_n

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [51]:
Engine_report_HBZN580NKLAH21750_n=Engine_report_HBZN580NKLAH21750[Engine_report_HBZN580NKLAH21750['StopTime'].str.contains('-')]
Engine_report_HBZN580NKLAH21750_n

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

## Toyama

Este cliente no tiene el módulo de reportes actualizado.

In [55]:
toyama=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/toyama_Engine Runtime Report.csv')
toyama.rename(columns={'Textbox8':'Address','textbox32':'Time1'},inplace=True)
toyama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          34 non-null     object
 2   StartTime         34 non-null     object
 3   Address           34 non-null     object
 4   StopTime          34 non-null     object
 5   StopLengthSecs    34 non-null     object
 6   ContactName       34 non-null     object
 7   Time1             34 non-null     object
 8   StopLengthSecs_1  34 non-null     object
dtypes: float64(1), object(8)
memory usage: 2.5+ KB

In [56]:
toyama_negatives=toyama[toyama['StopLengthSecs'].str.contains('-')]
toyama_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [57]:
toyama_negatives=toyama[toyama['StopLengthSecs'].str.contains('-')]
toyama_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

# Análisis después de corrección

In [69]:
hlHITACHI=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/hlHITACHI 4848.csv',sep=';',encoding='latin1')
hlHITACHI.info()
hlHITACHI['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7209 entries, 0 to 7208
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     7209 non-null   int64
 1   Unit         7209 non-null   object
 2   Events       7209 non-null   object
 3   Date         7209 non-null   object
 4   Landmark     0 non-null      float64
 5   Address      7209 non-null   object
 6   Speed        7209 non-null   int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     7209 non-null   float64
 10  Longitude    7209 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 619.7+ KB

Events
Idle - Stop                     5525
Parked                           897
Ping                             142
POWER UP                         141
Power OFF                        141
Self Test/Reboot                 141
Desplazándose - Ign. apagada      80
Ignition OFF                      66
Ignition ON                       66
Unk Harsh Behavior                 8
Drive                              1
End Speeding                       1
Name: count, dtype: int64

In [59]:
Engine_report_toyama=pd.read_csv('/home/jlhb1984/py-projects/data/motor_hours/Engine Runtime Report HITACHI 4848.csv')
Engine_report_toyama.rename(columns={'Textbox8':'Address','textbox32':'Time1'},inplace=True)
Engine_report_toyama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          57 non-null     object
 2   StartTime         57 non-null     object
 3   Address           57 non-null     object
 4   StopTime          57 non-null     object
 5   StopLengthSecs    57 non-null     object
 6   ContactName       57 non-null     object
 7   Time1             57 non-null     object
 8   StopLengthSecs_1  57 non-null     object
dtypes: float64(1), object(8)
memory usage: 4.1+ KB

In [62]:
Engine_report_toyama_negatives=Engine_report_toyama[Engine_report_toyama['StartTime'].str.contains('-')]
Engine_report_toyama_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [63]:
Engine_report_toyama_negatives=Engine_report_toyama[Engine_report_toyama['StopLengthSecs'].str.contains('-')]
Engine_report_toyama_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [64]:
Engine_report_toyama_negatives=Engine_report_toyama[Engine_report_toyama['StopLengthSecs_1'].str.contains('-')]
Engine_report_toyama_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [65]:
Engine_report_toyama_negatives=Engine_report_toyama[Engine_report_toyama['StopTime'].str.contains('-')]
Engine_report_toyama_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [66]:
Engine_report_toyama_negatives=Engine_report_toyama[Engine_report_toyama['Time1'].str.contains('-')]
Engine_report_toyama_negatives

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []