In [1]:
import pandas as pd
import numpy as np

In [2]:
ubd_nf=pd.read_csv('/home/jlhb1984/py-projects/data/cases/crm_ubd10122025.csv',sep=';',encoding='latin1')
ubd_nf['Last Event Date'].fillna('Empty',inplace=True)
ubd=ubd_nf[ubd_nf['Last Event Date'].str.contains('2025')]
row_number=ubd.shape[0]
ubd.info()
#ubd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14808 entries, 0 to 27518
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   14808 non-null  object
 1   Company                  14808 non-null  object
 2   VIP                      14808 non-null  object
 3   FEIN                     14363 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      5702 non-null   object
 6   Peripherals              14808 non-null  object
 7   Service                  14429 non-null  object
 8   Owner                    14808 non-null  object
 9   Unit ID                  14808 non-null  object
 10  Unit                     14808 non-null  object
 11  Unit Type                14808 non-null  object
 12  Carrier                  14590 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              14808 non-null  object
 15  Billing Group            858 non-null    object
 16  Billing Period           14682 non-null  object
 17  Last Service Paid Until  14808 non-null  object
 18  Service Paid Until       14808 non-null  object
 19  Serial Number            14803 non-null  object
 20  IMEI                     14801 non-null  object
 21  Bill To                  1095 non-null   object
 22  Status                   14808 non-null  object
 23  Event                    14517 non-null  object
 24  Assigned To Company On   14808 non-null  object
 25  Last Event Date          14808 non-null  object
 26  Last Contact On          14808 non-null  object
 27  Last Event Address       14808 non-null  object
dtypes: float64(2), object(26)
memory usage: 3.3+ MB

/tmp/ipykernel_39737/231349319.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ubd_nf['Last Event Date'].fillna('Empty',inplace=True)

In [3]:
ubd['Dealer'].value_counts()

Dealer
TSO Mobile - Colombia             6952
TSO Mobile Peru                   3774
TSO Colombia - IBO IDCOM          1800
TSO Colombia - IBO SEGTEC         1327
UTS Sistemas Kalo MX               954
TSO Peru -   FG SATELITAL EIRL       1
Name: count, dtype: int64

In [4]:
vec_aux=[]
for i in range(0,row_number):
    aux=ubd.iloc[i,14].replace(',','.')
    vec_aux.append(float(aux))
ubd['Dec_Monthly_fee']=vec_aux

ubd.info()
#ubd.to_csv('/home/jlhb1984/py-projects/data/cases/mrr.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 14808 entries, 0 to 27518
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   14808 non-null  object
 1   Company                  14808 non-null  object
 2   VIP                      14808 non-null  object
 3   FEIN                     14363 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      5702 non-null   object
 6   Peripherals              14808 non-null  object
 7   Service                  14429 non-null  object
 8   Owner                    14808 non-null  object
 9   Unit ID                  14808 non-null  object
 10  Unit                     14808 non-null  object
 11  Unit Type                14808 non-null  object
 12  Carrier                  14590 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              14808 non-null  object
 15  Billing Group            858 non-null    object
 16  Billing Period           14682 non-null  object
 17  Last Service Paid Until  14808 non-null  object
 18  Service Paid Until       14808 non-null  object
 19  Serial Number            14803 non-null  object
 20  IMEI                     14801 non-null  object
 21  Bill To                  1095 non-null   object
 22  Status                   14808 non-null  object
 23  Event                    14517 non-null  object
 24  Assigned To Company On   14808 non-null  object
 25  Last Event Date          14808 non-null  object
 26  Last Contact On          14808 non-null  object
 27  Last Event Address       14808 non-null  object
 28  Dec_Monthly_fee          14808 non-null  float64
dtypes: float64(3), object(26)
memory usage: 3.4+ MB

/tmp/ipykernel_39737/731822859.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ubd['Dec_Monthly_fee']=vec_aux

In [5]:
ubd['Dealer'].value_counts()

Dealer
TSO Mobile - Colombia             6952
TSO Mobile Peru                   3774
TSO Colombia - IBO IDCOM          1800
TSO Colombia - IBO SEGTEC         1327
UTS Sistemas Kalo MX               954
TSO Peru -   FG SATELITAL EIRL       1
Name: count, dtype: int64

In [6]:
ubd_companies=ubd['Company'].value_counts()
ubd_companies
#ubd_companies.to_csv('/home/jlhb1984/py-projects/data/cases/LATAM_companies_2025.csv')

Company
TTSO MOBILE S.A.S. COLOMBIA.                         1234
PROYECTOS DE INGENIERIA SA PROING SA                  493
DOMINION COLOMBIA SAS                                 384
CHILCO DISTRIBUIDORA DE GAS Y ENERGIA S.A.S E.S.P     294
TSO INVENTARIO DISPONIBLE PERU                        225
                                                     ...
JESUS DAVID ROMO BASTIDAS                               1
JESUS ANDRES CONTRERAS BETANCUR                         1
JESSICA PAOLA GARCIA TORO                               1
JENNY ANDREA JARAMILLO OTALVARO                         1
YOREIDIS JUDITH CASTRO PALMA                            1
Name: count, Length: 1947, dtype: int64

In [7]:
tso_mobile_colombia=ubd[ubd['Dealer'].str.contains('TSO Mobile - Colombia')]
tso_mobile_peru=ubd[ubd['Dealer'].str.contains('TSO Mobile Peru')]
uts_sistemas_kalo=ubd[ubd['Dealer'].str.contains('UTS Sistemas Kalo MX')]
tso_mobile_colombia_ibo_idcom=ubd[ubd['Dealer'].str.contains('TSO Colombia - IBO IDCOM')]
tso_mobile_colombia_ibo_segtec=ubd[ubd['Dealer'].str.contains('TSO Colombia - IBO SEGTEC')]
tso_peru_fg_satelital_eirl=ubd[ubd['Dealer'].str.contains('TSO Peru -   FG SATELITAL EIRL')]

In [8]:
col=pd.concat([tso_mobile_colombia,tso_mobile_colombia_ibo_idcom,tso_mobile_colombia_ibo_segtec])
per=pd.concat([tso_mobile_peru,tso_peru_fg_satelital_eirl])
mex=uts_sistemas_kalo

In [9]:
total_fee_mex_per=per['Dec_Monthly_fee'].sum()+mex['Dec_Monthly_fee'].sum()
total_fee_col=col['Dec_Monthly_fee'].sum()
dollar=float(input('Digite el valor del dolar hoy: '))
mrr_latam=total_fee_col/dollar+total_fee_mex_per
print('Mrr LATAM: ',mrr_latam)

Mrr LATAM:  753234.8008641007

GV300W units:

In [18]:
gv300w=ubd[ubd['Unit Type'].str.contains('300W')]
gv300w_ricopollo=gv300w[gv300w['Company'].str.contains('Rico')]
gv300w_ricopollo

Empty DataFrame
Columns: [Dealer, Company, VIP, FEIN, Unnamed: 4, DNI, Peripherals, Service, Owner, Unit ID, Unit, Unit Type, Carrier, Unnamed: 13, Monthly Fee, Billing Group, Billing Period, Last Service Paid Until, Service Paid Until, Serial Number, IMEI, Bill To, Status, Event, Assigned To Company On, Last Event Date, Last Contact On, Last Event Address, Dec_Monthly_fee]
Index: []

[0 rows x 29 columns]