In [113]:
import pandas as pd
import numpy as np

In [114]:
ubd_nf=pd.read_csv('/home/jlhb1984/py-projects/data/cases/CRMUnitsDealersReports_15724_20251202140152.csv',sep=';',encoding='latin1')
ubd=ubd_nf[ubd_nf['Last Event Date'].str.contains('2025')]
ubd_nf.info()
ubd.info()
dollar=float(input('Digite el valor actual del dolar: '))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27473 entries, 0 to 27472
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   27473 non-null  object
 1   Company                  27473 non-null  object
 2   VIP                      27473 non-null  object
 3   FEIN                     24940 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      6258 non-null   object
 6   Peripherals              27473 non-null  object
 7   Service                  22486 non-null  object
 8   Owner                    27473 non-null  object
 9   Unit ID                  27473 non-null  object
 10  Unit                     27473 non-null  object
 11  Unit Type                27473 non-null  object
 12  Carrier                  24672 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              27473 non-null  object
 15  Billing Group            3965 non-null   object
 16  Billing Period           27322 non-null  object
 17  Last Service Paid Until  27473 non-null  object
 18  Service Paid Until       27473 non-null  object
 19  Serial Number            25048 non-null  object
 20  IMEI                     25033 non-null  object
 21  Bill To                  1211 non-null   object
 22  Status                   27473 non-null  object
 23  Event                    24426 non-null  object
 24  Assigned To Company On   27473 non-null  object
 25  Last Event Date          27473 non-null  object
 26  Last Contact On          27473 non-null  object
 27  Last Event Address       24961 non-null  object
dtypes: float64(2), object(26)
memory usage: 5.9+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 14578 entries, 0 to 27472
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   14578 non-null  object
 1   Company                  14578 non-null  object
 2   VIP                      14578 non-null  object
 3   FEIN                     14134 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      5365 non-null   object
 6   Peripherals              14578 non-null  object
 7   Service                  14205 non-null  object
 8   Owner                    14578 non-null  object
 9   Unit ID                  14578 non-null  object
 10  Unit                     14578 non-null  object
 11  Unit Type                14578 non-null  object
 12  Carrier                  14364 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              14578 non-null  object
 15  Billing Group            862 non-null    object
 16  Billing Period           14452 non-null  object
 17  Last Service Paid Until  14578 non-null  object
 18  Service Paid Until       14578 non-null  object
 19  Serial Number            14573 non-null  object
 20  IMEI                     14571 non-null  object
 21  Bill To                  1094 non-null   object
 22  Status                   14578 non-null  object
 23  Event                    14296 non-null  object
 24  Assigned To Company On   14578 non-null  object
 25  Last Event Date          14578 non-null  object
 26  Last Contact On          14578 non-null  object
 27  Last Event Address       14578 non-null  object
dtypes: float64(2), object(26)
memory usage: 3.2+ MB

In [115]:
ubd_per=ubd['Peripherals'].value_counts()
ubd_per.to_csv('/home/jlhb1984/py-projects/data/cases/ubd_per.csv')

In [116]:
vec_aux=[]
for i in range(0,14578):
    aux=ubd.iloc[i,14].replace(',','.')
    vec_aux.append(float(aux))
ubd['Dec_Monthly_fee']=vec_aux

ubd.info()
#ubd.to_csv('/home/jlhb1984/py-projects/data/cases/mrr.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 14578 entries, 0 to 27472
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   14578 non-null  object
 1   Company                  14578 non-null  object
 2   VIP                      14578 non-null  object
 3   FEIN                     14134 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      5365 non-null   object
 6   Peripherals              14578 non-null  object
 7   Service                  14205 non-null  object
 8   Owner                    14578 non-null  object
 9   Unit ID                  14578 non-null  object
 10  Unit                     14578 non-null  object
 11  Unit Type                14578 non-null  object
 12  Carrier                  14364 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              14578 non-null  object
 15  Billing Group            862 non-null    object
 16  Billing Period           14452 non-null  object
 17  Last Service Paid Until  14578 non-null  object
 18  Service Paid Until       14578 non-null  object
 19  Serial Number            14573 non-null  object
 20  IMEI                     14571 non-null  object
 21  Bill To                  1094 non-null   object
 22  Status                   14578 non-null  object
 23  Event                    14296 non-null  object
 24  Assigned To Company On   14578 non-null  object
 25  Last Event Date          14578 non-null  object
 26  Last Contact On          14578 non-null  object
 27  Last Event Address       14578 non-null  object
 28  Dec_Monthly_fee          14578 non-null  float64
dtypes: float64(3), object(26)
memory usage: 3.3+ MB

/tmp/ipykernel_4389/3941827397.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ubd['Dec_Monthly_fee']=vec_aux

In [117]:
ubd['Dealer'].value_counts()

Dealer
TSO Mobile - Colombia             6739
TSO Mobile Peru                   3758
TSO Colombia - IBO IDCOM          1804
TSO Colombia - IBO SEGTEC         1323
UTS Sistemas Kalo MX               953
TSO Peru -   FG SATELITAL EIRL       1
Name: count, dtype: int64

In [118]:
tso_mobile_colombia=ubd[ubd['Dealer'].str.contains('TSO Mobile - Colombia')]
tso_mobile_peru=ubd[ubd['Dealer'].str.contains('TSO Mobile Peru')]
uts_sistemas_kalo=ubd[ubd['Dealer'].str.contains('UTS Sistemas Kalo MX')]
tso_mobile_colombia_ibo_idcom=ubd[ubd['Dealer'].str.contains('TSO Colombia - IBO IDCOM')]
tso_mobile_colombia_ibo_segtec=ubd[ubd['Dealer'].str.contains('TSO Colombia - IBO SEGTEC')]
tso_peru_fg_satelital_eirl=ubd[ubd['Dealer'].str.contains('TSO Peru -   FG SATELITAL EIRL')]

In [119]:
col=pd.concat([tso_mobile_colombia,tso_mobile_colombia_ibo_idcom,tso_mobile_colombia_ibo_segtec])
per=pd.concat([tso_mobile_peru,tso_peru_fg_satelital_eirl])
mex=uts_sistemas_kalo

Calamp

In [120]:
ctc_devices=pd.read_csv('/home/jlhb1984/py-projects/data/cases/calamp_ctc.csv',encoding='latin1')
ctc_devices.info()
row_number_ctc=ctc_devices.shape[0]
row_number_ctc
aux_count=0
imeis_ibutton=[]
imeis_units=pd.DataFrame()

for i in range(0,row_number_ctc):
    if ctc_devices.iloc[i,55]==7.72:
        aux_count=aux_count+1
        imeis_ibutton.append(ctc_devices.iloc[i,43])
print("Devices with script 7.72= ",aux_count)
aux_count=0

for i in range(0,row_number_ctc):
    if ctc_devices.iloc[i,55]==7.76:
        aux_count=aux_count+1
        imeis_ibutton.append(ctc_devices.iloc[i,43])
print("Devices with script 7.76= ",aux_count)
aux_count=0
print("imeis: ",imeis_ibutton)
imeis_units['IMEIS_calamp']=imeis_ibutton
imeis_units.info()
imeis_units.to_csv('/home/jlhb1984/py-projects/data/cases/imeis_ibutton.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7260 entries, 0 to 7259
Data columns (total 64 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    7260 non-null   int64
 1   Name                                  601 non-null    object
 2   Identifier                            7260 non-null   int64
 3   Model                                 7260 non-null   object
 4   User ESN Mobile Id                    0 non-null      float64
 5   EOL                                   7260 non-null   object
 6   Enabled Services                      0 non-null      float64
 7   Asset                                 0 non-null      float64
 8   Account                               7260 non-null   object
 9   Status                                7260 non-null   object
 10  Last Event Time                       0 non-null      float64
 11  JPOD Firmware                         3 non-null      object
 12  JPOD Config                           1 non-null      float64
 13  BLE3 Firmware                         0 non-null      float64
 14  EdgeApp Version / Hosted App Version  0 non-null      float64
 15  User Defined Mobile ID                0 non-null      float64
 16  VBUS Mode                             196 non-null    object
 17  Pending Firmware                      46 non-null     object
 18  Pending Script                        1137 non-null   object
 19  Pending JPOD FW                       0 non-null      float64
 20  Pending JPOD Config                   0 non-null      float64
 21  Pending EdgeApp/ Hosted App           0 non-null      float64
 22  VBU3 Firmware                         0 non-null      float64
 23  ICCID                                 7260 non-null   object
 24  Configuration                         7260 non-null   object
 25  Activation Date                       7260 non-null   object
 26  Air ID                                7260 non-null   object
 27  Android OS Version                    0 non-null      float64
 28  App ID                                7260 non-null   int64
 29  Architecture                          7186 non-null   object
 30  Associated LMU                        0 non-null      float64
 31  Associated MDT                        0 non-null      float64
 32  Carrier Status                        0 non-null      float64
 33  Category                              7260 non-null   object
 34  Config Status                         1137 non-null   object
 35  Created On                            7260 non-null   object
 36  ESN                                   7260 non-null   int64
 37  Firmware Status                       46 non-null     object
 38  Firmware Version                      7259 non-null   object
 39  First ID Report Time                  7045 non-null   object
 40  Groups                                1 non-null      object
 41  ICN Enabled                           7260 non-null   bool
 42  ID Report Time                        7041 non-null   object
 43  IMEI                                  7243 non-null   float64
 44  IMEI2                                 0 non-null      float64
 45  IMSI                                  7260 non-null   int64
 46  iOn Tag                               7260 non-null   object
 47  IP Address                            0 non-null      float64
 48  ISDN                                  0 non-null      float64
 49  Kernel Version                        0 non-null      float64
 50  Last AVL Time                         0 non-null      float64
 51  Last Modified On                      7260 non-null   object
 52  MDN                                   0 non-null      float64
 53  MEID                                  0 non-null      float64
 54  PEG Behavior                          0 non-null      float64
 55  Script Identifier                     7260 non-null   float64
 56  Serial Number                         0 non-null      float64
 57  Ship Date                             600 non-null    object
 58  VBUS Status                           6713 non-null   object
 59  Vehicle Profile                       51 non-null     object
 60  VIN (ID Report)                       11 non-null     object
 61  Radio Firmware                        27 non-null     object
 62  Disabled Services                     7260 non-null   object
 63  Unnamed: 63                           0 non-null      float64
dtypes: bool(1), float64(28), int64(5), object(30)
memory usage: 3.5+ MB
Devices with script 7.72=  92
Devices with script 7.76=  2
imeis:  [np.float64(359369091068409.0), np.float64(359369091023644.0), np.float64(352556102949950.0), np.float64(354514101461277.0), np.float64(352556102759284.0), np.float64(358077093312367.0), np.float64(354514101217661.0), np.float64(358077091909529.0), np.float64(358077091191680.0), np.float64(354514101230680.0), np.float64(358077093344923.0), np.float64(352556102295610.0), np.float64(358077093392096.0), np.float64(354514101242933.0), np.float64(358077093310874.0), np.float64(357041069266701.0), np.float64(358077093351209.0), np.float64(352556102295933.0), np.float64(358077093624860.0), np.float64(358077093348296.0), np.float64(358077093320691.0), np.float64(357041065244850.0), np.float64(352556102520207.0), np.float64(358077093346761.0), np.float64(357041064117610.0), np.float64(352556102026379.0), np.float64(358077093351902.0), np.float64(358077093313597.0), np.float64(358077093400980.0), np.float64(354514101231589.0), np.float64(358077093310015.0), np.float64(358077093351522.0), np.float64(358077093129787.0), np.float64(358077093311997.0), np.float64(358077093182828.0), np.float64(354514101217141.0), np.float64(358077093378921.0), np.float64(358077093499313.0), np.float64(354514101200725.0), np.float64(354514101228718.0), np.float64(354514101223156.0), np.float64(358077093350896.0), np.float64(358077093349005.0), np.float64(358077093345003.0), np.float64(354514101200600.0), np.float64(358077093316087.0), np.float64(358077093613871.0), np.float64(354514101587139.0), np.float64(352556102448151.0), np.float64(358077091844486.0), np.float64(358077093520654.0), np.float64(358077093315816.0), np.float64(352556102465056.0), np.float64(359369091357596.0), np.float64(352556102276784.0), np.float64(352556102442352.0), np.float64(865640064549048.0), np.float64(358077091918314.0), np.float64(357041064154282.0), np.float64(357041064225843.0), np.float64(358077093335913.0), np.float64(354514102532498.0), np.float64(354514102310655.0), np.float64(358077093358725.0), np.float64(358077093182802.0), np.float64(354514102532266.0), np.float64(354514102545805.0), np.float64(354514102350610.0), np.float64(354514102543768.0), np.float64(354514102540483.0), np.float64(354514102534809.0), np.float64(354514102543388.0), np.float64(354514102535392.0), np.float64(354514102545946.0), np.float64(354514102489392.0), np.float64(354514102294081.0), np.float64(354514102534247.0), np.float64(354514102545730.0), np.float64(354514102533249.0), np.float64(354514102406750.0), np.float64(354514102531516.0), np.float64(354514102549229.0), np.float64(354514102550078.0), np.float64(354514102545573.0), np.float64(354514102549377.0), np.float64(358077093128060.0), np.float64(354514102530724.0), np.float64(354514102534155.0), np.float64(354514102538974.0), np.float64(354514101566794.0), np.float64(354514101564914.0), np.float64(354514101547646.0), np.float64(358077093311120.0), np.float64(354514101202499.0)]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IMEIS_calamp  94 non-null     float64
dtypes: float64(1)
memory usage: 884.0 bytes

In [121]:
mrr_ibutton=pd.read_csv('/home/jlhb1984/py-projects/data/cases/coincidences.csv',sep=',',encoding='latin1')
mrr_ibutton.info()
mrr_ibutton['Dealer'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   90 non-null     int64
 1   Dealer       90 non-null     object
 2   Company      90 non-null     object
 3   Monthly fee  90 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.9+ KB

Dealer
TSO Mobile - Colombia        57
TSO Mobile Peru              31
TSO Colombia - IBO SEGTEC     2
Name: count, dtype: int64

In [122]:
row_number_ibutton=mrr_ibutton.shape[0]
vec_aux=[]

for i in range(0,row_number_ibutton):
    aux=ubd.iloc[i,14].replace(',','.')
    vec_aux.append(float(aux))
mrr_ibutton['Dec_Monthly_fee']=vec_aux
mrr_ibutton.info()

print(row_number_ibutton)
mrr_ibutton_col=mrr_ibutton[~mrr_ibutton['Dealer'].str.contains('Peru')]
mrr_ibutton_per=mrr_ibutton[mrr_ibutton['Dealer'].str.contains('Peru')]

mrr_ibutton_total=(mrr_ibutton_col['Dec_Monthly_fee'].sum())/dollar+mrr_ibutton_per['Dec_Monthly_fee'].sum()
print('Mrr_Ibutton LATAM= ',mrr_ibutton_total)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       90 non-null     int64
 1   Dealer           90 non-null     object
 2   Company          90 non-null     object
 3   Monthly fee      90 non-null     object
 4   Dec_Monthly_fee  90 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.6+ KB
90
Mrr_Ibutton LATAM=  1051.3030452998169

In [123]:
calamp_2630_col=col[col['Unit Type'].str.contains('2630')]
calamp_2630_col.info()
rows_calamp_2630_col=calamp_2630_col.shape[0]
calamp_2630_per=per[per['Unit Type'].str.contains('2630')]
calamp_2630_per.info()
rows_calamp_2630_per=calamp_2630_per.shape[0]
calamp_2630_mex=mex[mex['Unit Type'].str.contains('2630')]
calamp_2630_mex.info()
rows_calamp_2630_mex=calamp_2630_mex.shape[0]
calamp_2630_col.to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 1866 entries, 4341 to 27309
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   1866 non-null   object
 1   Company                  1866 non-null   object
 2   VIP                      1866 non-null   object
 3   FEIN                     1865 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      344 non-null    object
 6   Peripherals              1866 non-null   object
 7   Service                  1815 non-null   object
 8   Owner                    1866 non-null   object
 9   Unit ID                  1866 non-null   object
 10  Unit                     1866 non-null   object
 11  Unit Type                1866 non-null   object
 12  Carrier                  1854 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              1866 non-null   object
 15  Billing Group            47 non-null     object
 16  Billing Period           1852 non-null   object
 17  Last Service Paid Until  1866 non-null   object
 18  Service Paid Until       1866 non-null   object
 19  Serial Number            1866 non-null   object
 20  IMEI                     1866 non-null   object
 21  Bill To                  133 non-null    object
 22  Status                   1866 non-null   object
 23  Event                    1851 non-null   object
 24  Assigned To Company On   1866 non-null   object
 25  Last Event Date          1866 non-null   object
 26  Last Contact On          1866 non-null   object
 27  Last Event Address       1866 non-null   object
 28  Dec_Monthly_fee          1866 non-null   float64
dtypes: float64(3), object(26)
memory usage: 437.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1163 entries, 3 to 7001
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   1163 non-null   object
 1   Company                  1163 non-null   object
 2   VIP                      1163 non-null   object
 3   FEIN                     1163 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      1031 non-null   object
 6   Peripherals              1163 non-null   object
 7   Service                  1158 non-null   object
 8   Owner                    1163 non-null   object
 9   Unit ID                  1163 non-null   object
 10  Unit                     1163 non-null   object
 11  Unit Type                1163 non-null   object
 12  Carrier                  1137 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              1163 non-null   object
 15  Billing Group            89 non-null     object
 16  Billing Period           1124 non-null   object
 17  Last Service Paid Until  1163 non-null   object
 18  Service Paid Until       1163 non-null   object
 19  Serial Number            1163 non-null   object
 20  IMEI                     1163 non-null   object
 21  Bill To                  192 non-null    object
 22  Status                   1163 non-null   object
 23  Event                    1150 non-null   object
 24  Assigned To Company On   1163 non-null   object
 25  Last Event Date          1163 non-null   object
 26  Last Contact On          1163 non-null   object
 27  Last Event Address       1163 non-null   object
 28  Dec_Monthly_fee          1163 non-null   float64
dtypes: float64(3), object(26)
memory usage: 272.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 274 entries, 18 to 27272
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   274 non-null    object
 1   Company                  274 non-null    object
 2   VIP                      274 non-null    object
 3   FEIN                     147 non-null    object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      3 non-null      object
 6   Peripherals              274 non-null    object
 7   Service                  274 non-null    object
 8   Owner                    274 non-null    object
 9   Unit ID                  274 non-null    object
 10  Unit                     274 non-null    object
 11  Unit Type                274 non-null    object
 12  Carrier                  267 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              274 non-null    object
 15  Billing Group            0 non-null      object
 16  Billing Period           273 non-null    object
 17  Last Service Paid Until  274 non-null    object
 18  Service Paid Until       274 non-null    object
 19  Serial Number            274 non-null    object
 20  IMEI                     274 non-null    object
 21  Bill To                  0 non-null      object
 22  Status                   274 non-null    object
 23  Event                    274 non-null    object
 24  Assigned To Company On   274 non-null    object
 25  Last Event Date          274 non-null    object
 26  Last Contact On          274 non-null    object
 27  Last Event Address       274 non-null    object
 28  Dec_Monthly_fee          274 non-null    float64
dtypes: float64(3), object(26)
memory usage: 64.2+ KB

In [124]:
calamp_2630_col['Dec_Monthly_fee'].value_counts()
for i in range(0,rows_calamp_2630_col):
    if calamp_2630_col.iloc[i,28]>=5800000:
        calamp_2630_col.iloc[i,28]=calamp_2630_col.iloc[i,28]/100
#calamp_2630_col['Dec_Monthly_fee'].to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr.csv')
(calamp_2630_col['Dec_Monthly_fee'].value_counts()).to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr_calamp.csv')

In [ ]:
#dollar=float(input('Digite el valor actual del dolar: '))
total_mex=calamp_2630_mex['Dec_Monthly_fee'].sum()
total_peru=calamp_2630_per['Dec_Monthly_fee'].sum()
total_col=calamp_2630_col['Dec_Monthly_fee'].sum()
average_=(total_col/dollar+total_mex+total_peru)/3
print("Mex: ",total_mex,rows_calamp_2630_mex,"Peru: ",total_peru,rows_calamp_2630_per,"Colombia: ",total_col/dollar,rows_calamp_2630_col,'Total LATAM= ',total_mex+total_peru+total_col/dollar,"Average= ",average)

Mex:  7487.280000000001 274 Peru:  23145.97 1163 Colombia:  24762.75871432312 1866 Total LATAM=  55396.00871432312 Average=  18465.336238107706

Ricopollo

In [144]:
ricopollo=ubd_nf[ubd_nf['Company'].str.contains('CORPORACION RICO')]
ricopollo.info()
row_number_ricopollo=ricopollo.shape[0]
vec_aux=[]

for i in range(0,row_number_ricopollo):
    aux=ricopollo.iloc[i,14].replace(',','.')
    vec_aux.append(float(aux))
    #print(aux)
ricopollo['Dec_Monthly_fee']=vec_aux

ricopollo['Dec_Monthly_fee'].sum()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 7537 to 7663
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   127 non-null    object
 1   Company                  127 non-null    object
 2   VIP                      127 non-null    object
 3   FEIN                     127 non-null    object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      127 non-null    object
 6   Peripherals              127 non-null    object
 7   Service                  127 non-null    object
 8   Owner                    127 non-null    object
 9   Unit ID                  127 non-null    object
 10  Unit                     127 non-null    object
 11  Unit Type                127 non-null    object
 12  Carrier                  122 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              127 non-null    object
 15  Billing Group            6 non-null      object
 16  Billing Period           127 non-null    object
 17  Last Service Paid Until  127 non-null    object
 18  Service Paid Until       127 non-null    object
 19  Serial Number            127 non-null    object
 20  IMEI                     127 non-null    object
 21  Bill To                  0 non-null      object
 22  Status                   127 non-null    object
 23  Event                    127 non-null    object
 24  Assigned To Company On   127 non-null    object
 25  Last Event Date          127 non-null    object
 26  Last Contact On          127 non-null    object
 27  Last Event Address       127 non-null    object
dtypes: float64(2), object(26)
memory usage: 28.8+ KB

/tmp/ipykernel_4389/84578352.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ricopollo['Dec_Monthly_fee']=vec_aux

np.float64(3885.0)

Queclink gl300

In [126]:
gl300_col=col[col['Unit Type'].str.contains('GL 300')]
gl300_col.info()
rows_gl300_col=gl300_col.shape[0]
gl300_per=per[per['Unit Type'].str.contains('GL 300')]
gl300_per.info()
rows_gl300_per=gl300_per.shape[0]
gl300_mex=mex[mex['Unit Type'].str.contains('GL 300')]
gl300_mex.info()
rows_gl300_mex=gl300_mex.shape[0]
#gl300_col.to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr_GL300.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 207 entries, 4982 to 11905
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   207 non-null    object
 1   Company                  207 non-null    object
 2   VIP                      207 non-null    object
 3   FEIN                     207 non-null    object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      13 non-null     object
 6   Peripherals              207 non-null    object
 7   Service                  207 non-null    object
 8   Owner                    207 non-null    object
 9   Unit ID                  207 non-null    object
 10  Unit                     207 non-null    object
 11  Unit Type                207 non-null    object
 12  Carrier                  206 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              207 non-null    object
 15  Billing Group            5 non-null      object
 16  Billing Period           207 non-null    object
 17  Last Service Paid Until  207 non-null    object
 18  Service Paid Until       207 non-null    object
 19  Serial Number            207 non-null    object
 20  IMEI                     207 non-null    object
 21  Bill To                  23 non-null     object
 22  Status                   207 non-null    object
 23  Event                    120 non-null    object
 24  Assigned To Company On   207 non-null    object
 25  Last Event Date          207 non-null    object
 26  Last Contact On          207 non-null    object
 27  Last Event Address       207 non-null    object
 28  Dec_Monthly_fee          207 non-null    float64
dtypes: float64(3), object(26)
memory usage: 48.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 9311 to 20872
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   40 non-null     object
 1   Company                  40 non-null     object
 2   VIP                      40 non-null     object
 3   FEIN                     40 non-null     object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      20 non-null     object
 6   Peripherals              40 non-null     object
 7   Service                  40 non-null     object
 8   Owner                    40 non-null     object
 9   Unit ID                  40 non-null     object
 10  Unit                     40 non-null     object
 11  Unit Type                40 non-null     object
 12  Carrier                  34 non-null     object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              40 non-null     object
 15  Billing Group            12 non-null     object
 16  Billing Period           38 non-null     object
 17  Last Service Paid Until  40 non-null     object
 18  Service Paid Until       40 non-null     object
 19  Serial Number            40 non-null     object
 20  IMEI                     40 non-null     object
 21  Bill To                  0 non-null      object
 22  Status                   40 non-null     object
 23  Event                    39 non-null     object
 24  Assigned To Company On   40 non-null     object
 25  Last Event Date          40 non-null     object
 26  Last Contact On          40 non-null     object
 27  Last Event Address       40 non-null     object
 28  Dec_Monthly_fee          40 non-null     float64
dtypes: float64(3), object(26)
memory usage: 9.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 100 to 11433
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   7 non-null      object
 1   Company                  7 non-null      object
 2   VIP                      7 non-null      object
 3   FEIN                     5 non-null      object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      0 non-null      object
 6   Peripherals              7 non-null      object
 7   Service                  7 non-null      object
 8   Owner                    7 non-null      object
 9   Unit ID                  7 non-null      object
 10  Unit                     7 non-null      object
 11  Unit Type                7 non-null      object
 12  Carrier                  7 non-null      object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              7 non-null      object
 15  Billing Group            0 non-null      object
 16  Billing Period           7 non-null      object
 17  Last Service Paid Until  7 non-null      object
 18  Service Paid Until       7 non-null      object
 19  Serial Number            7 non-null      object
 20  IMEI                     7 non-null      object
 21  Bill To                  0 non-null      object
 22  Status                   7 non-null      object
 23  Event                    7 non-null      object
 24  Assigned To Company On   7 non-null      object
 25  Last Event Date          7 non-null      object
 26  Last Contact On          7 non-null      object
 27  Last Event Address       7 non-null      object
 28  Dec_Monthly_fee          7 non-null      float64
dtypes: float64(3), object(26)
memory usage: 1.6+ KB

In [127]:
#dollar=float(input('Digite el valor actual del dolar: '))
total_mex_gl300=gl300_mex['Dec_Monthly_fee'].sum()
total_peru_gl300=gl300_per['Dec_Monthly_fee'].sum()
total_col_gl300=gl300_col['Dec_Monthly_fee'].sum()
print('Mexico: ',total_mex_gl300,',',rows_gl300_mex,'Peru: ',total_peru_gl300,',',rows_gl300_per,',','Colombia: ',total_col_gl300/dollar,rows_gl300_col,'Mrr Total: ',total_col_gl300/dollar+total_mex_gl300+total_peru_gl300,',',rows_gl300_col+rows_gl300_per+rows_gl300_mex)

Mexico:  189.93 , 7 Peru:  923.3299999999998 , 40 , Colombia:  1578.9804032469233 207 Mrr Total:  2692.240403246923 , 254