In [1]:
import pandas as pd
import numpy as np

In [3]:
ubd=pd.read_csv('/home/jlhb1984/py-projects/data/Osignermin/UnitsByDealer.csv',sep=';',encoding='latin1')
ubd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7312 entries, 0 to 7311
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Dealer               7312 non-null   object
 1   Company              7312 non-null   object
 2   VIP                  7312 non-null   bool
 3   FEIN                 7312 non-null   object
 4   DNI                  3152 non-null   object
 5   Peripherals          7312 non-null   object
 6   Service Name         5737 non-null   object
 7   Owner                7312 non-null   object
 8   Unit ID              7312 non-null   object
 9   Unit                 7311 non-null   object
 10  Unit Type            7312 non-null   object
 11  Carrier              6802 non-null   object
 12  Monthly Fee          7312 non-null   object
 13  Billing Group        3449 non-null   object
 14  Billing Period       7212 non-null   object
 15  Last Srv Paid Until  7312 non-null   object
 16  Service Paid Until   7312 non-null   object
 17  Serial #             6954 non-null   object
 18  Phone Number         5444 non-null   object
 19  Sim Number           6208 non-null   object
 20  IMEI                 6949 non-null   object
 21  Bill To              394 non-null    object
 22  Status               7312 non-null   object
 23  Last Event           6828 non-null   object
 24  Assigned To Company  7312 non-null   object
 25  Last Event Date      7312 non-null   object
 26  Last Contact On      7312 non-null   object
 27  Last Event Address   6921 non-null   object
dtypes: bool(1), object(27)
memory usage: 1.5+ MB

In [16]:
fuel_units=ubd[ubd['Company'].str.contains('DRAGON')]
fuel_units.info()
fuel_units['Company'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 142 to 1075
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Dealer               12 non-null     object
 1   Company              12 non-null     object
 2   VIP                  12 non-null     bool
 3   FEIN                 12 non-null     object
 4   DNI                  12 non-null     object
 5   Peripherals          12 non-null     object
 6   Service Name         12 non-null     object
 7   Owner                12 non-null     object
 8   Unit ID              12 non-null     object
 9   Unit                 12 non-null     object
 10  Unit Type            12 non-null     object
 11  Carrier              10 non-null     object
 12  Monthly Fee          12 non-null     object
 13  Billing Group        2 non-null      object
 14  Billing Period       11 non-null     object
 15  Last Srv Paid Until  12 non-null     object
 16  Service Paid Until   12 non-null     object
 17  Serial #             12 non-null     object
 18  Phone Number         12 non-null     object
 19  Sim Number           12 non-null     object
 20  IMEI                 12 non-null     object
 21  Bill To              0 non-null      object
 22  Status               12 non-null     object
 23  Last Event           12 non-null     object
 24  Assigned To Company  12 non-null     object
 25  Last Event Date      12 non-null     object
 26  Last Contact On      12 non-null     object
 27  Last Event Address   12 non-null     object
dtypes: bool(1), object(27)
memory usage: 2.6+ KB

Company
EMPRESA DE TRANSPORTES DRAGON SAC    11
BLUEDRAGON CORPORATION S.A.C.         1
Name: count, dtype: int64