In [10]:
import pandas as pd
import numpy as np

In [11]:
enrunr08=pd.read_csv('/home/jlhb1984/py-projects/data/pronavicola/Engine Runtime Report.csv')
enrunr08.rename(columns={'Textbox8':'Address','textbox32':'Time1'},inplace=True)

In [12]:
enrunr08.head(5)

,GroupName,UnitName,StartTime,Address,StopTime,StopLengthSecs,ContactName,Time1,StopLengthSecs_1
0,NaN,Unit: SSK857,1/08/2025 6:01:17 a.m.,LAVADO\r\nCalle 8 Guadalajara de Buga Valle d...,1/08/2025 6:07:07 a.m.,00h:05m:50s,OFICINAS BUGA\r\nCalle 8 Guadalajara de Buga ...,133h:06m:16s,8901h:59m:38s
1,NaN,Unit: SSK857,1/08/2025 6:10:40 a.m.,"Cl9 23-43, Buga, Valle Cauca, COLOMBIA Valle ...",1/08/2025 7:13:43 a.m.,01h:03m:03s,Tulua - Cali Guadalajara de Buga Valle del 7...,133h:06m:16s,8901h:59m:38s
2,NaN,Unit: SSK857,1/08/2025 8:19:06 a.m.,LAVADERO LECHUGAS\r\nTulua - Cali Guadalajara...,1/08/2025 8:35:21 a.m.,00h:16m:15s,"Cl9 23-41, Buga, Valle Cauca Vca 763041",133h:06m:16s,8901h:59m:38s
3,NaN,Unit: SSK857,1/08/2025 8:38:05 a.m.,"Cl9 23-41, Buga, Valle Cauca Vca 763041",1/08/2025 8:59:26 a.m.,00h:21m:21s,Calle 8 Guadalajara de Buga Valle del 763042,133h:06m:16s,8901h:59m:38s
4,NaN,Unit: SSK857,1/08/2025 9:05:00 a.m.,"Cl9 23-41, Buga, Valle Cauca Vca 763042",1/08/2025 12:35:52 p.m.,03h:30m:52s,"Km 8 de la vía Buga - Buenaventura, , Valle de...",133h:06m:16s,8901h:59m:38s

In [13]:
enrunr08_neg=enrunr08[enrunr08['StopLengthSecs'].str.contains('-')]
enrunr08_neg

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [14]:
enrunr08_neg=enrunr08[enrunr08['Time1'].str.contains('-')]
enrunr08_neg

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [15]:
enrunr08_neg=enrunr08[enrunr08['StopLengthSecs_1'].str.contains('-')]
enrunr08_neg

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Address, StopTime, StopLengthSecs, ContactName, Time1, StopLengthSecs_1]
Index: []

In [16]:
rdu08=pd.read_csv('/home/jlhb1984/py-projects/data/pronavicola/Travels_Daily_Summary_Unified0825.csv')
rdu08.info()
red08_neg=rdu08[rdu08['OffTime'].str.contains('-')]
red08_neg

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UnitName         1320 non-null   object
 1   DayDate          1320 non-null   object
 2   Decelerations    1320 non-null   int64
 3   Accelerations    1320 non-null   int64
 4   HarshTurns       1320 non-null   int64
 5   DistanceDriven1  1320 non-null   object
 6   DriveTime        1320 non-null   object
 7   OffTime          1320 non-null   object
 8   IdleTime         1320 non-null   object
 9   Textbox17        1320 non-null   object
 10  MaxSpeed         1320 non-null   object
 11  DriverName       214 non-null    object
 12  GroupName        1230 non-null   object
dtypes: int64(3), object(10)
memory usage: 134.2+ KB

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
832,SSL289,23/08/2025,0,0,0,"83,40",1:39:23,-18:33:35,39:47:02,41:26:25,84 kph,NaN,Despachos
1126,SSL372,17/08/2025,0,0,0,"12,69",0:17:17,-14:21:50,37:20:53,37:38:10,61 kph,NaN,Despachos
1145,SSL375 VF,6/08/2025,0,0,0,"0,00",0:04:03,-1:52:37,24:03:20,24:07:23,69 kph,NaN,NaN
1250,SSL051 VF,21/08/2025,0,0,0,"0,00",0:06:31,-25:28:29,48:25:00,48:31:31,42 kph,NaN,NaN

In [17]:
hlSSL289=pd.read_csv('/home/jlhb1984/py-projects/data/pronavicola/hlSSL289.csv',sep=';',encoding='latin1')
hlSSL289['Events'].value_counts()

Events
Drive             7430
Travel Start       494
Travel Stop        494
End Speeding       419
Alta velocidad     416
Landmark IN        282
Landmark OUT       280
Idle - Stop        224
Parked             158
Ignition OFF       143
Ignition ON        142
Idle Alert         128
Geofence OUT        73
Geofence IN         72
Name: count, dtype: int64

In [18]:
hlSSL289_ignition=hlSSL289[hlSSL289['Events'].str.contains('Ignition')]
hlSSL289_ignition

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
1,10754,SSL289,Ignition OFF,Aug 30 2025 11:12 AM,NaN,"Cl. 25 #4-2 a 4-122, Cali, Cali, Valle del Cau...",0,NaN,NaN,3.458585,-76.520200
4,10751,SSL289,Ignition ON,Aug 30 2025 11:01 AM,NaN,"Cl. 25 #4-2 a 4-122, Cali, Cali, Valle del Cau...",0,NaN,NaN,3.458585,-76.520200
5,10750,SSL289,Ignition OFF,Aug 30 2025 10:36 AM,NaN,"Cl. 25 #4-2 a 4-122, Cali, Cali, Valle del Cau...",0,NaN,NaN,3.458585,-76.520200
69,10686,SSL289,Ignition ON,Aug 30 2025 08:45 AM,NaN,"Kr4 24-86, Cali, Valle Cauca",0,NaN,NaN,3.458224,-76.521044
71,10684,SSL289,Ignition OFF,Aug 30 2025 07:52 AM,NaN,"Kr4 24-81, Cali, Valle Cauca",0,NaN,NaN,3.458262,-76.521118
...,...,...,...,...,...,...,...,...,...,...,...
10250,505,SSL289,Ignition OFF,Aug 01 2025 11:16 AM,OFICINAS BUGA,Calle 8,0,NaN,NaN,3.904138,-76.309091
10252,503,SSL289,Ignition ON,Aug 01 2025 11:09 AM,OFICINAS BUGA,Calle 8,0,NaN,NaN,3.903786,-76.309260
10254,501,SSL289,Ignition OFF,Aug 01 2025 11:08 AM,OFICINAS BUGA,Calle 8,0,NaN,NaN,3.903789,-76.309262
10644,111,SSL289,Ignition ON,Aug 01 2025 03:46 AM,NaN,"Vías Terminal Del Nte., Medellín, Antioquia, C...",0,NaN,NaN,6.279985,-75.570133
10646,109,SSL289,Ignition OFF,Aug 01 2025 03:04 AM,NaN,"Kr64a 78-15, Medellin, Antioquia",0,NaN,NaN,6.279933,-75.570094