In [2]:
import pandas as pd
import numpy as np

In [2]:
lely_pm=pd.read_csv('/home/jlhb1984/py-projects/data/lely/lely_pm_devices.csv')
lely_pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     61 non-null     int64
 1   Label                  61 non-null     object
 2   Status                 61 non-null     object
 3   Reference              61 non-null     object
 4   Manufacturer           61 non-null     object
 5   Model                  61 non-null     object
 6   Group                  0 non-null      float64
 7   Serial                 61 non-null     object
 8   IMEI                   61 non-null     int64
 9   GPS Unit ESN           0 non-null      float64
 10  Camera ESN             0 non-null      float64
 11  SIM #                  61 non-null     object
 12  SIM Phone              61 non-null     int64
 13  Network                20 non-null     object
 14  SIM Provider Account   61 non-null     object
 15  SIM Provider           61 non-null     object
 16  Unit Time              54 non-null     object
 17  Server Time            54 non-null     object
 18  Last Message Time      54 non-null     object
 19  Age                    54 non-null     object
 20  Firmware               1 non-null      object
 21  Hardware Version       1 non-null      object
 22  Mode                   1 non-null      object
 23  Show In Web            61 non-null     object
 24  Installed              61 non-null     object
 25  Installed On           61 non-null     object
 26  Diagnostic Score       0 non-null      float64
 27  Diagnostic Updated on  0 non-null      float64
 28  Health Score           61 non-null     float64
 29  Live Mode              1 non-null      object
 30  Battery Level          0 non-null      float64
 31  VIN                    0 non-null      float64
 32  Last Event             54 non-null     object
 33  Tags                   61 non-null     object
 34  Paired Unit            0 non-null      float64
 35  Billing Account        0 non-null      float64
 36  Address                54 non-null     object
dtypes: float64(10), int64(3), object(24)
memory usage: 17.8+ KB

BRAHAMAN

In [3]:
brahman_devices=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/devices_12112025.csv')
brahman_devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     28 non-null     int64
 1   Label                  28 non-null     object
 2   Status                 28 non-null     object
 3   Reference              28 non-null     int64
 4   Manufacturer           28 non-null     object
 5   Model                  28 non-null     object
 6   Group                  0 non-null      float64
 7   Serial                 28 non-null     object
 8   IMEI                   28 non-null     int64
 9   GPS Unit ESN           10 non-null     float64
 10  Camera ESN             10 non-null     object
 11  SIM #                  28 non-null     object
 12  SIM Phone              28 non-null     int64
 13  Network                0 non-null      float64
 14  SIM Provider Account   28 non-null     object
 15  SIM Provider           28 non-null     object
 16  Unit Time              27 non-null     object
 17  Server Time            27 non-null     object
 18  Last Message Time      27 non-null     object
 19  Age                    27 non-null     object
 20  Firmware               14 non-null     object
 21  Hardware Version       15 non-null     object
 22  Mode                   15 non-null     object
 23  Show In Web            28 non-null     object
 24  Installed              28 non-null     object
 25  Installed On           28 non-null     object
 26  Diagnostic Score       0 non-null      float64
 27  Diagnostic Updated on  0 non-null      float64
 28  Health Score           28 non-null     float64
 29  Live Mode              15 non-null     object
 30  Battery Level          0 non-null      float64
 31  VIN                    0 non-null      float64
 32  Last Event             27 non-null     object
 33  Tags                   28 non-null     object
 34  Paired Unit            0 non-null      float64
 35  Billing Account        0 non-null      float64
 36  Address                27 non-null     object
dtypes: float64(10), int64(4), object(23)
memory usage: 8.2+ KB

In [4]:
tracked_cameras=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/SEGUIMIENTO INSTALACIONES BRAHMAN.csv',sep=';',encoding='latin1')
#Las cámaras en PM se les debe agregar la palabra Air2 a la placa:
tracked_cameras_filter=tracked_cameras[['Placa','Cantidad equipos instalados','Observaciones ']]
tracked_cameras_filter['Placa']=tracked_cameras['Placa']+" AIR2"
tracked_cameras_filter.to_csv('/home/jlhb1984/py-projects/data/brahman/inst_file.csv')

/tmp/ipykernel_901/2293873014.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracked_cameras_filter['Placa']=tracked_cameras['Placa']+" AIR2"

In [5]:
cameras_to_report=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/imeis.csv')
cameras_to_report.drop('Unnamed: 0',axis=1,inplace=True)
cameras_to_report.rename(columns={'FIELD01':'Number_plate','FIELD02':'Comments','FIELD03':'Serial','FIELD04':'IMEI','FIELD05':'Accesories'}, inplace=True)
cameras_to_report

,Number_plate,Comments,Serial,IMEI,Accesories
0,LQK053 AIR2,Instalada - Camara principal y auxiliar OK - G...,8B5141XA,16554005079742,1 camara principal - 2 auxiliares
1,LQK054 AIR2,Instalada - Camara principal ok - camara auxil...,8B5141WA,16554005061658,1 camara principal - 2 auxiliares
2,NOY423 AIR2,Instalada - Camara principal y auxiliar OK - G...,8B51421T,16554005037377,1 camara principal - 2 auxiliares
3,NOY424 AIR2,Instalada - Camara principal y auxiliar OK - G...,8B5141XP,16554005070980,1 camara principal - 2 auxiliares
4,TDL795 AIR2,"Instalada - solo sale camara principal, no sal...",8B5141YB,16554005036999,1 camara principal - 2 auxiliares
5,SMR198 AIR2,Instalada - camara principal ok - no salen las...,8B51427M,16554005048580,1 camara principal - 2 auxiliares
6,SXY625 AIR2,Instalada - no salen las camaras,8B51423W,16554005062862,1 camara principal - 2 auxiliares
7,TDL797 AIR2,Instalada - no salen las camaras,8B5141XF,16554005071087,1 camara principal - 2 auxiliares
8,SXZ756 AIR2,Instalada - no salen las camaras,8B51420H,16554005063357,1 camara principal - 2 auxiliares
9,TDL796 AIR2,Instalada - no salen las camaras,8B51423S,16554005058753,1 camara principal - 2 auxiliares

In [6]:
customer_units={'8B5141XA':'2 aux cameras inverted',
                '8B5141WA':'Camera is not showing aux cameras',
                '8B51421T':'Offline',
                '8B5141XP':'2 aux cameras inverted',
                '8B5141YB':'Camera is not showing aux cameras',
                '8B51427M':'Camera is not showing aux cameras',
                '8B51423W':'Aux cameras Ok',
                '8B5141XF':'Offline',
                '8B51420H':'Connection issues',
                '8B51423S':'Offline'
                }
customer_units

{'8B5141XA': '2 aux cameras inverted',
 '8B5141WA': 'Camera is not showing aux cameras',
 '8B51421T': 'Offline',
 '8B5141XP': '2 aux cameras inverted',
 '8B5141YB': 'Camera is not showing aux cameras',
 '8B51427M': 'Camera is not showing aux cameras',
 '8B51423W': 'Aux cameras Ok',
 '8B5141XF': 'Offline',
 '8B51420H': 'Connection issues',
 '8B51423S': 'Offline'}

12-11-2025:
Hice configuración por defecto. Orientación de las auxiliares Normal.

In [7]:
cameras_reporting=pd.read_csv('/home/jlhb1984/py-projects/data/brahman/ddevices.csv')
cameras_reporting.info()
cameras_reporting.fillna('Empty',inplace=True)
cameras_reporting_filter=cameras_reporting[['Label','Last Message Time','Battery Level','IMEI','Serial']]
cameras_reporting_1311=cameras_reporting_filter[cameras_reporting_filter['Last Message Time'].str.contains('2025/11/13')]
cameras_reporting_1311_AIR2=cameras_reporting_1311[cameras_reporting_1311['Label'].str.contains('AIR2')]
cameras_reporting_1311_AIR2

/tmp/ipykernel_901/1055578942.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Empty' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cameras_reporting.fillna('Empty',inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     28 non-null     int64
 1   Label                  28 non-null     object
 2   Status                 28 non-null     object
 3   Reference              28 non-null     int64
 4   Manufacturer           28 non-null     object
 5   Model                  28 non-null     object
 6   Group                  0 non-null      float64
 7   Serial                 28 non-null     object
 8   IMEI                   28 non-null     int64
 9   GPS Unit ESN           10 non-null     float64
 10  Camera ESN             10 non-null     object
 11  SIM #                  28 non-null     object
 12  SIM Phone              28 non-null     int64
 13  Network                0 non-null      float64
 14  SIM Provider Account   28 non-null     object
 15  SIM Provider           28 non-null     object
 16  Unit Time              27 non-null     object
 17  Server Time            27 non-null     object
 18  Last Message Time      27 non-null     object
 19  Age                    27 non-null     object
 20  Firmware               14 non-null     object
 21  Hardware Version       15 non-null     object
 22  Mode                   15 non-null     object
 23  Show In Web            28 non-null     object
 24  Installed              28 non-null     object
 25  Installed On           28 non-null     object
 26  Diagnostic Score       0 non-null      float64
 27  Diagnostic Updated on  0 non-null      float64
 28  Health Score           28 non-null     float64
 29  Live Mode              15 non-null     object
 30  Battery Level          0 non-null      float64
 31  VIN                    0 non-null      float64
 32  Last Event             27 non-null     object
 33  Tags                   28 non-null     object
 34  Paired Unit            0 non-null      float64
 35  Billing Account        0 non-null      float64
 36  Address                27 non-null     object
dtypes: float64(10), int64(4), object(23)
memory usage: 8.2+ KB

          Label    Last Message Time Battery Level            IMEI    Serial
4   LUL144 AIR2  2025/11/13 07:35:49         Empty  16554005036569  8B5141RL
6   LQK054 AIR2  2025/11/13 08:36:51         Empty  16554005061658  8B5141WA
9   TDL795 AIR2  2025/11/13 08:35:11         Empty  16554005036999  8B5141YB
10  SXZ756 AIR2  2025/11/13 08:36:30         Empty  16554005063357  8B51420H
12  NOY423 AIR2  2025/11/13 08:34:09         Empty  16554005037377  8B51421T
14  LQK053 AIR2  2025/11/13 08:36:36         Empty  16554005079742  8B5141XA
15  NOY424 AIR2  2025/11/13 08:36:11         Empty  16554005070980  8B5141XP
18  SMR198 AIR2  2025/11/13 08:35:26         Empty  16554005048580  8B51427M
20  LUM169 AIR2  2025/11/13 08:35:51         Empty  16554005036940  8B51426S
21  TDL797 AIR2  2025/11/13 08:35:55         Empty  16554005071087  8B5141XF
22  LUM169 AIR2  2025/11/13 08:36:30         Empty  16554005077712  8B5141QT
23  SXY625 AIR2  2025/11/13 08:36:37         Empty  16554005062862  8B51423W

In [8]:
customer_units_131120251123={
                '8B5141XA':['LQK053','2 aux cameras inverted','Angle=Upside down'],
                '8B5141WA':['LQK054','Camera is not showing aux cameras','AuxCamDisconnected 13-11-2025','Luis informed that AuxCameras are felt. Technician will do a service on Saturday'],
                '8B51421T':['NOY423','Offline','Angle=Upside down'],
                '8B5141XP':['NOY424','2 aux cameras ok','Angle=Upside down'],
                '8B5141YB':['TDL795','Camera is not showing aux cameras','AuxCamDisconnected 13-11-2025','Angle=Upside down'],
                '8B51427M':['SMR198','Camera is not showing aux cameras','AuxCamDisconnected 13-11-2025'],
                '8B51423W':['SXY625','Angle: Upside down'],
                '8B5141XF':['TDL797','On line','AuxCamDisconnected 13-11-2025'],
                '8B51420H':['SXZ756','Connection issues','I can not watch videos. Ignition Off'],
                '8B51423S':['TDL796','Off line']
                }
customer_units_131120251123

{'8B5141XA': ['LQK053', '2 aux cameras inverted', 'Angle=Upside down'],
 '8B5141WA': ['LQK054',
  'Camera is not showing aux cameras',
  'AuxCamDisconnected 13-11-2025',
  'Luis informed that AuxCameras are felt. Technician will do a service on Saturday'],
 '8B51421T': ['NOY423', 'Offline', 'Angle=Upside down'],
 '8B5141XP': ['NOY424', '2 aux cameras ok', 'Angle=Upside down'],
 '8B5141YB': ['TDL795',
  'Camera is not showing aux cameras',
  'AuxCamDisconnected 13-11-2025',
  'Angle=Upside down'],
 '8B51427M': ['SMR198',
  'Camera is not showing aux cameras',
  'AuxCamDisconnected 13-11-2025'],
 '8B51423W': ['SXY625', 'Angle: Upside down'],
 '8B5141XF': ['TDL797', 'On line', 'AuxCamDisconnected 13-11-2025'],
 '8B51420H': ['SXZ756',
  'Connection issues',
  'I can not watch videos. Ignition Off'],
 '8B51423S': ['TDL796', 'Off line']}

03-12-2025:

In [6]:
customer_units_131120251123={
                'Serial':['Plate','Aux cameras','Angle=','Comment'],
                '8B51427M':['Without Aux Cameras'],
                '8B51421T':['With Aux Cameras OK'],
                '8B51426S':['With Aux Cameras OK'],
                '8B5141XA':['With Aux Cameras OK'],
                '8B51420H':['With Aux Cameras OK'],
                '8B5141WA':['With Aux Cameras OK'],
                '8B5141RL':['Offline'],
                '8B5141XP':['With Aux Cameras OK'],
                '8B5141QT':['Offline'],
                '8B51423W':['Offline'],
                '8B5141XF':['Offline'],
                '8B51429C':['Offline'],
                '8B51427V':['Offline'],
                '8B5141YB':['Without Aux Cameras'],
                '8B514229':['Without Aux Cameras'],
                '8B51423U':['Offline'],
                '8B514220':['Offline'],
                '8B5141VQ':['Offline'],
                '8B51423S':['Offline'],
                '8B514285':['Offilne']                
                }
customer_units_131120251123

{'Serial': ['Plate', 'Aux cameras', 'Angle=', 'Comment'],
 '8B51427M': ['Without Aux Cameras'],
 '8B51421T': ['With Aux Cameras OK'],
 '8B51426S': ['With Aux Cameras OK'],
 '8B5141XA': ['With Aux Cameras OK'],
 '8B51420H': ['With Aux Cameras OK'],
 '8B5141WA': ['With Aux Cameras OK'],
 '8B5141RL': ['Offline'],
 '8B5141XP': ['With Aux Cameras OK'],
 '8B5141QT': ['Offline'],
 '8B51423W': ['Offline'],
 '8B5141XF': ['Offline'],
 '8B51429C': ['Offline'],
 '8B51427V': ['Offline'],
 '8B5141YB': ['Without Aux Cameras'],
 '8B514229': ['Without Aux Cameras'],
 '8B51423U': ['Offline'],
 '8B514220': ['Offline'],
 '8B5141VQ': ['Offline'],
 '8B51423S': ['Offline'],
 '8B514285': ['Offilne']}

Distribuidora continental

In [3]:
cu_dist_cont=pd.read_csv('/home/jlhb1984/py-projects/data/dist_cont/dist_cont.csv',sep=';',encoding='latin1')
cu_dist_cont.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       15 non-null     int64
 1   Owner                    15 non-null     object
 2   Unit ID                  15 non-null     object
 3   Unit                     15 non-null     object
 4   Peripherals              0 non-null      float64
 5   BillingPeriod            15 non-null     object
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            0 non-null      float64
 9   Last Event Date          15 non-null     object
 10  Monthly Fee              15 non-null     object
 11  Bill To                  0 non-null      float64
 12  Assigned To              15 non-null     object
 13  Linked Mode              15 non-null     int64
 14  Paired GPS               0 non-null      float64
 15  Paired Camera            0 non-null      float64
 16  Billable                 15 non-null     object
 17  RMA                      15 non-null     object
 18  Unit Type                15 non-null     object
 19  IMEI                     15 non-null     object
 20  Serial Number            15 non-null     object
 21  Phone Number             15 non-null     int64
 22  Carrier                  15 non-null     object
 23  SIM #                    15 non-null     int64
 24  VIN                      0 non-null      float64
 25  License Plate            8 non-null      object
 26  Static IP                0 non-null      float64
 27  Event                    15 non-null     object
 28  Last Contact On          15 non-null     object
 29  Min                      15 non-null     int64
 30  Server IP                15 non-null     object
 31  Server Port              15 non-null     int64
 32  Last Event Address       15 non-null     object
 33  Modem                    15 non-null     object
 34  Inv #                    15 non-null     object
 35  Status                   15 non-null     object
 36  Last Service Paid Until  15 non-null     object
 37  Service Paid Until       15 non-null     object
 38  Assigned to Company      15 non-null     object
 39  IFTA                     15 non-null     object
 40  History Months           15 non-null     int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         15 non-null     object
 43  Script                   0 non-null      float64
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 7 non-null      object
dtypes: float64(14), int64(7), object(27)
memory usage: 5.8+ KB

In [4]:
cu_dist_cont271125_vf=cu_dist_cont[cu_dist_cont['Unit Type'].str.contains('Fleet')]
#cu_261125_vf.info()
cu_dist_cont271125_vf_f=cu_dist_cont271125_vf[['Unit','Last Event Date','IMEI']]
cu_dist_cont271125_vf_f

            Unit Last Event Date      IMEI
0   Z8V-712 AIR2      29/10/2025  8B5141RD
3   CFI-942 AIR2      29/10/2025  8B5141SH
5   CFI-908 AIR2      29/10/2025  8B51429A
7   CDW-714 AIR2      31/10/2025  8B5141RH
9   CDV-777 AIR2      31/10/2025  8B5141WT
11  BHB-869 AIR2      31/10/2025  8B5141QY
13  ACG-780 AIR2      30/10/2025  8B5141T7

In [11]:
cu_dist_cont271125_vf_f['IMEI'].to_csv('/home/jlhb1984/py-projects/data/dist_cont/cu_dist_cont271125_IMEI.csv')

CAODEL

In [12]:
cu_261125=pd.read_csv('/home/jlhb1984/py-projects/data/caodel/cu.csv',sep=';',encoding='latin1')
cu_261125_vf=cu_261125[cu_261125['Unit Type'].str.contains('Fleet')]
#cu_261125_vf.info()
cu_261125_vf_f=cu_261125_vf[['Unit','Last Event Date','IMEI']]
cu_261125_vf_f

           Unit Last Event Date      IMEI
0     ZNO217 VF      26/11/2025  6B3101CR
2     ZNO175 VF      26/11/2025  6B301A8W
4     ZNO099 VF      26/11/2025  6B301AU9
6     ZNO089 VF      26/11/2025  6B301ASM
8     ZNO054 VF      26/11/2025  6B301ABE
10    ZNN619 VF      26/11/2025  6B301AJD
12    ZNN528 VF      26/11/2025  6B301AAH
14    ZNN325 VF      26/11/2025  6B301A88
16    WBF922 VF      26/11/2025  6B301AVM
18    SXJ994 VF      26/11/2025  6B301GQ1
20    SPN021 VF      26/11/2025  6B301AL1
22    SPM976 VF      26/11/2025  6B301AUF
24    GVU207 VF      26/11/2025  6B301AQJ
26    ESZ504 VF      26/11/2025  6B301AVR
28  ESZ503 AIR2      26/11/2025  8B5141PW
30    CME628 VF      26/11/2025  6B301BPX

In [13]:
cu_261125_vf_f['IMEI'].to_csv('/home/jlhb1984/py-projects/data/caodel/cu_IMEI.csv')

C Y C TRANSPORT CORPORATION

CRM:

In [14]:
cu_cyc_271125=pd.read_csv('/home/jlhb1984/py-projects/data/cyc/cu_cyc.csv',sep=';',encoding='latin1')
cu_cyc_271125_vf=cu_cyc_271125[cu_cyc_271125['Unit Type'].str.contains('Fleet')]
#cu_261125_vf.info()
cu_cyc_271125_vf_f=cu_cyc_271125_vf[['Unit','Last Event Date','IMEI']]
cu_cyc_271125_vf_f

         Unit Last Event Date      IMEI
0  CAT-927 VF      11/11/2025  6B301400
1   BVL745 VF      11/11/2025  6B301433
2  BVK-799 VF      12/11/2025  6B3013X3
3  BPI-764 VF      12/11/2025  6B3013YN
4  BPH-940 VF      11/11/2025  6B3013ZA
5  BKR-828 VF      12/11/2025  6B30140U

PM:

In [15]:
cu_cyc_271125_pm=pd.read_csv('/home/jlhb1984/py-projects/data/cyc/cyc_pm_271125.csv',sep=';',encoding='latin1')
cu_cyc_271125_pm.info()
cu_cyc_271125_pm_vf=cu_cyc_271125_pm[cu_cyc_271125_pm['Label'].str.contains('VF')]
cu_cyc_271125_pm_vf_f=cu_cyc_271125_pm_vf[['Label','Last Message Time','Serial']]
cu_cyc_271125_pm_vf_f

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     6 non-null      int64
 1   Label                  6 non-null      object
 2   Status                 6 non-null      object
 3   Reference              6 non-null      int64
 4   Manufacturer           6 non-null      object
 5   Model                  6 non-null      object
 6   Group                  0 non-null      float64
 7   Serial                 6 non-null      object
 8   IMEI                   6 non-null      object
 9   GPS Unit ESN           0 non-null      float64
 10  Camera ESN             0 non-null      float64
 11  SIM #                  6 non-null      object
 12  SIM Phone              0 non-null      float64
 13  Network                0 non-null      float64
 14  SIM Provider Account   6 non-null      object
 15  SIM Provider           6 non-null      object
 16  Unit Time              6 non-null      object
 17  Server Time            6 non-null      object
 18  Last Message Time      6 non-null      object
 19  Age                    6 non-null      object
 20  Firmware               6 non-null      object
 21  Hardware Version       6 non-null      object
 22  Mode                   6 non-null      object
 23  Show In Web            6 non-null      object
 24  Installed              6 non-null      object
 25  Installed On           6 non-null      object
 26  Diagnostic Score       0 non-null      float64
 27  Diagnostic Updated on  0 non-null      float64
 28  Health Score           6 non-null      float64
 29  Live Mode              6 non-null      object
 30  Battery Level          0 non-null      float64
 31  VIN                    0 non-null      float64
 32  Last Event             6 non-null      object
 33  Tags                   6 non-null      object
 34  Paired Unit            0 non-null      float64
 35  Billing Account        0 non-null      float64
 36  Address                6 non-null      object
dtypes: float64(12), int64(2), object(23)
memory usage: 1.9+ KB

        Label Last Message Time    Serial
0  BPI-764 VF  27/11/2025 12:35  6B3013YN
1   BVL745 VF  27/11/2025 12:35  6B301433
2  BKR-828 VF  27/11/2025 12:34  6B30140U
3  BVK-799 VF  27/11/2025 12:34  6B3013X3
4  CAT-927 VF  27/11/2025 12:33  6B301400
5  BPH-940 VF  27/11/2025 10:56  6B3013ZA

In [16]:
cyc_vf_units_pm={
    'Device Name':['Firmware','Serial','Aux Cameras','Failure detail'],
    'BPI-764 VF':['3.21.1173','6B3013YN','NA'],
    'BVL745 VF':['3.21.1173','6B301433','NA'],
    'BKR-828 VF':['3.21.1173','6B30140U','NA'],
    'BVK-799 VF':['3.21.1173','6B3013X3','NA'],
    'CAT-927 VF':['3.21.1173','6B301400','NA'],
    'BPH-940 VF':['3.21.1173','6B3013ZA','NA']
    }
cyc_vf_units_pm

{'Device Name': ['Firmware', 'Serial', 'Aux Cameras', 'Failure detail'],
 'BPI-764 VF': ['3.21.1173', '6B3013YN', 'NA'],
 'BVL745 VF': ['3.21.1173', '6B301433', 'NA'],
 'BKR-828 VF': ['3.21.1173', '6B30140U', 'NA'],
 'BVK-799 VF': ['3.21.1173', '6B3013X3', 'NA'],
 'CAT-927 VF': ['3.21.1173', '6B301400', 'NA'],
 'BPH-940 VF': ['3.21.1173', '6B3013ZA', 'NA']}

In [17]:
cu_cyc_271125_pm_vf_f['Serial'].to_csv('/home/jlhb1984/py-projects/data/cyc/cyc_pm_271125_imei.csv')

Supercarnes

In [18]:
cu=pd.read_csv('/home/jlhb1984/py-projects/data/supercarnes/cu.csv',sep=',',encoding='latin1')
cu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     14 non-null     int64
 1   Label                  14 non-null     object
 2   Status                 14 non-null     object
 3   Reference              14 non-null     int64
 4   Manufacturer           14 non-null     object
 5   Model                  14 non-null     object
 6   Group                  0 non-null      float64
 7   Serial                 14 non-null     object
 8   IMEI                   14 non-null     int64
 9   GPS Unit ESN           7 non-null      float64
 10  Camera ESN             7 non-null      object
 11  SIM #                  14 non-null     object
 12  SIM Phone              13 non-null     float64
 13  Network                1 non-null      object
 14  SIM Provider Account   14 non-null     object
 15  SIM Provider           14 non-null     object
 16  Unit Time              14 non-null     object
 17  Server Time            14 non-null     object
 18  Last Message Time      14 non-null     object
 19  Age                    14 non-null     object
 20  Firmware               7 non-null      object
 21  Hardware Version       7 non-null      object
 22  Mode                   7 non-null      object
 23  Show In Web            14 non-null     object
 24  Installed              14 non-null     object
 25  Installed On           14 non-null     object
 26  Diagnostic Score       0 non-null      float64
 27  Diagnostic Updated on  0 non-null      float64
 28  Health Score           14 non-null     float64
 29  Live Mode              7 non-null      object
 30  Battery Level          0 non-null      float64
 31  VIN                    0 non-null      float64
 32  Last Event             14 non-null     object
 33  Tags                   14 non-null     object
 34  Paired Unit            0 non-null      float64
 35  Billing Account        0 non-null      float64
 36  Address                14 non-null     object
dtypes: float64(10), int64(3), object(24)
memory usage: 4.2+ KB

In [19]:
cu['Manufacturer'].value_counts()

Manufacturer
VidFleet    7
Queclink    5
CalAmp      1
TopFly      1
Name: count, dtype: int64

In [20]:
cu_vf=cu[cu['Manufacturer'].str.contains('VidFleet')]
cu_vf['Serial'].to_csv('/home/jlhb1984/py-projects/data/supercarnes/cu_imei.csv')

In [21]:
cu_vf[['Serial','Last Message Time','Label','Firmware']]

      Serial    Last Message Time        Label  Firmware
0   8B5141T8  2025/11/27 16:53:14  JYX546 AIR2  3.28.839
1   8B5141US  2025/11/27 16:52:11  TMZ835 AIR2  3.28.839
4   8B5141QF  2025/11/27 16:51:50  JYX459 AIR2  3.28.839
6   8B51422Y  2025/11/27 16:53:28  WLX333 AIR2  3.28.839
8   8B514277  2025/11/27 16:43:59  WMO876 AIR2  3.28.839
10  8B5141PM  2025/11/27 16:52:42  WMP712 AIR2  3.28.839
12  8B51425B  2025/11/27 15:18:51  SNN257 AIR2  3.28.839

In [ ]:
supercarnes_vf_units={
    'Device Name':['Firmware','Serial','Aux Cameras','Working/No working - detail'],
    'JYX546 AIR2':['3.28.839','8B5141T8','ECM03 upside down','OK'],
    'TMZ835 AIR2':['3.28.839','8B5141US','ECM03 upside down','Aux camera is not showed. Aux cam disconnected 27-11-2025.'],
    'JYX459 AIR2':['3.28.839','8B5141QF','ECM03 upside down','Aux camera is not showed. Aux cam disconnected 27-11-2025. '],
    'WLX333 AIR2':['3.28.839','8B51422Y','ECM03 upside down','OK'],
    'WMO876 AIR2':['3.28.839','8B514277','ECM03 upside down','OK'],
    'WMP712 AIR2':['3.28.839','8B5141PM','ECM03 upside down','Camera offline'],
    'SNN257 AIR2':['3.28.839','8B51425B','ECM03 upside down','OK']
    }
supercarnes_vf_units

Punto Cardinal de Oriente.

In [22]:
cu_271125=pd.read_csv('/home/jlhb1984/py-projects/data/punto_cardinal/cu.csv',sep=';',encoding='latin1')
cu_271125.info()
cu_271125_vf=cu_271125[cu_271125['Unit Type'].str.contains('Fleet')]
cu_271125_vf_f=cu_271125_vf[['Unit','Last Event Date','IMEI']]
cu_271125_vf_f

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       8 non-null      int64
 1   Owner                    8 non-null      object
 2   Unit ID                  8 non-null      object
 3   Unit                     8 non-null      object
 4   Peripherals              0 non-null      float64
 5   BillingPeriod            8 non-null      object
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            0 non-null      float64
 9   Last Event Date          8 non-null      object
 10  Monthly Fee              8 non-null      int64
 11  Bill To                  0 non-null      float64
 12  Assigned To              8 non-null      object
 13  Linked Mode              8 non-null      int64
 14  Paired GPS               2 non-null      object
 15  Paired Camera            2 non-null      object
 16  Billable                 8 non-null      object
 17  RMA                      8 non-null      object
 18  Unit Type                8 non-null      object
 19  IMEI                     8 non-null      object
 20  Serial Number            8 non-null      object
 21  Phone Number             8 non-null      int64
 22  Carrier                  8 non-null      object
 23  SIM #                    8 non-null      int64
 24  VIN                      0 non-null      float64
 25  License Plate            0 non-null      float64
 26  Static IP                0 non-null      float64
 27  Event                    8 non-null      object
 28  Last Contact On          8 non-null      object
 29  Min                      8 non-null      int64
 30  Server IP                8 non-null      object
 31  Server Port              8 non-null      int64
 32  Last Event Address       8 non-null      object
 33  Modem                    8 non-null      object
 34  Inv #                    8 non-null      object
 35  Status                   8 non-null      object
 36  Last Service Paid Until  8 non-null      object
 37  Service Paid Until       8 non-null      object
 38  Assigned to Company      8 non-null      object
 39  IFTA                     8 non-null      object
 40  History Months           8 non-null      int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         8 non-null      object
 43  Script                   0 non-null      float64
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 4 non-null      object
dtypes: float64(13), int64(8), object(27)
memory usage: 3.1+ KB

          Unit Last Event Date      IMEI
0  WCP099 AIR2      11/11/2025  8B51421A
2  TJZ247 AIR2      12/11/2025  8B51420C
4  SNN624 AIR2      12/11/2025  8B514269
6  NLW262 AIR2      12/11/2025  8B5141Y9

In [23]:
vf_units={
    'Device Name':['Firmware','Serial','Aux Cameras','Failure detail'],
    'WCP099 AIR2':['3.28.839','8B51421A','ECM03 normal','Ignition Off'],
    'TJZ247 AIR2':['3.28.839','8B51420C','ECM03 normal','No aux cameras vision'],
    'SNN624 AIR2':['3.28.839','8B514269','ECM03 normal','No aux cameras vision'],
    'NLW262 AIR2':['3.28.839','8B5141Y9','NA']                   
    }
vf_units

{'Device Name': ['Firmware', 'Serial', 'Aux Cameras', 'Failure detail'],
 'WCP099 AIR2': ['3.28.839', '8B51421A', 'ECM03 normal', 'Ignition Off'],
 'TJZ247 AIR2': ['3.28.839',
  '8B51420C',
  'ECM03 normal',
  'No aux cameras vision'],
 'SNN624 AIR2': ['3.28.839',
  '8B514269',
  'ECM03 normal',
  'No aux cameras vision'],
 'NLW262 AIR2': ['3.28.839', '8B5141Y9', 'NA']}

Logictrans

In [3]:
ufq971=pd.read_csv('/home/jlhb1984/py-projects/data/logictrans/ufq971.csv')
ufq971.info()
ufq971['Raw Event'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3548 entries, 0 to 3547
Data columns (total 50 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Row Id                     3548 non-null   int64
 1   Sequence #                 0 non-null      float64
 2   Server Time                3548 non-null   object
 3   Unit Time                  3548 non-null   object
 4   Last Message Time          3548 non-null   object
 5   Latitude                   3548 non-null   float64
 6   Longitude                  3548 non-null   float64
 7   Driver Name                0 non-null      float64
 8   Event Name                 3548 non-null   object
 9   Raw Event                  3548 non-null   object
 10  Address                    3548 non-null   object
 11  GPS Speed                  3056 non-null   float64
 12  ECU Speed                  0 non-null      float64
 13  Speed Limit                1559 non-null   float64
 14  Heading                    3510 non-null   float64
 15  Ignition Status            3548 non-null   object
 16  Notification Type          3548 non-null   object
 17  Trip Id                    3536 non-null   object
 18  Picture Id                 1101 non-null   float64
 19  Event Category             26 non-null     object
 20  Event Level                26 non-null     object
 21  Camera Clip Key            26 non-null     float64
 22  Camera Clip Offset         26 non-null     float64
 23  Clip Id                    26 non-null     float64
 24  Duration                   0 non-null      float64
 25  Rotate                     1101 non-null   object
 26  Camera Status              0 non-null      float64
 27  Idle Status                1593 non-null   object
 28  SDCard Status              0 non-null      float64
 29  Data Usage In KB           0 non-null      float64
 30  Transaction Id             0 non-null      float64
 31  Status                     0 non-null      float64
 32  Error Msg                  0 non-null      float64
 33  Valid Time Range           0 non-null      float64
 34  Warning                    0 non-null      float64
 35  Distance                   3546 non-null   float64
 36  Accumulated Distance       1673 non-null   float64
 37  Engine Hours               3547 non-null   float64
 38  Engine Hours + Off         0 non-null      float64
 39  ECU Engine Hours           0 non-null      float64
 40  ECU Engine Hours + Off     0 non-null      float64
 41  Engine Odometer            3539 non-null   float64
 42  Engine Odometer + Off      0 non-null      float64
 43  ECU Engine Odometer        0 non-null      float64
 44  ECU Engine Odometer + Off  0 non-null      float64
 45  HDOP                       1936 non-null   float64
 46  VDOP                       0 non-null      float64
 47  RSSI                       0 non-null      float64
 48  Battery Level              0 non-null      float64
 49  Raw Data                   3548 non-null   object
dtypes: float64(35), int64(1), object(14)
memory usage: 1.4+ MB

Raw Event
GpsData.Moving                           1367
AutoSnapshot                             1092
IgnitionStatus.driving                    339
IgnitionStatus.parking                    339
TravelStart                               190
TravelStop                                185
CameraEvent.STOP_SIGN_VIOLATION             9
PowerEvent.Connect                          6
PowerEvent.Disconnect                       6
CameraEvent.FORWARD_COLLISION_WARNING       4
CameraEvent.NO_SEATBELT                     4
CameraEvent.POWER_LOST                      3
CameraEvent.USING_PHONE                     1
CameraEvent.LANE_DEPARTURE_WARNING          1
CameraEvent.POTENTIAL_INCIDENT_MEDIUM       1
GpsData.Idling                              1
Name: count, dtype: int64