In [52]:
import pandas as pd
import numpy as np

In [53]:
jg18t_1509=pd.read_csv('/home/jlhb1984/py-projects/data/wilber/hljg18t1509.csv',sep=';',encoding='latin1')
jg18t_1509.info()
jg18t_1509['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33266 entries, 0 to 33265
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     33266 non-null  int64
 1   Unit         33266 non-null  object
 2   Events       33266 non-null  object
 3   Date         33266 non-null  object
 4   Landmark     0 non-null      float64
 5   Address      33266 non-null  object
 6   Speed        33266 non-null  int64
 7   Temperature  0 non-null      float64
 8   Driver       33266 non-null  object
 9   Latitude     33266 non-null  float64
 10  Longitude    33266 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 2.8+ MB

Events
Idle - Stop         19477
Ignition ON          5810
Ignition OFF         5809
Towing/Drifting?     1022
Drive                 650
Parked                476
Speed alert            10
POWER UP                3
Ping                    3
Power OFF               3
Self Test/Reboot        3
Name: count, dtype: int64

In [54]:
jg18t_1509.head(4)

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
0,33266,JG-18T,Idle - Stop,Sep 15 2025 11:59 PM,NaN,"8X36+X6 Ibague, Tolima, Colombia",0,NaN,"Wilber Mauricio, Rodriguez Rodriguez",4.304923,-75.039407
1,33265,JG-18T,Idle - Stop,Sep 15 2025 11:58 PM,NaN,"8X36+X6 Ibague, Tolima, Colombia",0,NaN,"Wilber Mauricio, Rodriguez Rodriguez",4.304923,-75.039407
2,33264,JG-18T,Idle - Stop,Sep 15 2025 11:57 PM,NaN,"8X36+X6 Ibague, Tolima, Colombia",0,NaN,"Wilber Mauricio, Rodriguez Rodriguez",4.304923,-75.039407
3,33263,JG-18T,Idle - Stop,Sep 15 2025 11:56 PM,NaN,"8X36+X6 Ibague, Tolima, Colombia",0,NaN,"Wilber Mauricio, Rodriguez Rodriguez",4.304923,-75.039407

In [61]:
jg18t_1109=jg18t_1509[jg18t_1509['Date'].str.contains('Sep 11')]
jg18t_1109['Events'].value_counts()
#jg18t_1109.to_csv('/home/jlhb1984/py-projects/data/wilber/hljg18t1109.csv')

Events
Ignition ON         1301
Ignition OFF        1301
Idle - Stop         1227
Towing/Drifting?     222
Parked               175
Drive                 72
Name: count, dtype: int64

In [56]:
jg18t_2509=pd.read_csv('/home/jlhb1984/py-projects/data/wilber/hljg18t2509.csv',sep=';',encoding='latin1')
jg18t_2509.info()
jg18t_2509['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39607 entries, 0 to 39606
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     39607 non-null  int64
 1   Unit         39607 non-null  object
 2   Events       39607 non-null  object
 3   Date         39607 non-null  object
 4   Landmark     0 non-null      float64
 5   Address      39607 non-null  object
 6   Speed        39607 non-null  int64
 7   Temperature  0 non-null      float64
 8   Driver       6771 non-null   object
 9   Latitude     39607 non-null  float64
 10  Longitude    39607 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 3.3+ MB

Events
Idle - Stop         13921
Ignition ON         11013
Ignition OFF        11011
Towing/Drifting?     2214
Parked               1438
Drive                   2
Ping                    2
POWER UP                2
Power OFF               2
Self Test/Reboot        2
Name: count, dtype: int64

In [57]:
jg18t_3009=pd.read_csv('/home/jlhb1984/py-projects/data/wilber/hljg18t3009.csv',sep=';',encoding='latin1')
jg18t_3009.info()
jg18t_3009['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22300 entries, 0 to 22299
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     22300 non-null  int64
 1   Unit         22300 non-null  object
 2   Events       22300 non-null  object
 3   Date         22300 non-null  object
 4   Landmark     0 non-null      float64
 5   Address      22300 non-null  object
 6   Speed        22300 non-null  int64
 7   Temperature  0 non-null      float64
 8   Driver       2020 non-null   object
 9   Latitude     22300 non-null  float64
 10  Longitude    22300 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 1.9+ MB

Events
Ignition ON         6783
Ignition OFF        6783
Idle - Stop         6668
Towing/Drifting?    1293
Parked               769
Ping                   1
POWER UP               1
Power OFF              1
Self Test/Reboot       1
Name: count, dtype: int64

In [58]:
jg18t_completed=pd.concat([jg18t_1509,jg18t_2509,jg18t_3009])
jg18t_completed.info()
jg18t_completed['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 95173 entries, 0 to 22299
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     95173 non-null  int64
 1   Unit         95173 non-null  object
 2   Events       95173 non-null  object
 3   Date         95173 non-null  object
 4   Landmark     0 non-null      float64
 5   Address      95173 non-null  object
 6   Speed        95173 non-null  int64
 7   Temperature  0 non-null      float64
 8   Driver       42057 non-null  object
 9   Latitude     95173 non-null  float64
 10  Longitude    95173 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 8.7+ MB

Events
Idle - Stop         40066
Ignition ON         23606
Ignition OFF        23603
Towing/Drifting?     4529
Parked               2683
Drive                 652
Speed alert            10
POWER UP                6
Ping                    6
Power OFF               6
Self Test/Reboot        6
Name: count, dtype: int64