In [4]:
import pandas as pd
import numpy as np

In [5]:
cu=pd.read_csv('/home/jlhb1984/py-projects/data/zamudio/cu.csv',sep=';',encoding='latin1')
cu.info()
cu['Peripherals'].fillna('Empty',inplace=True)
cu_dates_fs=cu[cu['Peripherals'].str.contains('Fuel')]
cu_fs=cu_dates_fs[['IMEI','Unit ID','Unit Type','Unit']]
cu_fs.to_csv('/home/jlhb1984/py-projects/data/zamudio/cu_fs.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       81 non-null     int64
 1   Owner                    81 non-null     object
 2   Unit ID                  81 non-null     object
 3   Unit                     81 non-null     object
 4   Peripherals              39 non-null     object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          81 non-null     object
 9   Monthly Fee              81 non-null     int64
 10  Bill To                  31 non-null     object
 11  Assigned To              81 non-null     object
 12  Linked Mode              81 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 81 non-null     object
 16  RMA                      81 non-null     object
 17  Unit Type                81 non-null     object
 18  IMEI                     81 non-null     object
 19  Serial Number            81 non-null     object
 20  Phone Number             81 non-null     int64
 21  Carrier                  80 non-null     object
 22  SIM #                    81 non-null     object
 23  VIN                      0 non-null      float64
 24  License Plate            23 non-null     object
 25  Static IP                0 non-null      float64
 26  Event                    81 non-null     object
 27  Last Contact On          81 non-null     object
 28  Min                      81 non-null     int64
 29  Server IP                81 non-null     object
 30  Server Port              81 non-null     int64
 31  Last Event Address       81 non-null     object
 32  Modem                    81 non-null     object
 33  Inv #                    81 non-null     object
 34  Status                   81 non-null     object
 35  Last Service Paid Until  81 non-null     object
 36  Service Paid Until       81 non-null     object
 37  Assigned to Company      81 non-null     object
 38  IFTA                     81 non-null     object
 39  History Months           81 non-null     int64
 40  Comments                 1 non-null      object
 41  Warranty Expires         81 non-null     object
 42  Script                   7 non-null      object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 42 non-null     object
dtypes: float64(10), int64(7), object(30)
memory usage: 29.9+ KB

/tmp/ipykernel_93967/1853739710.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cu['Peripherals'].fillna('Empty',inplace=True)

Se inició análisis de datos "Activity Report" 01-06-2025, all units.

In [13]:
ar=pd.read_csv('/home/jlhb1984/py-projects/data/zamudio/activity_report.csv')
#ar.info()
ar=ar.rename(columns={'textbox43':'Event','textbox45':'Place','textbox54':'IDK1','textbox28':'Time','textbox29':'IDK2','textbox30':'IDK3','textbox30':'IDK4','textbox32':'IDK5'})
ar.info()
ar_unitnames0106=ar[['UnitName','MilesDriven','MaxSpeed','Event']]
#ar_unitnames0106['UnitName'].value_counts()
ar_unitnames0106_no_VF=ar_unitnames0106[~ar_unitnames0106['UnitName'].str.contains('VF')]
ar_unitnames0106_no_VF['UnitName'].value_counts()
ar_unitnames0106_no_VF['Event'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          53 non-null     object
 2   StartTime         53 non-null     object
 3   MovingTimeSecs    53 non-null     object
 4   MilesDriven       48 non-null     object
 5   MaxSpeed          53 non-null     int64
 6   StopTime          53 non-null     object
 7   Event             53 non-null     object
 8   StopLengthSecs    53 non-null     object
 9   ContactName       53 non-null     object
 10  Place             53 non-null     object
 11  IDK1              53 non-null     int64
 12  Time              53 non-null     object
 13  IDK2              53 non-null     object
 14  IDK4              53 non-null     int64
 15  IDK5              53 non-null     object
 16  MovingTimeSecs_1  53 non-null     object
 17  MilesDriven_1     53 non-null     object
 18  MaxSpeed_1        53 non-null     int64
 19  StopLengthSecs_1  53 non-null     object
dtypes: float64(1), int64(4), object(15)
memory usage: 8.4+ KB

Event
Idle           18
Parked/Idle     4
Ign Off         2
Name: count, dtype: int64

El 01-06-2025 solo estuvieron en actividad las unidades LPL614 y LPL636.

## LPL614

In [5]:
lpl614=pd.read_csv('/home/jlhb1984/py-projects/data/zamudio/lpl614.csv',sep=';',encoding='latin1')
lpl614.info()
lpl614_e01_e02=lpl614[lpl614['Status'].str.contains('3E0')]
lpl614_e01_e02.info()
lpl614_e01_e02_created=lpl614_e01_e02['Created']
lpl614_e01_e02_created.to_csv('/home/jlhb1984/py-projects/data/zamudio/lpl614_fs.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  1367 non-null   object
 1   Message  1367 non-null   object
 2   Status   1367 non-null   object
dtypes: object(3)
memory usage: 32.2+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 775 entries, 2 to 1366
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  775 non-null    object
 1   Message  775 non-null    object
 2   Status   775 non-null    object
dtypes: object(3)
memory usage: 24.2+ KB

Historical locations 01-06-2025

In [ ]:
hllpl614=pd.read_csv('/home/jlhb1984/py-projects/data/zamudio/hllpl614.csv',sep=';',encoding='latin1')
hllpl614.info()
hllpl614_drive=hllpl614[hllpl614['Events'].str.contains('Drive')]
hllpl614_drive.info()
hllpl614_drive.to_csv('/home/jlhb1984/py-projects/data/zamudio/hllpl614_drive.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 837 entries, 0 to 836
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     837 non-null    int64
 1   Unit         837 non-null    object
 2   Events       837 non-null    object
 3   Date         837 non-null    object
 4   Landmark     180 non-null    object
 5   Address      837 non-null    object
 6   Speed        837 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     837 non-null    float64
 10  Longitude    837 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 72.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 332 entries, 165 to 735
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     332 non-null    int64
 1   Unit         332 non-null    object
 2   Events       332 non-null    object
 3   Date         332 non-null    object
 4   Landmark     8 non-null      object
 5   Address      332 non-null    object
 6   Speed        332 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     332 non-null    float64
 10  Longitude    332 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 31.1+ KB

In [23]:
hllpl614['Events'].value_counts()

Events
Drive             332
Parked            258
End Speeding       83
Alta velocidad     82
Idle - Stop        33
Travel Stop        17
Travel Start       17
Idle Alert          5
Ignition OFF        3
Ignition ON         3
Landmark IN         2
Harsh Turn          2
Name: count, dtype: int64

COL 01-06-2025 00:00                UTC 01-06-2025 05:00

01-06-2025 00:00                    01-06-2025 05:00 ( 05:00:47.099)        Primer evento de combustible. (Tanque1, Tanque2: 204.88, 168.06) 0x83054764343295010101047395683BDEEB683BDEEB04FAF83FD2F6EDFC000024220000000500420D02007BFFB14F09160000050024613E01071D61081F86F23E02071D010713709E3E01071D62082286DE3E02071D01071070

01-06-2025 06:06                    01-06-2025 11:06 (11:05:23.504)         Primer evento Drive (Tanque1, Tanque2: 204.98, 164.61)
0x830547643432950101010473FB683C3461683C346104FDAF53D2F52F4500002239000006E601450D02007BFF9D4F07370000050024BE3E020719E006076EB93E01071A62082186DA3E01071A66086686213E020719EB06BD6E
    
01-06-2025 13:57                    01-06-2025 18:57 (18:59:42.143)         Último evento Drive (Tanque1, Tanque2: 137.93, 81.03)
0x83054764343295010101047634683CA31F683CA31F0682361AD367852B00001DE90000006F00DA0A00007BFF9F4F08370000050024AC3E010725EB05B45EC23E010725E105175E623E020723C103133CFA3E010725EF05F45E

## LPL636

In [7]:
lpl636=pd.read_csv('/home/jlhb1984/py-projects/data/zamudio/lpl636.csv',sep=';',encoding='latin1')
lpl636.info()
lpl636_e01_e02=lpl636[lpl636['Status'].str.contains('3E0')]
lpl636_e01_e02.info()
lpl636_e01_e02_created=lpl636_e01_e02['Created']
lpl636_e01_e02_created.to_csv('/home/jlhb1984/py-projects/data/zamudio/lpl636_fs.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  630 non-null    object
 1   Message  630 non-null    object
 2   Status   630 non-null    object
dtypes: object(3)
memory usage: 14.9+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 7 to 629
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Created  614 non-null    object
 1   Message  614 non-null    object
 2   Status   614 non-null    object
dtypes: object(3)
memory usage: 19.2+ KB

Historical locations 01-06-2025

In [9]:
hllpl636=pd.read_csv('/home/jlhb1984/py-projects/data/zamudio/hllpl636.csv',sep=';',encoding='latin1')
hllpl636.info()
hllpl636_drive=hllpl636[hllpl636['Events'].str.contains('Drive')]
hllpl636_drive.info()
hllpl636_drive.to_csv('/home/jlhb1984/py-projects/data/zamudio/hllpl636_drive.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     296 non-null    int64
 1   Unit         296 non-null    object
 2   Events       296 non-null    object
 3   Date         296 non-null    object
 4   Landmark     0 non-null      float64
 5   Address      296 non-null    object
 6   Speed        296 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     296 non-null    float64
 10  Longitude    296 non-null    float64
dtypes: float64(5), int64(2), object(4)
memory usage: 25.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     0 non-null      int64
 1   Unit         0 non-null      object
 2   Events       0 non-null      object
 3   Date         0 non-null      object
 4   Landmark     0 non-null      float64
 5   Address      0 non-null      object
 6   Speed        0 non-null      int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     0 non-null      float64
 10  Longitude    0 non-null      float64
dtypes: float64(5), int64(2), object(4)
memory usage: 0.0+ bytes

COL 01-06-2025 00:00                UTC 01-06-2025 05:00

01-06-2025 07:23                    2025-06-01 12:23:20.755             Primer evento de combustible. (Tanque1, Tanque3= 0, 0)
0x83054764433477010101040005683C4634683C4634066F5DD3D370E862000002B200000042006D08000065FFA94F0D1700000500243E02FF1D5D7DC76FA58DFE3E0207FC4D1DFF9D6E26AA133E02071C6F9FF096BE4E08AC47

Sin eventos Drive.