In [7]:
import pandas as pd
import numpy as np

In [8]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/lely/cu_lely26112025_cal.csv',sep=',',encoding='latin1')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/lely/cu_lely26112025.csv',sep=',',encoding='latin1')

In [9]:
#df_book_table01=df_book_table01[['TicketID','Subject','Company']]
#df_book_table02=df_book_table02[['TicketID','Subject','Company']]

In [10]:
df_book_table01.info()
df_book_table02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7 non-null      int64
 1   Model              7 non-null      object
 2   Identifier         7 non-null      int64
 3   ICCID              7 non-null      object
 4   ESN                7 non-null      int64
 5   Script Identifier  7 non-null      float64
 6   Firmware Version   7 non-null      object
 7   IMEI               7 non-null      int64
dtypes: float64(1), int64(4), object(3)
memory usage: 580.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       54 non-null     int64
 1   IMEI             54 non-null     int64
 2   Unit             54 non-null     object
 3   Last Contact On  54 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.8+ KB

In [11]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]       
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='IMEI'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='IMEI'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table01.iloc[i,5])
            list_field02.append(df_book_table01.iloc[i,6])
            list_field03.append(df_book_table01.iloc[i,7])
            list_field04.append(df_book_table02.iloc[j,3])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['Script']=list_field01
df_aux['Firmware']=list_field02
df_aux['IMEI']=list_field03
df_aux['Last Contact On']=list_field04
print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/lely/coincidences.csv')                  #Edit
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,3]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    print(df_book_table02)
    df_book_table02.to_csv("/home/jlhb1984/py-projects/data/lely/diff")          #Edit

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7 non-null      int64
 1   Model              7 non-null      object
 2   Identifier         7 non-null      int64
 3   ICCID              7 non-null      object
 4   ESN                7 non-null      int64
 5   Script Identifier  7 non-null      float64
 6   Firmware Version   7 non-null      object
 7   IMEI               7 non-null      int64
dtypes: float64(1), int64(4), object(3)
memory usage: 580.0+ bytes
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       54 non-null     int64
 1   IMEI             54 non-null     int64
 2   Unit             54 non-null     object
 3   Last Contact On  54 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.8+ KB
None

Atributo de la tabla1:  7
Atributo de la tabla2:  1

Trabajando...
df_book_table01[i,position_table01]:  352556102091902  = df_book_table02[j,position_table02]:  352556102091902
df_book_table01[i,position_table01]:  352556102050585  = df_book_table02[j,position_table02]:  352556102050585
df_book_table01[i,position_table01]:  352556102014821  = df_book_table02[j,position_table02]:  352556102014821
df_book_table01[i,position_table01]:  352556102917452  = df_book_table02[j,position_table02]:  352556102917452
df_book_table01[i,position_table01]:  354514101459628  = df_book_table02[j,position_table02]:  354514101459628
df_book_table01[i,position_table01]:  352556102014557  = df_book_table02[j,position_table02]:  352556102014557
df_book_table01[i,position_table01]:  352556102099228  = df_book_table02[j,position_table02]:  352556102099228
Cont=  7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Script           7 non-null      float64
 1   Firmware         7 non-null      object
 2   IMEI             7 non-null      int64
 3   Last Contact On  7 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 356.0+ bytes
None