In [65]:
import pandas as pd
import numpy as np

In [66]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/cases/cases_updated.csv',sep=';',encoding='latin1')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/cases/Tickets.csv',sep=';',encoding='latin1')

In [62]:
#df_book_table01=df_book_table01[['TicketID','Subject','Company']]
#df_book_table02=df_book_table02[['TicketID','Subject','Company']]

In [67]:
df_book_table01.fillna('Empty',inplace=True)
df_book_table02.fillna('Empty',inplace=True)
df_book_table01.info()
df_book_table02.info()
#df_book_table01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TicketID       80 non-null     object
 1   Subject        80 non-null     object
 2   Dealer         80 non-null     object
 3   Company        80 non-null     object
 4   Assigned To    80 non-null     object
 5   Registered By  80 non-null     object
 6   JiraNumber     80 non-null     object
 7   Commitment     80 non-null     object
dtypes: object(8)
memory usage: 5.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             83 non-null     int64
 1   TicketID       83 non-null     object
 2   Subject        83 non-null     object
 3   Date Opened    83 non-null     object
 4   Closed On      83 non-null     object
 5   Status         83 non-null     object
 6   Dealer         83 non-null     object
 7   Company        83 non-null     object
 8   Type           83 non-null     object
 9   Category       83 non-null     object
 10  Assigned To    83 non-null     object
 11  Registered By  83 non-null     object
 12  Aging          83 non-null     object
 13  Aging Seconds  83 non-null     int64
 14  SLA            83 non-null     object
 15  SLA %          83 non-null     int64
 16  SLA Consumed   83 non-null     object
 17  JiraNumber     83 non-null     object
 18  Email          83 non-null     object
dtypes: int64(3), object(16)
memory usage: 12.4+ KB

In [68]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]
list_field05=[]
list_field06=[]
list_field07=[]
list_field08=[]      
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='TicketID'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='TicketID'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table02.iloc[j,1])
            list_field02.append(df_book_table02.iloc[j,2])
            list_field03.append(df_book_table02.iloc[j,6])
            list_field04.append(df_book_table02.iloc[j,7])
            list_field05.append(df_book_table02.iloc[j,10])
            list_field06.append(df_book_table02.iloc[j,11])
            list_field07.append(df_book_table02.iloc[j,17])
            list_field08.append(df_book_table01.iloc[i,7])            
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['TicketID']=list_field01
df_aux['Subject']=list_field02
df_aux['Dealer']=list_field03
df_aux['Company']=list_field04
df_aux['Assign To']=list_field05
df_aux['Reg By']=list_field06
df_aux['Jira Number']=list_field07
df_aux['Commitment']=list_field08
print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/cases/coincidences.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,3]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    df_book_table02_f=df_book_table02[['TicketID','Subject','Dealer','Company','Assigned To','Registered By']]
    print(df_book_table02_f)
    df_book_table02_f.to_csv("/home/jlhb1984/py-projects/data/cases/diff.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TicketID       80 non-null     object
 1   Subject        80 non-null     object
 2   Dealer         80 non-null     object
 3   Company        80 non-null     object
 4   Assigned To    80 non-null     object
 5   Registered By  80 non-null     object
 6   JiraNumber     80 non-null     object
 7   Commitment     80 non-null     object
dtypes: object(8)
memory usage: 5.1+ KB
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             83 non-null     int64
 1   TicketID       83 non-null     object
 2   Subject        83 non-null     object
 3   Date Opened    83 non-null     object
 4   Closed On      83 non-null     object
 5   Status         83 non-null     object
 6   Dealer         83 non-null     object
 7   Company        83 non-null     object
 8   Type           83 non-null     object
 9   Category       83 non-null     object
 10  Assigned To    83 non-null     object
 11  Registered By  83 non-null     object
 12  Aging          83 non-null     object
 13  Aging Seconds  83 non-null     int64
 14  SLA            83 non-null     object
 15  SLA %          83 non-null     int64
 16  SLA Consumed   83 non-null     object
 17  JiraNumber     83 non-null     object
 18  Email          83 non-null     object
dtypes: int64(3), object(16)
memory usage: 12.4+ KB
None

Atributo de la tabla1:  0
Atributo de la tabla2:  1

Trabajando...
df_book_table01[i,position_table01]:  TS000163978  = df_book_table02[j,position_table02]:  TS000163978
df_book_table01[i,position_table01]:  TS000163686  = df_book_table02[j,position_table02]:  TS000163686
df_book_table01[i,position_table01]:  TS000159795  = df_book_table02[j,position_table02]:  TS000159795
df_book_table01[i,position_table01]:  TS000163798  = df_book_table02[j,position_table02]:  TS000163798
df_book_table01[i,position_table01]:  TS000160284  = df_book_table02[j,position_table02]:  TS000160284
df_book_table01[i,position_table01]:  TS000160013  = df_book_table02[j,position_table02]:  TS000160013
df_book_table01[i,position_table01]:  TS000159988  = df_book_table02[j,position_table02]:  TS000159988
df_book_table01[i,position_table01]:  TS000159323  = df_book_table02[j,position_table02]:  TS000159323
df_book_table01[i,position_table01]:  TS000157637  = df_book_table02[j,position_table02]:  TS000157637
df_book_table01[i,position_table01]:  TS000156278  = df_book_table02[j,position_table02]:  TS000156278
df_book_table01[i,position_table01]:  TS000156274  = df_book_table02[j,position_table02]:  TS000156274
df_book_table01[i,position_table01]:  TS000155924  = df_book_table02[j,position_table02]:  TS000155924
df_book_table01[i,position_table01]:  TS000155321  = df_book_table02[j,position_table02]:  TS000155321
df_book_table01[i,position_table01]:  TS000154165  = df_book_table02[j,position_table02]:  TS000154165
df_book_table01[i,position_table01]:  TS000152732  = df_book_table02[j,position_table02]:  TS000152732
df_book_table01[i,position_table01]:  TS000150202  = df_book_table02[j,position_table02]:  TS000150202
df_book_table01[i,position_table01]:  TS000162551  = df_book_table02[j,position_table02]:  TS000162551
df_book_table01[i,position_table01]:  TS000162536  = df_book_table02[j,position_table02]:  TS000162536
df_book_table01[i,position_table01]:  TS000162405  = df_book_table02[j,position_table02]:  TS000162405
df_book_table01[i,position_table01]:  TS000162349  = df_book_table02[j,position_table02]:  TS000162349
df_book_table01[i,position_table01]:  TS000162295  = df_book_table02[j,position_table02]:  TS000162295
df_book_table01[i,position_table01]:  TS000162290  = df_book_table02[j,position_table02]:  TS000162290
df_book_table01[i,position_table01]:  TS000162226  = df_book_table02[j,position_table02]:  TS000162226
df_book_table01[i,position_table01]:  TS000161895  = df_book_table02[j,position_table02]:  TS000161895
df_book_table01[i,position_table01]:  TS000161857  = df_book_table02[j,position_table02]:  TS000161857
df_book_table01[i,position_table01]:  TS000160363  = df_book_table02[j,position_table02]:  TS000160363
df_book_table01[i,position_table01]:  TS000160251  = df_book_table02[j,position_table02]:  TS000160251
df_book_table01[i,position_table01]:  TS000160159  = df_book_table02[j,position_table02]:  TS000160159
df_book_table01[i,position_table01]:  TS000159520  = df_book_table02[j,position_table02]:  TS000159520
df_book_table01[i,position_table01]:  TS000159471  = df_book_table02[j,position_table02]:  TS000159471
df_book_table01[i,position_table01]:  TS000159244  = df_book_table02[j,position_table02]:  TS000159244
df_book_table01[i,position_table01]:  TS000149945  = df_book_table02[j,position_table02]:  TS000149945
df_book_table01[i,position_table01]:  TS000146875  = df_book_table02[j,position_table02]:  TS000146875
df_book_table01[i,position_table01]:  TS000144935  = df_book_table02[j,position_table02]:  TS000144935
df_book_table01[i,position_table01]:  TS000163787  = df_book_table02[j,position_table02]:  TS000163787
df_book_table01[i,position_table01]:  TS000163785  = df_book_table02[j,position_table02]:  TS000163785
df_book_table01[i,position_table01]:  TS000163772  = df_book_table02[j,position_table02]:  TS000163772
df_book_table01[i,position_table01]:  TS000163733  = df_book_table02[j,position_table02]:  TS000163733
df_book_table01[i,position_table01]:  TS000163732  = df_book_table02[j,position_table02]:  TS000163732
df_book_table01[i,position_table01]:  TS000163718  = df_book_table02[j,position_table02]:  TS000163718
df_book_table01[i,position_table01]:  TS000163622  = df_book_table02[j,position_table02]:  TS000163622
df_book_table01[i,position_table01]:  TS000163620  = df_book_table02[j,position_table02]:  TS000163620
df_book_table01[i,position_table01]:  TS000163518  = df_book_table02[j,position_table02]:  TS000163518
df_book_table01[i,position_table01]:  TS000163501  = df_book_table02[j,position_table02]:  TS000163501
df_book_table01[i,position_table01]:  TS000163477  = df_book_table02[j,position_table02]:  TS000163477
df_book_table01[i,position_table01]:  TS000163465  = df_book_table02[j,position_table02]:  TS000163465
df_book_table01[i,position_table01]:  TS000163414  = df_book_table02[j,position_table02]:  TS000163414
df_book_table01[i,position_table01]:  TS000163356  = df_book_table02[j,position_table02]:  TS000163356
df_book_table01[i,position_table01]:  TS000163344  = df_book_table02[j,position_table02]:  TS000163344
df_book_table01[i,position_table01]:  TS000163255  = df_book_table02[j,position_table02]:  TS000163255
df_book_table01[i,position_table01]:  TS000163252  = df_book_table02[j,position_table02]:  TS000163252
df_book_table01[i,position_table01]:  TS000163078  = df_book_table02[j,position_table02]:  TS000163078
df_book_table01[i,position_table01]:  TS000163023  = df_book_table02[j,position_table02]:  TS000163023
df_book_table01[i,position_table01]:  TS000163006  = df_book_table02[j,position_table02]:  TS000163006
df_book_table01[i,position_table01]:  TS000162962  = df_book_table02[j,position_table02]:  TS000162962
df_book_table01[i,position_table01]:  TS000162892  = df_book_table02[j,position_table02]:  TS000162892
df_book_table01[i,position_table01]:  TS000162857  = df_book_table02[j,position_table02]:  TS000162857
df_book_table01[i,position_table01]:  TS000162517  = df_book_table02[j,position_table02]:  TS000162517
df_book_table01[i,position_table01]:  TS000162503  = df_book_table02[j,position_table02]:  TS000162503
df_book_table01[i,position_table01]:  TS000162071  = df_book_table02[j,position_table02]:  TS000162071
df_book_table01[i,position_table01]:  TS000162022  = df_book_table02[j,position_table02]:  TS000162022
df_book_table01[i,position_table01]:  TS000161913  = df_book_table02[j,position_table02]:  TS000161913
df_book_table01[i,position_table01]:  TS000161839  = df_book_table02[j,position_table02]:  TS000161839
df_book_table01[i,position_table01]:  TS000161349  = df_book_table02[j,position_table02]:  TS000161349
df_book_table01[i,position_table01]:  TS000161066  = df_book_table02[j,position_table02]:  TS000161066
df_book_table01[i,position_table01]:  TS000161065  = df_book_table02[j,position_table02]:  TS000161065
df_book_table01[i,position_table01]:  TS000160371  = df_book_table02[j,position_table02]:  TS000160371
df_book_table01[i,position_table01]:  TS000159072  = df_book_table02[j,position_table02]:  TS000159072
df_book_table01[i,position_table01]:  TS000158948  = df_book_table02[j,position_table02]:  TS000158948
df_book_table01[i,position_table01]:  TS000158501  = df_book_table02[j,position_table02]:  TS000158501
df_book_table01[i,position_table01]:  TS000158203  = df_book_table02[j,position_table02]:  TS000158203
df_book_table01[i,position_table01]:  TS000158202  = df_book_table02[j,position_table02]:  TS000158202
df_book_table01[i,position_table01]:  TS000157980  = df_book_table02[j,position_table02]:  TS000157980
df_book_table01[i,position_table01]:  TS000156721  = df_book_table02[j,position_table02]:  TS000156721
df_book_table01[i,position_table01]:  TS000156591  = df_book_table02[j,position_table02]:  TS000156591
df_book_table01[i,position_table01]:  TS000133123  = df_book_table02[j,position_table02]:  TS000133123
df_book_table01[i,position_table01]:  TS000163067  = df_book_table02[j,position_table02]:  TS000163067
Cont=  77
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     77 non-null     object
 1   Subject      77 non-null     object
 2   Dealer       77 non-null     object
 3   Company      77 non-null     object
 4   Assign To    77 non-null     object
 5   Reg By       77 non-null     object
 6   Jira Number  77 non-null     object
 7   Commitment   77 non-null     object
dtypes: object(8)
memory usage: 4.9+ KB
None
Trabajando...
df_book_table01[i,position_table01]:  TS000163978  = df_book_table02[j,position_table02]:  TS000163978
df_book_table01[i,position_table01]:  TS000163686  = df_book_table02[j,position_table02]:  TS000163686
df_book_table01[i,position_table01]:  TS000159795  = df_book_table02[j,position_table02]:  TS000159795
df_book_table01[i,position_table01]:  TS000163798  = df_book_table02[j,position_table02]:  TS000163798
df_book_table01[i,position_table01]:  TS000160284  = df_book_table02[j,position_table02]:  TS000160284
df_book_table01[i,position_table01]:  TS000160013  = df_book_table02[j,position_table02]:  TS000160013
df_book_table01[i,position_table01]:  TS000159988  = df_book_table02[j,position_table02]:  TS000159988
df_book_table01[i,position_table01]:  TS000159323  = df_book_table02[j,position_table02]:  TS000159323
df_book_table01[i,position_table01]:  TS000157637  = df_book_table02[j,position_table02]:  TS000157637
df_book_table01[i,position_table01]:  TS000156278  = df_book_table02[j,position_table02]:  TS000156278
df_book_table01[i,position_table01]:  TS000156274  = df_book_table02[j,position_table02]:  TS000156274
df_book_table01[i,position_table01]:  TS000155924  = df_book_table02[j,position_table02]:  TS000155924
df_book_table01[i,position_table01]:  TS000155321  = df_book_table02[j,position_table02]:  TS000155321
df_book_table01[i,position_table01]:  TS000154165  = df_book_table02[j,position_table02]:  TS000154165
df_book_table01[i,position_table01]:  TS000152732  = df_book_table02[j,position_table02]:  TS000152732
df_book_table01[i,position_table01]:  TS000150202  = df_book_table02[j,position_table02]:  TS000150202
df_book_table01[i,position_table01]:  TS000162551  = df_book_table02[j,position_table02]:  TS000162551
df_book_table01[i,position_table01]:  TS000162536  = df_book_table02[j,position_table02]:  TS000162536
df_book_table01[i,position_table01]:  TS000162405  = df_book_table02[j,position_table02]:  TS000162405
df_book_table01[i,position_table01]:  TS000162349  = df_book_table02[j,position_table02]:  TS000162349
df_book_table01[i,position_table01]:  TS000162295  = df_book_table02[j,position_table02]:  TS000162295
df_book_table01[i,position_table01]:  TS000162290  = df_book_table02[j,position_table02]:  TS000162290
df_book_table01[i,position_table01]:  TS000162226  = df_book_table02[j,position_table02]:  TS000162226
df_book_table01[i,position_table01]:  TS000161895  = df_book_table02[j,position_table02]:  TS000161895
df_book_table01[i,position_table01]:  TS000161857  = df_book_table02[j,position_table02]:  TS000161857
df_book_table01[i,position_table01]:  TS000160363  = df_book_table02[j,position_table02]:  TS000160363
df_book_table01[i,position_table01]:  TS000160251  = df_book_table02[j,position_table02]:  TS000160251
df_book_table01[i,position_table01]:  TS000160159  = df_book_table02[j,position_table02]:  TS000160159
df_book_table01[i,position_table01]:  TS000159520  = df_book_table02[j,position_table02]:  TS000159520
df_book_table01[i,position_table01]:  TS000159471  = df_book_table02[j,position_table02]:  TS000159471
df_book_table01[i,position_table01]:  TS000159244  = df_book_table02[j,position_table02]:  TS000159244
df_book_table01[i,position_table01]:  TS000149945  = df_book_table02[j,position_table02]:  TS000149945
df_book_table01[i,position_table01]:  TS000146875  = df_book_table02[j,position_table02]:  TS000146875
df_book_table01[i,position_table01]:  TS000144935  = df_book_table02[j,position_table02]:  TS000144935
df_book_table01[i,position_table01]:  TS000163787  = df_book_table02[j,position_table02]:  TS000163787
df_book_table01[i,position_table01]:  TS000163785  = df_book_table02[j,position_table02]:  TS000163785
df_book_table01[i,position_table01]:  TS000163772  = df_book_table02[j,position_table02]:  TS000163772
df_book_table01[i,position_table01]:  TS000163733  = df_book_table02[j,position_table02]:  TS000163733
df_book_table01[i,position_table01]:  TS000163732  = df_book_table02[j,position_table02]:  TS000163732
df_book_table01[i,position_table01]:  TS000163718  = df_book_table02[j,position_table02]:  TS000163718
df_book_table01[i,position_table01]:  TS000163622  = df_book_table02[j,position_table02]:  TS000163622
df_book_table01[i,position_table01]:  TS000163620  = df_book_table02[j,position_table02]:  TS000163620
df_book_table01[i,position_table01]:  TS000163518  = df_book_table02[j,position_table02]:  TS000163518
df_book_table01[i,position_table01]:  TS000163501  = df_book_table02[j,position_table02]:  TS000163501
df_book_table01[i,position_table01]:  TS000163477  = df_book_table02[j,position_table02]:  TS000163477
df_book_table01[i,position_table01]:  TS000163465  = df_book_table02[j,position_table02]:  TS000163465
df_book_table01[i,position_table01]:  TS000163414  = df_book_table02[j,position_table02]:  TS000163414
df_book_table01[i,position_table01]:  TS000163356  = df_book_table02[j,position_table02]:  TS000163356
df_book_table01[i,position_table01]:  TS000163344  = df_book_table02[j,position_table02]:  TS000163344
df_book_table01[i,position_table01]:  TS000163255  = df_book_table02[j,position_table02]:  TS000163255
df_book_table01[i,position_table01]:  TS000163252  = df_book_table02[j,position_table02]:  TS000163252
df_book_table01[i,position_table01]:  TS000163078  = df_book_table02[j,position_table02]:  TS000163078
df_book_table01[i,position_table01]:  TS000163023  = df_book_table02[j,position_table02]:  TS000163023
df_book_table01[i,position_table01]:  TS000163006  = df_book_table02[j,position_table02]:  TS000163006
df_book_table01[i,position_table01]:  TS000162962  = df_book_table02[j,position_table02]:  TS000162962
df_book_table01[i,position_table01]:  TS000162892  = df_book_table02[j,position_table02]:  TS000162892
df_book_table01[i,position_table01]:  TS000162857  = df_book_table02[j,position_table02]:  TS000162857
df_book_table01[i,position_table01]:  TS000162517  = df_book_table02[j,position_table02]:  TS000162517
df_book_table01[i,position_table01]:  TS000162503  = df_book_table02[j,position_table02]:  TS000162503
df_book_table01[i,position_table01]:  TS000162071  = df_book_table02[j,position_table02]:  TS000162071
df_book_table01[i,position_table01]:  TS000162022  = df_book_table02[j,position_table02]:  TS000162022
df_book_table01[i,position_table01]:  TS000161913  = df_book_table02[j,position_table02]:  TS000161913
df_book_table01[i,position_table01]:  TS000161839  = df_book_table02[j,position_table02]:  TS000161839
df_book_table01[i,position_table01]:  TS000161349  = df_book_table02[j,position_table02]:  TS000161349
df_book_table01[i,position_table01]:  TS000161066  = df_book_table02[j,position_table02]:  TS000161066
df_book_table01[i,position_table01]:  TS000161065  = df_book_table02[j,position_table02]:  TS000161065
df_book_table01[i,position_table01]:  TS000160371  = df_book_table02[j,position_table02]:  TS000160371
df_book_table01[i,position_table01]:  TS000159072  = df_book_table02[j,position_table02]:  TS000159072
df_book_table01[i,position_table01]:  TS000158948  = df_book_table02[j,position_table02]:  TS000158948
df_book_table01[i,position_table01]:  TS000158501  = df_book_table02[j,position_table02]:  TS000158501
df_book_table01[i,position_table01]:  TS000158203  = df_book_table02[j,position_table02]:  TS000158203
df_book_table01[i,position_table01]:  TS000158202  = df_book_table02[j,position_table02]:  TS000158202
df_book_table01[i,position_table01]:  TS000157980  = df_book_table02[j,position_table02]:  TS000157980
df_book_table01[i,position_table01]:  TS000156721  = df_book_table02[j,position_table02]:  TS000156721
df_book_table01[i,position_table01]:  TS000156591  = df_book_table02[j,position_table02]:  TS000156591
df_book_table01[i,position_table01]:  TS000133123  = df_book_table02[j,position_table02]:  TS000133123
df_book_table01[i,position_table01]:  TS000163067  = df_book_table02[j,position_table02]:  TS000163067
       TicketID                                            Subject  \
30  TS000164236             ACTUALIZAR TELEFONOS CON BASE DE DATOS
31  TS000164206  REVISION UBICACION CAM AUXILIAR, FALTA DE SONI...
32  TS000164198              Actualización de scripts para TopFly.
33  TS000164108                             Carga masiva de LEADS.
34  TS000164088  UNIDADES VIDFLEET IA CON NOVEDADES A REPORTAR ...
43  TS000163708                        ERROR EN REPORTE DE EVENTOS

                   Dealer                          Company   Assigned To  \
30  TSO Mobile - Colombia            TTSO MOBILE S.A.S COL  José Hurtado
31        TSO Mobile Peru  C Y C TRANSPORT CORPORATION SAC  José Hurtado
32  TSO Mobile - Colombia            TTSO MOBILE S.A.S COL  José Hurtado
33  TSO Mobile - Colombia            TTSO MOBILE S.A.S COL  José Hurtado
34  TSO Mobile - Colombia            TTSO MOBILE S.A.S COL  José Hurtado
43  TSO Mobile - Colombia                      ECOBANO SAS  José Hurtado

              Registered By
30  Diana Ramirez Fernandez
31              Jorge Solis
32             José Hurtado
33             José Hurtado
34         Alvaro Castañeda
43             Cesar Briñez