In [13]:
import pandas as pd
import numpy as np

In [6]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/depositos/cu_1911_imeis.csv',sep=',',encoding='latin1')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/depositos/cu.csv',sep=';',encoding='latin1')

In [8]:
#df_book_table01=df_book_table01[['TicketID','Subject','Company']]
#df_book_table02=df_book_table02[['TicketID','Subject','Company']]

In [11]:
df_book_table01.info()
df_book_table02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6 non-null      int64
 1   Unit Type        6 non-null      object
 2   Unit ID          6 non-null      object
 3   Unit             6 non-null      object
 4   Last Event Date  6 non-null      object
 5   IMEI             6 non-null      int64
dtypes: int64(2), object(4)
memory usage: 420.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       9 non-null      int64
 1   Owner                    9 non-null      object
 2   Unit ID                  9 non-null      object
 3   Unit                     9 non-null      object
 4   Peripherals              3 non-null      object
 5   BillingPeriod            9 non-null      object
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            0 non-null      float64
 9   Last Event Date          9 non-null      object
 10  Monthly Fee              9 non-null      object
 11  Bill To                  0 non-null      float64
 12  Assigned To              9 non-null      object
 13  Linked Mode              9 non-null      int64
 14  Paired GPS               0 non-null      float64
 15  Paired Camera            0 non-null      float64
 16  Billable                 9 non-null      object
 17  RMA                      9 non-null      object
 18  Unit Type                9 non-null      object
 19  IMEI                     9 non-null      object
 20  Serial Number            9 non-null      object
 21  Phone Number             9 non-null      int64
 22  Carrier                  9 non-null      object
 23  SIM #                    9 non-null      int64
 24  VIN                      7 non-null      object
 25  License Plate            8 non-null      object
 26  Static IP                0 non-null      float64
 27  Event                    9 non-null      object
 28  Last Contact On          9 non-null      object
 29  Min                      9 non-null      int64
 30  Server IP                9 non-null      object
 31  Server Port              9 non-null      int64
 32  Last Event Address       9 non-null      object
 33  Modem                    9 non-null      object
 34  Inv #                    9 non-null      object
 35  Status                   9 non-null      object
 36  Last Service Paid Until  9 non-null      object
 37  Service Paid Until       9 non-null      object
 38  Assigned to Company      9 non-null      object
 39  IFTA                     9 non-null      object
 40  History Months           9 non-null      int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         9 non-null      object
 43  Script                   3 non-null      object
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 1 non-null      object
dtypes: float64(11), int64(7), object(30)
memory usage: 3.5+ KB

In [12]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]       
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='Unit ID'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='Unit ID'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table02.iloc[j,3])
            list_field02.append(df_book_table02.iloc[j,19])
            list_field03.append(df_book_table02.iloc[j,21])
            #list_field04.append(df_book_table02.iloc[j,17])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['IMEI']=list_field01
df_aux['PN']=list_field02
df_aux['Unit']=list_field03
#df_aux['FIELD04']=list_field04
print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/cases/sim.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,3]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    print(df_book_table02)
    df_book_table02.to_csv("/home/jlhb1984/py-projects/data/cases/diff.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6 non-null      int64
 1   Unit Type        6 non-null      object
 2   Unit ID          6 non-null      object
 3   Unit             6 non-null      object
 4   Last Event Date  6 non-null      object
 5   IMEI             6 non-null      int64
dtypes: int64(2), object(4)
memory usage: 420.0+ bytes
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       9 non-null      int64
 1   Owner                    9 non-null      object
 2   Unit ID                  9 non-null      object
 3   Unit                     9 non-null      object
 4   Peripherals              3 non-null      object
 5   BillingPeriod            9 non-null      object
 6   Reporting Status         0 non-null      float64
 7   Show Until               0 non-null      float64
 8   Billing Group            0 non-null      float64
 9   Last Event Date          9 non-null      object
 10  Monthly Fee              9 non-null      object
 11  Bill To                  0 non-null      float64
 12  Assigned To              9 non-null      object
 13  Linked Mode              9 non-null      int64
 14  Paired GPS               0 non-null      float64
 15  Paired Camera            0 non-null      float64
 16  Billable                 9 non-null      object
 17  RMA                      9 non-null      object
 18  Unit Type                9 non-null      object
 19  IMEI                     9 non-null      object
 20  Serial Number            9 non-null      object
 21  Phone Number             9 non-null      int64
 22  Carrier                  9 non-null      object
 23  SIM #                    9 non-null      int64
 24  VIN                      7 non-null      object
 25  License Plate            8 non-null      object
 26  Static IP                0 non-null      float64
 27  Event                    9 non-null      object
 28  Last Contact On          9 non-null      object
 29  Min                      9 non-null      int64
 30  Server IP                9 non-null      object
 31  Server Port              9 non-null      int64
 32  Last Event Address       9 non-null      object
 33  Modem                    9 non-null      object
 34  Inv #                    9 non-null      object
 35  Status                   9 non-null      object
 36  Last Service Paid Until  9 non-null      object
 37  Service Paid Until       9 non-null      object
 38  Assigned to Company      9 non-null      object
 39  IFTA                     9 non-null      object
 40  History Months           9 non-null      int64
 41  Comments                 0 non-null      float64
 42  Warranty Expires         9 non-null      object
 43  Script                   3 non-null      object
 44  JBOX Profile             0 non-null      float64
 45  Contract Type            0 non-null      float64
 46  Subscription             0 non-null      float64
 47  Firmware                 1 non-null      object
dtypes: float64(11), int64(7), object(30)
memory usage: 3.5+ KB
None

Atributo de la tabla1:  2
Atributo de la tabla2:  2

Trabajando...
df_book_table01[i,position_table01]:  0OUE  = df_book_table02[j,position_table02]:  0OUE
df_book_table01[i,position_table01]:  18E3  = df_book_table02[j,position_table02]:  18E3
df_book_table01[i,position_table01]:  0OUX  = df_book_table02[j,position_table02]:  0OUX
df_book_table01[i,position_table01]:  847Q  = df_book_table02[j,position_table02]:  847Q
df_book_table01[i,position_table01]:  0OUT  = df_book_table02[j,position_table02]:  0OUT
df_book_table01[i,position_table01]:  6861  = df_book_table02[j,position_table02]:  6861
Cont=  6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IMEI    6 non-null      object
 1   PN      6 non-null      object
 2   Unit    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes
None