In [1]:
import pandas as pd
import numpy as np

In [2]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/cases/imeis_ibutton.csv',sep=',',encoding='latin1')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/cases/CRMUnitsDealersReports_15724_20251202140152.csv',sep=';',encoding='latin1')

In [62]:
#df_book_table01=df_book_table01[['TicketID','Subject','Company']]
#df_book_table02=df_book_table02[['TicketID','Subject','Company']]

In [3]:
df_book_table01.fillna('Empty',inplace=True)
df_book_table02.fillna('Empty',inplace=True)
df_book_table01.info()
df_book_table02.info()
#df_book_table01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    94 non-null     int64
 1   IMEIS_calamp  94 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.6 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27473 entries, 0 to 27472
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   27473 non-null  object
 1   Company                  27473 non-null  object
 2   VIP                      27473 non-null  object
 3   FEIN                     27473 non-null  object
 4   Unnamed: 4               27473 non-null  object
 5   DNI                      27473 non-null  object
 6   Peripherals              27473 non-null  object
 7   Service                  27473 non-null  object
 8   Owner                    27473 non-null  object
 9   Unit ID                  27473 non-null  object
 10  Unit                     27473 non-null  object
 11  Unit Type                27473 non-null  object
 12  Carrier                  27473 non-null  object
 13  Unnamed: 13              27473 non-null  object
 14  Monthly Fee              27473 non-null  object
 15  Billing Group            27473 non-null  object
 16  Billing Period           27473 non-null  object
 17  Last Service Paid Until  27473 non-null  object
 18  Service Paid Until       27473 non-null  object
 19  Serial Number            27473 non-null  object
 20  IMEI                     27473 non-null  object
 21  Bill To                  27473 non-null  object
 22  Status                   27473 non-null  object
 23  Event                    27473 non-null  object
 24  Assigned To Company On   27473 non-null  object
 25  Last Event Date          27473 non-null  object
 26  Last Contact On          27473 non-null  object
 27  Last Event Address       27473 non-null  object
dtypes: object(28)
memory usage: 5.9+ MB

/tmp/ipykernel_26556/986494298.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Empty' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_book_table02.fillna('Empty',inplace=True)

In [7]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]
list_field05=[]
list_field06=[]
list_field07=[]
list_field08=[]      
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='IMEIS_calamp'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='IMEI'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(int(df_book_table01.iloc[i,position_table01]))==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table02.iloc[j,0])
            list_field02.append(df_book_table02.iloc[j,1])
            list_field03.append(df_book_table02.iloc[j,14])
            #list_field04.append(df_book_table02.iloc[j,7])
            #list_field05.append(df_book_table02.iloc[j,10])
            #list_field06.append(df_book_table02.iloc[j,11])
            #list_field07.append(df_book_table02.iloc[j,17])
            #list_field08.append(df_book_table01.iloc[i,7])            
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['Dealer']=list_field01
df_aux['Company']=list_field02
df_aux['Monthly fee']=list_field03
#df_aux['Company']=list_field04
#df_aux['Assign To']=list_field05
#df_aux['Reg By']=list_field06
#df_aux['Jira Number']=list_field07
#df_aux['Commitment']=list_field08
print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/cases/coincidences.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,3]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    df_book_table02_f=df_book_table02[['TicketID','Subject','Dealer','Company','Assigned To','Registered By']]
    print(df_book_table02_f)
    df_book_table02_f.to_csv("/home/jlhb1984/py-projects/data/cases/diff.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    94 non-null     int64
 1   IMEIS_calamp  94 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.6 KB
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27473 entries, 0 to 27472
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   27473 non-null  object
 1   Company                  27473 non-null  object
 2   VIP                      27473 non-null  object
 3   FEIN                     27473 non-null  object
 4   Unnamed: 4               27473 non-null  object
 5   DNI                      27473 non-null  object
 6   Peripherals              27473 non-null  object
 7   Service                  27473 non-null  object
 8   Owner                    27473 non-null  object
 9   Unit ID                  27473 non-null  object
 10  Unit                     27473 non-null  object
 11  Unit Type                27473 non-null  object
 12  Carrier                  27473 non-null  object
 13  Unnamed: 13              27473 non-null  object
 14  Monthly Fee              27473 non-null  object
 15  Billing Group            27473 non-null  object
 16  Billing Period           27473 non-null  object
 17  Last Service Paid Until  27473 non-null  object
 18  Service Paid Until       27473 non-null  object
 19  Serial Number            27473 non-null  object
 20  IMEI                     27473 non-null  object
 21  Bill To                  27473 non-null  object
 22  Status                   27473 non-null  object
 23  Event                    27473 non-null  object
 24  Assigned To Company On   27473 non-null  object
 25  Last Event Date          27473 non-null  object
 26  Last Contact On          27473 non-null  object
 27  Last Event Address       27473 non-null  object
 28  ACTION                   27473 non-null  object
dtypes: object(29)
memory usage: 6.1+ MB
None

Atributo de la tabla1:  1
Atributo de la tabla2:  20

Trabajando...
df_book_table01[i,position_table01]:  359369091068409.0  = df_book_table02[j,position_table02]:  359369091068409
df_book_table01[i,position_table01]:  352556102949950.0  = df_book_table02[j,position_table02]:  352556102949950
df_book_table01[i,position_table01]:  354514101461277.0  = df_book_table02[j,position_table02]:  354514101461277
df_book_table01[i,position_table01]:  352556102759284.0  = df_book_table02[j,position_table02]:  352556102759284
df_book_table01[i,position_table01]:  358077093312367.0  = df_book_table02[j,position_table02]:  358077093312367
df_book_table01[i,position_table01]:  354514101217661.0  = df_book_table02[j,position_table02]:  354514101217661
df_book_table01[i,position_table01]:  358077091909529.0  = df_book_table02[j,position_table02]:  358077091909529
df_book_table01[i,position_table01]:  358077091191680.0  = df_book_table02[j,position_table02]:  358077091191680
df_book_table01[i,position_table01]:  354514101230680.0  = df_book_table02[j,position_table02]:  354514101230680
df_book_table01[i,position_table01]:  358077093344923.0  = df_book_table02[j,position_table02]:  358077093344923
df_book_table01[i,position_table01]:  352556102295610.0  = df_book_table02[j,position_table02]:  352556102295610
df_book_table01[i,position_table01]:  358077093392096.0  = df_book_table02[j,position_table02]:  358077093392096
df_book_table01[i,position_table01]:  358077093310874.0  = df_book_table02[j,position_table02]:  358077093310874
df_book_table01[i,position_table01]:  357041069266701.0  = df_book_table02[j,position_table02]:  357041069266701
df_book_table01[i,position_table01]:  358077093351209.0  = df_book_table02[j,position_table02]:  358077093351209
df_book_table01[i,position_table01]:  352556102295933.0  = df_book_table02[j,position_table02]:  352556102295933
df_book_table01[i,position_table01]:  358077093624860.0  = df_book_table02[j,position_table02]:  358077093624860
df_book_table01[i,position_table01]:  358077093348296.0  = df_book_table02[j,position_table02]:  358077093348296
df_book_table01[i,position_table01]:  358077093320691.0  = df_book_table02[j,position_table02]:  358077093320691
df_book_table01[i,position_table01]:  357041065244850.0  = df_book_table02[j,position_table02]:  357041065244850
df_book_table01[i,position_table01]:  352556102520207.0  = df_book_table02[j,position_table02]:  352556102520207
df_book_table01[i,position_table01]:  358077093346761.0  = df_book_table02[j,position_table02]:  358077093346761
df_book_table01[i,position_table01]:  357041064117610.0  = df_book_table02[j,position_table02]:  357041064117610
df_book_table01[i,position_table01]:  352556102026379.0  = df_book_table02[j,position_table02]:  352556102026379
df_book_table01[i,position_table01]:  358077093351902.0  = df_book_table02[j,position_table02]:  358077093351902
df_book_table01[i,position_table01]:  358077093313597.0  = df_book_table02[j,position_table02]:  358077093313597
df_book_table01[i,position_table01]:  358077093400980.0  = df_book_table02[j,position_table02]:  358077093400980
df_book_table01[i,position_table01]:  354514101231589.0  = df_book_table02[j,position_table02]:  354514101231589
df_book_table01[i,position_table01]:  358077093310015.0  = df_book_table02[j,position_table02]:  358077093310015
df_book_table01[i,position_table01]:  358077093351522.0  = df_book_table02[j,position_table02]:  358077093351522
df_book_table01[i,position_table01]:  358077093129787.0  = df_book_table02[j,position_table02]:  358077093129787
df_book_table01[i,position_table01]:  358077093311997.0  = df_book_table02[j,position_table02]:  358077093311997
df_book_table01[i,position_table01]:  358077093182828.0  = df_book_table02[j,position_table02]:  358077093182828
df_book_table01[i,position_table01]:  354514101217141.0  = df_book_table02[j,position_table02]:  354514101217141
df_book_table01[i,position_table01]:  358077093378921.0  = df_book_table02[j,position_table02]:  358077093378921
df_book_table01[i,position_table01]:  358077093499313.0  = df_book_table02[j,position_table02]:  358077093499313
df_book_table01[i,position_table01]:  354514101200725.0  = df_book_table02[j,position_table02]:  354514101200725
df_book_table01[i,position_table01]:  354514101228718.0  = df_book_table02[j,position_table02]:  354514101228718
df_book_table01[i,position_table01]:  354514101223156.0  = df_book_table02[j,position_table02]:  354514101223156
df_book_table01[i,position_table01]:  358077093350896.0  = df_book_table02[j,position_table02]:  358077093350896
df_book_table01[i,position_table01]:  358077093349005.0  = df_book_table02[j,position_table02]:  358077093349005
df_book_table01[i,position_table01]:  358077093345003.0  = df_book_table02[j,position_table02]:  358077093345003
df_book_table01[i,position_table01]:  354514101200600.0  = df_book_table02[j,position_table02]:  354514101200600
df_book_table01[i,position_table01]:  358077093316087.0  = df_book_table02[j,position_table02]:  358077093316087
df_book_table01[i,position_table01]:  358077093613871.0  = df_book_table02[j,position_table02]:  358077093613871
df_book_table01[i,position_table01]:  354514101587139.0  = df_book_table02[j,position_table02]:  354514101587139
df_book_table01[i,position_table01]:  352556102448151.0  = df_book_table02[j,position_table02]:  352556102448151
df_book_table01[i,position_table01]:  358077091844486.0  = df_book_table02[j,position_table02]:  358077091844486
df_book_table01[i,position_table01]:  358077093520654.0  = df_book_table02[j,position_table02]:  358077093520654
df_book_table01[i,position_table01]:  358077093315816.0  = df_book_table02[j,position_table02]:  358077093315816
df_book_table01[i,position_table01]:  359369091357596.0  = df_book_table02[j,position_table02]:  359369091357596
df_book_table01[i,position_table01]:  352556102276784.0  = df_book_table02[j,position_table02]:  352556102276784
df_book_table01[i,position_table01]:  352556102442352.0  = df_book_table02[j,position_table02]:  352556102442352
df_book_table01[i,position_table01]:  865640064549048.0  = df_book_table02[j,position_table02]:  865640064549048
df_book_table01[i,position_table01]:  358077091918314.0  = df_book_table02[j,position_table02]:  358077091918314
df_book_table01[i,position_table01]:  357041064154282.0  = df_book_table02[j,position_table02]:  357041064154282
df_book_table01[i,position_table01]:  357041064225843.0  = df_book_table02[j,position_table02]:  357041064225843
df_book_table01[i,position_table01]:  358077093335913.0  = df_book_table02[j,position_table02]:  358077093335913
df_book_table01[i,position_table01]:  354514102532498.0  = df_book_table02[j,position_table02]:  354514102532498
df_book_table01[i,position_table01]:  354514102310655.0  = df_book_table02[j,position_table02]:  354514102310655
df_book_table01[i,position_table01]:  358077093358725.0  = df_book_table02[j,position_table02]:  358077093358725
df_book_table01[i,position_table01]:  358077093182802.0  = df_book_table02[j,position_table02]:  358077093182802
df_book_table01[i,position_table01]:  354514102532266.0  = df_book_table02[j,position_table02]:  354514102532266
df_book_table01[i,position_table01]:  354514102545805.0  = df_book_table02[j,position_table02]:  354514102545805
df_book_table01[i,position_table01]:  354514102350610.0  = df_book_table02[j,position_table02]:  354514102350610
df_book_table01[i,position_table01]:  354514102543768.0  = df_book_table02[j,position_table02]:  354514102543768
df_book_table01[i,position_table01]:  354514102540483.0  = df_book_table02[j,position_table02]:  354514102540483
df_book_table01[i,position_table01]:  354514102534809.0  = df_book_table02[j,position_table02]:  354514102534809
df_book_table01[i,position_table01]:  354514102543388.0  = df_book_table02[j,position_table02]:  354514102543388
df_book_table01[i,position_table01]:  354514102535392.0  = df_book_table02[j,position_table02]:  354514102535392
df_book_table01[i,position_table01]:  354514102545946.0  = df_book_table02[j,position_table02]:  354514102545946
df_book_table01[i,position_table01]:  354514102489392.0  = df_book_table02[j,position_table02]:  354514102489392
df_book_table01[i,position_table01]:  354514102294081.0  = df_book_table02[j,position_table02]:  354514102294081
df_book_table01[i,position_table01]:  354514102534247.0  = df_book_table02[j,position_table02]:  354514102534247
df_book_table01[i,position_table01]:  354514102545730.0  = df_book_table02[j,position_table02]:  354514102545730
df_book_table01[i,position_table01]:  354514102533249.0  = df_book_table02[j,position_table02]:  354514102533249
df_book_table01[i,position_table01]:  354514102406750.0  = df_book_table02[j,position_table02]:  354514102406750
df_book_table01[i,position_table01]:  354514102531516.0  = df_book_table02[j,position_table02]:  354514102531516
df_book_table01[i,position_table01]:  354514102550078.0  = df_book_table02[j,position_table02]:  354514102550078
df_book_table01[i,position_table01]:  354514102545573.0  = df_book_table02[j,position_table02]:  354514102545573
df_book_table01[i,position_table01]:  354514102549377.0  = df_book_table02[j,position_table02]:  354514102549377
df_book_table01[i,position_table01]:  358077093128060.0  = df_book_table02[j,position_table02]:  358077093128060
df_book_table01[i,position_table01]:  354514102530724.0  = df_book_table02[j,position_table02]:  354514102530724
df_book_table01[i,position_table01]:  354514102534155.0  = df_book_table02[j,position_table02]:  354514102534155
df_book_table01[i,position_table01]:  354514102538974.0  = df_book_table02[j,position_table02]:  354514102538974
df_book_table01[i,position_table01]:  354514101566794.0  = df_book_table02[j,position_table02]:  354514101566794
df_book_table01[i,position_table01]:  354514101564914.0  = df_book_table02[j,position_table02]:  354514101564914
df_book_table01[i,position_table01]:  354514101547646.0  = df_book_table02[j,position_table02]:  354514101547646
df_book_table01[i,position_table01]:  358077093311120.0  = df_book_table02[j,position_table02]:  358077093311120
df_book_table01[i,position_table01]:  354514101202499.0  = df_book_table02[j,position_table02]:  354514101202499
Cont=  90
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Dealer       90 non-null     object
 1   Company      90 non-null     object
 2   Monthly fee  90 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB
None