In [8]:
import pandas as pd
import numpy as np

In [9]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/cases/TRIAL.csv',sep=';',encoding='iso-8859-1')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/cases/crm.csv',sep=';',encoding='iso-8859-1')

In [47]:
#df_book_table01=df_book_table01[['TicketID','Subject','Company']]
#df_book_table02=df_book_table02[['TicketID','Subject','Company']]

In [10]:
df_book_table01.fillna('Empty',inplace=True)
df_book_table02.fillna('Empty',inplace=True)
df_book_table01.info()
df_book_table02.info()
#df_book_table01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     65 non-null     object
 1   Subject      65 non-null     object
 2   Dealer       65 non-null     object
 3   Company      65 non-null     object
 4   Assign To    65 non-null     object
 5   Reg By       65 non-null     object
 6   Jira Number  65 non-null     object
 7   Homework     65 non-null     object
 8   Ask to       65 non-null     object
 9   Date opened  65 non-null     object
dtypes: object(10)
memory usage: 5.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             64 non-null     int64
 1   TicketID       64 non-null     object
 2   Subject        64 non-null     object
 3   Date Opened    64 non-null     object
 4   Closed On      64 non-null     object
 5   Status         64 non-null     object
 6   Dealer         64 non-null     object
 7   Company        64 non-null     object
 8   Type           64 non-null     object
 9   Category       64 non-null     object
 10  Assigned To    64 non-null     object
 11  Registered By  64 non-null     object
 12  Aging          64 non-null     object
 13  Aging Seconds  64 non-null     int64
 14  SLA            64 non-null     object
 15  SLA %          64 non-null     int64
 16  SLA Consumed   64 non-null     object
 17  JiraNumber     64 non-null     object
 18  Email          64 non-null     object
dtypes: int64(3), object(16)
memory usage: 9.6+ KB

In [11]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame() 
list_field00=[]       
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]
list_field05=[]
list_field06=[]
list_field07=[]
list_field08=[]
list_field09=[]
list_field10=[]      
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='TicketID'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='TicketID'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field00.append(df_book_table01.iloc[i,0])
            list_field01.append(df_book_table01.iloc[i,1])
            list_field02.append(df_book_table01.iloc[i,2])
            list_field03.append(df_book_table01.iloc[i,3])
            list_field04.append(df_book_table01.iloc[i,4])
            list_field05.append(df_book_table01.iloc[i,5])
            list_field06.append(df_book_table01.iloc[i,6])
            list_field07.append(df_book_table01.iloc[i,7])
            list_field08.append(df_book_table01.iloc[i,8])
            list_field09.append(df_book_table02.iloc[j,3])            
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['TicketID']=list_field00
df_aux['Subject']=list_field01
df_aux['Dealer']=list_field02
df_aux['Company']=list_field03
df_aux['Assign To']=list_field04
df_aux['Reg By']=list_field05
df_aux['Jira Number']=list_field06
df_aux['Commitment']=list_field07
df_aux['Ask to']=list_field08
df_aux['Date opened']=list_field09

print("Cont= ",cont)
print(df_aux.info())
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/cases/coincidences.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,3]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    #print(df_book_table02)
    df_book_table02.dropna(axis=0,inplace=True)
    df_book_table02_f=df_book_table02[['TicketID','Subject','Dealer','Company','Assigned To','Registered By','JiraNumber','Date Opened']]
    print(df_book_table02_f)
    df_book_table02_f.to_csv("/home/jlhb1984/py-projects/data/cases/diff.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     65 non-null     object
 1   Subject      65 non-null     object
 2   Dealer       65 non-null     object
 3   Company      65 non-null     object
 4   Assign To    65 non-null     object
 5   Reg By       65 non-null     object
 6   Jira Number  65 non-null     object
 7   Homework     65 non-null     object
 8   Ask to       65 non-null     object
 9   Date opened  65 non-null     object
dtypes: object(10)
memory usage: 5.2+ KB
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             64 non-null     int64
 1   TicketID       64 non-null     object
 2   Subject        64 non-null     object
 3   Date Opened    64 non-null     object
 4   Closed On      64 non-null     object
 5   Status         64 non-null     object
 6   Dealer         64 non-null     object
 7   Company        64 non-null     object
 8   Type           64 non-null     object
 9   Category       64 non-null     object
 10  Assigned To    64 non-null     object
 11  Registered By  64 non-null     object
 12  Aging          64 non-null     object
 13  Aging Seconds  64 non-null     int64
 14  SLA            64 non-null     object
 15  SLA %          64 non-null     int64
 16  SLA Consumed   64 non-null     object
 17  JiraNumber     64 non-null     object
 18  Email          64 non-null     object
dtypes: int64(3), object(16)
memory usage: 9.6+ KB
None

Atributo de la tabla1:  0
Atributo de la tabla2:  1

Trabajando...
df_book_table01[i,position_table01]:  TS000163067  = df_book_table02[j,position_table02]:  TS000163067
df_book_table01[i,position_table01]:  TS000165503  = df_book_table02[j,position_table02]:  TS000165503
df_book_table01[i,position_table01]:  TS000165668  = df_book_table02[j,position_table02]:  TS000165668
df_book_table01[i,position_table01]:  TS000165485  = df_book_table02[j,position_table02]:  TS000165485
df_book_table01[i,position_table01]:  TS000165453  = df_book_table02[j,position_table02]:  TS000165453
df_book_table01[i,position_table01]:  TS000165218  = df_book_table02[j,position_table02]:  TS000165218
df_book_table01[i,position_table01]:  TS000165245  = df_book_table02[j,position_table02]:  TS000165245
df_book_table01[i,position_table01]:  TS000165342  = df_book_table02[j,position_table02]:  TS000165342
df_book_table01[i,position_table01]:  TS000163976  = df_book_table02[j,position_table02]:  TS000163976
df_book_table01[i,position_table01]:  TS000160013  = df_book_table02[j,position_table02]:  TS000160013
df_book_table01[i,position_table01]:  TS000164775  = df_book_table02[j,position_table02]:  TS000164775
df_book_table01[i,position_table01]:  TS000165220  = df_book_table02[j,position_table02]:  TS000165220
df_book_table01[i,position_table01]:  TS000163723  = df_book_table02[j,position_table02]:  TS000163723
df_book_table01[i,position_table01]:  TS000164581  = df_book_table02[j,position_table02]:  TS000164581
df_book_table01[i,position_table01]:  TS000164571  = df_book_table02[j,position_table02]:  TS000164571
df_book_table01[i,position_table01]:  TS000164451  = df_book_table02[j,position_table02]:  TS000164451
df_book_table01[i,position_table01]:  TS000164384  = df_book_table02[j,position_table02]:  TS000164384
df_book_table01[i,position_table01]:  TS000164382  = df_book_table02[j,position_table02]:  TS000164382
df_book_table01[i,position_table01]:  TS000164335  = df_book_table02[j,position_table02]:  TS000164335
df_book_table01[i,position_table01]:  TS000159795  = df_book_table02[j,position_table02]:  TS000159795
df_book_table01[i,position_table01]:  TS000163798  = df_book_table02[j,position_table02]:  TS000163798
df_book_table01[i,position_table01]:  TS000159988  = df_book_table02[j,position_table02]:  TS000159988
df_book_table01[i,position_table01]:  TS000157637  = df_book_table02[j,position_table02]:  TS000157637
df_book_table01[i,position_table01]:  TS000156278  = df_book_table02[j,position_table02]:  TS000156278
df_book_table01[i,position_table01]:  TS000156274  = df_book_table02[j,position_table02]:  TS000156274
df_book_table01[i,position_table01]:  TS000154165  = df_book_table02[j,position_table02]:  TS000154165
df_book_table01[i,position_table01]:  TS000152732  = df_book_table02[j,position_table02]:  TS000152732
df_book_table01[i,position_table01]:  TS000150202  = df_book_table02[j,position_table02]:  TS000150202
df_book_table01[i,position_table01]:  TS000162405  = df_book_table02[j,position_table02]:  TS000162405
df_book_table01[i,position_table01]:  TS000161857  = df_book_table02[j,position_table02]:  TS000161857
df_book_table01[i,position_table01]:  TS000160363  = df_book_table02[j,position_table02]:  TS000160363
df_book_table01[i,position_table01]:  TS000159520  = df_book_table02[j,position_table02]:  TS000159520
df_book_table01[i,position_table01]:  TS000159244  = df_book_table02[j,position_table02]:  TS000159244
df_book_table01[i,position_table01]:  TS000149945  = df_book_table02[j,position_table02]:  TS000149945
df_book_table01[i,position_table01]:  TS000144935  = df_book_table02[j,position_table02]:  TS000144935
df_book_table01[i,position_table01]:  TS000163787  = df_book_table02[j,position_table02]:  TS000163787
df_book_table01[i,position_table01]:  TS000163772  = df_book_table02[j,position_table02]:  TS000163772
df_book_table01[i,position_table01]:  TS000163620  = df_book_table02[j,position_table02]:  TS000163620
df_book_table01[i,position_table01]:  TS000163255  = df_book_table02[j,position_table02]:  TS000163255
df_book_table01[i,position_table01]:  TS000163078  = df_book_table02[j,position_table02]:  TS000163078
df_book_table01[i,position_table01]:  TS000163006  = df_book_table02[j,position_table02]:  TS000163006
df_book_table01[i,position_table01]:  TS000162962  = df_book_table02[j,position_table02]:  TS000162962
df_book_table01[i,position_table01]:  TS000162503  = df_book_table02[j,position_table02]:  TS000162503
df_book_table01[i,position_table01]:  TS000162071  = df_book_table02[j,position_table02]:  TS000162071
df_book_table01[i,position_table01]:  TS000161839  = df_book_table02[j,position_table02]:  TS000161839
df_book_table01[i,position_table01]:  TS000161349  = df_book_table02[j,position_table02]:  TS000161349
df_book_table01[i,position_table01]:  TS000161066  = df_book_table02[j,position_table02]:  TS000161066
df_book_table01[i,position_table01]:  TS000161065  = df_book_table02[j,position_table02]:  TS000161065
df_book_table01[i,position_table01]:  TS000159072  = df_book_table02[j,position_table02]:  TS000159072
df_book_table01[i,position_table01]:  TS000158948  = df_book_table02[j,position_table02]:  TS000158948
df_book_table01[i,position_table01]:  TS000158501  = df_book_table02[j,position_table02]:  TS000158501
df_book_table01[i,position_table01]:  TS000158203  = df_book_table02[j,position_table02]:  TS000158203
df_book_table01[i,position_table01]:  TS000158202  = df_book_table02[j,position_table02]:  TS000158202
df_book_table01[i,position_table01]:  TS000156721  = df_book_table02[j,position_table02]:  TS000156721
df_book_table01[i,position_table01]:  TS000156591  = df_book_table02[j,position_table02]:  TS000156591
df_book_table01[i,position_table01]:  TS000133123  = df_book_table02[j,position_table02]:  TS000133123
df_book_table01[i,position_table01]:  TS000163708  = df_book_table02[j,position_table02]:  TS000163708
df_book_table01[i,position_table01]:  TS000165695  = df_book_table02[j,position_table02]:  TS000165695
Cont=  58
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TicketID     58 non-null     object
 1   Subject      58 non-null     object
 2   Dealer       58 non-null     object
 3   Company      58 non-null     object
 4   Assign To    58 non-null     object
 5   Reg By       58 non-null     object
 6   Jira Number  58 non-null     object
 7   Commitment   58 non-null     object
 8   Ask to       58 non-null     object
 9   Date opened  58 non-null     object
dtypes: object(10)
memory usage: 4.7+ KB
None
Trabajando...
df_book_table01[i,position_table01]:  TS000163067  = df_book_table02[j,position_table02]:  TS000163067
df_book_table01[i,position_table01]:  TS000165503  = df_book_table02[j,position_table02]:  TS000165503
df_book_table01[i,position_table01]:  TS000165668  = df_book_table02[j,position_table02]:  TS000165668
df_book_table01[i,position_table01]:  TS000165485  = df_book_table02[j,position_table02]:  TS000165485
df_book_table01[i,position_table01]:  TS000165453  = df_book_table02[j,position_table02]:  TS000165453
df_book_table01[i,position_table01]:  TS000165218  = df_book_table02[j,position_table02]:  TS000165218
df_book_table01[i,position_table01]:  TS000165245  = df_book_table02[j,position_table02]:  TS000165245
df_book_table01[i,position_table01]:  TS000165342  = df_book_table02[j,position_table02]:  TS000165342
df_book_table01[i,position_table01]:  TS000163976  = df_book_table02[j,position_table02]:  TS000163976
df_book_table01[i,position_table01]:  TS000160013  = df_book_table02[j,position_table02]:  TS000160013
df_book_table01[i,position_table01]:  TS000164775  = df_book_table02[j,position_table02]:  TS000164775
df_book_table01[i,position_table01]:  TS000165220  = df_book_table02[j,position_table02]:  TS000165220
df_book_table01[i,position_table01]:  TS000163723  = df_book_table02[j,position_table02]:  TS000163723
df_book_table01[i,position_table01]:  TS000164581  = df_book_table02[j,position_table02]:  TS000164581
df_book_table01[i,position_table01]:  TS000164571  = df_book_table02[j,position_table02]:  TS000164571
df_book_table01[i,position_table01]:  TS000164451  = df_book_table02[j,position_table02]:  TS000164451
df_book_table01[i,position_table01]:  TS000164384  = df_book_table02[j,position_table02]:  TS000164384
df_book_table01[i,position_table01]:  TS000164382  = df_book_table02[j,position_table02]:  TS000164382
df_book_table01[i,position_table01]:  TS000164335  = df_book_table02[j,position_table02]:  TS000164335
df_book_table01[i,position_table01]:  TS000159795  = df_book_table02[j,position_table02]:  TS000159795
df_book_table01[i,position_table01]:  TS000163798  = df_book_table02[j,position_table02]:  TS000163798
df_book_table01[i,position_table01]:  TS000159988  = df_book_table02[j,position_table02]:  TS000159988
df_book_table01[i,position_table01]:  TS000157637  = df_book_table02[j,position_table02]:  TS000157637
df_book_table01[i,position_table01]:  TS000156278  = df_book_table02[j,position_table02]:  TS000156278
df_book_table01[i,position_table01]:  TS000156274  = df_book_table02[j,position_table02]:  TS000156274
df_book_table01[i,position_table01]:  TS000154165  = df_book_table02[j,position_table02]:  TS000154165
df_book_table01[i,position_table01]:  TS000152732  = df_book_table02[j,position_table02]:  TS000152732
df_book_table01[i,position_table01]:  TS000150202  = df_book_table02[j,position_table02]:  TS000150202
df_book_table01[i,position_table01]:  TS000162405  = df_book_table02[j,position_table02]:  TS000162405
df_book_table01[i,position_table01]:  TS000161857  = df_book_table02[j,position_table02]:  TS000161857
df_book_table01[i,position_table01]:  TS000160363  = df_book_table02[j,position_table02]:  TS000160363
df_book_table01[i,position_table01]:  TS000159520  = df_book_table02[j,position_table02]:  TS000159520
df_book_table01[i,position_table01]:  TS000159244  = df_book_table02[j,position_table02]:  TS000159244
df_book_table01[i,position_table01]:  TS000149945  = df_book_table02[j,position_table02]:  TS000149945
df_book_table01[i,position_table01]:  TS000144935  = df_book_table02[j,position_table02]:  TS000144935
df_book_table01[i,position_table01]:  TS000163787  = df_book_table02[j,position_table02]:  TS000163787
df_book_table01[i,position_table01]:  TS000163772  = df_book_table02[j,position_table02]:  TS000163772
df_book_table01[i,position_table01]:  TS000163620  = df_book_table02[j,position_table02]:  TS000163620
df_book_table01[i,position_table01]:  TS000163255  = df_book_table02[j,position_table02]:  TS000163255
df_book_table01[i,position_table01]:  TS000163078  = df_book_table02[j,position_table02]:  TS000163078
df_book_table01[i,position_table01]:  TS000163006  = df_book_table02[j,position_table02]:  TS000163006
df_book_table01[i,position_table01]:  TS000162962  = df_book_table02[j,position_table02]:  TS000162962
df_book_table01[i,position_table01]:  TS000162503  = df_book_table02[j,position_table02]:  TS000162503
df_book_table01[i,position_table01]:  TS000162071  = df_book_table02[j,position_table02]:  TS000162071
df_book_table01[i,position_table01]:  TS000161839  = df_book_table02[j,position_table02]:  TS000161839
df_book_table01[i,position_table01]:  TS000161349  = df_book_table02[j,position_table02]:  TS000161349
df_book_table01[i,position_table01]:  TS000161066  = df_book_table02[j,position_table02]:  TS000161066
df_book_table01[i,position_table01]:  TS000161065  = df_book_table02[j,position_table02]:  TS000161065
df_book_table01[i,position_table01]:  TS000159072  = df_book_table02[j,position_table02]:  TS000159072
df_book_table01[i,position_table01]:  TS000158948  = df_book_table02[j,position_table02]:  TS000158948
df_book_table01[i,position_table01]:  TS000158501  = df_book_table02[j,position_table02]:  TS000158501
df_book_table01[i,position_table01]:  TS000158203  = df_book_table02[j,position_table02]:  TS000158203
df_book_table01[i,position_table01]:  TS000158202  = df_book_table02[j,position_table02]:  TS000158202
df_book_table01[i,position_table01]:  TS000156721  = df_book_table02[j,position_table02]:  TS000156721
df_book_table01[i,position_table01]:  TS000156591  = df_book_table02[j,position_table02]:  TS000156591
df_book_table01[i,position_table01]:  TS000133123  = df_book_table02[j,position_table02]:  TS000133123
df_book_table01[i,position_table01]:  TS000163708  = df_book_table02[j,position_table02]:  TS000163708
df_book_table01[i,position_table01]:  TS000165695  = df_book_table02[j,position_table02]:  TS000165695
       TicketID                                            Subject  \
16  TS000165526  INCONSISTENCIAS EN EL REPORTE DETALLADO DE ACT...
18  TS000163444  SOLCITUD ADICIONAR INFORME REPORTE BASICO LATI...
19  TS000162551    Panel de Vehiculos - Informacion de Combustible
21  TS000162295    Cliente solicita configuracion que tenia activa
40  TS000164088  UNIDADES VIDFLEET IA CON NOVEDADES A REPORTAR ...
50  TS000163023  REVISION DESFASE DE DESCARGA DE VIDEOS DE PLAT...

                      Dealer                      Company   Assigned To  \
16           TSO Mobile Peru   TRANSPORTES SAKURA E.I.R.L  José Hurtado
18  TSO Colombia - IBO IDCOM        DOMINION COLOMBIA SAS  José Hurtado
19     TSO Mobile - Colombia           VERDE AZUCAR S.A.S  José Hurtado
21     TSO Mobile - Colombia              BOMBA FOODS SAS  José Hurtado
40     TSO Mobile - Colombia        TTSO MOBILE S.A.S COL  José Hurtado
50           TSO Mobile Peru  SERVICENTROS DEL SUR S.A.C.  José Hurtado

               Registered By JiraNumber          Date Opened
16       Olga Díaz Rodríguez   TSO-3694  19 Dec 2025 1:37 PM
18  Diana Turriago Contreras   TSO-3676      7/11/2025 15:57
19          Harold Dominguez      Empty     21/10/2025 10:47
21          Harold Dominguez      Empty     16/10/2025 10:49
40          Alvaro Castañeda   TSO-3690     21/11/2025 12:03
50               Jorge Solis   TSO-3692     29/10/2025 17:08