In [36]:
import pandas as pd
import numpy as np

In [37]:
ubd_nf=pd.read_csv('/home/jlhb1984/py-projects/data/cases/CRMUnitsDealersReports_15724_20251202140152.csv',sep=';',encoding='latin1')
ubd=ubd_nf[ubd_nf['Last Event Date'].str.contains('2025')]
ubd_nf.info()
ubd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27473 entries, 0 to 27472
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   27473 non-null  object
 1   Company                  27473 non-null  object
 2   VIP                      27473 non-null  object
 3   FEIN                     24940 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      6258 non-null   object
 6   Peripherals              27473 non-null  object
 7   Service                  22486 non-null  object
 8   Owner                    27473 non-null  object
 9   Unit ID                  27473 non-null  object
 10  Unit                     27473 non-null  object
 11  Unit Type                27473 non-null  object
 12  Carrier                  24672 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              27473 non-null  object
 15  Billing Group            3965 non-null   object
 16  Billing Period           27322 non-null  object
 17  Last Service Paid Until  27473 non-null  object
 18  Service Paid Until       27473 non-null  object
 19  Serial Number            25048 non-null  object
 20  IMEI                     25033 non-null  object
 21  Bill To                  1211 non-null   object
 22  Status                   27473 non-null  object
 23  Event                    24426 non-null  object
 24  Assigned To Company On   27473 non-null  object
 25  Last Event Date          27473 non-null  object
 26  Last Contact On          27473 non-null  object
 27  Last Event Address       24961 non-null  object
dtypes: float64(2), object(26)
memory usage: 5.9+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 14578 entries, 0 to 27472
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   14578 non-null  object
 1   Company                  14578 non-null  object
 2   VIP                      14578 non-null  object
 3   FEIN                     14134 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      5365 non-null   object
 6   Peripherals              14578 non-null  object
 7   Service                  14205 non-null  object
 8   Owner                    14578 non-null  object
 9   Unit ID                  14578 non-null  object
 10  Unit                     14578 non-null  object
 11  Unit Type                14578 non-null  object
 12  Carrier                  14364 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              14578 non-null  object
 15  Billing Group            862 non-null    object
 16  Billing Period           14452 non-null  object
 17  Last Service Paid Until  14578 non-null  object
 18  Service Paid Until       14578 non-null  object
 19  Serial Number            14573 non-null  object
 20  IMEI                     14571 non-null  object
 21  Bill To                  1094 non-null   object
 22  Status                   14578 non-null  object
 23  Event                    14296 non-null  object
 24  Assigned To Company On   14578 non-null  object
 25  Last Event Date          14578 non-null  object
 26  Last Contact On          14578 non-null  object
 27  Last Event Address       14578 non-null  object
dtypes: float64(2), object(26)
memory usage: 3.2+ MB

In [38]:
vec_aux=[]
for i in range(0,14578):
    aux=ubd.iloc[i,14].replace(',','.')
    vec_aux.append(float(aux))
ubd['Dec_Monthly_fee']=vec_aux

ubd.info()
#ubd.to_csv('/home/jlhb1984/py-projects/data/cases/mrr.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 14578 entries, 0 to 27472
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   14578 non-null  object
 1   Company                  14578 non-null  object
 2   VIP                      14578 non-null  object
 3   FEIN                     14134 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      5365 non-null   object
 6   Peripherals              14578 non-null  object
 7   Service                  14205 non-null  object
 8   Owner                    14578 non-null  object
 9   Unit ID                  14578 non-null  object
 10  Unit                     14578 non-null  object
 11  Unit Type                14578 non-null  object
 12  Carrier                  14364 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              14578 non-null  object
 15  Billing Group            862 non-null    object
 16  Billing Period           14452 non-null  object
 17  Last Service Paid Until  14578 non-null  object
 18  Service Paid Until       14578 non-null  object
 19  Serial Number            14573 non-null  object
 20  IMEI                     14571 non-null  object
 21  Bill To                  1094 non-null   object
 22  Status                   14578 non-null  object
 23  Event                    14296 non-null  object
 24  Assigned To Company On   14578 non-null  object
 25  Last Event Date          14578 non-null  object
 26  Last Contact On          14578 non-null  object
 27  Last Event Address       14578 non-null  object
 28  Dec_Monthly_fee          14578 non-null  float64
dtypes: float64(3), object(26)
memory usage: 3.3+ MB

/tmp/ipykernel_32249/3941827397.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ubd['Dec_Monthly_fee']=vec_aux

In [39]:
ubd['Dealer'].value_counts()

Dealer
TSO Mobile - Colombia             6739
TSO Mobile Peru                   3758
TSO Colombia - IBO IDCOM          1804
TSO Colombia - IBO SEGTEC         1323
UTS Sistemas Kalo MX               953
TSO Peru -   FG SATELITAL EIRL       1
Name: count, dtype: int64

In [40]:
tso_mobile_colombia=ubd[ubd['Dealer'].str.contains('TSO Mobile - Colombia')]
tso_mobile_peru=ubd[ubd['Dealer'].str.contains('TSO Mobile Peru')]
uts_sistemas_kalo=ubd[ubd['Dealer'].str.contains('UTS Sistemas Kalo MX')]
tso_mobile_colombia_ibo_idcom=ubd[ubd['Dealer'].str.contains('TSO Colombia - IBO IDCOM')]
tso_mobile_colombia_ibo_segtec=ubd[ubd['Dealer'].str.contains('TSO Colombia - IBO SEGTEC')]
tso_peru_fg_satelital_eirl=ubd[ubd['Dealer'].str.contains('TSO Peru -   FG SATELITAL EIRL')]

In [41]:
col=pd.concat([tso_mobile_colombia,tso_mobile_colombia_ibo_idcom,tso_mobile_colombia_ibo_segtec])
per=pd.concat([tso_mobile_peru,tso_peru_fg_satelital_eirl])
mex=uts_sistemas_kalo

Calamp

In [42]:
calamp_2630_col=col[col['Unit Type'].str.contains('2630')]
calamp_2630_col.info()
rows_calamp_2630_col=calamp_2630_col.shape[0]
calamp_2630_per=per[per['Unit Type'].str.contains('2630')]
calamp_2630_per.info()
rows_calamp_2630_per=calamp_2630_per.shape[0]
calamp_2630_mex=mex[mex['Unit Type'].str.contains('2630')]
calamp_2630_mex.info()
rows_calamp_2630_mex=calamp_2630_mex.shape[0]
calamp_2630_col.to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 1866 entries, 4341 to 27309
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   1866 non-null   object
 1   Company                  1866 non-null   object
 2   VIP                      1866 non-null   object
 3   FEIN                     1865 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      344 non-null    object
 6   Peripherals              1866 non-null   object
 7   Service                  1815 non-null   object
 8   Owner                    1866 non-null   object
 9   Unit ID                  1866 non-null   object
 10  Unit                     1866 non-null   object
 11  Unit Type                1866 non-null   object
 12  Carrier                  1854 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              1866 non-null   object
 15  Billing Group            47 non-null     object
 16  Billing Period           1852 non-null   object
 17  Last Service Paid Until  1866 non-null   object
 18  Service Paid Until       1866 non-null   object
 19  Serial Number            1866 non-null   object
 20  IMEI                     1866 non-null   object
 21  Bill To                  133 non-null    object
 22  Status                   1866 non-null   object
 23  Event                    1851 non-null   object
 24  Assigned To Company On   1866 non-null   object
 25  Last Event Date          1866 non-null   object
 26  Last Contact On          1866 non-null   object
 27  Last Event Address       1866 non-null   object
 28  Dec_Monthly_fee          1866 non-null   float64
dtypes: float64(3), object(26)
memory usage: 437.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1163 entries, 3 to 7001
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   1163 non-null   object
 1   Company                  1163 non-null   object
 2   VIP                      1163 non-null   object
 3   FEIN                     1163 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      1031 non-null   object
 6   Peripherals              1163 non-null   object
 7   Service                  1158 non-null   object
 8   Owner                    1163 non-null   object
 9   Unit ID                  1163 non-null   object
 10  Unit                     1163 non-null   object
 11  Unit Type                1163 non-null   object
 12  Carrier                  1137 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              1163 non-null   object
 15  Billing Group            89 non-null     object
 16  Billing Period           1124 non-null   object
 17  Last Service Paid Until  1163 non-null   object
 18  Service Paid Until       1163 non-null   object
 19  Serial Number            1163 non-null   object
 20  IMEI                     1163 non-null   object
 21  Bill To                  192 non-null    object
 22  Status                   1163 non-null   object
 23  Event                    1150 non-null   object
 24  Assigned To Company On   1163 non-null   object
 25  Last Event Date          1163 non-null   object
 26  Last Contact On          1163 non-null   object
 27  Last Event Address       1163 non-null   object
 28  Dec_Monthly_fee          1163 non-null   float64
dtypes: float64(3), object(26)
memory usage: 272.6+ KB

<class 'pandas.core.frame.DataFrame'>
Index: 274 entries, 18 to 27272
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   274 non-null    object
 1   Company                  274 non-null    object
 2   VIP                      274 non-null    object
 3   FEIN                     147 non-null    object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      3 non-null      object
 6   Peripherals              274 non-null    object
 7   Service                  274 non-null    object
 8   Owner                    274 non-null    object
 9   Unit ID                  274 non-null    object
 10  Unit                     274 non-null    object
 11  Unit Type                274 non-null    object
 12  Carrier                  267 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              274 non-null    object
 15  Billing Group            0 non-null      object
 16  Billing Period           273 non-null    object
 17  Last Service Paid Until  274 non-null    object
 18  Service Paid Until       274 non-null    object
 19  Serial Number            274 non-null    object
 20  IMEI                     274 non-null    object
 21  Bill To                  0 non-null      object
 22  Status                   274 non-null    object
 23  Event                    274 non-null    object
 24  Assigned To Company On   274 non-null    object
 25  Last Event Date          274 non-null    object
 26  Last Contact On          274 non-null    object
 27  Last Event Address       274 non-null    object
 28  Dec_Monthly_fee          274 non-null    float64
dtypes: float64(3), object(26)
memory usage: 64.2+ KB

In [43]:
calamp_2630_col['Dec_Monthly_fee'].value_counts()
for i in range(0,rows_calamp_2630_col):
    if calamp_2630_col.iloc[i,28]>=5800000:
        calamp_2630_col.iloc[i,28]=calamp_2630_col.iloc[i,28]/100
#calamp_2630_col['Dec_Monthly_fee'].to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr.csv')
(calamp_2630_col['Dec_Monthly_fee'].value_counts()).to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr_calamp.csv')

In [44]:
dollar=float(input('Digite el valor actual del dolar: '))
total_mex=calamp_2630_mex['Dec_Monthly_fee'].sum()
total_peru=calamp_2630_per['Dec_Monthly_fee'].sum()
total_col=calamp_2630_col['Dec_Monthly_fee'].sum()
print("Mex: ",total_mex,"Peru: ",total_peru, "Colombia: ",total_col/dollar)

Mex:  7487.280000000001 Peru:  23145.97 Colombia:  24762.75871432312

Queclink gl300

In [45]:
gl300_col=col[col['Unit Type'].str.contains('GL 300')]
gl300_col.info()
rows_gl300_col=calamp_2630_col.shape[0]
gl300_per=per[per['Unit Type'].str.contains('GL 300')]
gl300_per.info()
rows_calamp_2630_per=calamp_2630_per.shape[0]
gl300_mex=mex[mex['Unit Type'].str.contains('GL 300')]
gl300_mex.info()
rows_gl300_mex=calamp_2630_mex.shape[0]
gl300_col.to_csv('/home/jlhb1984/py-projects/data/cases/col_mrr_GL300.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 207 entries, 4982 to 11905
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   207 non-null    object
 1   Company                  207 non-null    object
 2   VIP                      207 non-null    object
 3   FEIN                     207 non-null    object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      13 non-null     object
 6   Peripherals              207 non-null    object
 7   Service                  207 non-null    object
 8   Owner                    207 non-null    object
 9   Unit ID                  207 non-null    object
 10  Unit                     207 non-null    object
 11  Unit Type                207 non-null    object
 12  Carrier                  206 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              207 non-null    object
 15  Billing Group            5 non-null      object
 16  Billing Period           207 non-null    object
 17  Last Service Paid Until  207 non-null    object
 18  Service Paid Until       207 non-null    object
 19  Serial Number            207 non-null    object
 20  IMEI                     207 non-null    object
 21  Bill To                  23 non-null     object
 22  Status                   207 non-null    object
 23  Event                    120 non-null    object
 24  Assigned To Company On   207 non-null    object
 25  Last Event Date          207 non-null    object
 26  Last Contact On          207 non-null    object
 27  Last Event Address       207 non-null    object
 28  Dec_Monthly_fee          207 non-null    float64
dtypes: float64(3), object(26)
memory usage: 48.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 9311 to 20872
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   40 non-null     object
 1   Company                  40 non-null     object
 2   VIP                      40 non-null     object
 3   FEIN                     40 non-null     object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      20 non-null     object
 6   Peripherals              40 non-null     object
 7   Service                  40 non-null     object
 8   Owner                    40 non-null     object
 9   Unit ID                  40 non-null     object
 10  Unit                     40 non-null     object
 11  Unit Type                40 non-null     object
 12  Carrier                  34 non-null     object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              40 non-null     object
 15  Billing Group            12 non-null     object
 16  Billing Period           38 non-null     object
 17  Last Service Paid Until  40 non-null     object
 18  Service Paid Until       40 non-null     object
 19  Serial Number            40 non-null     object
 20  IMEI                     40 non-null     object
 21  Bill To                  0 non-null      object
 22  Status                   40 non-null     object
 23  Event                    39 non-null     object
 24  Assigned To Company On   40 non-null     object
 25  Last Event Date          40 non-null     object
 26  Last Contact On          40 non-null     object
 27  Last Event Address       40 non-null     object
 28  Dec_Monthly_fee          40 non-null     float64
dtypes: float64(3), object(26)
memory usage: 9.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 100 to 11433
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   7 non-null      object
 1   Company                  7 non-null      object
 2   VIP                      7 non-null      object
 3   FEIN                     5 non-null      object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      0 non-null      object
 6   Peripherals              7 non-null      object
 7   Service                  7 non-null      object
 8   Owner                    7 non-null      object
 9   Unit ID                  7 non-null      object
 10  Unit                     7 non-null      object
 11  Unit Type                7 non-null      object
 12  Carrier                  7 non-null      object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              7 non-null      object
 15  Billing Group            0 non-null      object
 16  Billing Period           7 non-null      object
 17  Last Service Paid Until  7 non-null      object
 18  Service Paid Until       7 non-null      object
 19  Serial Number            7 non-null      object
 20  IMEI                     7 non-null      object
 21  Bill To                  0 non-null      object
 22  Status                   7 non-null      object
 23  Event                    7 non-null      object
 24  Assigned To Company On   7 non-null      object
 25  Last Event Date          7 non-null      object
 26  Last Contact On          7 non-null      object
 27  Last Event Address       7 non-null      object
 28  Dec_Monthly_fee          7 non-null      float64
dtypes: float64(3), object(26)
memory usage: 1.6+ KB

In [47]:
#dollar=float(input('Digite el valor actual del dolar: '))
total_mex_gl300=gl300_mex['Dec_Monthly_fee'].sum()
total_peru_gl300=gl300_per['Dec_Monthly_fee'].sum()
total_col_gl300=gl300_col['Dec_Monthly_fee'].sum()
print('Mexico: ',total_mex_gl300,'Peru: ',total_peru_gl300,'Colombia: ',total_col_gl300/dollar)

Mexico:  189.93 Peru:  923.3299999999998 Colombia:  1578.9804032469233