In [59]:
import pandas as pd
import numpy as np

In [60]:
ubd=pd.read_csv('/home/jlhb1984/py-projects/data/cases/ubd.csv',sep=';',encoding='latin1')
ubd.info()
fs=ubd[ubd['Peripherals'].str.contains('Fuel Sensor')]
fs['Fuel Sensor Serials']='Empty'
fs.info()
fs_rows=fs.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10179 entries, 0 to 10178
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   10179 non-null  object
 1   Company                  10179 non-null  object
 2   VIP                      10179 non-null  object
 3   FEIN                     10179 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      1035 non-null   object
 6   Peripherals              10179 non-null  object
 7   Service                  8373 non-null   object
 8   Owner                    10179 non-null  object
 9   Unit ID                  10179 non-null  object
 10  Unit                     10179 non-null  object
 11  Unit Type                10179 non-null  object
 12  Carrier                  9328 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              10179 non-null  object
 15  Billing Group            400 non-null    object
 16  Billing Period           10125 non-null  object
 17  Last Service Paid Until  10179 non-null  object
 18  Service Paid Until       10179 non-null  object
 19  Serial Number            9517 non-null   object
 20  IMEI                     9514 non-null   object
 21  Bill To                  515 non-null    object
 22  Status                   10179 non-null  object
 23  Event                    9158 non-null   object
 24  Assigned To Company On   10179 non-null  object
 25  Last Event Date          10179 non-null  object
 26  Last Contact On          10179 non-null  object
 27  Last Event Address       9497 non-null   object
dtypes: float64(2), object(26)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 315 entries, 7 to 10173
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   315 non-null    object
 1   Company                  315 non-null    object
 2   VIP                      315 non-null    object
 3   FEIN                     315 non-null    object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      87 non-null     object
 6   Peripherals              315 non-null    object
 7   Service                  246 non-null    object
 8   Owner                    315 non-null    object
 9   Unit ID                  315 non-null    object
 10  Unit                     315 non-null    object
 11  Unit Type                315 non-null    object
 12  Carrier                  304 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              315 non-null    object
 15  Billing Group            2 non-null      object
 16  Billing Period           314 non-null    object
 17  Last Service Paid Until  315 non-null    object
 18  Service Paid Until       315 non-null    object
 19  Serial Number            315 non-null    object
 20  IMEI                     315 non-null    object
 21  Bill To                  10 non-null     object
 22  Status                   315 non-null    object
 23  Event                    295 non-null    object
 24  Assigned To Company On   315 non-null    object
 25  Last Event Date          315 non-null    object
 26  Last Contact On          315 non-null    object
 27  Last Event Address       315 non-null    object
 28  Fuel Sensor Serials      315 non-null    object
dtypes: float64(2), object(27)
memory usage: 73.8+ KB

/tmp/ipykernel_54451/40685226.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fs['Fuel Sensor Serials']='Empty'

In [66]:
serial_fs_value=[]
for i in range(0,fs_rows):
    serial_fs_value.append(fs.iloc[i,6][14:20])
    
fs['Fuel Sensor Serials']=serial_fs_value

fs[['Fuel Sensor Serials','Unit ID','Company']]

/tmp/ipykernel_54451/2976332491.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fs['Fuel Sensor Serials']=serial_fs_value

      Fuel Sensor Serials Unit ID                    Company
7                  Fuel S    1BL4              A-JESUS-TEST2
26                 212690    17YD  AE INGENIEROS CIVILES SAS
27                 215129    19SL  AE INGENIEROS CIVILES SAS
28                 215130    19T1  AE INGENIEROS CIVILES SAS
29                 214906    19VQ  AE INGENIEROS CIVILES SAS
...                   ...     ...                        ...
10165              004035    0KJY         ZONA LOGISTICA SAS
10166              004036    0KJZ         ZONA LOGISTICA SAS
10167              004037    0KK0         ZONA LOGISTICA SAS
10168              158063    0M56         ZONA LOGISTICA SAS
10173              158074    749V         ZONA LOGISTICA SAS

[315 rows x 3 columns]