In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [5]:
hlskh640=pd.read_csv('/home/jlhb1984/py-projects/data/brotco/skh640.csv',sep=';',encoding='latin1')
hlskh640.info()
hlskh640['MDY']='NaN'
hlskh640['MDY']=hlskh640['Date'].str[0:11]
(hlskh640['MDY'].value_counts()).to_csv('/home/jlhb1984/py-projects/data/brotco/skh640_dates.csv')
hlskh640_dates=pd.read_csv('/home/jlhb1984/py-projects/data/brotco/skh640_dates.csv')
hlskh640_dates.info()
hlskh640_dates['MDY'].sort_values()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7850 entries, 0 to 7849
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     7850 non-null   int64
 1   Unit         7850 non-null   object
 2   Events       7850 non-null   object
 3   Date         7850 non-null   object
 4   Landmark     0 non-null      float64
 5   Address      7642 non-null   object
 6   Speed        7850 non-null   int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     7850 non-null   float64
 10  Longitude    7850 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 674.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MDY     23 non-null     object
 1   count   23 non-null     int64
dtypes: int64(1), object(1)
memory usage: 500.0+ bytes

6     Jun 03 2025
10    Jun 04 2025
11    Jun 05 2025
19    Jun 06 2025
15    Jun 07 2025
18    Jun 08 2025
14    Jun 09 2025
13    Jun 10 2025
16    Jun 11 2025
8     Jun 12 2025
0     Jun 13 2025
12    Jun 14 2025
17    Jun 15 2025
9     Jun 16 2025
20    Jun 17 2025
21    Jun 18 2025
2     Jun 19 2025
4     Jun 20 2025
7     Jun 21 2025
3     Jun 23 2025
5     Jun 24 2025
1     Jun 25 2025
22    Jun 26 2025
Name: MDY, dtype: object

In [8]:
hlskh640_events=hlskh640['Events'].value_counts()
hlskh640_events

Events
Drive                   4148
Idle - Stop             1175
Travel Start             622
Travel Stop              617
Parked                   585
POWER UP                 260
Idle Alert               174
Ignition ON               94
Ignition OFF              92
Towing/Drifting?          57
Combustible Subiendo      17
Combustible Bajando        7
Harsh Turn                 2
Name: count, dtype: int64

30-05-2025: Parked
27-06-2025: Posible p√©rdida de cobertura. Zona boscosa.
Muchos Power Up.

In [6]:
hlsmh772=pd.read_csv('/home/jlhb1984/py-projects/data/brotco/smh772.csv',sep=';',encoding='latin1')
hlsmh772.info()
hlsmh772['MDY']='NaN'
hlsmh772['MDY']=hlsmh772['Date'].str[0:11]
(hlsmh772['MDY'].value_counts()).to_csv('/home/jlhb1984/py-projects/data/brotco/smh772_dates.csv')
hlsmh772_dates=pd.read_csv('/home/jlhb1984/py-projects/data/brotco/smh772_dates.csv')
hlsmh772_dates.info()
hlsmh772_dates['MDY'].sort_values()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7019 entries, 0 to 7018
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     7019 non-null   int64
 1   Unit         7019 non-null   object
 2   Events       7019 non-null   object
 3   Date         7019 non-null   object
 4   Landmark     0 non-null      float64
 5   Address      7019 non-null   object
 6   Speed        7019 non-null   int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     7019 non-null   float64
 10  Longitude    7019 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 603.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MDY     27 non-null     object
 1   count   27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 564.0+ bytes

23    Jun 01 2025
24    Jun 02 2025
0     Jun 03 2025
26    Jun 04 2025
1     Jun 05 2025
9     Jun 06 2025
4     Jun 07 2025
5     Jun 08 2025
7     Jun 09 2025
2     Jun 10 2025
3     Jun 11 2025
6     Jun 12 2025
22    Jun 13 2025
21    Jun 14 2025
20    Jun 15 2025
19    Jun 16 2025
12    Jun 17 2025
8     Jun 18 2025
14    Jun 19 2025
13    Jun 20 2025
18    Jun 21 2025
16    Jun 22 2025
15    Jun 23 2025
17    Jun 24 2025
10    Jun 25 2025
11    Jun 26 2025
25    Jun 27 2025
Name: MDY, dtype: object

In [9]:
hlsmh772_events=hlsmh772['Events'].value_counts()
hlsmh772_events

Events
Parked           5454
Drive             773
Idle - Stop       360
Travel Start      156
Travel Stop       152
Idle Alert         56
Ignition ON        31
Ignition OFF       29
Fuel Raising        4
POWER UP            2
Fuel Dropping       2
Name: count, dtype: int64