In [1]:
import pandas as pd
import numpy as np

In [3]:
ubd=pd.read_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/CRMUnitsDealersReports_16072025.csv',sep=';',encoding='latin1')
ubd.info()
ubd['Unit Type'].fillna('Empty',inplace=True)
queclink=ubd[ubd['Unit Type'].str.contains('Queclink')]
queclink.info()
calamp=ubd[ubd['Unit Type'].str.contains('Cal')]
calamp.info()
topfly=ubd[ubd['Unit Type'].str.contains('Top')]
topfly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25123 entries, 0 to 25122
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   25122 non-null  object
 1   Company                  25122 non-null  object
 2   VIP                      25122 non-null  object
 3   FEIN                     22508 non-null  object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      4838 non-null   object
 6   Peripherals              25122 non-null  object
 7   Service                  20312 non-null  object
 8   Owner                    25122 non-null  object
 9   Unit ID                  25122 non-null  object
 10  Unit                     25122 non-null  object
 11  Unit Type                25122 non-null  object
 12  Carrier                  23364 non-null  object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              25122 non-null  object
 15  Billing Group            4010 non-null   object
 16  Billing Period           24943 non-null  object
 17  Last Service Paid Until  25122 non-null  object
 18  Service Paid Until       25122 non-null  object
 19  Serial Number            23712 non-null  object
 20  IMEI                     23696 non-null  object
 21  Bill To                  1359 non-null   object
 22  Status                   25122 non-null  object
 23  Event                    23418 non-null  object
 24  Assigned To Company On   25122 non-null  object
 25  Last Event Date          25122 non-null  object
 26  Last Contact On          25122 non-null  object
 27  Last Event Address       23762 non-null  object
dtypes: float64(2), object(26)
memory usage: 5.4+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 7368 entries, 1 to 25121
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   7368 non-null   object
 1   Company                  7368 non-null   object
 2   VIP                      7368 non-null   object
 3   FEIN                     6805 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      1999 non-null   object
 6   Peripherals              7368 non-null   object
 7   Service                  6770 non-null   object
 8   Owner                    7368 non-null   object
 9   Unit ID                  7368 non-null   object
 10  Unit                     7368 non-null   object
 11  Unit Type                7368 non-null   object
 12  Carrier                  6776 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              7368 non-null   object
 15  Billing Group            1153 non-null   object
 16  Billing Period           7287 non-null   object
 17  Last Service Paid Until  7368 non-null   object
 18  Service Paid Until       7368 non-null   object
 19  Serial Number            6852 non-null   object
 20  IMEI                     6848 non-null   object
 21  Bill To                  541 non-null    object
 22  Status                   7368 non-null   object
 23  Event                    6804 non-null   object
 24  Assigned To Company On   7368 non-null   object
 25  Last Event Date          7368 non-null   object
 26  Last Contact On          7368 non-null   object
 27  Last Event Address       6855 non-null   object
dtypes: float64(2), object(26)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 7765 entries, 9 to 25114
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   7765 non-null   object
 1   Company                  7765 non-null   object
 2   VIP                      7765 non-null   object
 3   FEIN                     7351 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      1860 non-null   object
 6   Peripherals              7765 non-null   object
 7   Service                  7367 non-null   object
 8   Owner                    7765 non-null   object
 9   Unit ID                  7765 non-null   object
 10  Unit                     7765 non-null   object
 11  Unit Type                7765 non-null   object
 12  Carrier                  7439 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              7765 non-null   object
 15  Billing Group            888 non-null    object
 16  Billing Period           7692 non-null   object
 17  Last Service Paid Until  7765 non-null   object
 18  Service Paid Until       7765 non-null   object
 19  Serial Number            7611 non-null   object
 20  IMEI                     7605 non-null   object
 21  Bill To                  447 non-null    object
 22  Status                   7765 non-null   object
 23  Event                    7476 non-null   object
 24  Assigned To Company On   7765 non-null   object
 25  Last Event Date          7765 non-null   object
 26  Last Contact On          7765 non-null   object
 27  Last Event Address       7568 non-null   object
dtypes: float64(2), object(26)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1113 entries, 0 to 24955
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   1113 non-null   object
 1   Company                  1113 non-null   object
 2   VIP                      1113 non-null   object
 3   FEIN                     1113 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      333 non-null    object
 6   Peripherals              1113 non-null   object
 7   Service                  1096 non-null   object
 8   Owner                    1113 non-null   object
 9   Unit ID                  1113 non-null   object
 10  Unit                     1113 non-null   object
 11  Unit Type                1113 non-null   object
 12  Carrier                  787 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              1113 non-null   object
 15  Billing Group            4 non-null      object
 16  Billing Period           1113 non-null   object
 17  Last Service Paid Until  1113 non-null   object
 18  Service Paid Until       1113 non-null   object
 19  Serial Number            787 non-null    object
 20  IMEI                     787 non-null    object
 21  Bill To                  25 non-null     object
 22  Status                   1113 non-null   object
 23  Event                    784 non-null    object
 24  Assigned To Company On   1113 non-null   object
 25  Last Event Date          1113 non-null   object
 26  Last Contact On          1113 non-null   object
 27  Last Event Address       784 non-null    object
dtypes: float64(2), object(26)
memory usage: 252.2+ KB

/tmp/ipykernel_926/38848815.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ubd['Unit Type'].fillna('Empty',inplace=True)

In [3]:
queclink.info()
queclink.to_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/queclink_crm.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 7368 entries, 1 to 25121
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   7368 non-null   object
 1   Company                  7368 non-null   object
 2   VIP                      7368 non-null   object
 3   FEIN                     6805 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      1999 non-null   object
 6   Peripherals              7368 non-null   object
 7   Service                  6770 non-null   object
 8   Owner                    7368 non-null   object
 9   Unit ID                  7368 non-null   object
 10  Unit                     7368 non-null   object
 11  Unit Type                7368 non-null   object
 12  Carrier                  6776 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              7368 non-null   object
 15  Billing Group            1153 non-null   object
 16  Billing Period           7287 non-null   object
 17  Last Service Paid Until  7368 non-null   object
 18  Service Paid Until       7368 non-null   object
 19  Serial Number            6852 non-null   object
 20  IMEI                     6848 non-null   object
 21  Bill To                  541 non-null    object
 22  Status                   7368 non-null   object
 23  Event                    6804 non-null   object
 24  Assigned To Company On   7368 non-null   object
 25  Last Event Date          7368 non-null   object
 26  Last Contact On          7368 non-null   object
 27  Last Event Address       6855 non-null   object
dtypes: float64(2), object(26)
memory usage: 1.6+ MB

In [91]:
queclink['Company'].value_counts().to_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/queclinks.csv')
queclink_Domi=queclink[queclink['Company'].str.contains('DOMINION')] 
#queclink_Domi.info()
queclink_Domi_filtered=queclink_Domi[queclink_Domi['Unit Type'].str.contains('GV')]
#queclink_Domi_filtered.info()
#queclink_Domi_filtered['Unit Type'].value_counts()
queclink_Domi_filtered['Monthly Fee'].value_counts()

Monthly Fee
27000    171
Name: count, dtype: int64

In [92]:
(171*27000)/4000

1154.25

In [5]:
calamp.info()
calamp.to_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/calamp_crm.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 7765 entries, 9 to 25114
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   7765 non-null   object
 1   Company                  7765 non-null   object
 2   VIP                      7765 non-null   object
 3   FEIN                     7351 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      1860 non-null   object
 6   Peripherals              7765 non-null   object
 7   Service                  7367 non-null   object
 8   Owner                    7765 non-null   object
 9   Unit ID                  7765 non-null   object
 10  Unit                     7765 non-null   object
 11  Unit Type                7765 non-null   object
 12  Carrier                  7439 non-null   object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              7765 non-null   object
 15  Billing Group            888 non-null    object
 16  Billing Period           7692 non-null   object
 17  Last Service Paid Until  7765 non-null   object
 18  Service Paid Until       7765 non-null   object
 19  Serial Number            7611 non-null   object
 20  IMEI                     7605 non-null   object
 21  Bill To                  447 non-null    object
 22  Status                   7765 non-null   object
 23  Event                    7476 non-null   object
 24  Assigned To Company On   7765 non-null   object
 25  Last Event Date          7765 non-null   object
 26  Last Contact On          7765 non-null   object
 27  Last Event Address       7568 non-null   object
dtypes: float64(2), object(26)
memory usage: 1.7+ MB

In [10]:
calamp[['Unnamed: 13','Unnamed: 4']].head(2)

    Unnamed: 13  Unnamed: 4
9           NaN         NaN
10          NaN         NaN

In [7]:
topfly.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1113 entries, 0 to 24955
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dealer                   1113 non-null   object
 1   Company                  1113 non-null   object
 2   VIP                      1113 non-null   object
 3   FEIN                     1113 non-null   object
 4   Unnamed: 4               0 non-null      float64
 5   DNI                      333 non-null    object
 6   Peripherals              1113 non-null   object
 7   Service                  1096 non-null   object
 8   Owner                    1113 non-null   object
 9   Unit ID                  1113 non-null   object
 10  Unit                     1113 non-null   object
 11  Unit Type                1113 non-null   object
 12  Carrier                  787 non-null    object
 13  Unnamed: 13              0 non-null      float64
 14  Monthly Fee              1113 non-null   object
 15  Billing Group            4 non-null      object
 16  Billing Period           1113 non-null   object
 17  Last Service Paid Until  1113 non-null   object
 18  Service Paid Until       1113 non-null   object
 19  Serial Number            787 non-null    object
 20  IMEI                     787 non-null    object
 21  Bill To                  25 non-null     object
 22  Status                   1113 non-null   object
 23  Event                    784 non-null    object
 24  Assigned To Company On   1113 non-null   object
 25  Last Event Date          1113 non-null   object
 26  Last Contact On          1113 non-null   object
 27  Last Event Address       784 non-null    object
dtypes: float64(2), object(26)
memory usage: 252.2+ KB

In [8]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/calamp_ctc.csv')
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/calamp_crm.csv')
df_book_table01['IMEI'].fillna('123456',inplace=True)

/tmp/ipykernel_791/3799885544.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_book_table01['IMEI'].fillna('123456',inplace=True)
/tmp/ipykernel_791/3799885544.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '123456' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_book_table01['IMEI'].fillna('123456',inplace=True)

In [15]:
companies=pd.read_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/coincidences.csv')
#companies.info()
companies['Company'].value_counts()

Company
PROYECTOS DE INGENIERIA SA PROING SA                                   432
TTSO MOBILE S.A.S. COLOMBIA.                                           391
TSO INVENTARIO DISPONIBLE PERU                                         319
DON POLLO TROPICAL SAC                                                 132
LOGISTICA DE CARGA ESPECIALIZADA MULTIMODAL SAS LOGICEM - CARTAGENA    116
                                                                      ...
ASOCIACION GREMIAL AGROPECUARIA DE USUARIOS DEL RIO HUMEA                1
MILLER DE JESUS TOBON HENAO                                              1
FERRETERIA NIPLES YA SAS                                                 1
LOG?STICA Y TRANSPORTE SAN MIGUEL SAS                                    1
INDUSTRIAS VAC S.A.C.                                                    1
Name: count, Length: 829, dtype: int64

# PROING:

In [98]:
cu_proing=pd.read_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/cu.csv',sep=';',encoding='latin1')
#cu_proing.info()
cu_proing_pn_imeis=cu_proing[['IMEI','Phone Number']]
#cu_proing.describe()
#cu_proing['Monthly Fee'].sum()
cu_proing_calamp0330=cu_proing[cu_proing['Unit Type'].str.contains('0330')]
cu_proing_calamp0330.info()
cu_proing_calamp0330['Unit Type'].value_counts()
cu_proing_queclink=cu_proing[cu_proing['Unit Type'].str.contains('Quec')]
cu_proing_queclink.value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 305 entries, 1 to 728
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       305 non-null    int64
 1   Owner                    305 non-null    object
 2   Unit ID                  305 non-null    object
 3   Unit                     305 non-null    object
 4   Peripherals              3 non-null      object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      object
 8   Last Event Date          305 non-null    object
 9   Monthly Fee              305 non-null    int64
 10  Bill To                  0 non-null      object
 11  Assigned To              305 non-null    object
 12  Linked Mode              305 non-null    int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 305 non-null    object
 16  RMA                      305 non-null    object
 17  Unit Type                305 non-null    object
 18  IMEI                     305 non-null    object
 19  Serial Number            305 non-null    object
 20  Phone Number             305 non-null    object
 21  Carrier                  303 non-null    object
 22  SIM #                    305 non-null    object
 23  VIN                      181 non-null    object
 24  License Plate            305 non-null    object
 25  Static IP                2 non-null      object
 26  Event                    305 non-null    object
 27  Last Contact On          305 non-null    object
 28  Min                      305 non-null    int64
 29  Server IP                305 non-null    object
 30  Server Port              304 non-null    float64
 31  Last Event Address       305 non-null    object
 32  Modem                    290 non-null    object
 33  Inv #                    305 non-null    object
 34  Status                   305 non-null    object
 35  Last Service Paid Until  305 non-null    object
 36  Service Paid Until       305 non-null    object
 37  Assigned to Company      305 non-null    object
 38  IFTA                     305 non-null    object
 39  History Months           305 non-null    int64
 40  Comments                 4 non-null      object
 41  Warranty Expires         305 non-null    object
 42  Script                   234 non-null    object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 1 non-null      object
dtypes: float64(8), int64(5), object(34)
memory usage: 114.4+ KB

Series([], Name: count, dtype: int64)

In [101]:
cu_proing_queclink.describe()
totalq=cu_proing_queclink['Monthly Fee'].sum()
totalq

np.int64(9870400)

In [100]:
cu_proing_calamp0330.describe()
total_0330=cu_proing_calamp0330['Monthly Fee'].sum()
total_0330

np.int64(12139000)

In [72]:
MRR=totalq+total_0330
Total_units=248+305
print(Total_units, MRR/4000)

553 5502.35

In [96]:
calamp_0330_filt=pd.read_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/coincidences.csv')
calamp_0330_to_up=calamp_0330_filt[~calamp_0330_filt['Firmware'].str.contains('85f')]
calamp_0330_to_up.to_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/calamp_0330_proing_to_up.csv')

## COMPARADOR DE TABLAS

In [94]:
df_book_table01=cu_proing_calamp0330[cu_proing_calamp0330['Last Event Date'].str.contains('07/2025')]
df_book_table02=pd.read_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/coincidences_calamp_crm.csv')
df_book_table01.info()
df_book_table02.info()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, 2 to 728
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       249 non-null    int64
 1   Owner                    249 non-null    object
 2   Unit ID                  249 non-null    object
 3   Unit                     249 non-null    object
 4   Peripherals              0 non-null      object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      object
 8   Last Event Date          249 non-null    object
 9   Monthly Fee              249 non-null    int64
 10  Bill To                  0 non-null      object
 11  Assigned To              249 non-null    object
 12  Linked Mode              249 non-null    int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 249 non-null    object
 16  RMA                      249 non-null    object
 17  Unit Type                249 non-null    object
 18  IMEI                     249 non-null    object
 19  Serial Number            249 non-null    object
 20  Phone Number             249 non-null    object
 21  Carrier                  248 non-null    object
 22  SIM #                    249 non-null    object
 23  VIN                      144 non-null    object
 24  License Plate            249 non-null    object
 25  Static IP                2 non-null      object
 26  Event                    249 non-null    object
 27  Last Contact On          249 non-null    object
 28  Min                      249 non-null    int64
 29  Server IP                249 non-null    object
 30  Server Port              249 non-null    float64
 31  Last Event Address       249 non-null    object
 32  Modem                    237 non-null    object
 33  Inv #                    249 non-null    object
 34  Status                   249 non-null    object
 35  Last Service Paid Until  249 non-null    object
 36  Service Paid Until       249 non-null    object
 37  Assigned to Company      249 non-null    object
 38  IFTA                     249 non-null    object
 39  History Months           249 non-null    int64
 40  Comments                 4 non-null      object
 41  Warranty Expires         249 non-null    object
 42  Script                   207 non-null    object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 0 non-null      object
dtypes: float64(8), int64(5), object(34)
memory usage: 93.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5070 entries, 0 to 5069
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5070 non-null   int64
 1   Dealer           5070 non-null   object
 2   Unit Type        5070 non-null   object
 3   IMEI             5070 non-null   int64
 4   Last Event Date  5070 non-null   object
 5   Firmware         5070 non-null   object
 6   Company          5070 non-null   object
dtypes: int64(2), object(5)
memory usage: 277.4+ KB

In [95]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]
list_field05=[]
list_field06=[]       
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformaci√≥n de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='IMEI'#Digitar el √≠ndice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='IMEI'#Digitar el √≠ndice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")

print(int(df_book_table01.iloc[1,position_table01]))
print(df_book_table02.iloc[1,position_table02])

                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(int(df_book_table02.iloc[j,position_table02])):
            list_field01.append(df_book_table01.iloc[i,18])                                            
            list_field02.append(df_book_table01.iloc[i,20])
            list_field03.append(df_book_table02.iloc[i,5])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['IMEI']=list_field01
df_aux['Phone number']=list_field02
df_aux['Firmware']=list_field03
#df_aux['Last Event Date']=list_field04
#df_aux['Firmware']=list_field05
#df_aux['Company']=list_field06
print("Cont= ",cont)
print(df_aux.head(5))
option_exp=input("\n¬øDesea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/coincidences.csv')
cont=0
option_exp=input("¬øDesea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(int(df_book_table01.iloc[i,position_table01]))==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,5]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    df_book_table02.dropna(axis=0,inplace=True)
    #print(df_book_table02)
    df_book_table02.to_csv('/home/jlhb1984/py-projects/data/bulk_upgrade/differences.csv')

#lista_combinada=[lista_simcard,lista_linea]

Informaci√≥n de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, 2 to 728
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       249 non-null    int64
 1   Owner                    249 non-null    object
 2   Unit ID                  249 non-null    object
 3   Unit                     249 non-null    object
 4   Peripherals              0 non-null      object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      object
 8   Last Event Date          249 non-null    object
 9   Monthly Fee              249 non-null    int64
 10  Bill To                  0 non-null      object
 11  Assigned To              249 non-null    object
 12  Linked Mode              249 non-null    int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 249 non-null    object
 16  RMA                      249 non-null    object
 17  Unit Type                249 non-null    object
 18  IMEI                     249 non-null    object
 19  Serial Number            249 non-null    object
 20  Phone Number             249 non-null    object
 21  Carrier                  248 non-null    object
 22  SIM #                    249 non-null    object
 23  VIN                      144 non-null    object
 24  License Plate            249 non-null    object
 25  Static IP                2 non-null      object
 26  Event                    249 non-null    object
 27  Last Contact On          249 non-null    object
 28  Min                      249 non-null    int64
 29  Server IP                249 non-null    object
 30  Server Port              249 non-null    float64
 31  Last Event Address       249 non-null    object
 32  Modem                    237 non-null    object
 33  Inv #                    249 non-null    object
 34  Status                   249 non-null    object
 35  Last Service Paid Until  249 non-null    object
 36  Service Paid Until       249 non-null    object
 37  Assigned to Company      249 non-null    object
 38  IFTA                     249 non-null    object
 39  History Months           249 non-null    int64
 40  Comments                 4 non-null      object
 41  Warranty Expires         249 non-null    object
 42  Script                   207 non-null    object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 0 non-null      object
dtypes: float64(8), int64(5), object(34)
memory usage: 93.4+ KB
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5070 entries, 0 to 5069
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5070 non-null   int64
 1   Dealer           5070 non-null   object
 2   Unit Type        5070 non-null   object
 3   IMEI             5070 non-null   int64
 4   Last Event Date  5070 non-null   object
 5   Firmware         5070 non-null   object
 6   Company          5070 non-null   object
dtypes: int64(2), object(5)
memory usage: 277.4+ KB
None

Atributo de la tabla1:  18
Atributo de la tabla2:  3

Trabajando...
352556102754319
352556102948028
df_book_table01[i,position_table01]:  352556102049249  = df_book_table02[j,position_table02]:  352556102049249
df_book_table01[i,position_table01]:  352556102754319  = df_book_table02[j,position_table02]:  352556102754319
df_book_table01[i,position_table01]:  352556102895237  = df_book_table02[j,position_table02]:  352556102895237
df_book_table01[i,position_table01]:  352556102768723  = df_book_table02[j,position_table02]:  352556102768723
df_book_table01[i,position_table01]:  358077091722286  = df_book_table02[j,position_table02]:  358077091722286
df_book_table01[i,position_table01]:  352556102938102  = df_book_table02[j,position_table02]:  352556102938102
df_book_table01[i,position_table01]:  352556102036956  = df_book_table02[j,position_table02]:  352556102036956
df_book_table01[i,position_table01]:  352556102928137  = df_book_table02[j,position_table02]:  352556102928137
df_book_table01[i,position_table01]:  352556102946774  = df_book_table02[j,position_table02]:  352556102946774
df_book_table01[i,position_table01]:  352556102899189  = df_book_table02[j,position_table02]:  352556102899189
df_book_table01[i,position_table01]:  352556102921124  = df_book_table02[j,position_table02]:  352556102921124
df_book_table01[i,position_table01]:  352556102767634  = df_book_table02[j,position_table02]:  352556102767634
df_book_table01[i,position_table01]:  352556102899205  = df_book_table02[j,position_table02]:  352556102899205
df_book_table01[i,position_table01]:  354514101458570  = df_book_table02[j,position_table02]:  354514101458570
df_book_table01[i,position_table01]:  354514101455196  = df_book_table02[j,position_table02]:  354514101455196
df_book_table01[i,position_table01]:  354514101456186  = df_book_table02[j,position_table02]:  354514101456186
df_book_table01[i,position_table01]:  354514101469890  = df_book_table02[j,position_table02]:  354514101469890
df_book_table01[i,position_table01]:  357041063370566  = df_book_table02[j,position_table02]:  357041063370566
df_book_table01[i,position_table01]:  352556102053753  = df_book_table02[j,position_table02]:  352556102053753
df_book_table01[i,position_table01]:  352556102949992  = df_book_table02[j,position_table02]:  352556102949992
df_book_table01[i,position_table01]:  352556102750267  = df_book_table02[j,position_table02]:  352556102750267
df_book_table01[i,position_table01]:  354514101466565  = df_book_table02[j,position_table02]:  354514101466565
df_book_table01[i,position_table01]:  359369091023735  = df_book_table02[j,position_table02]:  359369091023735
df_book_table01[i,position_table01]:  352556102096752  = df_book_table02[j,position_table02]:  352556102096752
df_book_table01[i,position_table01]:  352556102002669  = df_book_table02[j,position_table02]:  352556102002669
df_book_table01[i,position_table01]:  354514101461772  = df_book_table02[j,position_table02]:  354514101461772
df_book_table01[i,position_table01]:  359369090473808  = df_book_table02[j,position_table02]:  359369090473808
df_book_table01[i,position_table01]:  352556102087348  = df_book_table02[j,position_table02]:  352556102087348
df_book_table01[i,position_table01]:  352556102051948  = df_book_table02[j,position_table02]:  352556102051948
df_book_table01[i,position_table01]:  352556102048407  = df_book_table02[j,position_table02]:  352556102048407
df_book_table01[i,position_table01]:  352556102055915  = df_book_table02[j,position_table02]:  352556102055915
df_book_table01[i,position_table01]:  352556102095697  = df_book_table02[j,position_table02]:  352556102095697
df_book_table01[i,position_table01]:  352556102101719  = df_book_table02[j,position_table02]:  352556102101719
df_book_table01[i,position_table01]:  352556102898603  = df_book_table02[j,position_table02]:  352556102898603
df_book_table01[i,position_table01]:  359369090573235  = df_book_table02[j,position_table02]:  359369090573235
df_book_table01[i,position_table01]:  352556102016446  = df_book_table02[j,position_table02]:  352556102016446
df_book_table01[i,position_table01]:  359369090458056  = df_book_table02[j,position_table02]:  359369090458056
df_book_table01[i,position_table01]:  352556102053795  = df_book_table02[j,position_table02]:  352556102053795
df_book_table01[i,position_table01]:  352556102937401  = df_book_table02[j,position_table02]:  352556102937401
df_book_table01[i,position_table01]:  352556102751505  = df_book_table02[j,position_table02]:  352556102751505
df_book_table01[i,position_table01]:  352556102808842  = df_book_table02[j,position_table02]:  352556102808842
df_book_table01[i,position_table01]:  352556102097776  = df_book_table02[j,position_table02]:  352556102097776
df_book_table01[i,position_table01]:  359369091023149  = df_book_table02[j,position_table02]:  359369091023149
df_book_table01[i,position_table01]:  352556102734782  = df_book_table02[j,position_table02]:  352556102734782
df_book_table01[i,position_table01]:  352556102928129  = df_book_table02[j,position_table02]:  352556102928129
df_book_table01[i,position_table01]:  359369090375391  = df_book_table02[j,position_table02]:  359369090375391
df_book_table01[i,position_table01]:  352556102051443  = df_book_table02[j,position_table02]:  352556102051443
df_book_table01[i,position_table01]:  352556102014474  = df_book_table02[j,position_table02]:  352556102014474
df_book_table01[i,position_table01]:  352556102741787  = df_book_table02[j,position_table02]:  352556102741787
df_book_table01[i,position_table01]:  352556102899353  = df_book_table02[j,position_table02]:  352556102899353
df_book_table01[i,position_table01]:  352556102051773  = df_book_table02[j,position_table02]:  352556102051773
df_book_table01[i,position_table01]:  359369090245628  = df_book_table02[j,position_table02]:  359369090245628
df_book_table01[i,position_table01]:  352556102916553  = df_book_table02[j,position_table02]:  352556102916553
df_book_table01[i,position_table01]:  352556102807380  = df_book_table02[j,position_table02]:  352556102807380
df_book_table01[i,position_table01]:  352556102915597  = df_book_table02[j,position_table02]:  352556102915597
df_book_table01[i,position_table01]:  354514101459479  = df_book_table02[j,position_table02]:  354514101459479
df_book_table01[i,position_table01]:  352556102056723  = df_book_table02[j,position_table02]:  352556102056723
df_book_table01[i,position_table01]:  352556102751182  = df_book_table02[j,position_table02]:  352556102751182
df_book_table01[i,position_table01]:  352556102898975  = df_book_table02[j,position_table02]:  352556102898975
df_book_table01[i,position_table01]:  352556102770406  = df_book_table02[j,position_table02]:  352556102770406
df_book_table01[i,position_table01]:  352556102950487  = df_book_table02[j,position_table02]:  352556102950487
df_book_table01[i,position_table01]:  352556102053688  = df_book_table02[j,position_table02]:  352556102053688
df_book_table01[i,position_table01]:  352556102056798  = df_book_table02[j,position_table02]:  352556102056798
df_book_table01[i,position_table01]:  352556102048365  = df_book_table02[j,position_table02]:  352556102048365
df_book_table01[i,position_table01]:  352556102055162  = df_book_table02[j,position_table02]:  352556102055162
df_book_table01[i,position_table01]:  352556102057093  = df_book_table02[j,position_table02]:  352556102057093
df_book_table01[i,position_table01]:  352556102092488  = df_book_table02[j,position_table02]:  352556102092488
df_book_table01[i,position_table01]:  354514101457457  = df_book_table02[j,position_table02]:  354514101457457
df_book_table01[i,position_table01]:  352556102092603  = df_book_table02[j,position_table02]:  352556102092603
df_book_table01[i,position_table01]:  354514101464842  = df_book_table02[j,position_table02]:  354514101464842
df_book_table01[i,position_table01]:  359369090563814  = df_book_table02[j,position_table02]:  359369090563814
df_book_table01[i,position_table01]:  352556102766875  = df_book_table02[j,position_table02]:  352556102766875
df_book_table01[i,position_table01]:  352556102892580  = df_book_table02[j,position_table02]:  352556102892580
df_book_table01[i,position_table01]:  354514101458976  = df_book_table02[j,position_table02]:  354514101458976
df_book_table01[i,position_table01]:  352556102766768  = df_book_table02[j,position_table02]:  352556102766768
df_book_table01[i,position_table01]:  354514101462382  = df_book_table02[j,position_table02]:  354514101462382
df_book_table01[i,position_table01]:  352556102101636  = df_book_table02[j,position_table02]:  352556102101636
df_book_table01[i,position_table01]:  352556102794547  = df_book_table02[j,position_table02]:  352556102794547
df_book_table01[i,position_table01]:  352556102764268  = df_book_table02[j,position_table02]:  352556102764268
df_book_table01[i,position_table01]:  352556102940033  = df_book_table02[j,position_table02]:  352556102940033
df_book_table01[i,position_table01]:  352556102096737  = df_book_table02[j,position_table02]:  352556102096737
df_book_table01[i,position_table01]:  354514101463695  = df_book_table02[j,position_table02]:  354514101463695
df_book_table01[i,position_table01]:  352556102757767  = df_book_table02[j,position_table02]:  352556102757767
df_book_table01[i,position_table01]:  352556102918187  = df_book_table02[j,position_table02]:  352556102918187
df_book_table01[i,position_table01]:  352556102768889  = df_book_table02[j,position_table02]:  352556102768889
df_book_table01[i,position_table01]:  352556102932162  = df_book_table02[j,position_table02]:  352556102932162
df_book_table01[i,position_table01]:  352556102758245  = df_book_table02[j,position_table02]:  352556102758245
df_book_table01[i,position_table01]:  352556102767253  = df_book_table02[j,position_table02]:  352556102767253
df_book_table01[i,position_table01]:  352556102051856  = df_book_table02[j,position_table02]:  352556102051856
df_book_table01[i,position_table01]:  354514101463034  = df_book_table02[j,position_table02]:  354514101463034
df_book_table01[i,position_table01]:  352556102753584  = df_book_table02[j,position_table02]:  352556102753584
df_book_table01[i,position_table01]:  352556102936445  = df_book_table02[j,position_table02]:  352556102936445
df_book_table01[i,position_table01]:  352556102808958  = df_book_table02[j,position_table02]:  352556102808958
df_book_table01[i,position_table01]:  352556102742322  = df_book_table02[j,position_table02]:  352556102742322
df_book_table01[i,position_table01]:  352556102934770  = df_book_table02[j,position_table02]:  352556102934770
df_book_table01[i,position_table01]:  352556102949554  = df_book_table02[j,position_table02]:  352556102949554
df_book_table01[i,position_table01]:  358077093488993  = df_book_table02[j,position_table02]:  358077093488993
df_book_table01[i,position_table01]:  354514101454900  = df_book_table02[j,position_table02]:  354514101454900
df_book_table01[i,position_table01]:  352556102770018  = df_book_table02[j,position_table02]:  352556102770018
df_book_table01[i,position_table01]:  352556102949810  = df_book_table02[j,position_table02]:  352556102949810
df_book_table01[i,position_table01]:  352556102056681  = df_book_table02[j,position_table02]:  352556102056681
df_book_table01[i,position_table01]:  352556102764144  = df_book_table02[j,position_table02]:  352556102764144
df_book_table01[i,position_table01]:  352556102769804  = df_book_table02[j,position_table02]:  352556102769804
df_book_table01[i,position_table01]:  352556102770737  = df_book_table02[j,position_table02]:  352556102770737
df_book_table01[i,position_table01]:  352556102917239  = df_book_table02[j,position_table02]:  352556102917239
df_book_table01[i,position_table01]:  352556102927923  = df_book_table02[j,position_table02]:  352556102927923
df_book_table01[i,position_table01]:  354514101454892  = df_book_table02[j,position_table02]:  354514101454892
df_book_table01[i,position_table01]:  352556102768426  = df_book_table02[j,position_table02]:  352556102768426
df_book_table01[i,position_table01]:  352556102927691  = df_book_table02[j,position_table02]:  352556102927691
df_book_table01[i,position_table01]:  354514101461509  = df_book_table02[j,position_table02]:  354514101461509
df_book_table01[i,position_table01]:  352556102754707  = df_book_table02[j,position_table02]:  352556102754707
df_book_table01[i,position_table01]:  352556102083347  = df_book_table02[j,position_table02]:  352556102083347
df_book_table01[i,position_table01]:  352556102754244  = df_book_table02[j,position_table02]:  352556102754244
df_book_table01[i,position_table01]:  354514101464107  = df_book_table02[j,position_table02]:  354514101464107
df_book_table01[i,position_table01]:  354514101467035  = df_book_table02[j,position_table02]:  354514101467035
df_book_table01[i,position_table01]:  354514101462341  = df_book_table02[j,position_table02]:  354514101462341
df_book_table01[i,position_table01]:  352556102764201  = df_book_table02[j,position_table02]:  352556102764201
df_book_table01[i,position_table01]:  354514101465948  = df_book_table02[j,position_table02]:  354514101465948
df_book_table01[i,position_table01]:  352556102802977  = df_book_table02[j,position_table02]:  352556102802977
df_book_table01[i,position_table01]:  352556102759086  = df_book_table02[j,position_table02]:  352556102759086
df_book_table01[i,position_table01]:  359369090570876  = df_book_table02[j,position_table02]:  359369090570876
df_book_table01[i,position_table01]:  352556102953390  = df_book_table02[j,position_table02]:  352556102953390
df_book_table01[i,position_table01]:  352556102015513  = df_book_table02[j,position_table02]:  352556102015513
df_book_table01[i,position_table01]:  352556102758443  = df_book_table02[j,position_table02]:  352556102758443
df_book_table01[i,position_table01]:  352556102921660  = df_book_table02[j,position_table02]:  352556102921660
df_book_table01[i,position_table01]:  352556102767857  = df_book_table02[j,position_table02]:  352556102767857
df_book_table01[i,position_table01]:  351628096763167  = df_book_table02[j,position_table02]:  351628096763167
df_book_table01[i,position_table01]:  352556102766271  = df_book_table02[j,position_table02]:  352556102766271
df_book_table01[i,position_table01]:  352556102919292  = df_book_table02[j,position_table02]:  352556102919292
df_book_table01[i,position_table01]:  352556102920696  = df_book_table02[j,position_table02]:  352556102920696
df_book_table01[i,position_table01]:  352556102899551  = df_book_table02[j,position_table02]:  352556102899551
df_book_table01[i,position_table01]:  352556102100240  = df_book_table02[j,position_table02]:  352556102100240
df_book_table01[i,position_table01]:  357041063360450  = df_book_table02[j,position_table02]:  357041063360450
df_book_table01[i,position_table01]:  359369090575578  = df_book_table02[j,position_table02]:  359369090575578
df_book_table01[i,position_table01]:  352556102755647  = df_book_table02[j,position_table02]:  352556102755647
df_book_table01[i,position_table01]:  359369090554482  = df_book_table02[j,position_table02]:  359369090554482
df_book_table01[i,position_table01]:  352556102057119  = df_book_table02[j,position_table02]:  352556102057119
df_book_table01[i,position_table01]:  354514101463851  = df_book_table02[j,position_table02]:  354514101463851
df_book_table01[i,position_table01]:  354514101463000  = df_book_table02[j,position_table02]:  354514101463000
df_book_table01[i,position_table01]:  352556102051468  = df_book_table02[j,position_table02]:  352556102051468
df_book_table01[i,position_table01]:  352556102921587  = df_book_table02[j,position_table02]:  352556102921587
df_book_table01[i,position_table01]:  352556102807570  = df_book_table02[j,position_table02]:  352556102807570
df_book_table01[i,position_table01]:  352556102097495  = df_book_table02[j,position_table02]:  352556102097495
df_book_table01[i,position_table01]:  352556102922007  = df_book_table02[j,position_table02]:  352556102922007
df_book_table01[i,position_table01]:  352556102920233  = df_book_table02[j,position_table02]:  352556102920233
df_book_table01[i,position_table01]:  352556102772345  = df_book_table02[j,position_table02]:  352556102772345
df_book_table01[i,position_table01]:  352556102749855  = df_book_table02[j,position_table02]:  352556102749855
df_book_table01[i,position_table01]:  354514101459453  = df_book_table02[j,position_table02]:  354514101459453