In [5]:
import pandas as pd
import numpy as np

In [6]:
ccm_units=pd.read_csv('/home/jlhb1984/py-projects/data/ccm/Customer-Units.csv',sep=';',encoding='latin1')
ccm_units.info()
ccm_units.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       23 non-null     int64
 1   Owner                    23 non-null     object
 2   Unit ID                  23 non-null     object
 3   Unit                     23 non-null     object
 4   Peripherals              0 non-null      float64
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          23 non-null     object
 9   Monthly Fee              23 non-null     int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              23 non-null     object
 12  Linked Mode              23 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 23 non-null     object
 16  RMA                      23 non-null     object
 17  Unit Type                23 non-null     object
 18  IMEI                     23 non-null     object
 19  Serial Number            23 non-null     object
 20  Phone Number             23 non-null     int64
 21  Carrier                  22 non-null     object
 22  SIM #                    23 non-null     int64
 23  VIN                      1 non-null      float64
 24  License Plate            3 non-null      object
 25  Static IP                0 non-null      float64
 26  Event                    23 non-null     object
 27  Last Contact On          23 non-null     object
 28  Min                      23 non-null     int64
 29  Server IP                23 non-null     object
 30  Server Port              23 non-null     int64
 31  Last Event Address       23 non-null     object
 32  Modem                    18 non-null     object
 33  Inv #                    23 non-null     object
 34  Status                   23 non-null     object
 35  Last Service Paid Until  23 non-null     object
 36  Service Paid Until       23 non-null     object
 37  Assigned to Company      23 non-null     object
 38  IFTA                     23 non-null     object
 39  History Months           23 non-null     int64
 40  Comments                 0 non-null      float64
 41  Warranty Expires         23 non-null     object
 42  Script                   0 non-null      float64
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 12 non-null     object
dtypes: float64(14), int64(8), object(25)
memory usage: 8.6+ KB

,ID,Owner,Unit ID,Unit,Peripherals,Reporting Status,Show Until,Billing Group,Last Event Date,Monthly Fee,...,Assigned to Company,IFTA,History Months,Comments,Warranty Expires,Script,JBOX Profile,Contract Type,Subscription,Firmware
0,1104325,Renting,147F,TZN341 VF,NaN,NaN,NaN,NaN,17/03/2025,168000,...,9/25/2024 10:52:39 AM,N,3,NaN,6/6/2025 12:00:00 AM,NaN,NaN,NaN,NaN,SAXHORN_V1C-3.16.1077
1,1104628,Client,14I0,TZN341,NaN,NaN,NaN,NaN,17/03/2025,274712,...,8/1/2024 4:48:58 PM,N,3,NaN,6/12/2025 12:00:00 AM,NaN,NaN,NaN,NaN,NaN
2,1104320,Renting,146X,TJV298 VF,NaN,NaN,NaN,NaN,13/06/2025,168000,...,7/20/2024 4:51:43 PM,N,3,NaN,6/6/2025 12:00:00 AM,NaN,NaN,NaN,NaN,SAXHORN_V1C-3.18.1115
3,1104603,Client,14HB,TJV298,NaN,NaN,NaN,NaN,13/06/2025,274712,...,7/20/2024 4:43:52 PM,N,3,NaN,6/12/2025 12:00:00 AM,NaN,NaN,NaN,NaN,NaN
4,1101494,Client,11BU,TJV078 VF,NaN,NaN,NaN,NaN,31/05/2025,168000,...,8/22/2024 5:15:02 PM,N,3,NaN,12/6/2024 12:00:00 AM,NaN,NaN,NaN,NaN,SAXHORN_V1C-3.16.1077

In [7]:
ccm_units['Unit Type'].value_counts()

Unit Type
VidFleet 4K       12
Queclink GV55W    11
Name: count, dtype: int64

In [13]:
vidfleet_units_ccm=ccm_units[ccm_units['Unit Type'].str.contains('Vid')]
vidfleet_units_ccm[['Unit','IMEI']]

         Unit      IMEI
0   TZN341 VF  6B301AMG
2   TJV298 VF  6B301AYU
4   TJV078 VF  6B301ALB
6   SXJ945 VF  6B301GR3
8   SXJ934 VF  6B301AE7
10  SDW585 VF  6B301BVE
11  NPR856 VF  6B301AYJ
13  LFQ645 VF  6B301AFU
15  KRM052 VF  6B301AAX
17  KRM008 VF  6B301AW3
19  JZX136 VF  6B301A84
21  GSM322 VF  6B301AT5

In [8]:
queclink_units=ccm_units[ccm_units['Unit Type'].str.contains('Queclink')]
queclink_units.info()
queclink_units['Carrier'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 1 to 22
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       11 non-null     int64
 1   Owner                    11 non-null     object
 2   Unit ID                  11 non-null     object
 3   Unit                     11 non-null     object
 4   Peripherals              0 non-null      float64
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          11 non-null     object
 9   Monthly Fee              11 non-null     int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              11 non-null     object
 12  Linked Mode              11 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 11 non-null     object
 16  RMA                      11 non-null     object
 17  Unit Type                11 non-null     object
 18  IMEI                     11 non-null     object
 19  Serial Number            11 non-null     object
 20  Phone Number             11 non-null     int64
 21  Carrier                  11 non-null     object
 22  SIM #                    11 non-null     int64
 23  VIN                      1 non-null      float64
 24  License Plate            1 non-null      object
 25  Static IP                0 non-null      float64
 26  Event                    11 non-null     object
 27  Last Contact On          11 non-null     object
 28  Min                      11 non-null     int64
 29  Server IP                11 non-null     object
 30  Server Port              11 non-null     int64
 31  Last Event Address       11 non-null     object
 32  Modem                    11 non-null     object
 33  Inv #                    11 non-null     object
 34  Status                   11 non-null     object
 35  Last Service Paid Until  11 non-null     object
 36  Service Paid Until       11 non-null     object
 37  Assigned to Company      11 non-null     object
 38  IFTA                     11 non-null     object
 39  History Months           11 non-null     int64
 40  Comments                 0 non-null      float64
 41  Warranty Expires         11 non-null     object
 42  Script                   0 non-null      float64
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 0 non-null      object
dtypes: float64(14), int64(8), object(25)
memory usage: 4.1+ KB

Carrier
Claro CO    11
Name: count, dtype: int64

In [16]:
ccm_units_report=queclink_units[['IMEI','SIM #','Phone Number','Unit']]
ccm_units_report.rename(columns={'SIM #':'ICCID','Phone Number':'MSISDN'},inplace=True)
ccm_units_report.info()
ccm_units_report.to_csv('/home/jlhb1984/py-projects/data/ccm/devicesQueclink.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 1 to 22
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IMEI    11 non-null     object
 1   ICCID   11 non-null     int64
 2   MSISDN  11 non-null     int64
 3   Unit    11 non-null     object
dtypes: int64(2), object(2)
memory usage: 440.0+ bytes

/tmp/ipykernel_32162/50040889.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ccm_units_report.rename(columns={'SIM #':'ICCID','Phone Number':'MSISDN'},inplace=True)