In [2]:
import pandas as pd
import numpy as np

In [3]:
jku830=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/JKU830.csv')
jku830.info()
jku830['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  468 non-null    object
 1   Advertencia         468 non-null    object
 2   Valor               468 non-null    float64
dtypes: float64(1), object(2)
memory usage: 11.1+ KB

Advertencia
AuxCamDisconnected            257
UnfavorableAngleOfRoadView    142
BatteryVoltageLow              32
MainboardReboot                29
CameraTilted                    2
MCUDisconnected                 2
firmwareUpdated                 2
GPSGapTooLarge                  1
SIMCardInfoChanged              1
Name: count, dtype: int64

In [ ]:
jku830['Fecha de la Unidad'].sort_values(ascending=False)

0      2025/07/08 11:17:24
1      2025/07/07 14:54:31
2      2025/07/07 12:31:30
3      2025/07/07 09:21:38
4      2025/07/07 06:37:51
              ...
463    2025/03/03 10:20:32
464    2025/03/03 08:14:01
465    2025/03/01 11:58:48
466    2025/03/01 11:07:02
467    2025/03/01 09:48:14
Name: Fecha de la Unidad, Length: 468, dtype: object

In [7]:
juy851=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/JUY851.csv')
juy851.info()
juy851['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  953 non-null    object
 1   Advertencia         953 non-null    object
 2   Valor               953 non-null    float64
dtypes: float64(1), object(2)
memory usage: 22.5+ KB

Advertencia
AuxCamDisconnected            759
UnfavorableAngleOfRoadView    173
MainboardReboot                 9
BatteryVoltageLow               6
GPSGapTooLarge                  2
firmwareUpdated                 2
FailedToEnterStandby            1
SIMCardInfoChanged              1
Name: count, dtype: int64

In [26]:
juy851['Fecha de la Unidad'].sort_values(ascending=False)
report_juy851=juy851[juy851['Fecha de la Unidad'].str.contains('2025/07/11')]
report_juy851

     Fecha de la Unidad                 Advertencia  Valor
17  2025/07/11 19:16:03          AuxCamDisconnected    1.0
18  2025/07/11 18:53:28          AuxCamDisconnected    1.0
19  2025/07/11 16:25:28  UnfavorableAngleOfRoadView    1.0
20  2025/07/11 15:45:48          AuxCamDisconnected    1.0
21  2025/07/11 15:31:48          AuxCamDisconnected    1.0
22  2025/07/11 11:17:40  UnfavorableAngleOfRoadView    1.0
23  2025/07/11 10:15:17          AuxCamDisconnected    1.0
24  2025/07/11 07:39:08  UnfavorableAngleOfRoadView    1.0
25  2025/07/11 06:43:48          AuxCamDisconnected    1.0

In [10]:
juy907=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/JUY907.csv')
juy907.info()
juy907['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  566 non-null    object
 1   Advertencia         566 non-null    object
 2   Valor               566 non-null    float64
dtypes: float64(1), object(2)
memory usage: 13.4+ KB

Advertencia
MainboardReboot               293
UnfavorableAngleOfRoadView    118
MCUDisconnected               106
BatteryVoltageLow              44
firmwareUpdated                 2
GPSGapTooLarge                  1
AuxCamDisconnected              1
SIMCardInfoChanged              1
Name: count, dtype: int64

In [28]:
juy907['Fecha de la Unidad'].sort_values(ascending=False)
report_juy907=juy907[juy907['Fecha de la Unidad'].str.contains('2025/07/11')]
report_juy907

     Fecha de la Unidad                 Advertencia  Valor
9   2025/07/11 19:15:32  UnfavorableAngleOfRoadView    1.0
10  2025/07/11 06:02:28             MainboardReboot    1.0

In [13]:
kok936=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/KOK936.csv')
kok936.info()
kok936['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  99 non-null     object
 1   Advertencia         99 non-null     object
 2   Valor               99 non-null     int64
dtypes: int64(1), object(2)
memory usage: 2.4+ KB

Advertencia
UnfavorableAngleOfRoadView    64
MainboardReboot               26
MCUDisconnected                7
firmwareUpdated                1
SIMCardInfoChanged             1
Name: count, dtype: int64

In [29]:
kok936['Fecha de la Unidad'].sort_values(ascending=False)
report_kok936=kok936[kok936['Fecha de la Unidad'].str.contains('2025/07/11')]
report_kok936

    Fecha de la Unidad                 Advertencia  Valor
4  2025/07/11 19:19:24  UnfavorableAngleOfRoadView      1
5  2025/07/11 13:43:58  UnfavorableAngleOfRoadView      1

In [15]:
NNZ903=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/NNZ903.csv')
NNZ903.info()
NNZ903['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  33 non-null     object
 1   Advertencia         33 non-null     object
 2   Valor               33 non-null     float64
dtypes: float64(1), object(2)
memory usage: 924.0+ bytes

Advertencia
MainboardReboot         19
FailedToEnterStandby     6
BatteryVoltageLow        3
MCUDisconnected          3
GPSGapTooLarge           1
firmwareUpdated          1
Name: count, dtype: int64

In [30]:
NNZ903['Fecha de la Unidad'].sort_values(ascending=False)
report_NNZ903=NNZ903[NNZ903['Fecha de la Unidad'].str.contains('2025/07/11')]
report_NNZ903

    Fecha de la Unidad      Advertencia  Valor
1  2025/07/11 19:33:04  MainboardReboot    1.0
2  2025/07/11 14:52:09  MainboardReboot    1.0

In [31]:
NNZ904=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/NNZ904.csv')
NNZ904.info()
NNZ904['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  112 non-null    object
 1   Advertencia         112 non-null    object
 2   Valor               112 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.8+ KB

Advertencia
BatteryVoltageLow       50
MainboardReboot         27
MCUDisconnected         20
FailedToEnterStandby    14
firmwareUpdated          1
Name: count, dtype: int64

In [32]:
NNZ904['Fecha de la Unidad'].sort_values(ascending=False)
report_NNZ904=NNZ904[NNZ904['Fecha de la Unidad'].str.contains('2025/07/11')]
report_NNZ904

    Fecha de la Unidad        Advertencia  Valor
5  2025/07/11 14:14:51  BatteryVoltageLow  10949
6  2025/07/11 12:35:00  BatteryVoltageLow  10949
7  2025/07/11 09:34:37  BatteryVoltageLow  10949
8  2025/07/11 07:48:20  BatteryVoltageLow  10949
9  2025/07/11 06:06:54  BatteryVoltageLow  10949

In [33]:
TDS982=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/TDS982.csv')
TDS982.info()
TDS982['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  331 non-null    object
 1   Advertencia         331 non-null    object
 2   Valor               331 non-null    float64
dtypes: float64(1), object(2)
memory usage: 7.9+ KB

Advertencia
AuxCamDisconnected            260
MainboardReboot                24
UnfavorableAngleOfRoadView     18
FailedToEnterStandby           13
GPSGapTooLarge                  8
MCUDisconnected                 3
StorageTypeChanged              2
firmwareUpdated                 2
SIMCardInfoChanged              1
Name: count, dtype: int64

In [34]:
TDS982['Fecha de la Unidad'].sort_values(ascending=False)
report_TDS982=TDS982[TDS982['Fecha de la Unidad'].str.contains('2025/07/11')]
report_TDS982

     Fecha de la Unidad         Advertencia   Valor
7   2025/07/11 18:48:21  AuxCamDisconnected   1.000
8   2025/07/11 18:15:44  AuxCamDisconnected   1.000
9   2025/07/11 16:51:04     MainboardReboot   1.000
10  2025/07/11 16:35:50     MainboardReboot   1.000
11  2025/07/11 15:57:53      GPSGapTooLarge  26.239
12  2025/07/11 15:57:06     MainboardReboot   1.000
13  2025/07/11 11:58:04     MainboardReboot   1.000
14  2025/07/11 11:13:37     MainboardReboot   1.000
15  2025/07/11 10:50:23     MainboardReboot   1.000

In [22]:
TLZ741=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000157373/TLZ741.csv')
TLZ741.info()
TLZ741['Advertencia'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha de la Unidad  286 non-null    object
 1   Advertencia         286 non-null    object
 2   Valor               286 non-null    int64
dtypes: int64(1), object(2)
memory usage: 6.8+ KB

Advertencia
UnfavorableAngleOfRoadView    188
MainboardReboot                49
AuxCamDisconnected             42
MCUDisconnected                 3
firmwareUpdated                 2
CameraTilted                    1
BatteryVoltageLow               1
Name: count, dtype: int64

In [35]:
TLZ741['Fecha de la Unidad'].sort_values(ascending=False)
report_TLZ741=TLZ741[TLZ741['Fecha de la Unidad'].str.contains('2025/07/11')]
report_TLZ741

     Fecha de la Unidad                 Advertencia  Valor
23  2025/07/11 13:46:55          AuxCamDisconnected      1
24  2025/07/11 12:33:13  UnfavorableAngleOfRoadView      1
25  2025/07/11 09:19:23          AuxCamDisconnected      1
26  2025/07/11 06:41:12  UnfavorableAngleOfRoadView      1
27  2025/07/11 05:51:34          AuxCamDisconnected      1