In [1]:
import pandas as pd
import numpy as np

In [2]:
mileage_0501=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/05mileageReport_Part_1.csv')
mileage_0502=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/05mileageReport_Part_2.csv')
mileage_0503=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/05mileageReport_Part_3.csv')
mileage_0504=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/05mileageReport_Part_4.csv')
mileage_05=pd.concat([mileage_0501,mileage_0502,mileage_0503,mileage_0504])

In [3]:
mileage_05.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1651862 entries, 0 to 151861
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unit                 1651862 non-null  object
 1   Time/Date (COT)      1651862 non-null  object
 2   Address              1651862 non-null  object
 3   Distance (km)        1651862 non-null  float64
 4   Total Distance (km)  1651862 non-null  float64
 5   Odometer             1651862 non-null  float64
 6   Driver               0 non-null        float64
dtypes: float64(4), object(3)
memory usage: 100.8+ MB

In [4]:
mileage_05['Distance (km)'].value_counts(ascending=False)

Distance (km)
0.10     610703
0.20     323185
0.30     193620
0.40     125743
0.50      82449
          ...
11.94         1
15.37         1
56.78         1
41.47         1
8.14          1
Name: count, Length: 2616, dtype: int64

In [5]:
mileage_05['Distance (km)'].sort_values(ascending=False)

263879    163905.58
13132     148180.38
210544    144435.53
263650     81702.09
212678     74385.86
            ...
217557         0.00
174978         0.00
193713         0.00
219082         0.00
20394          0.00
Name: Distance (km), Length: 1651862, dtype: float64

In [6]:
for i in range(0,1651862):
    if mileage_05.iloc[i,3]>=1530:
        print(mileage_05.iloc[i,0],mileage_05.iloc[i,1],mileage_05.iloc[i,3],mileage_05.iloc[i,4])

EQY796 06/05/2025 9:10 AM 59516.31 60004.94
NNZ794 15/05/2025 1:11 AM 28881.77 0.0
EQZ347 05/05/2025 11:43 AM 11713.81 11726.47
EQZ347 06/05/2025 11:14 AM 11805.22 23570.12
EQZ347 06/05/2025 4:46 PM 11825.52 35415.34
EQZ347 10/05/2025 5:01 PM 12069.53 0.0
EQZ347 13/05/2025 8:46 AM 12169.93 0.0
EYX839 12/05/2025 7:37 PM 22846.3 0.0
NNZ787 14/05/2025 2:30 PM 30908.16 0.0
NNZ787 15/05/2025 10:20 AM 31062.46 0.0
TDS986 02/05/2025 10:41 AM 64691.53 64786.64
TDS986 05/05/2025 8:05 AM 65153.66 131673.38
TDS986 10/05/2025 10:29 AM 66097.8 0.0
TDS986 11/05/2025 8:50 AM 66415.51 0.0
TDS986 12/05/2025 12:44 PM 66629.32 0.0
TDS986 12/05/2025 6:01 PM 66782.63 0.0
TDS986 13/05/2025 5:06 PM 66925.34 0.0
TDS986 14/05/2025 11:06 AM 67058.44 0.0
EYX831 03/05/2025 8:54 AM 30648.45 30692.82
ERK706 01/05/2025 1:29 PM 16812.44 16818.55
VKQ018 03/05/2025 7:56 AM 25837.13 27371.06
VKQ018 05/05/2025 10:19 AM 26096.25 53623.0
VKQ018 05/05/2025 12:58 PM 52249.32 105885.75
VKQ018 05/05/2025 5:14 PM 26138.14 132031.7
VKQ018 05/05/2025 5:14 PM 26138.14 158169.85
VKQ018 10/05/2025 7:38 PM 26871.98 0.0
VKQ018 12/05/2025 2:43 PM 26974.38 0.0
JUY621 09/05/2025 10:17 AM 39573.94 0.0
ERK901 01/05/2025 1:23 PM 72179.67 72292.53
ERK901 01/05/2025 3:24 PM 144435.53 216730.27
ERK901 02/05/2025 3:07 PM 72549.58 289401.43
ERK901 10/05/2025 9:14 AM 74385.86 0.0
JKU830 02/05/2025 4:34 PM 58727.47 58778.21
JKU830 14/05/2025 4:31 PM 61232.09 0.0
FSW160 02/05/2025 9:38 AM 13028.06 13066.73
FSW160 02/05/2025 12:01 PM 13050.07 26167.59
FSW160 09/05/2025 12:09 PM 13528.29 0.0
FSW160 09/05/2025 5:22 PM 13582.3 0.0
WOX451 08/05/2025 11:10 AM 9127.5 9667.04
EQZ354 05/05/2025 6:57 AM 22616.99 22666.89
JUY258 03/05/2025 10:00 AM 28336.44 28411.63
JUY258 06/05/2025 12:56 PM 28753.46 57477.2
JUY258 07/05/2025 3:22 PM 28965.37 86656.99
JUY258 10/05/2025 9:12 AM 29346.09 0.0
JUY258 13/05/2025 9:35 AM 29720.1 0.0
JUY258 13/05/2025 10:29 AM 29724.3 0.0
JUY258 15/05/2025 11:45 AM 30047.82 0.0
JUY258 15/05/2025 1:22 PM 30058.82 0.0
JUY693 05/05/2025 7:41 AM 38403.17 39012.03
SOR340 02/05/2025 4:04 PM 11664.82 11701.41
SOR340 07/05/2025 6:03 PM 11894.12 23700.68
WOX452 01/05/2025 11:36 AM 12328.85 12332.02
NNZ901 12/05/2025 1:01 PM 47200.07 0.0
SWT624 07/05/2025 10:06 AM 27670.71 28244.44
FST594 03/05/2025 10:22 AM 12826.46 12864.16
NNZ798 02/05/2025 4:47 AM 23725.74 23737.02
NNZ798 02/05/2025 6:22 PM 23916.14 48323.93
NNZ798 02/05/2025 6:48 PM 23917.85 72243.67
WNM398 03/05/2025 7:46 PM 11905.72 11971.41
WNM398 10/05/2025 3:46 PM 12302.24 0.0
WCX743 13/05/2025 11:24 AM 24509.98 25753.63
JKU825 03/05/2025 2:09 PM 3220.74 3262.47
TTZ928 05/05/2025 9:55 AM 8618.39 12874.9
SMB365 02/05/2025 2:16 PM 7661.2 10548.15
SMB365 02/05/2025 2:18 PM 7660.6 18209.34
SMB365 02/05/2025 2:20 PM 1586.42 19927.27
SMB365 02/05/2025 2:21 PM 1705.16 21632.43
SMB365 02/05/2025 2:29 PM 7666.4 29682.09
SMB365 02/05/2025 2:31 PM 7667.7 37349.79
SMB365 02/05/2025 2:33 PM 3932.76 41282.55
SMB365 02/05/2025 2:44 PM 4685.72 46723.94
SMB365 02/05/2025 2:54 PM 7657.88 56344.31
SMB365 02/05/2025 10:07 PM 1969.32 81719.6
EQZ355 01/05/2025 12:01 AM 1719.74 1720.24
EQZ355 01/05/2025 12:06 AM 1708.46 3429.49
EQZ355 01/05/2025 12:10 AM 1721.74 5152.43
EQZ355 01/05/2025 12:10 AM 1722.04 6874.47
EQZ355 01/05/2025 12:11 AM 1721.43 8596.1
EQZ355 01/05/2025 12:12 AM 1715.04 10317.83
EQZ355 01/05/2025 12:13 AM 3431.19 13749.03
EQZ355 01/05/2025 12:14 AM 1708.36 15458.48
EQZ355 01/05/2025 12:16 AM 1705.87 17167.54
EQZ355 01/05/2025 12:23 AM 3278.92 20495.64
EQZ355 01/05/2025 12:17 PM 33657.95 54153.58
EQZ355 02/05/2025 9:40 AM 31787.65 86186.45
EQZ355 02/05/2025 9:46 AM 4182.13 90368.58
EQZ355 02/05/2025 9:48 AM 8369.98 98738.56
EQZ331 05/05/2025 3:30 PM 16578.52 16660.81
EQZ331 15/05/2025 2:23 PM 9468.42 0.0
TBK560 01/05/2025 9:43 AM 16671.73 16672.22
SKX485 03/05/2025 3:33 PM 2295.85 34238.85
SKX485 03/05/2025 4:46 PM 2349.99 43596.49
SKX485 03/05/2025 4:57 PM 3537.84 51809.93
SKX485 03/05/2025 5:12 PM 2408.12 55351.59
SKX485 03/05/2025 5:25 PM 4670.5 63423.16
SKX485 03/05/2025 5:30 PM 4668.2 69223.09
SKX485 03/05/2025 5:33 PM 4665.3 73899.3
SKX485 03/05/2025 5:36 PM 3518.45 77430.75
SKX485 03/05/2025 5:45 PM 2322.26 83312.6
SKX485 03/05/2025 6:39 PM 10469.4 105380.9
SKX911 05/05/2025 3:24 PM 26397.67 27196.54
SKX911 08/05/2025 6:55 PM 26824.58 0.0
SKX911 10/05/2025 6:23 AM 27002.78 0.0
SKX911 10/05/2025 1:11 PM 27105.59 0.0
SKX911 10/05/2025 4:59 PM 27160.09 0.0
SKX911 13/05/2025 6:28 PM 27585.71 0.0
NOK121 02/05/2025 11:01 AM 15573.18 15589.64
NOK121 06/05/2025 12:00 PM 16025.8 33437.47
NOK121 11/05/2025 3:31 PM 17681.58 0.0
NOK121 14/05/2025 6:50 PM 18222.7 0.0
WOU053 05/05/2025 11:20 AM 58988.89 60528.48
WOU053 06/05/2025 2:14 PM 59118.89 119754.56
WOU053 07/05/2025 12:38 PM 59234.2 179104.87
WOU053 13/05/2025 11:09 AM 60971.78 0.0
WOU053 13/05/2025 3:14 PM 61043.58 0.0
JUY261 08/05/2025 3:14 PM 10990.98 11178.62
JUY261 08/05/2025 6:19 PM 11012.48 22212.71
SOR341 01/05/2025 2:26 PM 6266.48 6268.8
SOR341 02/05/2025 2:45 PM 6324.08 12607.15
SOR341 14/05/2025 4:21 PM 6866.7 0.0
SOR341 14/05/2025 6:37 PM 6875.5 0.0
SOR341 15/05/2025 6:41 PM 6922.8 0.0
JUY610 05/05/2025 9:23 AM 41296.9 41370.21
WOT362 15/05/2025 1:07 PM 11326.9 11868.96
WCX928 02/05/2025 9:51 AM 6894.3 7051.15
WCX928 02/05/2025 3:35 PM 6922.11 14006.17
WCX928 03/05/2025 5:39 PM 7134.72 21503.74
SKX503 07/05/2025 2:34 PM 5149.93 5248.27
FST590 07/05/2025 9:34 PM 13854.51 14009.88
FST590 08/05/2025 1:06 PM 13940.51 28035.89
FSU104 08/05/2025 6:02 AM 27555.11 27823.39
FSU104 08/05/2025 9:39 AM 27648.51 55565.11
FSU104 13/05/2025 11:37 AM 27941.83 0.0
NNZ730 06/05/2025 10:37 AM 21726.65 21857.54
NNZ730 12/05/2025 10:09 AM 22345.58 0.0
NNZ730 12/05/2025 12:55 PM 22369.98 0.0
NNZ902 02/05/2025 12:03 PM 55743.03 55758.35
NNZ902 03/05/2025 6:55 PM 56053.96 112050.59
TLZ658 01/05/2025 11:11 AM 6753.9 7159.04
TLZ658 02/05/2025 7:24 AM 6879.8 14056.6
TLZ658 03/05/2025 4:15 PM 7096.42 21240.1
TLZ658 10/05/2025 4:04 PM 7892.15 0.0
TLZ658 10/05/2025 6:21 PM 7909.55 0.0
TLZ658 12/05/2025 3:17 PM 8010.75 0.0
TLZ658 13/05/2025 11:04 AM 8114.76 0.0
TLZ658 13/05/2025 7:36 PM 8203.66 0.0
TLZ658 14/05/2025 2:40 PM 8336.27 0.0
TLZ658 15/05/2025 10:33 AM 8416.67 0.0
TZY194 08/05/2025 7:30 PM 70464.19 70773.72
WNM579 02/05/2025 8:23 AM 37183.62 37186.62
WNM579 14/05/2025 9:39 AM 38322.18 0.0
WNM389 09/05/2025 6:51 PM 8355.27 0.0
WNM389 12/05/2025 4:37 PM 8509.57 0.0
VXI523 06/05/2025 7:23 AM 25463.42 26022.38
JKV580 15/05/2025 7:07 PM 19622.46 11487.32
SOR490 04/05/2025 1:21 PM 14864.06 14938.75
NOK510 02/05/2025 10:14 AM 28582.46 29134.12
NOK510 02/05/2025 1:24 PM 28770.2 58292.11
NOK510 02/05/2025 1:25 PM 28771.1 87063.22
NOK510 03/05/2025 3:11 PM 29226.18 116600.64
NNZ906 02/05/2025 4:29 PM 17416.76 17551.12
SKX519 02/05/2025 3:10 PM 9210.2 9222.6
SKX519 03/05/2025 11:11 AM 18670.23 27905.91
SKX519 03/05/2025 9:55 PM 9335.31 37241.22
SKX519 09/05/2025 1:10 PM 9662.22 47016.47
SKX475 01/05/2025 8:05 PM 7875.05 7891.88
SKX475 03/05/2025 8:58 PM 7963.74 15871.92
TLY275 10/05/2025 11:10 AM 7137.71 7386.46
TLY275 10/05/2025 12:16 PM 7149.71 14547.17
ERK710 01/05/2025 11:12 AM 40751.98 40753.94
ERK710 08/05/2025 9:51 AM 42220.05 0.0
EYX832 02/05/2025 5:37 PM 21651.05 21673.19
SKX700 05/05/2025 1:41 PM 9360.21 9908.08
SKX700 13/05/2025 7:57 PM 10296.65 11772.4
JUY618 02/05/2025 2:53 PM 10551.56 10603.41
TLZ647 04/05/2025 5:07 PM 5971.36 5978.83
TLZ647 12/05/2025 1:26 PM 6117.77 12229.66
WNM393 05/05/2025 6:40 PM 5527.17 6488.69
WNM393 05/05/2025 6:41 PM 5526.47 12015.56
WNM393 05/05/2025 6:43 PM 5527.07 17544.13
WNM393 05/05/2025 6:43 PM 5526.97 23071.09
WNM393 05/05/2025 6:47 PM 5526.27 28597.86
SKX679 05/05/2025 4:50 PM 12481.24 12846.52
SKX461 09/05/2025 8:48 PM 24301.57 0.0
JKW075 14/05/2025 7:23 AM 45564.9 0.0
JKW075 14/05/2025 11:34 AM 45668.7 0.0
NHQ844 03/05/2025 9:49 AM 81702.09 82119.08
NHQ844 04/05/2025 6:36 AM 163905.58 246100.64
EQZ326 02/05/2025 3:42 PM 29795.8 30430.3
EQZ326 04/05/2025 7:10 PM 29929.01 60389.05
EQZ326 06/05/2025 6:51 PM 30275.53 0.0
ERK707 02/05/2025 7:12 PM 17888.78 17942.69
WOT652 01/05/2025 9:10 AM 17636.77 17636.87
WOT652 11/05/2025 9:21 AM 18461.61 0.0
EQZ971 11/05/2025 11:39 PM 20296.99 0.0
SBL009 02/05/2025 2:13 PM 23470.02 23804.1
SXX315 01/05/2025 1:35 PM 9958.13 9958.42
SXX315 01/05/2025 2:30 PM 19928.26 29886.88
SXX315 02/05/2025 12:36 PM 20033.26 53663.23
SXX315 11/05/2025 2:42 PM 11420.5 0.0
NOK511 01/05/2025 11:03 AM 24366.66 24404.55
NOK511 01/05/2025 12:28 PM 48757.53 73164.3
NOK511 09/05/2025 6:13 AM 26942.18 0.0
SKX504 08/05/2025 1:19 PM 10944.88 11211.49
TOC498 01/05/2025 7:34 PM 3638.06 3639.33
TOC498 02/05/2025 12:55 PM 3655.95 7298.78
WOS345 04/05/2025 1:03 PM 148180.38 148193.18
EXX444 01/05/2025 1:11 PM 14310.43 14313.04
EXX444 02/05/2025 12:29 PM 14344.34 28668.78
EXX444 02/05/2025 12:54 PM 14348.54 43018.38
EXX444 03/05/2025 6:20 PM 14438.13 57465.19
EXX444 04/05/2025 2:54 PM 14476.83 71946.12
JKV581 03/05/2025 3:45 PM 37280.73 37311.86
FST595 15/05/2025 10:27 AM 3291.04 1775.11
FST595 15/05/2025 11:19 AM 3322.65 5128.46
NNZ904 03/05/2025 9:02 AM 3119.34 3260.93
KYZ133 08/05/2025 2:12 PM 4822.42 4822.52
KYZ133 09/05/2025 4:40 PM 2338.81 14621.95
KYZ133 09/05/2025 4:58 PM 2368.77 23815.9
KYZ133 15/05/2025 8:34 AM 5247.62 32366.76
KYZ133 15/05/2025 8:35 AM 5247.62 37614.38
KYZ133 15/05/2025 2:29 PM 5313.64 42947.93
KYZ133 23/05/2025 3:00 PM 2132.94 35005.4
KYZ133 23/05/2025 3:01 PM 1972.62 36978.21
KYZ133 23/05/2025 3:02 PM 2163.74 39142.25
KYZ133 30/05/2025 3:36 PM 1795.27 54324.48
KYZ133 30/05/2025 3:37 PM 1896.06 56220.54
KYZ133 30/05/2025 3:41 PM 2634.99 61061.93
KYZ133 30/05/2025 3:48 PM 2854.34 66952.74
KYZ133 30/05/2025 3:49 PM 2087.64 69040.38
KYZ133 30/05/2025 3:50 PM 2201.14 71241.52
KYZ133 30/05/2025 3:50 PM 2319.64 74226.77
KYZ133 30/05/2025 3:51 PM 2438.73 76784.69
KYZ133 30/05/2025 3:52 PM 2986.63 79771.31
KYZ133 30/05/2025 3:54 PM 2985.73 82757.04

In [7]:
wou053=mileage_05[mileage_05['Unit'].str.contains('WOU053')]
wou053['Distance (km)'].sort_values(ascending=False)

122763    61043.58
122415    60971.78
117214    59234.20
116824    59118.89
116511    58988.89
            ...
119400        0.10
121803        0.10
116310        0.08
116360        0.02
116218        0.02
Name: Distance (km), Length: 8382, dtype: float64

In [8]:
mileage_0601=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/06mileageReport_Part_1.csv')
mileage_0602=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/06mileageReport_Part_2.csv')
mileage_0603=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/06mileageReport_Part_3.csv')
mileage_0604=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/06mileageReport_Part_4.csv')
mileage_06=pd.concat([mileage_0601,mileage_0602,mileage_0603,mileage_0604])

In [9]:
mileage_06.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1662036 entries, 0 to 162035
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unit                 1662036 non-null  object
 1   Time/Date (COT)      1662036 non-null  object
 2   Address              1662036 non-null  object
 3   Distance (km)        1662036 non-null  float64
 4   Total Distance (km)  1662036 non-null  float64
 5   Odometer             1662036 non-null  float64
 6   Driver               0 non-null        float64
dtypes: float64(4), object(3)
memory usage: 101.4+ MB

In [10]:
mileage_06['Distance (km)'].value_counts(ascending=False)

Distance (km)
0.10    615043
0.20    339292
0.30    203102
0.40    128125
0.50     83335
         ...
7.11         1
2.47         1
1.47         1
6.89         1
3.01         1
Name: count, Length: 979, dtype: int64

In [11]:
mileage_06['Distance (km)'].sort_values(ascending=False)

108410    4113.99
149083    1531.56
474992     849.44
144357     791.73
144355     695.33
           ...
332284       0.00
117782       0.00
376823       0.00
130125       0.00
140269       0.00
Name: Distance (km), Length: 1662036, dtype: float64

In [12]:
for i in range(0,1662036):
    if mileage_06.iloc[i,3]>=1530:
        print(mileage_06.iloc[i,0],mileage_06.iloc[i,1],mileage_06.iloc[i,3])

WOU053 01/06/2025 2:27 PM 4113.99
NNZ903 26/06/2025 12:42 PM 1531.56

In [13]:
wou053=mileage_06[mileage_06['Unit'].str.contains('WOU053')]
wou053

,Unit,Time/Date (COT),Address,Distance (km),Total Distance (km),Odometer,Driver
108410,WOU053,01/06/2025 2:27 PM,(No street address given),4113.99,4113.99,65544.48,NaN
108411,WOU053,01/06/2025 2:27 PM,(No street address given),0.60,4114.59,65545.07,NaN
108412,WOU053,01/06/2025 2:28 PM,(No street address given),0.60,4115.19,65545.68,NaN
108413,WOU053,01/06/2025 2:28 PM,(No street address given),1.10,4116.29,65546.78,NaN
108414,WOU053,01/06/2025 2:29 PM,(No street address given),0.10,4116.39,65546.87,NaN
...,...,...,...,...,...,...,...
127518,WOU053,29/06/2025 9:27 PM,(No street address given),0.30,10697.18,71931.56,NaN
127519,WOU053,29/06/2025 9:27 PM,(No street address given),0.40,10697.58,71931.96,NaN
127520,WOU053,29/06/2025 9:28 PM,(No street address given),0.30,10697.88,71932.25,NaN
127521,WOU053,29/06/2025 9:28 PM,(No street address given),0.10,10697.98,71932.35,NaN
127522,WOU053,29/06/2025 9:29 PM,(No street address given),0.70,10698.68,71933.06,NaN

In [14]:
mileage_0701=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/07mileageReport_Part_1.csv')
mileage_0702=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/07mileageReport_Part_2.csv')
mileage_0703=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/07mileageReport_Part_3.csv')
mileage_07=pd.concat([mileage_0701,mileage_0702,mileage_0703])

In [14]:
mileage_07.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1007799 entries, 0 to 7798
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unit                 1007799 non-null  object
 1   Time/Date (COT)      1007799 non-null  object
 2   Address              1007799 non-null  object
 3   Distance (km)        1007799 non-null  float64
 4   Total Distance (km)  1007799 non-null  float64
 5   Odometer             1007799 non-null  float64
 6   Driver               0 non-null        float64
dtypes: float64(4), object(3)
memory usage: 61.5+ MB

In [15]:
mileage_07['Distance (km)'].value_counts(ascending=False)

Distance (km)
0.10     356110
0.20     201042
0.30     123196
0.40      78531
0.50      52530
          ...
13.07         1
12.13         1
6.52          1
26.69         1
9.68          1
Name: count, Length: 1184, dtype: int64

In [16]:
mileage_07['Distance (km)'].sort_values(ascending=False)

6482      1114.14
188760     926.24
484171     915.12
484173     912.72
484177     912.72
           ...
47744        0.00
29545        0.00
200664       0.00
498535       0.00
223278       0.00
Name: Distance (km), Length: 1007799, dtype: float64

In [17]:
for i in range(0,1007799):
    if mileage_07.iloc[i,3]>=900:
        print(mileage_07.iloc[i,0],mileage_07.iloc[i,1],mileage_07.iloc[i,3])

NNZ902 12/07/2025 12:18 PM 912.64
WNM385 12/07/2025 7:29 AM 926.24
NNZ903 06/07/2025 5:19 PM 909.37
NNZ903 06/07/2025 5:24 PM 915.12
NNZ903 06/07/2025 5:28 PM 912.72
NNZ903 06/07/2025 5:36 PM 912.72
PRZ058 12/07/2025 6:46 AM 1114.14

In [18]:
nnz903=mileage_07[mileage_07['Unit'].str.contains('NNZ903')]
nnz903_0607=nnz903[nnz903['Time/Date (COT)'].str.contains('06/07/2025 5:')]
nnz903_0607.head(30)
nnz903_0607.to_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/NNZ903_dates.csv')

In [19]:
wnm385=mileage_07[mileage_07['Unit'].str.contains('WNM385')]
wnm385_1207=wnm385[wnm385['Time/Date (COT)'].str.contains('12/07/2025 7:2')]
wnm385_1207

,Unit,Time/Date (COT),Address,Distance (km),Total Distance (km),Odometer,Driver
188749,WNM385,12/07/2025 7:20 AM,(No street address given),0.80,1660.47,30167.13,NaN
188750,WNM385,12/07/2025 7:21 AM,(No street address given),1.10,1661.57,30168.22,NaN
188751,WNM385,12/07/2025 7:22 AM,(No street address given),1.10,1662.67,30169.33,NaN
188752,WNM385,12/07/2025 7:23 AM,(No street address given),1.10,1663.77,30170.43,NaN
188753,WNM385,12/07/2025 7:24 AM,(No street address given),0.80,1664.57,30171.23,NaN
188754,WNM385,12/07/2025 7:25 AM,(No street address given),0.30,1664.87,30171.52,NaN
188755,WNM385,12/07/2025 7:26 AM,(No street address given),0.20,1665.07,30171.73,NaN
188756,WNM385,12/07/2025 7:26 AM,(No street address given),0.20,1665.27,30171.92,NaN
188757,WNM385,12/07/2025 7:26 AM,(No street address given),1.00,1666.27,30172.92,NaN
188758,WNM385,12/07/2025 7:27 AM,(No street address given),0.80,1667.07,30173.72,NaN
188759,WNM385,12/07/2025 7:28 AM,(No street address given),0.60,1667.67,30174.32,NaN
188760,WNM385,12/07/2025 7:29 AM,(No street address given),926.24,2593.91,31100.56,NaN

In [20]:
wnm385=mileage_07[mileage_07['Unit'].str.contains('WNM385')]
wnm385_1207=wnm385[wnm385['Time/Date (COT)'].str.contains('12/07/2025 7:3')]
wnm385_1207

Empty DataFrame
Columns: [Unit, Time/Date (COT), Address, Distance (km), Total Distance (km), Odometer, Driver]
Index: []

In [21]:
cu=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/Customer-Units.csv',sep=';',encoding='latin1')
cu.info()
cu.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       283 non-null    int64
 1   Owner                    283 non-null    object
 2   Unit ID                  283 non-null    object
 3   Unit                     283 non-null    object
 4   Peripherals              0 non-null      float64
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            4 non-null      object
 8   Last Event Date          283 non-null    object
 9   Monthly Fee              283 non-null    int64
 10  Bill To                  20 non-null     object
 11  Assigned To              283 non-null    object
 12  Linked Mode              283 non-null    int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 283 non-null    object
 16  RMA                      283 non-null    object
 17  Unit Type                283 non-null    object
 18  IMEI                     283 non-null    object
 19  Serial Number            283 non-null    object
 20  Phone Number             283 non-null    int64
 21  Carrier                  273 non-null    object
 22  SIM #                    283 non-null    object
 23  VIN                      0 non-null      float64
 24  License Plate            11 non-null     object
 25  Static IP                0 non-null      float64
 26  Event                    283 non-null    object
 27  Last Contact On          283 non-null    object
 28  Min                      283 non-null    int64
 29  Server IP                283 non-null    object
 30  Server Port              283 non-null    int64
 31  Last Event Address       283 non-null    object
 32  Modem                    270 non-null    object
 33  Inv #                    283 non-null    object
 34  Status                   283 non-null    object
 35  Last Service Paid Until  283 non-null    object
 36  Service Paid Until       283 non-null    object
 37  Assigned to Company      283 non-null    object
 38  IFTA                     283 non-null    object
 39  History Months           283 non-null    int64
 40  Comments                 0 non-null      float64
 41  Warranty Expires         283 non-null    object
 42  Script                   0 non-null      float64
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 51 non-null     object
dtypes: float64(12), int64(7), object(28)
memory usage: 104.0+ KB

,ID,Owner,Unit ID,Unit,Peripherals,Reporting Status,Show Until,Billing Group,Last Event Date,Monthly Fee,...,Assigned to Company,IFTA,History Months,Comments,Warranty Expires,Script,JBOX Profile,Contract Type,Subscription,Firmware
0,1105648,Renting,15JU,YAR184,NaN,NaN,NaN,NaN,21/07/2025,42800,...,10/19/2024 3:28:30 PM,N,3,NaN,9/4/2025 12:00:00 AM,NaN,NaN,NaN,NaN,NaN
1,1105304,Renting,15AA,WOY701,NaN,NaN,NaN,NaN,18/07/2025,42800,...,10/26/2024 1:41:55 PM,N,3,NaN,9/4/2025 12:00:00 AM,NaN,NaN,NaN,NaN,NaN
2,1106491,Client,16GV,WOY700,NaN,NaN,NaN,INTERNAL U,21/07/2025,298600,...,12/20/2024 9:33:11 AM,N,3,NaN,9/17/2025 12:00:00 AM,NaN,NaN,NaN,NaN,NaN

In [22]:
trouble_units_data=[['NNZ903'],['WNM385'],['PRZ058']]
trouble_units_df=pd.DataFrame(trouble_units_data,columns=['Shortname'])
trouble_units_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Shortname  3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [23]:
df_book_table01=trouble_units_df
df_book_table02=cu

In [26]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]       
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())

attribute_name_table01='Shortname'#Digitar el índice de la tabla 1.input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='Unit'#Digitar el índice de la tabla 2.input("Digita el atribito a comparar de la tabla 2: ")

position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table02.iloc[j,3])
            list_field02.append(df_book_table02.iloc[j,17])
            #list_field03.append(df_book_table02.iloc[j,4])
            #list_field04.append(df_book_table02.iloc[j,1])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['Short name']=list_field01
df_aux['Unit type']=list_field02
#df_aux['FIELD03']=list_field03
#df_aux['FIELD04']=list_field04
#print("Cont= ",cont)
#print(df_aux.info())
print(df_aux)
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/report01.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,5]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    df_book_table02.dropna(axis=0,inplace=True)
    #print(df_book_table02)
    df_book_table02.to_csv("/home/jlhb1984/py-projects/data/chilcoTS000153784/report02.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Shortname  3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       283 non-null    int64
 1   Owner                    283 non-null    object
 2   Unit ID                  283 non-null    object
 3   Unit                     283 non-null    object
 4   Peripherals              0 non-null      float64
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            4 non-null      object
 8   Last Event Date          283 non-null    object
 9   Monthly Fee              283 non-null    int64
 10  Bill To                  20 non-null     object
 11  Assigned To              283 non-null    object
 12  Linked Mode              283 non-null    int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 283 non-null    object
 16  RMA                      283 non-null    object
 17  Unit Type                283 non-null    object
 18  IMEI                     283 non-null    object
 19  Serial Number            283 non-null    object
 20  Phone Number             283 non-null    int64
 21  Carrier                  273 non-null    object
 22  SIM #                    283 non-null    object
 23  VIN                      0 non-null      float64
 24  License Plate            11 non-null     object
 25  Static IP                0 non-null      float64
 26  Event                    283 non-null    object
 27  Last Contact On          283 non-null    object
 28  Min                      283 non-null    int64
 29  Server IP                283 non-null    object
 30  Server Port              283 non-null    int64
 31  Last Event Address       283 non-null    object
 32  Modem                    270 non-null    object
 33  Inv #                    283 non-null    object
 34  Status                   283 non-null    object
 35  Last Service Paid Until  283 non-null    object
 36  Service Paid Until       283 non-null    object
 37  Assigned to Company      283 non-null    object
 38  IFTA                     283 non-null    object
 39  History Months           283 non-null    int64
 40  Comments                 0 non-null      float64
 41  Warranty Expires         283 non-null    object
 42  Script                   0 non-null      float64
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 51 non-null     object
dtypes: float64(12), int64(7), object(28)
memory usage: 104.0+ KB
None

Atributo de la tabla1:  0
Atributo de la tabla2:  3

Trabajando...
df_book_table01[i,position_table01]:  NNZ903  = df_book_table02[j,position_table02]:  NNZ903
df_book_table01[i,position_table01]:  WNM385  = df_book_table02[j,position_table02]:  WNM385
df_book_table01[i,position_table01]:  PRZ058  = df_book_table02[j,position_table02]:  PRZ058
  Short name        Unit type
0     NNZ903  Topfly PioneerX
1     WNM385   Queclink GV55W
2     PRZ058  Topfly PioneerX

Nuevo análisis del Mileage Report 10-09-2025.

In [41]:
mr1=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/mileageReport_Part_1_2025-09-10_1757513035919_ic1lz280i.csv')
mr2=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/mileageReport_Part_2_2025-09-10_1757513059576_9fthfejt6.csv')
mr1.info()
mr2.info()
mr12=pd.concat([mr1,mr2])
mr12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unit                 500000 non-null  object
 1   Time/Date (COT)      500000 non-null  object
 2   Address              500000 non-null  object
 3   Distance (km)        500000 non-null  float64
 4   Total Distance (km)  500000 non-null  float64
 5   Odometer             500000 non-null  float64
 6   Driver               0 non-null       float64
dtypes: float64(4), object(3)
memory usage: 26.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23830 entries, 0 to 23829
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unit                 23830 non-null  object
 1   Time/Date (COT)      23830 non-null  object
 2   Address              23830 non-null  object
 3   Distance (km)        23830 non-null  float64
 4   Total Distance (km)  23830 non-null  float64
 5   Odometer             23830 non-null  float64
 6   Driver               0 non-null      float64
dtypes: float64(4), object(3)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 523830 entries, 0 to 23829
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unit                 523830 non-null  object
 1   Time/Date (COT)      523830 non-null  object
 2   Address              523830 non-null  object
 3   Distance (km)        523830 non-null  float64
 4   Total Distance (km)  523830 non-null  float64
 5   Odometer             523830 non-null  float64
 6   Driver               0 non-null       float64
dtypes: float64(4), object(3)
memory usage: 32.0+ MB

In [39]:
mr12['Distance (km)'].sort_values(ascending=False)

431791    1165.43
431844     591.99
82708      539.92
261228     533.00
431847     498.48
           ...
261802       0.00
262438       0.00
262396       0.00
262408       0.00
402775       0.00
Name: Distance (km), Length: 523830, dtype: float64

In [59]:
for i in range(0,523830):
    if mr12.iloc[i,3]>=200:
        print(mr12.iloc[i,0],mr12.iloc[i,1],mr12.iloc[i,3],mr12.iloc[i,5])

EYX834 09/03/2025 4:30 PM 248.11 30607.64
EYX834 09/03/2025 5:47 PM 237.01 30607.54
EYX840 09/02/2025 11:25 AM 261.91 66762.83
EYX840 09/02/2025 11:25 AM 539.92 67040.84
PRZ607 09/08/2025 12:33 PM 533.0 2933.83
UPO081 09/09/2025 11:09 AM 1165.43 36362.01
UPO081 09/09/2025 1:40 PM 591.99 37146.74
UPO081 09/09/2025 1:44 PM 486.04 37703.33
UPO081 09/09/2025 1:46 PM 498.48 38201.82
VKQ018 09/05/2025 5:48 PM 295.21 42820.27

In [44]:
mr12['Distance (km)'].max()

np.float64(1165.43)

In [45]:
vf=pd.read_csv('/home/jlhb1984/py-projects/data/chilcoTS000153784/rawdata_2bd4135b-58d1-4e3a-a48c-54cd5535ee14.csv')
vf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 50 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Row Id                     503 non-null    int64
 1   Sequence #                 0 non-null      float64
 2   Server Time                503 non-null    object
 3   Unit Time                  503 non-null    object
 4   Last Message Time          503 non-null    object
 5   Latitude                   503 non-null    float64
 6   Longitude                  503 non-null    float64
 7   Driver Name                0 non-null      float64
 8   Event Name                 503 non-null    object
 9   Raw Event                  503 non-null    object
 10  Address                    503 non-null    object
 11  GPS Speed                  393 non-null    float64
 12  ECU Speed                  0 non-null      float64
 13  Speed Limit                242 non-null    float64
 14  Heading                    465 non-null    float64
 15  Ignition Status            503 non-null    object
 16  Notification Type          503 non-null    object
 17  Trip Id                    492 non-null    object
 18  Picture Id                 65 non-null     float64
 19  Event Category             116 non-null    object
 20  Event Level                116 non-null    object
 21  Camera Clip Key            116 non-null    float64
 22  Camera Clip Offset         116 non-null    float64
 23  Clip Id                    116 non-null    float64
 24  Duration                   0 non-null      float64
 25  Rotate                     65 non-null     object
 26  Camera Status              0 non-null      float64
 27  Idle Status                229 non-null    object
 28  SDCard Status              0 non-null      float64
 29  Data Usage In KB           0 non-null      float64
 30  Transaction Id             0 non-null      float64
 31  Status                     0 non-null      float64
 32  Error Msg                  0 non-null      float64
 33  Valid Time Range           0 non-null      float64
 34  Warning                    0 non-null      float64
 35  Distance                   499 non-null    float64
 36  Accumulated Distance       256 non-null    float64
 37  Engine Hours               503 non-null    float64
 38  Engine Hours + Off         0 non-null      float64
 39  ECU Engine Hours           0 non-null      float64
 40  ECU Engine Hours + Off     0 non-null      float64
 41  Engine Odometer            503 non-null    float64
 42  Engine Odometer + Off      0 non-null      float64
 43  ECU Engine Odometer        0 non-null      float64
 44  ECU Engine Odometer + Off  0 non-null      float64
 45  HDOP                       266 non-null    float64
 46  VDOP                       0 non-null      float64
 47  RSSI                       503 non-null    int64
 48  Battery Level              0 non-null      float64
 49  Raw Data                   503 non-null    object
dtypes: float64(34), int64(2), object(14)
memory usage: 196.6+ KB

In [46]:
vf['Distance'].max()

np.float64(54.64957945)

In [49]:
vf['Distance'].sort_values(ascending=False)

0      54.649579
1      54.649579
2      54.649579
3      53.882186
4      52.866866
         ...
470     0.000000
342          NaN
344          NaN
361          NaN
396          NaN
Name: Distance, Length: 503, dtype: float64

In [61]:
vf_date_1165_43=vf[vf['Unit Time'].str.contains('2025/09/09 11:0')]
vf_date_1165_43.sort_values('Unit Time')

,Row Id,Sequence #,Server Time,Unit Time,Last Message Time,Latitude,Longitude,Driver Name,Event Name,Raw Event,...,ECU Engine Hours + Off,Engine Odometer,Engine Odometer + Off,ECU Engine Odometer,ECU Engine Odometer + Off,HDOP,VDOP,RSSI,Battery Level,Raw Data
183,175743408994,NaN,2025/09/09 11:08:10,2025/09/09 11:00:19,2025/09/09 11:08:10,4.557641,-73.049324,NaN,Drive,GpsData.Moving,...,NaN,21864.31,NaN,NaN,NaN,NaN,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."
182,175743409018,NaN,2025/09/09 11:08:10,2025/09/09 11:02:19,2025/09/09 11:08:10,4.566713,-73.032635,NaN,Drive,GpsData.Moving,...,NaN,21865.63,NaN,NaN,NaN,NaN,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."
181,175743405125,NaN,2025/09/09 11:07:31,2025/09/09 11:03:52,2025/09/09 11:07:31,4.568895,-73.016848,NaN,No Seatbelt,CameraEvent.NO_SEATBELT,...,NaN,21865.63,NaN,NaN,NaN,0.8,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."
180,175743409046,NaN,2025/09/09 11:08:10,2025/09/09 11:04:19,2025/09/09 11:08:10,4.569589,-73.012217,NaN,Drive,GpsData.Moving,...,NaN,21867.05,NaN,NaN,NaN,NaN,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."
179,175743404797,NaN,2025/09/09 11:07:28,2025/09/09 11:07:06,2025/09/09 11:07:28,4.271055,-73.436302,NaN,AutoSnapshot,AutoSnapshot,...,NaN,21867.05,NaN,NaN,NaN,0.6,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."
178,175743409073,NaN,2025/09/09 11:08:11,2025/09/09 11:07:10,2025/09/09 11:08:11,4.568523,-72.981169,NaN,Drive,GpsData.Moving,...,NaN,21868.10,NaN,NaN,NaN,NaN,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."
177,175743421209,NaN,2025/09/09 11:10:12,2025/09/09 11:08:39,2025/09/09 11:10:12,4.567981,-72.967507,NaN,Collision Warning,CameraEvent.FORWARD_COLLISION_WARNING,...,NaN,22557.50,NaN,NaN,NaN,0.7,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."
176,175743418806,NaN,2025/09/09 11:09:48,2025/09/09 11:09:10,2025/09/09 11:09:48,4.568689,-72.966693,NaN,Drive,GpsData.Moving,...,NaN,21870.18,NaN,NaN,NaN,NaN,NaN,-63,NaN,"""{\""ingestVersion\"":\""1.0.4\"",\""linkedMode\"":0..."

21870.18=35196, este dato aparece el mileage report:

UPO081	9/09/2025 11:07	65, Barranca de UpÃ­a, Meta, 501007	3.35	347.82	35196.57
UPO081	9/09/2025 11:09	5127-553 65, Barranca, Meta, 501001	1165.43	1513.26	36362.01
UPO081	9/09/2025 11:12	65, Villanueva, Casanare, 855038	68.36	1581.62	36430.36