In [1]:
import pandas as pd
import numpy as np

In [3]:
reeferv1=pd.read_csv('/home/jlhb1984/py-projects/data/donpollo/REEFER V1 30102025.csv',sep=';',encoding='latin1')
reeferv1['Events'].value_counts()

Events
Drive                 21531
Idle Alert             3964
Travel Stop            1159
Travel Start           1158
Idle - Stop             296
End Speeding             80
Speed alert              80
Landmark OUT             56
Landmark IN              50
Geofence IN              43
Geofence OUT             38
Harsh Turn               33
Parked                   15
Harsh Deceleration        4
Ignition ON               2
Ignition OFF              2
Name: count, dtype: int64

In [8]:
reeferv1_du=pd.read_csv('/home/jlhb1984/py-projects/data/donpollo/travels_Daily_Summary_Unified_reefer_v1.csv')
reeferv1_du.info()
reeferv1_du_negatives=reeferv1_du[reeferv1_du['OffTime'].str.contains('-')]
reeferv1_du_negatives

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UnitName         29 non-null     object
 1   DayDate          29 non-null     object
 2   Decelerations    29 non-null     int64
 3   Accelerations    29 non-null     int64
 4   HarshTurns       29 non-null     int64
 5   DistanceDriven1  29 non-null     object
 6   DriveTime        29 non-null     object
 7   OffTime          29 non-null     object
 8   IdleTime         29 non-null     object
 9   Textbox17        29 non-null     object
 10  MaxSpeed         29 non-null     object
 11  DriverName       0 non-null      float64
 12  GroupName        29 non-null     object
dtypes: float64(1), int64(3), object(9)
memory usage: 3.1+ KB

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
10,REEFER V1,12/10/2025,0,0,0,"620,59",18:03:05,-19:16:39,24:40:16,42:43:21,74 kph,NaN,REEFER V1 Victoria Logistics EIRL
13,REEFER V1,15/10/2025,0,0,0,"268,98",7:00:47,-19:57:25,35:01:48,42:02:35,63 kph,NaN,REEFER V1 Victoria Logistics EIRL
16,REEFER V1,18/10/2025,0,0,0,"459,02",13:50:00,-9:24:17,18:45:43,32:35:43,79 kph,NaN,REEFER V1 Victoria Logistics EIRL

In [12]:
ignition=reeferv1[reeferv1['Events'].str.contains('Ignition')]
ignition

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
7677,20834,REEFER V1,Ignition ON,Oct 22 2025 06:05 PM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,26.13°C,NaN,-6.506852,-76.345006
7680,20831,REEFER V1,Ignition OFF,Oct 22 2025 05:51 PM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,26.13°C,NaN,-6.506823,-76.344975
25555,2956,REEFER V1,Ignition ON,Oct 04 2025 11:30 AM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,30.00°C,NaN,-6.506853,-76.344988
25569,2942,REEFER V1,Ignition OFF,Oct 04 2025 10:22 AM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,28.00°C,NaN,-6.506782,-76.344986

In [4]:
reeferv1_puerta=pd.read_csv('/home/jlhb1984/py-projects/data/donpollo/reeferv1_puerta 30102025.csv',sep=';',encoding='latin1')
reeferv1_puerta['Events'].value_counts()

Events
Drive                 21641
Idle Alert             3963
Travel Start           1117
Travel Stop            1117
Input 2 OFF             386
Input 2 ON              373
Idle - Stop             298
End Speeding             82
Speed alert              80
Landmark IN              54
Landmark OUT             53
Geofence IN              44
Geofence OUT             42
Harsh Turn               35
Parked                   15
Harsh Deceleration        3
Ignition ON               2
Ignition OFF              2
Name: count, dtype: int64

In [11]:
reeferv1_puerta_du=pd.read_csv('/home/jlhb1984/py-projects/data/donpollo/Travels_Daily_Summary_Unified_reef_v1_puerta.csv')
reeferv1_puerta_du.info()
reeferv1_puerta_du_negatives=reeferv1_puerta_du[reeferv1_puerta_du['OffTime'].str.contains('-')]
reeferv1_puerta_du_negatives

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UnitName         29 non-null     object
 1   DayDate          29 non-null     object
 2   Decelerations    29 non-null     int64
 3   Accelerations    29 non-null     int64
 4   HarshTurns       29 non-null     int64
 5   DistanceDriven1  29 non-null     object
 6   DriveTime        29 non-null     object
 7   OffTime          29 non-null     object
 8   IdleTime         29 non-null     object
 9   Textbox17        29 non-null     object
 10  MaxSpeed         29 non-null     object
 11  DriverName       0 non-null      float64
 12  GroupName        29 non-null     object
dtypes: float64(1), int64(3), object(9)
memory usage: 3.1+ KB

,UnitName,DayDate,Decelerations,Accelerations,HarshTurns,DistanceDriven1,DriveTime,OffTime,IdleTime,Textbox17,MaxSpeed,DriverName,GroupName
10,REEFER V1-PUERTA,12/10/2025,0,0,1,"629,83",18:01:12,-19:16:36,24:42:12,42:43:24,72 kph,NaN,REEFER V1 Victoria Logistics EIRL
13,REEFER V1-PUERTA,15/10/2025,0,0,0,"269,85",6:55:53,-19:57:25,35:06:42,42:02:35,63 kph,NaN,REEFER V1 Victoria Logistics EIRL
16,REEFER V1-PUERTA,18/10/2025,0,0,1,"465,81",13:57:53,-9:24:05,18:38:02,32:35:55,77 kph,NaN,REEFER V1 Victoria Logistics EIRL

In [13]:
ignition=reeferv1_puerta[reeferv1_puerta['Events'].str.contains('Ignition')]
ignition

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
7656,21651,REEFER V1-PUERTA,Ignition ON,Oct 22 2025 06:05 PM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,26.00°C,NaN,-6.506749,-76.344794
7659,21648,REEFER V1-PUERTA,Ignition OFF,Oct 22 2025 05:51 PM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,25.94°C,NaN,-6.506818,-76.345009
26333,2974,REEFER V1-PUERTA,Ignition ON,Oct 04 2025 11:30 AM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,29.94°C,NaN,-6.506863,-76.345075
26347,2960,REEFER V1-PUERTA,Ignition OFF,Oct 04 2025 10:22 AM,NaN,"BANDA SHILCAYO TARAPOTO, Tarapoto 22200, Peru",0,28.13°C,NaN,-6.506823,-76.345058