In [1]:
import pandas as pd
import numpy as np

In [3]:
hlwop181=pd.read_csv('/home/jlhb1984/py-projects/data/ems/hlwop181.csv',sep=';',encoding='latin1')
hlwop181.info()
hlwop181['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12607 entries, 0 to 12606
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     12607 non-null  int64
 1   Unit         12607 non-null  object
 2   Events       12607 non-null  object
 3   Date         12607 non-null  object
 4   Landmark     5 non-null      object
 5   Address      12607 non-null  object
 6   Speed        12607 non-null  int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     12607 non-null  float64
 10  Longitude    12607 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 1.1+ MB

Events
Parked           6543
Drive            4050
Idle - Stop       768
Travel Stop       304
Travel Start      304
Ignition OFF      169
Ignition ON       167
Harsh Turn        144
Idle Alert        130
Fuel Raising       12
PANICO              8
Fuel Dropping       4
POWER UP            2
Landmark OUT        1
Landmark IN         1
Name: count, dtype: int64

In [5]:
drive_events_wop181=hlwop181[hlwop181['Events'].str.contains('Drive')]
drive_events_wop181

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
41,12566,WOP181,Drive,Oct 08 2025 12:03 PM,NaN,"Km 1001 de la vía Quibdo - Carmen del Atrato, ...",14,NaN,NaN,5.699927,-76.654790
42,12565,WOP181,Drive,Oct 08 2025 12:03 PM,NaN,"Cra. 10a #39-2, Quibdó, Chocó, Colombia",11,NaN,NaN,5.700098,-76.654635
43,12564,WOP181,Drive,Oct 08 2025 12:03 PM,NaN,"Km 1001 de la vía Quibdo - Carmen del Atrato, ...",9,NaN,NaN,5.700288,-76.654647
44,12563,WOP181,Drive,Oct 08 2025 12:03 PM,NaN,"Km 1001 de la vía Quibdo - Carmen del Atrato, ...",0,NaN,NaN,5.700330,-76.654689
45,12562,WOP181,Drive,Oct 08 2025 12:02 PM,NaN,"Cra. 10a #39-2, Quibdó, Chocó, Colombia",12,NaN,NaN,5.700019,-76.655403
...,...,...,...,...,...,...,...,...,...,...,...
12344,263,WOP181,Drive,Aug 07 2025 08:42 AM,NaN,"Km 1001 de la vía Quibdo - Carmen del Atrato, ...",24,NaN,NaN,5.694321,-76.650502
12347,260,WOP181,Drive,Aug 07 2025 08:41 AM,NaN,"Km 1001 de la vía Quibdo - Carmen del Atrato, ...",9,NaN,NaN,5.692744,-76.652730
12348,259,WOP181,Drive,Aug 07 2025 08:40 AM,NaN,"Km 1001 de la vía Quibdo - Carmen del Atrato, ...",0,NaN,NaN,5.692595,-76.652833
12349,258,WOP181,Drive,Aug 07 2025 08:40 AM,NaN,"Km 1001 de la vía Quibdo - Carmen del Atrato, ...",0,NaN,NaN,5.691768,-76.652113
12355,252,WOP181,Drive,Aug 07 2025 08:36 AM,NaN,"Km 190 de la vía Viterbo - Quibdo, , Chocó, Co...",0,NaN,NaN,5.690095,-76.654168

In [4]:
hlgkv878=pd.read_csv('/home/jlhb1984/py-projects/data/ems/hlgkv878.csv',sep=';',encoding='latin1')
hlgkv878.info()
hlgkv878['Events'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18216 entries, 0 to 18215
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     18216 non-null  int64
 1   Unit         18216 non-null  object
 2   Events       18216 non-null  object
 3   Date         18216 non-null  object
 4   Landmark     16 non-null     object
 5   Address      18216 non-null  object
 6   Speed        18216 non-null  int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     18216 non-null  float64
 10  Longitude    18216 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 1.5+ MB

Events
Parked           12234
Drive             2901
Idle - Stop       1361
Travel Start       513
Travel Stop        512
Idle Alert         222
Ignition OFF       212
Ignition ON        212
POWER UP            13
Fuel Raising        12
Harsh Turn           9
PÁNICO               4
Speed alert          3
End Speeding         3
Fuel Dropping        2
Ping                 1
Landmark OUT         1
Landmark IN          1
Name: count, dtype: int64