In [1]:
import pandas as pd
import numpy as np

In [3]:
activity_report_total=pd.read_csv('/home/jlhb1984/py-projects/data/interventoriasTS000158358/Activity Report_v3.csv')
activity_report_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          123 non-null    object
 2   StartTime         123 non-null    object
 3   MovingTimeSecs    123 non-null    object
 4   MilesDriven       123 non-null    object
 5   MaxSpeed          123 non-null    int64
 6   StopTime          123 non-null    object
 7   textbox43         123 non-null    object
 8   StopLengthSecs    123 non-null    object
 9   ContactName       123 non-null    object
 10  textbox45         123 non-null    object
 11  textbox54         123 non-null    int64
 12  textbox28         123 non-null    object
 13  textbox29         123 non-null    object
 14  textbox30         123 non-null    int64
 15  textbox32         123 non-null    object
 16  MovingTimeSecs_1  123 non-null    object
 17  MilesDriven_1     123 non-null    object
 18  MaxSpeed_1        123 non-null    int64
 19  StopLengthSecs_1  123 non-null    object
dtypes: float64(1), int64(4), object(15)
memory usage: 19.3+ KB

In [8]:
hljst321=pd.read_csv('/home/jlhb1984/py-projects/data/interventoriasTS000158358/hljst321.csv',sep=';',encoding='latin1')
hljst321.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     43 non-null     int64
 1   Unit         43 non-null     object
 2   Events       43 non-null     object
 3   Date         43 non-null     object
 4   Landmark     0 non-null      float64
 5   Address      43 non-null     object
 6   Speed        43 non-null     int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     43 non-null     float64
 10  Longitude    43 non-null     float64
dtypes: float64(5), int64(2), object(4)
memory usage: 3.8+ KB

In [14]:
hljst32104082023=hljst321[hljst321['Date'].str.contains('Aug 04 2025 08:2')]
hljst32104082023

,Sequence,Unit,Events,Date,Landmark,Address,Speed,Temperature,Driver,Latitude,Longitude
3,40,JST321,Ignition OFF,Aug 04 2025 08:23 PM,NaN,"Km 63 de la vía Puerto Salgar - Puerto Boyaca,...",0,NaN,NaN,5.974010,-74.577789
4,39,JST321,Drive,Aug 04 2025 08:23 PM,NaN,"Km 63 de la vía Puerto Salgar - Puerto Boyaca,...",9,NaN,NaN,5.974017,-74.577759
5,38,JST321,Idle - Stop,Aug 04 2025 08:22 PM,NaN,"Km 63 de la vía Puerto Salgar - Puerto Boyaca,...",6,NaN,NaN,5.973234,-74.578049
6,37,JST321,Drive,Aug 04 2025 08:21 PM,NaN,"Km 63 de la vía Puerto Salgar - Puerto Boyaca,...",14,NaN,NaN,5.972335,-74.574860
7,36,JST321,Idle - Stop,Aug 04 2025 08:20 PM,NaN,"Km 63 de la vía Puerto Salgar - Puerto Boyaca,...",4,NaN,NaN,5.971859,-74.574837
34,9,JST321,Parked,Aug 04 2025 08:28 AM,NaN,"Km 63 de la vía Puerto Salgar - Puerto Boyaca,...",0,NaN,NaN,5.973944,-74.577766

In [4]:
activity_report_jst321=pd.read_csv('/home/jlhb1984/py-projects/data/interventoriasTS000158358/jst321.csv')
activity_report_jst321.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          8 non-null      object
 2   StartTime         8 non-null      object
 3   MovingTimeSecs    8 non-null      object
 4   MilesDriven       8 non-null      object
 5   MaxSpeed          8 non-null      int64
 6   StopTime          8 non-null      object
 7   textbox43         8 non-null      object
 8   StopLengthSecs    8 non-null      object
 9   ContactName       8 non-null      object
 10  textbox45         8 non-null      object
 11  textbox54         8 non-null      int64
 12  textbox28         8 non-null      object
 13  textbox29         8 non-null      object
 14  textbox30         8 non-null      int64
 15  textbox32         8 non-null      object
 16  MovingTimeSecs_1  8 non-null      object
 17  MilesDriven_1     8 non-null      object
 18  MaxSpeed_1        8 non-null      int64
 19  StopLengthSecs_1  8 non-null      object
dtypes: float64(1), int64(4), object(15)
memory usage: 1.4+ KB

In [9]:
hljop086=pd.read_csv('/home/jlhb1984/py-projects/data/interventoriasTS000158358/hljop086.csv',sep=';',encoding='latin1')
hljop086.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     261 non-null    int64
 1   Unit         261 non-null    object
 2   Events       261 non-null    object
 3   Date         261 non-null    object
 4   Landmark     0 non-null      float64
 5   Address      261 non-null    object
 6   Speed        261 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     261 non-null    float64
 10  Longitude    261 non-null    float64
dtypes: float64(5), int64(2), object(4)
memory usage: 22.6+ KB

In [5]:
activity_report_jop086=pd.read_csv('/home/jlhb1984/py-projects/data/interventoriasTS000158358/jop086.csv')
activity_report_jop086.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          123 non-null    object
 2   StartTime         123 non-null    object
 3   MovingTimeSecs    123 non-null    object
 4   MilesDriven       123 non-null    object
 5   MaxSpeed          123 non-null    int64
 6   StopTime          123 non-null    object
 7   textbox43         123 non-null    object
 8   StopLengthSecs    123 non-null    object
 9   ContactName       123 non-null    object
 10  textbox45         123 non-null    object
 11  textbox54         123 non-null    int64
 12  textbox28         123 non-null    object
 13  textbox29         123 non-null    object
 14  textbox30         123 non-null    int64
 15  textbox32         123 non-null    object
 16  MovingTimeSecs_1  123 non-null    object
 17  MilesDriven_1     123 non-null    object
 18  MaxSpeed_1        123 non-null    int64
 19  StopLengthSecs_1  123 non-null    object
dtypes: float64(1), int64(4), object(15)
memory usage: 19.3+ KB