In [48]:
import pandas as pd
import numpy as np

In [50]:
report=pd.read_csv('/home/jlhb1984/py-projects/data/invertrans/report.csv')
report['Analyzed']='Empty'
report.head(5)

,GroupName,UnitID,UnitName1,MaxSpeed,MilesDriven,TravelTimeSecs,Textbox3,IdleTimeSecs,Textbox6,IdleTimeSecs2,Textbox11,Textbox15,Textbox16,Textbox17,Textbox18,Textbox19,Textbox22,Textbox23,Analyzed
0,NaN,15IK,KBY321CASTIL/CAMIONE,100,"46,51",1H:15M:28S,"1,26",0H:54M:47S,"0,91",2H:10M:15S,"2,17","1.744,68",3D:7H:49M:25S,"79,82",3D:9H:32M:26S,"81,54",6D:17H:21M:51S,"161,36",Empty
1,NaN,15I7,KDW525RIOPAILA/CAMIO,95,"53,51",1H:12M:43S,"1,21",0H:38M:34S,"0,64",1H:51M:17S,"1,85","1.744,68",3D:7H:49M:25S,"79,82",3D:9H:32M:26S,"81,54",6D:17H:21M:51S,"161,36",Empty
2,NaN,0T8Q,LFL197CASTILLA,43,"52,13",3H:7M:5S,"3,12",2H:12M:22S,"2,21",5H:19M:27S,"5,32","1.744,68",3D:7H:49M:25S,"79,82",3D:9H:32M:26S,"81,54",6D:17H:21M:51S,"161,36",Empty
3,NaN,16GU,MHO224 RIOPAILA(CAM,95,"140,00",2H:49M:21S,"2,82",0H:18M:35S,"0,31",3H:7M:56S,"3,13","1.744,68",3D:7H:49M:25S,"79,82",3D:9H:32M:26S,"81,54",6D:17H:21M:51S,"161,36",Empty
4,NaN,15BZ,TDK954RIOPAILA,51,"74,00",3H:41M:19S,"3,69",2H:32M:5S,"2,53",6H:13M:24S,"6,22","1.744,68",3D:7H:49M:25S,"79,82",3D:9H:32M:26S,"81,54",6D:17H:21M:51S,"161,36",Empty

In [51]:
report_filtered=report[['UnitName1','MaxSpeed','MilesDriven','TravelTimeSecs']]
report_filtered

               UnitName1  MaxSpeed MilesDriven TravelTimeSecs
0   KBY321CASTIL/CAMIONE       100       46,51     1H:15M:28S
1   KDW525RIOPAILA/CAMIO        95       53,51     1H:12M:43S
2         LFL197CASTILLA        43       52,13       3H:7M:5S
3    MHO224 RIOPAILA(CAM        95      140,00     2H:49M:21S
4         TDK954RIOPAILA        51       74,00     3H:41M:19S
5         TDL580RIOPAILA        51       55,81     1H:47M:29S
6         TDL582CASTILLA        55       72,81      4H:29M:3S
7       TDL584 RISARALDA         0        0,00       0H:0M:0S
8        TDL585 RIOPAILA        47       46,80     3H:48M:43S
9         TDL587RIOPAILA         0        0,00       0H:0M:0S
10        TDL588CASTILLA        10        1,00     0H:13M:45S
11       TJV781RISARALDA         0        0,00       0H:0M:0S
12        TRM025RIOPAILA         0        0,00       0H:0M:0S
13        TRM032CASTILLA         0        0,00       0H:0M:0S
14       TUL562 RIOPAILA         0        0,00       0H:0M:0S
15        TUL568RIOPAILA        27       12,99     0H:37M:53S
16  WDL101CASTILLA/TURBO        63       30,51     0H:53M:15S
17       WDM182 CASTILLA        29       24,75     1H:21M:25S
18        WDM183CASTILLA        48       44,21     2H:35M:49S
19        WDM266CASTILLA        48       70,54     3H:41M:36S
20       WDM268 CASTILLA        50       37,80      1H:21M:4S
21        WDM270RIOPAILA        58       58,44     2H:31M:40S
22        WDM271CASTILLA        43       65,10      4H:1M:41S
23    WDM272LOS CASTILLA        53       37,90     1H:26M:12S
24         WDM281INCAUCA        71       50,00       3H:9M:9S
25       WDM282 CASTILLA         0        0,00       0H:0M:0S
26       WDM283 CASTILLA         0        0,00       0H:0M:0S
27        WDM284riopaila        47       59,90     3H:14M:20S
28       WDM285 CASTILLA        51       52,53     2H:33M:28S
29  WPK628riopaila/ TURB        68       26,20     1H:10M:53S
30        WPK633riopaila        58       59,01      3H:55M:6S
31  WPK640CASTILLA/TURBO        84      128,30      3H:3M:36S
32      WPK645 RISARALDA        42       68,09     3H:26M:47S
33       WPK661 MAYAGUEZ        47       52,79     3H:23M:30S
34      WPK692 risaralda         0        0,00       0H:0M:0S
35        ZNM941CASTILLA        42       42,91     2H:42M:38S
36        ZNM974riopaila        48       74,90      3H:10M:7S
37        ZNM975riopaila        51       51,19     2H:20M:24S
38       ZNM983 RIOPAILA        50       59,90     2H:41M:15S
39       ZNN559 CASTILLA        61       94,15      4H:2M:41S

In [52]:
unit_name='MHO224 RIOPAIL'
unit=report_filtered[report_filtered['UnitName1'].str.contains(unit_name)]
unit

             UnitName1  MaxSpeed MilesDriven TravelTimeSecs
3  MHO224 RIOPAILA(CAM        95      140,00     2H:49M:21S

In [53]:
unit_name='TDL580RIOPAILA'
unit=report_filtered[report_filtered['UnitName1'].str.contains(unit_name)]
unit

        UnitName1  MaxSpeed MilesDriven TravelTimeSecs
5  TDL580RIOPAILA        51       55,81     1H:47M:29S

In [54]:
unit_name='TDL582CASTILLA'
unit=report_filtered[report_filtered['UnitName1'].str.contains(unit_name)]
unit

        UnitName1  MaxSpeed MilesDriven TravelTimeSecs
6  TDL582CASTILLA        55       72,81      4H:29M:3S

In [55]:
unit_name='WDM183CASTILLA'
unit=report_filtered[report_filtered['UnitName1'].str.contains(unit_name)]
unit

         UnitName1  MaxSpeed MilesDriven TravelTimeSecs
18  WDM183CASTILLA        48       44,21     2H:35M:49S

In [56]:
unit_name='WDM281INCAUCA'
unit=report_filtered[report_filtered['UnitName1'].str.contains(unit_name)]
unit

        UnitName1  MaxSpeed MilesDriven TravelTimeSecs
24  WDM281INCAUCA        71       50,00       3H:9M:9S

In [43]:
analyzed_units=pd.read_csv('/home/jlhb1984/py-projects/data/invertrans/report_analyzed.csv')
analyzed_units_ok=analyzed_units[analyzed_units['Analyzed'].str.contains('ok')]
analyzed_units_ok

Empty DataFrame
Columns: [Unnamed: 0, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Analyzed]
Index: []