In [1]:
import pandas as pd
import numpy as np

In [2]:
BPK942_PM=pd.read_csv('/home/jlhb1984/py-projects/data/TS000159977 LELY/BPK942.csv') #Eventos desde 01-09-2025 a 04-09-2025.
BPK942_PM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2759 entries, 0 to 2758
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Row Id                     2759 non-null   int64
 1   Sequence #                 0 non-null      float64
 2   Account Id                 2759 non-null   int64
 3   Server Time                2759 non-null   object
 4   Unit Time                  2759 non-null   object
 5   Latitude                   2759 non-null   float64
 6   Longitude                  2759 non-null   float64
 7   Driver Name                0 non-null      float64
 8   Event Name                 2759 non-null   object
 9   Raw Event                  2759 non-null   object
 10  GPS Speed                  2627 non-null   float64
 11  ECU Speed                  0 non-null      float64
 12  Address                    2759 non-null   object
 13  Landmark ID                8 non-null      float64
 14  Satellites                 0 non-null      float64
 15  Distance                   2758 non-null   float64
 16  HDOP                       0 non-null      float64
 17  VDOP                       0 non-null      float64
 18  RSSI                       0 non-null      float64
 19  Engine Hours               2759 non-null   float64
 20  Engine Hours + Off         0 non-null      float64
 21  ECU Engine Hours           0 non-null      float64
 22  ECU Engine Hours + Off     0 non-null      float64
 23  Engine Odometer            2759 non-null   float64
 24  Engine Odometer + Off      0 non-null      float64
 25  ECU Engine Odometer        0 non-null      float64
 26  ECU Engine Odometer + Off  0 non-null      float64
 27  Battery Level              0 non-null      float64
 28  Raw Data                   2759 non-null   object
dtypes: float64(21), int64(2), object(6)
memory usage: 625.2+ KB

In [3]:
BPK942_PM['Event Name'].value_counts()

Event Name
Drive              2024
Speeding End        212
Speed Threshold     210
Travel Stop         114
Travel Start        102
Ignition Off         54
Ignition On          43
Name: count, dtype: int64

In [4]:
hlBPK942=pd.read_csv('/home/jlhb1984/py-projects/data/TS000159977 LELY/hlBPK942.csv',sep=';',encoding='latin1')
hlBPK942.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054 entries, 0 to 3053
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     3054 non-null   int64
 1   Unit         3054 non-null   object
 2   Events       3054 non-null   object
 3   Date         3054 non-null   object
 4   Landmark     58 non-null     object
 5   Address      3054 non-null   object
 6   Speed        3054 non-null   int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     3054 non-null   float64
 10  Longitude    3054 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 262.6+ KB

In [5]:
hlBPK942['Events'].value_counts()

Events
Drive           2062
End Speeding     212
Speed alert      210
Idle Alert       131
Travel Start     101
Travel Stop       98
Ignition OFF      62
Ignition ON       61
Parked            33
Geofence IN       29
Geofence OUT      29
Idle - Stop       26
Name: count, dtype: int64

In [6]:
cloud_bpk942=pd.read_csv('/home/jlhb1984/py-projects/data/TS000159977 LELY/cloud_BPK942.csv')
cloud_bpk942.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unit         446 non-null    object
 1   Driver       0 non-null      float64
 2   Event        446 non-null    object
 3   Lat / Long   446 non-null    object
 4   Date / Time  446 non-null    object
 5   Speed        419 non-null    object
 6   Address      446 non-null    object
dtypes: float64(1), object(6)
memory usage: 24.5+ KB

In [7]:
cloud_bpk942['Event'].value_counts()

Event
Drive              349
Speeding End        21
Travel Stop         20
Speed Threshold     20
Travel Start        18
Ignition Off        10
Ignition On          8
Name: count, dtype: int64

In [8]:
status_pm=pd.read_csv('/home/jlhb1984/py-projects/data/lely/fleet.csv',encoding='latin1')
status_pm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unit           60 non-null     object
 1   Engine Hours   60 non-null     object
 2   Tags           60 non-null     object
 3   Driver         0 non-null      float64
 4   Address        53 non-null     object
 5   Date / Time    53 non-null     object
 6   Event          53 non-null     object
 7   Speed          53 non-null     object
 8   Posted Speed   16 non-null     object
 9   VIN            0 non-null      float64
 10  Year           0 non-null      float64
 11  Make           0 non-null      float64
 12  Model          0 non-null      float64
 13  Odometer       53 non-null     object
 14  ESN            60 non-null     int64
 15  IMEI           60 non-null     int64
 16  Linked Device  60 non-null     object
dtypes: float64(5), int64(2), object(10)
memory usage: 8.1+ KB

In [9]:
status_pm['Unit'].value_counts()

Unit
W6I-922    1
W1I-925    1
V8R-709    1
V8Q-946    1
F3W-870    1
F3H-875    1
F1Z-923    1
DOG-717    1
D8S-958    1
D6J-851    1
D6J-809    1
D6B-722    1
D4S-753    1
D2A-853    1
D1Z-845    1
D0G-903    1
D0G-753    1
D0F-741    1
D0E-841    1
COZ-825    1
CBF-807    1
CBF-763    1
CBE-942    1
CBD-772    1
C6L-708    1
C6B-745    1
C6A-743    1
C5J-948    1
C1T-877    1
C1F-994    1
C0Z-900    1
BPU-933    1
BPT-942    1
BPM-802    1
BPM-788    1
BPM-787    1
BPM-730    1
BPM-729    1
BPL-937    1
BPL-830    1
BPL-700    1
BPK-942    1
BPK-941    1
BPK-884    1
BPK-862    1
BJN-910    1
BHJ-934    1
B7X-937    1
B7R-452    1
B6Y-738    1
B6W-754    1
B5F-836    1
AYY-748    1
ASW-895    1
ACX-717    1
ACW-719    1
A4B-861    1
A2Q-929    1
7390-YC    1
1AZ4       1
Name: count, dtype: int64