In [1]:
import pandas as pd
import numpy as np

In [2]:
err=pd.read_csv('/home/jlhb1984/py-projects/data/pronavicola/err_30102025.csv')
err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7450 entries, 0 to 7449
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         6660 non-null   object
 1   UnitName          7450 non-null   object
 2   StartTime         7450 non-null   object
 3   Textbox8          7450 non-null   object
 4   StopTime          7450 non-null   object
 5   StopLengthSecs    7450 non-null   object
 6   ContactName       7450 non-null   object
 7   textbox32         7450 non-null   object
 8   StopLengthSecs_1  7450 non-null   object
dtypes: object(9)
memory usage: 524.0+ KB

In [3]:
err_negative=err[err['StopLengthSecs'].str.contains('-')]
err_negative

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Textbox8, StopTime, StopLengthSecs, ContactName, textbox32, StopLengthSecs_1]
Index: []

In [7]:
arr=pd.read_csv('/home/jlhb1984/py-projects/data/pronavicola/ars.csv')
arr.info()
arr_negatives_tts=arr[arr['TravelTimeSecs'].str.contains('-')]
arr_negatives_tts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GroupName       0 non-null      float64
 1   UnitID          44 non-null     object
 2   UnitName1       44 non-null     object
 3   MaxSpeed        44 non-null     int64
 4   MilesDriven     44 non-null     object
 5   TravelTimeSecs  44 non-null     object
 6   Textbox3        44 non-null     object
 7   IdleTimeSecs    44 non-null     object
 8   Textbox6        44 non-null     object
 9   IdleTimeSecs2   44 non-null     object
 10  Textbox11       44 non-null     object
 11  Textbox15       44 non-null     object
 12  Textbox16       44 non-null     object
 13  Textbox17       44 non-null     object
 14  Textbox18       44 non-null     object
 15  Textbox19       44 non-null     object
 16  Textbox22       44 non-null     object
 17  Textbox23       44 non-null     object
dtypes: float64(1), int64(1), object(16)
memory usage: 6.3+ KB

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []

In [9]:
arr_negatives_tb3=arr[arr['Textbox3'].str.contains('-')]
arr_negatives_tb3

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []

In [10]:
arr_negatives_tb6=arr[arr['Textbox6'].str.contains('-')]
arr_negatives_tb6

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []

In [11]:
arr_negatives_its=arr[arr['IdleTimeSecs'].str.contains('-')]
arr_negatives_its

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []

In [12]:
arr_negatives_its2=arr[arr['IdleTimeSecs2'].str.contains('-')]
arr_negatives_its2

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []

In [13]:
arr_negatives_tb11=arr[arr['Textbox11'].str.contains('-')]
arr_negatives_tb11

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []

In [14]:
arr_negatives_tb15=arr[arr['Textbox15'].str.contains('-')]
arr_negatives_tb15

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []

In [15]:
arr_negatives_tb16=arr[arr['Textbox16'].str.contains('-')]
arr_negatives_tb16

Empty DataFrame
Columns: [GroupName, UnitID, UnitName1, MaxSpeed, MilesDriven, TravelTimeSecs, Textbox3, IdleTimeSecs, Textbox6, IdleTimeSecs2, Textbox11, Textbox15, Textbox16, Textbox17, Textbox18, Textbox19, Textbox22, Textbox23]
Index: []