In [1]:
import pandas as pd
import numpy as np

In [2]:
hlhitachi=pd.read_csv('/home/jlhb1984/py-projects/data/toyama/hlhitachi.csv',sep=';',encoding='latin1')
hlhitachi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sequence     172 non-null    int64
 1   Unit         172 non-null    object
 2   Events       172 non-null    object
 3   Date         172 non-null    object
 4   Landmark     0 non-null      float64
 5   Address      172 non-null    object
 6   Speed        172 non-null    int64
 7   Temperature  0 non-null      float64
 8   Driver       0 non-null      float64
 9   Latitude     172 non-null    float64
 10  Longitude    172 non-null    float64
dtypes: float64(5), int64(2), object(4)
memory usage: 14.9+ KB

In [3]:
hlhitachi['Events'].value_counts()

Events
Idle - Stop     159
Parked           11
Ignition OFF      1
Ignition ON       1
Name: count, dtype: int64

In [4]:
err=pd.read_csv('/home/jlhb1984/py-projects/data/toyama/err.csv')
err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GroupName         0 non-null      float64
 1   UnitName          78 non-null     object
 2   StartTime         78 non-null     object
 3   Textbox8          78 non-null     object
 4   StopTime          78 non-null     object
 5   StopLengthSecs    78 non-null     object
 6   ContactName       78 non-null     object
 7   textbox32         78 non-null     object
 8   StopLengthSecs_1  78 non-null     object
dtypes: float64(1), object(8)
memory usage: 5.6+ KB

In [5]:
err_sls=err[err['StopLengthSecs'].str.contains('-')]
err_sls

Empty DataFrame
Columns: [GroupName, UnitName, StartTime, Textbox8, StopTime, StopLengthSecs, ContactName, textbox32, StopLengthSecs_1]
Index: []