In [2]:
import pandas as pd
import numpy as np

## Customer units.

In [3]:
cu_zl=pd.read_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/cu.csv',sep=';',encoding='latin1')
cu_zl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       53 non-null     int64
 1   Owner                    53 non-null     object
 2   Unit ID                  53 non-null     object
 3   Unit                     53 non-null     object
 4   Peripherals              41 non-null     object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          53 non-null     object
 9   Monthly Fee              53 non-null     int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              53 non-null     object
 12  Linked Mode              53 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 53 non-null     object
 16  RMA                      53 non-null     object
 17  Unit Type                53 non-null     object
 18  IMEI                     53 non-null     int64
 19  Serial Number            53 non-null     object
 20  Phone Number             53 non-null     int64
 21  Carrier                  52 non-null     object
 22  SIM #                    53 non-null     object
 23  VIN                      0 non-null      float64
 24  License Plate            53 non-null     object
 25  Static IP                5 non-null      object
 26  Event                    53 non-null     object
 27  Last Contact On          53 non-null     object
 28  Min                      53 non-null     int64
 29  Server IP                53 non-null     object
 30  Server Port              53 non-null     int64
 31  Last Event Address       53 non-null     object
 32  Modem                    53 non-null     object
 33  Inv #                    53 non-null     object
 34  Status                   53 non-null     object
 35  Last Service Paid Until  53 non-null     object
 36  Service Paid Until       53 non-null     object
 37  Assigned to Company      53 non-null     object
 38  IFTA                     53 non-null     object
 39  History Months           53 non-null     int64
 40  Comments                 1 non-null      object
 41  Warranty Expires         53 non-null     object
 42  Script                   34 non-null     object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 3 non-null      object
dtypes: float64(10), int64(8), object(29)
memory usage: 19.6+ KB

In [4]:
cu_zl['Unit Type'].value_counts()

Unit Type
CalAmp 2630 - HSPA -LMU26H3001-G1000                19
Queclink GV55W                                      10
CalAmp 2630 - GEMALTO HSPA -LMU26H3001-JAM01         8
CalAmp 2630 - 3G - LMU2631H-H000-G1000               6
CalAmp 0330H - 3G - LMU0330H-SKM6-G1000              4
GenX 5P                                              2
CalAmp 0330H - 3G -LMU0330H-SKM6-JAM01               1
CalAmp 2631 - Gemalto HSPA - LMU2631H-0000-G1000     1
CalAmp 2630 - CINTERION GSM - LMU30H30BT3-G1000      1
GenX 656BV                                           1
Name: count, dtype: int64

In [5]:
cu_zl['Unit Type 2']="Empty"
aux="aux"
for i in range(0,53):
    aux=cu_zl.iloc[i,17]
    #print(aux[0:3])
    if aux[0:3]=="Cal":
        cu_zl.iloc[i,47]="Calamp"
    if aux[0:3]=="Que":
        cu_zl.iloc[i,47]="Queclink"
    if aux[0:3]=="Gen":
        cu_zl.iloc[i,47]="GenX"

cu_zl['Unit Type 2'].value_counts()

Unit Type 2
Calamp      40
Queclink    10
GenX         3
Name: count, dtype: int64

In [8]:
cu_zl_gnx=cu_zl[cu_zl['Unit Type 2'].str.contains('Ge')]
cu_zl_gnx[['Last Event Date','Phone Number','IMEI','Unit']]

   Last Event Date  Phone Number             IMEI    Unit
8       28/07/2025    9103409918  357520075652962  SNU405
30      28/07/2025    9103418728  357520075735684  GDX532
38      28/07/2025    9103403708  358887091931624  ESR752

Comandos enviados por TSO.

genx=SETPARAMS 123=0.0.0.0.0;ENDPARAMS

calamp=RP,265,1,0

queclink=Sin comando

In [26]:
cu_zl_calamp=cu_zl[cu_zl['Unit Type 2'].str.contains('Calamp')]
#cu_zl_calamp.info()
cu_zl_calamp['Unit']
cu_zl_calamp['Phone Number'].to_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/calamp_pn.csv')

In [6]:
cu_zl_calamp=cu_zl[cu_zl['Unit Type 2'].str.contains('Calamp')]
cu_zl_calamp.info()
cu_zl_calamp_sn=cu_zl_calamp['IMEI']
cu_zl_calamp_sn.to_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/zl_imeis.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 0 to 52
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       40 non-null     int64
 1   Owner                    40 non-null     object
 2   Unit ID                  40 non-null     object
 3   Unit                     40 non-null     object
 4   Peripherals              36 non-null     object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          40 non-null     object
 9   Monthly Fee              40 non-null     int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              40 non-null     object
 12  Linked Mode              40 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 40 non-null     object
 16  RMA                      40 non-null     object
 17  Unit Type                40 non-null     object
 18  IMEI                     40 non-null     int64
 19  Serial Number            40 non-null     object
 20  Phone Number             40 non-null     int64
 21  Carrier                  40 non-null     object
 22  SIM #                    40 non-null     object
 23  VIN                      0 non-null      float64
 24  License Plate            40 non-null     object
 25  Static IP                4 non-null      object
 26  Event                    40 non-null     object
 27  Last Contact On          40 non-null     object
 28  Min                      40 non-null     int64
 29  Server IP                40 non-null     object
 30  Server Port              40 non-null     int64
 31  Last Event Address       40 non-null     object
 32  Modem                    40 non-null     object
 33  Inv #                    40 non-null     object
 34  Status                   40 non-null     object
 35  Last Service Paid Until  40 non-null     object
 36  Service Paid Until       40 non-null     object
 37  Assigned to Company      40 non-null     object
 38  IFTA                     40 non-null     object
 39  History Months           40 non-null     int64
 40  Comments                 1 non-null      object
 41  Warranty Expires         40 non-null     object
 42  Script                   34 non-null     object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 1 non-null      object
 47  Unit Type 2              40 non-null     object
dtypes: float64(10), int64(8), object(30)
memory usage: 15.3+ KB

In [7]:
cu_zl_calamp_ctc=pd.read_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/devices28072025.csv')
cu_zl_calamp_ctc.info()
cu_zl_calamp_ctc['Script Identifier'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 64 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    38 non-null     int64
 1   Name                                  1 non-null      object
 2   Identifier                            38 non-null     int64
 3   Model                                 38 non-null     object
 4   User ESN Mobile Id                    0 non-null      float64
 5   EOL                                   38 non-null     object
 6   Enabled Services                      0 non-null      float64
 7   Asset                                 0 non-null      float64
 8   Account                               38 non-null     object
 9   Status                                38 non-null     object
 10  Last Event Time                       0 non-null      float64
 11  JPOD Firmware                         0 non-null      float64
 12  JPOD Config                           0 non-null      float64
 13  BLE3 Firmware                         0 non-null      float64
 14  BSP Modem Firmware                    0 non-null      float64
 15  Cell Radio Firmware                   0 non-null      float64
 16  EdgeApp Version / Hosted App Version  0 non-null      float64
 17  User Defined Mobile ID                0 non-null      float64
 18  VBUS Mode                             0 non-null      float64
 19  Pending Firmware                      0 non-null      float64
 20  Pending Script                        0 non-null      float64
 21  Pending JPOD FW                       0 non-null      float64
 22  Pending JPOD Config                   0 non-null      float64
 23  Pending EdgeApp/ Hosted App           0 non-null      float64
 24  VBU3 Firmware                         0 non-null      float64
 25  ICCID                                 38 non-null     object
 26  Configuration                         38 non-null     object
 27  Activation Date                       38 non-null     object
 28  Air ID                                38 non-null     object
 29  Android OS Version                    0 non-null      float64
 30  App ID                                38 non-null     int64
 31  Architecture                          38 non-null     object
 32  Associated LMU                        0 non-null      float64
 33  Associated MDT                        0 non-null      float64
 34  Carrier Status                        0 non-null      float64
 35  Category                              38 non-null     object
 36  Config Status                         0 non-null      float64
 37  Created On                            38 non-null     object
 38  ESN                                   38 non-null     int64
 39  Firmware Status                       0 non-null      float64
 40  Firmware Version                      38 non-null     object
 41  First ID Report Time                  38 non-null     object
 42  Groups                                0 non-null      float64
 43  ICN Enabled                           38 non-null     bool
 44  ID Report Time                        38 non-null     object
 45  IMEI                                  38 non-null     int64
 46  IMEI2                                 0 non-null      float64
 47  IMSI                                  38 non-null     int64
 48  iOn Tag                               38 non-null     object
 49  IP Address                            0 non-null      float64
 50  ISDN                                  0 non-null      float64
 51  Kernel Version                        0 non-null      float64
 52  Last AVL Time                         0 non-null      float64
 53  Last Modified On                      38 non-null     object
 54  MDN                                   0 non-null      float64
 55  MEID                                  0 non-null      float64
 56  PEG Behavior                          0 non-null      float64
 57  Script Identifier                     38 non-null     float64
 58  Serial Number                         0 non-null      float64
 59  Ship Date                             1 non-null      object
 60  VBUS Status                           37 non-null     object
 61  Vehicle Profile                       0 non-null      float64
 62  VIN (ID Report)                       0 non-null      float64
 63  Unnamed: 63                           0 non-null      float64
dtypes: bool(1), float64(38), int64(6), object(19)
memory usage: 18.9+ KB

Script Identifier
55.161    28
55.610     7
7.173      1
7.170      1
7.380      1
Name: count, dtype: int64

In [8]:
for i in range(0,38):
    if cu_zl_calamp_ctc.iloc[i,57]==55.161:
        print(cu_zl_calamp_ctc.iloc[i,45])

354514101594176
351628098670741
359369091340717
358077091143517
352556101994338
351628093090242
359369091279477
352556102033664
358077092214630
359369091278750
358077091384582
351628093166265
354514101199323
358077092192984
351628098730354
351628093145533
351628093210048
351628093143611
359369091286118
358077090867546
358077091191532
357041069707100
359369091340485
358077092199005
359369091288585
354514101190397
359369091279113
359369091339990

In [9]:
for i in range(0,38):
    if cu_zl_calamp_ctc.iloc[i,57]==55.161:
        print(cu_zl_calamp_ctc.iloc[i,45])

354514101594176
351628098670741
359369091340717
358077091143517
352556101994338
351628093090242
359369091279477
352556102033664
358077092214630
359369091278750
358077091384582
351628093166265
354514101199323
358077092192984
351628098730354
351628093145533
351628093210048
351628093143611
359369091286118
358077090867546
358077091191532
357041069707100
359369091340485
358077092199005
359369091288585
354514101190397
359369091279113
359369091339990

In [10]:
for i in range(0,38):
    if cu_zl_calamp_ctc.iloc[i,57]==55.610:
        print(cu_zl_calamp_ctc.iloc[i,45])

358077091131942
351628093234303
351628098646964
351628098660809
351628098667325
351628098671962
359369091284915

In [11]:
for i in range(0,38):
    if cu_zl_calamp_ctc.iloc[i,57]==7.173:
        print(cu_zl_calamp_ctc.iloc[i,45])

352556102797540

In [12]:
for i in range(0,38):
    if cu_zl_calamp_ctc.iloc[i,57]==7.170:
        print(cu_zl_calamp_ctc.iloc[i,45])

351628093020447

In [13]:
for i in range(0,38):
    if cu_zl_calamp_ctc.iloc[i,57]==7.380:
        print(cu_zl_calamp_ctc.iloc[i,45])

357041069871229

In [24]:
cu_zl_queclink=cu_zl[cu_zl['Unit Type 2'].str.contains('Queclink')]
cu_zl_queclink.info()
cu_zl_queclink_sn=cu_zl_queclink['Unit']
cu_zl_queclink_sn.to_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/queclink_unit.csv')

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 9 to 45
Data columns (total 49 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10 non-null     int64
 1   Owner                    10 non-null     object
 2   Unit ID                  10 non-null     object
 3   Unit                     10 non-null     object
 4   Peripherals              2 non-null      object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          10 non-null     object
 9   Monthly Fee              10 non-null     int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              10 non-null     object
 12  Linked Mode              10 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 10 non-null     object
 16  RMA                      10 non-null     object
 17  Unit Type                10 non-null     object
 18  IMEI                     10 non-null     int64
 19  Serial Number            10 non-null     object
 20  Phone Number             10 non-null     int64
 21  Carrier                  9 non-null      object
 22  SIM #                    10 non-null     object
 23  VIN                      0 non-null      float64
 24  License Plate            10 non-null     object
 25  Static IP                0 non-null      object
 26  Event                    10 non-null     object
 27  Last Contact On          10 non-null     object
 28  Min                      10 non-null     int64
 29  Server IP                10 non-null     object
 30  Server Port              10 non-null     int64
 31  Last Event Address       10 non-null     object
 32  Modem                    10 non-null     object
 33  Inv #                    10 non-null     object
 34  Status                   10 non-null     object
 35  Last Service Paid Until  10 non-null     object
 36  Service Paid Until       10 non-null     object
 37  Assigned to Company      10 non-null     object
 38  IFTA                     10 non-null     object
 39  History Months           10 non-null     int64
 40  Comments                 0 non-null      object
 41  Warranty Expires         10 non-null     object
 42  Script                   0 non-null      object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 0 non-null      object
 47  Unit Type 2              10 non-null     object
 48  ACTION                   10 non-null     object
dtypes: float64(10), int64(8), object(31)
memory usage: 3.9+ KB

In [15]:
cu_zl_genx=cu_zl[cu_zl['Unit Type 2'].str.contains('Gen')]
cu_zl_genx.info()
cu_zl_genx=cu_zl_genx['Unit']
cu_zl_genx

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 8 to 38
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3 non-null      int64
 1   Owner                    3 non-null      object
 2   Unit ID                  3 non-null      object
 3   Unit                     3 non-null      object
 4   Peripherals              3 non-null      object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          3 non-null      object
 9   Monthly Fee              3 non-null      int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              3 non-null      object
 12  Linked Mode              3 non-null      int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 3 non-null      object
 16  RMA                      3 non-null      object
 17  Unit Type                3 non-null      object
 18  IMEI                     3 non-null      int64
 19  Serial Number            3 non-null      object
 20  Phone Number             3 non-null      int64
 21  Carrier                  3 non-null      object
 22  SIM #                    3 non-null      object
 23  VIN                      0 non-null      float64
 24  License Plate            3 non-null      object
 25  Static IP                1 non-null      object
 26  Event                    3 non-null      object
 27  Last Contact On          3 non-null      object
 28  Min                      3 non-null      int64
 29  Server IP                3 non-null      object
 30  Server Port              3 non-null      int64
 31  Last Event Address       3 non-null      object
 32  Modem                    3 non-null      object
 33  Inv #                    3 non-null      object
 34  Status                   3 non-null      object
 35  Last Service Paid Until  3 non-null      object
 36  Service Paid Until       3 non-null      object
 37  Assigned to Company      3 non-null      object
 38  IFTA                     3 non-null      object
 39  History Months           3 non-null      int64
 40  Comments                 0 non-null      object
 41  Warranty Expires         3 non-null      object
 42  Script                   0 non-null      object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 2 non-null      object
 47  Unit Type 2              3 non-null      object
dtypes: float64(10), int64(8), object(30)
memory usage: 1.1+ KB

8     SNU405
30    GDX532
38    ESR752
Name: Unit, dtype: object

In [9]:
detailed_report=pd.read_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/DetailedSpeeding.csv')#,sep=';',encoding='latin1')
detailed_report.info()
#detailed_report['Vehicle'].value_counts().to_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/DetailedSpeeding_Units.csv')
detailed_report['Error']="Empty"

for i in range(0,177):
    if detailed_report.iloc[i,5]<80:
        detailed_report.iloc[i,11]="Error"
        #print(detailed_report.iloc[i,11])

detailed_report_error=detailed_report[detailed_report['Error'].str.contains('Error')]
detailed_report_error['Vehicle'].value_counts().to_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/DetailedSpeeding_Units.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Vehicle        177 non-null    object
 1   StartDateTime  177 non-null    object
 2   StartTime      177 non-null    object
 3   EndTime        177 non-null    object
 4   DurationSecs   177 non-null    object
 5   MaxSpeed       177 non-null    int64
 6   StartOdometer  177 non-null    int64
 7   EndOdometer    177 non-null    int64
 8   StartLat       177 non-null    object
 9   StartLon       177 non-null    object
 10  StartAddress   177 non-null    object
dtypes: int64(3), object(8)
memory usage: 15.3+ KB

In [10]:
detailed_report_error.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145 entries, 0 to 176
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Vehicle        145 non-null    object
 1   StartDateTime  145 non-null    object
 2   StartTime      145 non-null    object
 3   EndTime        145 non-null    object
 4   DurationSecs   145 non-null    object
 5   MaxSpeed       145 non-null    int64
 6   StartOdometer  145 non-null    int64
 7   EndOdometer    145 non-null    int64
 8   StartLat       145 non-null    object
 9   StartLon       145 non-null    object
 10  StartAddress   145 non-null    object
 11  Error          145 non-null    object
dtypes: int64(3), object(9)
memory usage: 14.7+ KB

In [11]:
df_book_table01=pd.read_csv('/home/jlhb1984/py-projects/data/zona_logística_TS000157986/DetailedSpeeding_Units.csv')
df_book_table02=cu_zl
df_book_table01.info()
df_book_table02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Vehicle  19 non-null     object
 1   count    19 non-null     int64
dtypes: int64(1), object(1)
memory usage: 436.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       53 non-null     int64
 1   Owner                    53 non-null     object
 2   Unit ID                  53 non-null     object
 3   Unit                     53 non-null     object
 4   Peripherals              41 non-null     object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          53 non-null     object
 9   Monthly Fee              53 non-null     int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              53 non-null     object
 12  Linked Mode              53 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 53 non-null     object
 16  RMA                      53 non-null     object
 17  Unit Type                53 non-null     object
 18  IMEI                     53 non-null     int64
 19  Serial Number            53 non-null     object
 20  Phone Number             53 non-null     int64
 21  Carrier                  52 non-null     object
 22  SIM #                    53 non-null     object
 23  VIN                      0 non-null      float64
 24  License Plate            53 non-null     object
 25  Static IP                5 non-null      object
 26  Event                    53 non-null     object
 27  Last Contact On          53 non-null     object
 28  Min                      53 non-null     int64
 29  Server IP                53 non-null     object
 30  Server Port              53 non-null     int64
 31  Last Event Address       53 non-null     object
 32  Modem                    53 non-null     object
 33  Inv #                    53 non-null     object
 34  Status                   53 non-null     object
 35  Last Service Paid Until  53 non-null     object
 36  Service Paid Until       53 non-null     object
 37  Assigned to Company      53 non-null     object
 38  IFTA                     53 non-null     object
 39  History Months           53 non-null     int64
 40  Comments                 1 non-null      object
 41  Warranty Expires         53 non-null     object
 42  Script                   34 non-null     object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 3 non-null      object
 47  Unit Type 2              53 non-null     object
dtypes: float64(10), int64(8), object(30)
memory usage: 20.0+ KB

In [12]:
num_filas_table01=int(df_book_table01.shape[0])
num_filas_table02=int(df_book_table02.shape[0])       
cont=0
df_aux=pd.DataFrame()        
list_field01=[]
list_field02=[]
list_field03=[]
list_field04=[]
list_field05=[]       
#print("df_book_table01[8,0]: ",df_book_table01.iloc[8,0]) #UnitsByDealer.csv_r.csv
#print("df_book_table02[8,5]: ",df_book_table02.iloc[8,5]) #6MB.        
print("\nInformación de las tablas: ")
print("\nTabla 1:")
print(df_book_table01.info())
print("\nTabla 2:")
print(df_book_table02.info())
attribute_name_table01='Vehicle'#Digitar el índice de la tabla 1.#input("\nDigita el atributo a comparar de la tabla 1: ")
attribute_name_table02='Unit'#Digitar el índice de la tabla 2.#input("Digita el atribito a comparar de la tabla 2: ")
position_table01=int(df_book_table01.columns.get_loc(attribute_name_table01))
position_table02=int(df_book_table02.columns.get_loc(attribute_name_table02))
print("\nAtributo de la tabla1: ",position_table01)
print("Atributo de la tabla2: ",position_table02,"\n")
print("Trabajando...")

print(df_book_table01.iloc[0,0])
print(df_book_table02.iloc[0,3])
                          
for i in range(0,num_filas_table01):
    for j in range(0,num_filas_table02):
        #if str(df_book_table01.iloc[i,5])==str(df_book_table02.iloc[j,3]): 
        if str(df_book_table01.iloc[i,position_table01])[0:6]==str(df_book_table02.iloc[j,position_table02]):                                                                             
            list_field01.append(df_book_table02.iloc[i,3])
            list_field02.append(df_book_table02.iloc[i,4])
            list_field03.append(df_book_table02.iloc[i,8])
            list_field04.append(df_book_table02.iloc[i,17])
            list_field05.append(df_book_table02.iloc[i,18])
            print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
            print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
            cont=cont+1
df_aux['Unit']=list_field01
#df_aux['Peripherals']=list_field02
#df_aux['Last Event Date']=list_field03
df_aux['Unit Type']=list_field04
df_aux['IMEI']=list_field05
print("Cont= ",cont)
print(df_aux)
option_exp=input("\n¿Desea generar un reporte de coincidencias en formato csv S/N?\n")
if option_exp=="S":
    df_aux.to_csv('./reports/tables_comparator_coincident.csv')
cont=0
option_exp=input("¿Desea generar un reporte de diferencias en formato csv S/N?\n")        
df_book_table02['ACTION']="Keep"
if option_exp=="S":
    print("Trabajando...")
    for i in range(0,num_filas_table01):
        for j in range(0,num_filas_table02):
            if str(df_book_table01.iloc[i,position_table01])==str(df_book_table02.iloc[j,position_table02]):
                df_book_table02.iloc[j,5]=np.nan
                print("df_book_table01[i,position_table01]: ",df_book_table01.iloc[i,position_table01]," = ",end="")
                print("df_book_table02[j,position_table02]: ",df_book_table02.iloc[j,position_table02])               
    df_book_table02.dropna(axis=0,inplace=True)
    #print(df_book_table02)
    df_book_table02.to_csv("./reports/tables_comparator_differences.csv")

#lista_combinada=[lista_simcard,lista_linea]

Información de las tablas:

Tabla 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Vehicle  19 non-null     object
 1   count    19 non-null     int64
dtypes: int64(1), object(1)
memory usage: 436.0+ bytes
None

Tabla 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       53 non-null     int64
 1   Owner                    53 non-null     object
 2   Unit ID                  53 non-null     object
 3   Unit                     53 non-null     object
 4   Peripherals              41 non-null     object
 5   Reporting Status         0 non-null      float64
 6   Show Until               0 non-null      float64
 7   Billing Group            0 non-null      float64
 8   Last Event Date          53 non-null     object
 9   Monthly Fee              53 non-null     int64
 10  Bill To                  0 non-null      float64
 11  Assigned To              53 non-null     object
 12  Linked Mode              53 non-null     int64
 13  Paired GPS               0 non-null      float64
 14  Paired Camera            0 non-null      float64
 15  Billable                 53 non-null     object
 16  RMA                      53 non-null     object
 17  Unit Type                53 non-null     object
 18  IMEI                     53 non-null     int64
 19  Serial Number            53 non-null     object
 20  Phone Number             53 non-null     int64
 21  Carrier                  52 non-null     object
 22  SIM #                    53 non-null     object
 23  VIN                      0 non-null      float64
 24  License Plate            53 non-null     object
 25  Static IP                5 non-null      object
 26  Event                    53 non-null     object
 27  Last Contact On          53 non-null     object
 28  Min                      53 non-null     int64
 29  Server IP                53 non-null     object
 30  Server Port              53 non-null     int64
 31  Last Event Address       53 non-null     object
 32  Modem                    53 non-null     object
 33  Inv #                    53 non-null     object
 34  Status                   53 non-null     object
 35  Last Service Paid Until  53 non-null     object
 36  Service Paid Until       53 non-null     object
 37  Assigned to Company      53 non-null     object
 38  IFTA                     53 non-null     object
 39  History Months           53 non-null     int64
 40  Comments                 1 non-null      object
 41  Warranty Expires         53 non-null     object
 42  Script                   34 non-null     object
 43  JBOX Profile             0 non-null      float64
 44  Contract Type            0 non-null      float64
 45  Subscription             0 non-null      float64
 46  Firmware                 3 non-null      object
 47  Unit Type 2              53 non-null     object
dtypes: float64(10), int64(8), object(30)
memory usage: 20.0+ KB
None

Atributo de la tabla1:  0
Atributo de la tabla2:  3

Trabajando...
WLZ294/DAIRO SUAREZ
WLZ294
df_book_table01[i,position_table01]:  WLZ294/DAIRO SUAREZ  = df_book_table02[j,position_table02]:  WLZ294
df_book_table01[i,position_table01]:  WLZ189/   = df_book_table02[j,position_table02]:  WLZ189
df_book_table01[i,position_table01]:  ESP837/   = df_book_table02[j,position_table02]:  ESP837
df_book_table01[i,position_table01]:  WLW746/   = df_book_table02[j,position_table02]:  WLW746
df_book_table01[i,position_table01]:  ESP836/   = df_book_table02[j,position_table02]:  ESP836
df_book_table01[i,position_table01]:  GTX260/   = df_book_table02[j,position_table02]:  GTX260
df_book_table01[i,position_table01]:  ESR754/Juan Carlos Beltran Rodriguez  = df_book_table02[j,position_table02]:  ESR754
df_book_table01[i,position_table01]:  GDX530/   = df_book_table02[j,position_table02]:  GDX530
df_book_table01[i,position_table01]:  GTX654/   = df_book_table02[j,position_table02]:  GTX654
df_book_table01[i,position_table01]:  ESR780/Cesar Augusto Parra Larrahondo  = df_book_table02[j,position_table02]:  ESR780
df_book_table01[i,position_table01]:  ESR755/   = df_book_table02[j,position_table02]:  ESR755
df_book_table01[i,position_table01]:  GDX558/   = df_book_table02[j,position_table02]:  GDX558
df_book_table01[i,position_table01]:  GTX651/John fredy Riaño Guerrero  = df_book_table02[j,position_table02]:  GTX651
df_book_table01[i,position_table01]:  SNZ415/   = df_book_table02[j,position_table02]:  SNZ415
df_book_table01[i,position_table01]:  GTX257/Yurbi Roberto Rodríguez posada  = df_book_table02[j,position_table02]:  GTX257
df_book_table01[i,position_table01]:  SNZ414/   = df_book_table02[j,position_table02]:  SNZ414
df_book_table01[i,position_table01]:  ESP840/   = df_book_table02[j,position_table02]:  ESP840
df_book_table01[i,position_table01]:  ESR750/   = df_book_table02[j,position_table02]:  ESR750
df_book_table01[i,position_table01]:  SNZ416/   = df_book_table02[j,position_table02]:  SNZ416
Cont=  19
      Unit                                         Unit Type             IMEI
0   WLZ294  CalAmp 2631 - Gemalto HSPA - LMU2631H-0000-G1000  358077092199005
1   WLZ190            CalAmp 0330H - 3G -LMU0330H-SKM6-JAM01  352556102797540
2   WLZ189            CalAmp 2630 - 3G - LMU2631H-H000-G1000  351628098671962
3   WLW747            CalAmp 2630 - 3G - LMU2631H-H000-G1000  354514101199323
4   WLW746              CalAmp 2630 - HSPA -LMU26H3001-G1000  359369091340485
5   SNZ416              CalAmp 2630 - HSPA -LMU26H3001-G1000  358077091143517
6   SNZ415      CalAmp 2630 - GEMALTO HSPA -LMU26H3001-JAM01  359369091340717
7   SNZ414              CalAmp 2630 - HSPA -LMU26H3001-G1000  358077092214630
8   SNU405                                           GenX 5P  357520075652962
9   LKO880                                    Queclink GV55W  868574042430335
10  LKO879                                    Queclink GV55W  868574042434865
11  LKO878                                    Queclink GV55W  868574042447461
12  LKO877                                    Queclink GV55W  868574042413703
13  LKO876                                    Queclink GV55W  868574042429733
14  LKO875                                    Queclink GV55W  868574042448980
15  LKO874                                    Queclink GV55W  868574042435128
16  LKO873                                    Queclink GV55W  868574042430053
17  GTX654           CalAmp 0330H - 3G - LMU0330H-SKM6-G1000  358077091384582
18  GTX653                                    Queclink GV55W  868574042956263

28-07-2025:
Se concluye que el problema afecta a todas las unidades. Verificar el 29-07-2025 si las unidades Quclink recibieron el comando GTSPD.
Se envió comando general a todas las unidades pero las Queclink no lo tomaron.

29-07-2025:
LKO880, y LKO879 se envió el comando manualmente.
El resto se hizo en forma masiva chequeando cada unidad.

In [23]:
short_name=input('Digita la placa a consultar')
cu_zl[cu_zl['Unit'].str.contains(short_name)]

,ID,Owner,Unit ID,Unit,Peripherals,Reporting Status,Show Until,Billing Group,Last Event Date,Monthly Fee,...,History Months,Comments,Warranty Expires,Script,JBOX Profile,Contract Type,Subscription,Firmware,Unit Type 2,ACTION
0,1082543,Renting,0M56,WLZ294,"Fuel Sensor,",NaN,NaN,NaN,28/07/2025,54800,...,3,NaN,11/20/2021 12:00:00 AM,TSO_LMU26x0_FLS_ES2_BIN_AWS_10700,NaN,NaN,NaN,NaN,Calamp,Keep